Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(UIShell): update Stackblitz
  examples/react/UIShell/src/components/HeaderExample.tsx
  examples/react/UIShell/src/components/HeaderGlobalBarExample.tsx
  examples/react/UIShell/src/index.scss
  examples/react/UIShell/src/main.tsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(seperator): remove from dropdown
  examples/react/UIShell/src/config/routes.tsx
Due: none

chore(resizer): use rem units on thickness (#743)
  packages/react/src/components/Resizer/__tests__/__snapshots__/Resizer.test.js.snap
  packages/react/src/components/Resizer/components/Resizer.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
Due: prettier --cache --write

docs(UIShell): update Stackblitz (#793)
  examples/react/UIShell/src/components/HeaderExample.tsx
  examples/react/UIShell/src/components/HeaderGlobalBarExample.tsx
  examples/react/UIShell/src/config/routes.tsx
  examples/react/UIShell/src/index.scss
  examples/react/UIShell/src/main.tsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

move package
  packages/web-components/package.json
  packages/web-components/src/components/global-header/package.json
  yarn.lock
Due: none

remove platformTitle
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

temporarily disable some warnings
  packages/web-components/src/components/global-header/.stylelintrc
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/_index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: onboard new packages with telemetry
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/Resizer/telemetry.yml
  packages/web-components/src/components/empty-state/README.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/empty-state/telemetry.yml
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/style-picker/telemetry.yml
  yarn.lock
Due: prettier --cache --write

chore: update telemetry for wc packages
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/chat/telemetry.yml
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/feedback/telemetry.yml
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/network-graph/telemetry.yml
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/tag/telemetry.yml
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/src/components/ux-control/telemetry.yml
  yarn.lock
Due: none

chore: update react telemetry deps
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/AnimatedHeader/telemetry.yml
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/FirstTimeOrientation/telemetry.yml
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Processing/telemetry.yml
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/TextHighlighter/telemetry.yml
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/UIShell/telemetry.yml
  packages/react/src/components/WhatsNew/package.json
  packages/react/src/components/WhatsNew/telemetry.yml
  yarn.lock
Due: none

chore: onboard split panel with telem
  packages/react/src/components/SplitPanel/README.md
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/SplitPanel/telemetry.yml
  yarn.lock
Due: prettier --cache --write

chore: onboard and upgrade IBM Telemetry instrumentation (#794)
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/AnimatedHeader/telemetry.yml
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/FirstTimeOrientation/telemetry.yml
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Processing/telemetry.yml
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/Resizer/telemetry.yml
  packages/react/src/components/SplitPanel/README.md
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/SplitPanel/telemetry.yml
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/UIShell/telemetry.yml
  packages/react/src/components/WhatsNew/package.json
  packages/react/src/components/WhatsNew/telemetry.yml
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/chat/telemetry.yml
  packages/web-components/src/components/empty-state/README.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/empty-state/telemetry.yml
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/feedback/telemetry.yml
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/network-graph/telemetry.yml
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/style-picker/telemetry.yml
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/tag/telemetry.yml
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/src/components/ux-control/telemetry.yml
  yarn.lock
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/FirstTimeOrientation/CHANGELOG.md
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/CHANGELOG.md
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/CHANGELOG.md
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/feedback/CHANGELOG.md
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/CHANGELOG.md
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/CHANGELOG.md
  packages/web-components/src/components/ux-control/package.json
Due: prettier --cache --write

fix(style-picker): improve accessibility (#746)
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  index.html
  project.json
Due: none

chore(telemetry): bump to v1.10.2
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  yarn.lock
Due: none

fix: test restore changes
  packages/web-components/package.json
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.js
  yarn.lock
Due: none

fix: include icon packages
  examples/web-components/first-time-orientation/package.json
Due: none

chore(telemetry): bump to v1.10.2 (#796)
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  yarn.lock
Due: none

fix: update carbon web component package
  packages/web-components/package.json
  yarn.lock
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
