Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(jest): update snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/PlaneStack3D/src/a11y/messages.js
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/SplitPanel-test.js.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.jsx.snap
Due: none

chore(global-header): remove unused function
  packages/web-components/src/components/global-header/components/global-header/src/components/UserProfileImage/UserProfileImage.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(yarn): dedupe
  yarn.lock
Due: none

chore(prettier): format code
  packages/web-components/src/components/resizer/README.md
  packages/web-components/src/components/resizer/components/resizer-grid/src/resizer-grid.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add list of preview candidate components
  AGENTS.md
Due: prettier --cache --write

chore(yarn): re-generate lock file
  yarn.lock
Due: none

fix(content-switcher): fix selectedIndex type
  packages/react/src/components/AnimatedHeader/components/ContentSwitcherSelector/ContentSwitcherSelector.tsx
Due: none

chore(lint): add coverage to ignore file
  .eslintignore
Due: none

chore(jest): update snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/SplitPanel-test.js.snap
  packages/react/src/components/TagInput/__tests__/__snapshots__/TagInput.test.js.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.jsx.snap
Due: none

chore(deps): bump vite, sass, rimraf to latest
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/FirstTimeOrientation/package.json
  examples/react/Processing/package.json
  examples/react/Resizer/package.json
  examples/react/StylePicker/package.json
  examples/react/TagInput/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/WhatsNew/package.json
  examples/web-components/empty-state/package.json
  examples/web-components/example-button/package.json
  examples/web-components/feedback/package.json
  examples/web-components/first-time-orientation/package.json
  examples/web-components/global-header/package.json
  examples/web-components/network-graph/package.json
  examples/web-components/style-picker/package.json
  examples/web-components/tag/package.json
  examples/web-components/toolbar/package.json
  examples/web-components/ux-control/package.json
  package.json
  packages/primitives/package.json
  packages/react/package.json
  packages/react/tasks/generate/templates/example/package-edit.json
  packages/utilities/package.json
  packages/vscode-snippets-extension/package.json
  packages/vscode-snippets/package.json
  packages/web-components/package.json
  packages/web-components/tasks/generate/templates/example/package-edit.json
  yarn.lock
Due: none

chore(esbuild): add smiles-drawer/src to excludes
  packages/web-components/tasks/build-dist.js
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
