Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: silence scss warnings
  packages/web-components/gulp-tasks/build/modules/css.js
  yarn.lock
Due: none

chore: update node version
  package.json
Due: none

chore: working sidenav with slot
  examples/react/UIShell/src/components/DropdownExample.tsx
  examples/react/UIShell/src/components/HeaderExample.tsx
  examples/react/UIShell/src/components/HeaderGlobalBarExample.tsx
  examples/react/UIShell/src/components/ProductSideNavExample.tsx
  examples/react/UIShell/src/components/SubMenuExample.tsx
  examples/react/UIShell/src/config/routes.tsx
Due: none

feat(style-picker): rewamp icon module and its story
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-icon/src/style-picker-icon.scss
  packages/web-components/src/components/style-picker/components/style-picker-icon/src/style-picker-icon.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon/src/style-picker-icon.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon/style-picker-icon.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
  packages/web-components/src/components/style-picker/defs/style-picker-color-module.types.ts
  packages/web-components/src/components/style-picker/defs/style-picker-module.types.ts
  packages/web-components/src/components/style-picker/defs/style-picker-option.types.ts
  packages/web-components/src/components/style-picker/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker-module): provide default value for size
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
Due: none

chore: refactor to include slot and platform nav
  examples/react/UIShell/index.html
  examples/react/UIShell/package-lock.json
  examples/react/UIShell/package.json
  examples/react/UIShell/public/bee.svg
  examples/react/UIShell/src/components/DropdownExample.tsx
  examples/react/UIShell/src/components/HeaderExample.tsx
  examples/react/UIShell/src/components/HeaderGlobalBarExample.tsx
  examples/react/UIShell/src/components/ProductSideNavExample.tsx
  examples/react/UIShell/src/components/SideNavProductExample.tsx
  examples/react/UIShell/src/components/SideNavSubMenuExample.tsx
  examples/react/UIShell/src/components/SubMenuExample.tsx
  examples/react/UIShell/src/config/routes.tsx
  examples/react/UIShell/src/main.tsx
  examples/react/UIShell/src/pages/About.tsx
  examples/react/UIShell/src/pages/Error.tsx
  examples/react/UIShell/src/pages/Home.tsx
  examples/react/UIShell/src/pages/NotFound.tsx
  examples/react/UIShell/src/pages/Placeholder.tsx
Due: none

fix: type usage in ui shell example
  examples/react/UIShell/src/components/SideNavProductExample.tsx
  examples/react/UIShell/src/components/SideNavSubMenuExample.tsx
  examples/react/UIShell/src/config/routes.tsx
Due: none

chore: use rollup for build
  package.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tasks/build.js
  packages/web-components/tools/rollup-plugin-lit-scss.js
  yarn.lock
Due: none

chore: remove circular dependency warnings
  packages/web-components/tasks/build.js
  packages/web-components/tools/rollup-plugin-lit-scss.js
Due: none

chore: circular dependency surpress
  packages/react/tasks/build.js
  packages/web-components/tasks/build.js
Due: none

feat(style-picker): implement items group
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-color/src/style-picker-color.scss
  packages/web-components/src/components/style-picker/components/style-picker-color/src/style-picker-color.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-color/src/style-picker-color.ts
  packages/web-components/src/components/style-picker/components/style-picker-color/style-picker-color.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.scss
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/defs/style-picker-color-module.types.ts
  packages/web-components/src/components/style-picker/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add suppression in storybook wc
  packages/react/tasks/build.js
  packages/web-components/.storybook/main.js
Due: none

chore: format
  packages/web-components/tasks/build.js
Due: none

fix(style-picker): resolve selection in grouped module
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
Due: none

fix(headercontainer): rerendering on themeswitcher
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderContainer.tsx
  packages/react/src/components/UIShell/components/Profile.tsx
Due: none

fix(format): update
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat(style-picker): implement single pictogram story
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/style-picker-pictogram-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram/src/style-picker-pictogram.scss
  packages/web-components/src/components/style-picker/components/style-picker-pictogram/src/style-picker-pictogram.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram/src/style-picker-pictogram.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram/style-picker-pictogram.ts
  packages/web-components/src/components/style-picker/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(profile): click in popover
  packages/react/src/components/UIShell/components/HeaderContainer.tsx
Due: none

chore(animated-header): refactor onTileClick logic (#698)
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

feat(animated-header): tile data cleanup
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
Due: none

fix: header button focus states
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(profile): add theme-switcher (#699)
  examples/react/UIShell/package.json
  examples/react/UIShell/src/App.tsx
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/ThemeSettings/components/ThemeSwitcher.tsx
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderContainer.tsx
  packages/react/src/components/UIShell/components/Profile.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore: rollup build
  packages/web-components/src/components/example-button/package.json
  packages/web-components/tasks/build.js
Due: none

feat(uishell): remove unused HeaderPanel component (#694)
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__tests__/HeaderPanel-test.js
  packages/react/src/components/UIShell/components/HeaderPanel.tsx
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix(profile): keyboard updates
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderContainer.tsx
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): implement disclosed variant with single story
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-disclosed/src/style-picker-disclosed.scss
  packages/web-components/src/components/style-picker/components/style-picker-disclosed/src/style-picker-disclosed.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-disclosed/src/style-picker-disclosed.ts
  packages/web-components/src/components/style-picker/components/style-picker-disclosed/style-picker-disclosed.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.scss
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
  packages/web-components/src/components/style-picker/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: remove gulp and update scripts to use rollup
  package.json
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/react/tasks/generate/templates/package-edit.json
  packages/utilities/package.json
  packages/web-components/gulp-tasks/build.js
  packages/web-components/gulp-tasks/build/modules.js
  packages/web-components/gulp-tasks/build/modules/css.js
  packages/web-components/gulp-tasks/build/modules/scripts.js
  packages/web-components/gulp-tasks/build/modules/types.js
  packages/web-components/gulpfile.js
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tools/babel-plugin-resource-js-paths.js
  yarn.lock
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
