Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

Update types.ts
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/types.ts
Due: none

fix: update stylepicker react example to work
  examples/react/StylePicker/src/App.tsx
  examples/react/StylePicker/src/index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): fix ts bugs (#833)
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/types.ts
  packages/react/src/components/AnimatedHeader/components/ContentSwitcherSelector/ContentSwitcherSelector.tsx
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

doc(text-highlighter): add usage doc
  packages/react/src/components/TextHighlighter/__docs__/Style.mdx
  packages/react/src/components/TextHighlighter/__docs__/Usage.mdx
  packages/react/src/components/TextHighlighter/__docs__/images/highlighter-color.png
  packages/react/src/components/TextHighlighter/__docs__/images/ins-del-variants.png
  packages/react/src/components/TextHighlighter/__docs__/images/mark-variant.png
  packages/react/src/components/TextHighlighter/__docs__/images/reference-annotation.png
  packages/react/src/components/TextHighlighter/__docs__/images/text-highlighter-anatomy.png
  packages/react/src/components/TextHighlighter/__stories__/TextHighlighter.stories.js
  packages/react/src/components/TextHighlighter/__stories__/storybook.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint fix
  packages/react/src/components/TextHighlighter/__stories__/storybook.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: remove empty style-doc
  packages/react/src/components/TextHighlighter/__docs__/Style.mdx
Due: none

fix: name window check and package compatibility (#826)
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.mdx
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.stories.js
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/ThemeSettings/utils/environment.js
  packages/react/src/components/ThemeSettings/utils/use-theme-setting.ts
Due: none

use prefix
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/LogoutHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/__stories__/LogoutHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/__tests__/LogoutHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/LogoutTile.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/__stories__/LogoutTile.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/__tests__/LogoutTile.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/styles/_carbon.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

use prefix
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__stories__/AuthContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/SideNav.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__tests__/CommonHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialContent/__stories__/TrialContent.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/styles/_carbon.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
Due: prettier --cache --write

format
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__tests__/CommonHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/__stories__/LogoutHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/__tests__/LogoutHeader.test.ts
Due: none

chore(react): update carbon/react to latest
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/FirstTimeOrientation/package.json
  examples/react/Processing/package.json
  examples/react/Resizer/package.json
  examples/react/StylePicker/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/WhatsNew/package.json
  packages/react/package.json
  packages/react/tasks/generate/templates/example/package-edit.json
  yarn.lock
Due: none

chore(global-header): Use prefix in toplevel elements (#837)
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__stories__/AuthContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/SideNav.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__tests__/CommonHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/LogoutHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/__stories__/LogoutHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/__tests__/LogoutHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/LogoutTile.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/__stories__/LogoutTile.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/__tests__/LogoutTile.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialContent/__stories__/TrialContent.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/styles/_carbon.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

bundle all components
  packages/web-components/src/components/global-header/components/global-header/global-header.ts
  packages/web-components/src/components/global-header/package.json
Due: none

bundle all components (#839)
  packages/web-components/src/components/global-header/components/global-header/global-header.ts
  packages/web-components/src/components/global-header/package.json
Due: none

fix: update stylepicker react example to work (#834)
  examples/react/StylePicker/src/App.tsx
  examples/react/StylePicker/src/index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(search): full expand in md/sm breakpoints (#825)
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore(package): updates
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/FirstTimeOrientation/package.json
  examples/react/Processing/package.json
  examples/react/Resizer/package.json
  examples/react/StylePicker/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/WhatsNew/package.json
  examples/web-components/empty-state/package.json
  examples/web-components/example-button/package.json
  examples/web-components/feedback/package.json
  examples/web-components/first-time-orientation/package.json
  examples/web-components/global-header/package.json
  examples/web-components/network-graph/package.json
  examples/web-components/style-picker/package.json
  examples/web-components/tag/package.json
  examples/web-components/toolbar/package.json
  examples/web-components/ux-control/package.json
  packages/react/package.json
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/react/tasks/generate/templates/example/package-edit.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tasks/generate/templates/package-edit.json
  yarn.lock
Due: none

fix(yarn): file
  yarn.lock
Due: none

fix(icons): update
  examples/web-components/toolbar/src/toolbar-vertical.ts
  examples/web-components/toolbar/src/toolbar.ts
  packages/web-components/src/components/chat/components/cardElement/src/cardElement.template.ts
  packages/web-components/src/components/chat/components/carouselElement/src/carouselElement.template.ts
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.template.ts
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.template.ts
  packages/web-components/src/components/chat/components/fileUploadElement/src/fileUploadElement.template.ts
  packages/web-components/src/components/chat/components/footer/src/footer.template.ts
  packages/web-components/src/components/chat/components/header/src/header.template.ts
  packages/web-components/src/components/chat/components/historyViewer/src/historyViewer.template.ts
  packages/web-components/src/components/chat/components/linkListElement/src/linkListElement.template.ts
  packages/web-components/src/components/chat/components/message/src/message.template.ts
  packages/web-components/src/components/chat/components/molecularElement/src/molecularElement.template.ts
  packages/web-components/src/components/chat/components/popupElement/src/popupElement.template.ts
  packages/web-components/src/components/chat/components/tagListElement/src/tagListElement.template.ts
  packages/web-components/src/components/chat/components/textElement/src/textElement.template.ts
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/example-button/__stories__/example-button.stories.js
  packages/web-components/src/components/feedback/__stories-dont-show__/feedback.stories.js
  packages/web-components/src/components/feedback/components/feedback/src/feedback.template.ts
  packages/web-components/src/components/ux-control/components/ux-control/src/ux-control.template.ts
Due: none

fix(format): update
  examples/web-components/toolbar/src/toolbar-vertical.ts
  examples/web-components/toolbar/src/toolbar.ts
  packages/web-components/src/components/chat/components/cardElement/src/cardElement.template.ts
  packages/web-components/src/components/chat/components/carouselElement/src/carouselElement.template.ts
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.template.ts
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.template.ts
  packages/web-components/src/components/chat/components/fileUploadElement/src/fileUploadElement.template.ts
  packages/web-components/src/components/chat/components/footer/src/footer.template.ts
  packages/web-components/src/components/chat/components/header/src/header.template.ts
  packages/web-components/src/components/chat/components/historyViewer/src/historyViewer.template.ts
  packages/web-components/src/components/chat/components/linkListElement/src/linkListElement.template.ts
  packages/web-components/src/components/chat/components/message/src/message.template.ts
  packages/web-components/src/components/chat/components/molecularElement/src/molecularElement.template.ts
  packages/web-components/src/components/chat/components/popupElement/src/popupElement.template.ts
  packages/web-components/src/components/chat/components/tagListElement/src/tagListElement.template.ts
  packages/web-components/src/components/chat/components/textElement/src/textElement.template.ts
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/example-button/__stories__/example-button.stories.js
  packages/web-components/src/components/feedback/__stories-dont-show__/feedback.stories.js
  packages/web-components/src/components/feedback/components/feedback/src/feedback.template.ts
  packages/web-components/src/components/ux-control/components/ux-control/src/ux-control.template.ts
Due: none
