Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore(chat): added properties to docs
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): added missing import
  packages/chat/components/chat/__stories__/chat.mdx
Due: none

Update packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chart.mdx
Due: none

chore(chat): removed logs, markdown edits
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.ts
Due: none

feat(chat): Interactive charts and options, expanded docs, fixed scrolling issue in slotted mode (#166)
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/carouselElement/__stories__/carouselElement.stories.js
  packages/chat/components/carouselElement/src/carouselElement.template.ts
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/editableTextElement/src/editableTextElement.scss
  packages/chat/components/editableTextElement/src/editableTextElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/textElement/src/textElement.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): fixed spacing bug and added header button options
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): merge
  packages/chat/components/chat/src/chat.template.ts
Due: none

fix(chat): Fixed message spacing and added header button toggling (#167)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(actions): remove unused workflows
  .github/workflows/alpha-release.yml
  .github/workflows/release-package.yml
Due: none

chore(actions): remove unused workflows (#168)
  .github/workflows/alpha-release.yml
  .github/workflows/release-package.yml
Due: none

chore(chat): added docs, events and errors to charts
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/listElement/src/listElement.scss
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): merging
  packages/chat/components/message/src/message.ts
Due: none

Added docs, chart zooming/selection/hovering, error messaging and events (#169)
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/listElement/src/listElement.scss
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): display name fix
  packages/chat/components/message/src/message.template.ts
Due: none

Small user name fix (#170)
  packages/chat/components/message/src/message.template.ts
Due: none

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(publish): merge from release/v0.8.0 (#171)
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(chat): microphone tooltip changes
  packages/chat/components/footer/src/footer.template.ts
Due: none

chore(chat): button updates
  packages/chat/components/message/src/message.ts
Due: none

chore(chat): reenabled buttons
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/message/src/message.ts
Due: none

Conference version (#174)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/message/src/message.ts
Due: none

[feat] tag with content control & tooltip on hover
  .gitignore
  packages/chat/components/tagElement/__stories__/tagElement.stories.js
  packages/chat/components/tagElement/src/tagElement.scss
  packages/chat/components/tagElement/src/tagElement.template.ts
  packages/chat/components/tagElement/src/tagElement.ts
  packages/chat/components/tagElement/tagElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[fix] content added to template
  packages/chat/components/tagElement/src/tagElement.template.ts
  packages/chat/components/tagElement/src/tagElement.ts
Due: none

[feat] added click event
  packages/chat/components/tagElement/src/tagElement.scss
  packages/chat/components/tagElement/src/tagElement.template.ts
  packages/chat/components/tagElement/src/tagElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(publish): merge from release/v0.9.0 (#175)
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

feat(chat): docs and codeeditor
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/__stories__/code.mdx
  packages/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/tableElement/src/tableElement.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): Docs and code editor (#176)
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/__stories__/code.mdx
  packages/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/tableElement/src/tableElement.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): readded docs
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/codeElement/__stories__/code.mdx
Due: none

Docs added, code editor and chart interactions (#177)
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/codeElement/__stories__/code.mdx
Due: none

chore(chat): advanced code and header functions
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/__stories__/code.mdx
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/services/APIPlugin/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chartElement/src/chartElement.ts
Due: none

Header functionality and code (#178)
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/__stories__/code.mdx
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/services/APIPlugin/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] border color control
  packages/chat/components/tagElement/__stories__/tagElement.stories.js
  packages/chat/components/tagElement/src/tagElement.scss
  packages/chat/components/tagElement/src/tagElement.template.ts
  packages/chat/components/tagElement/src/tagElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] tooltip position & text controls
  packages/chat/components/tagElement/__stories__/tagElement.stories.js
  packages/chat/components/tagElement/src/tagElement.scss
  packages/chat/components/tagElement/src/tagElement.template.ts
  packages/chat/components/tagElement/src/tagElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[fix] separate folder
  packages/tag/CHANGELOG.md
  packages/tag/__stories__/tag.mdx
  packages/tag/__stories__/tag.stories.js
  packages/tag/components/tag/defs.ts
  packages/tag/components/tag/src/tag.scss
  packages/tag/components/tag/src/tag.template.ts
  packages/tag/components/tag/src/tag.ts
  packages/tag/components/tag/tag.ts
  packages/tag/examples/tag/.gitignore
  packages/tag/examples/tag/cdn.html
  packages/tag/examples/tag/index.html
  packages/tag/examples/tag/package.json
  packages/tag/examples/tag/src/index.js
  packages/tag/examples/tag/src/styles.scss
  packages/tag/index.ts
  packages/tag/package.json
  packages/tag/react/tag.ts
  packages/tag/services/tag/TagApi.ts
  packages/tag/services/tag/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[fix] cleanup unneeded
  packages/tag/CHANGELOG.md
  packages/tag/components/tag/defs.ts
  packages/tag/examples/tag/.gitignore
  packages/tag/examples/tag/cdn.html
  packages/tag/examples/tag/index.html
  packages/tag/examples/tag/package.json
  packages/tag/examples/tag/src/index.js
  packages/tag/examples/tag/src/styles.scss
  packages/tag/services/tag/TagApi.ts
  packages/tag/services/tag/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] expose tag-click event
  packages/tag/__stories__/tag.stories.js
  packages/tag/components/tag/src/tag.template.ts
  packages/tag/components/tag/src/tag.ts
Due: none
