Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

feat(animated-header): update yarn
  yarn.lock
Due: none

feat(animated-header): lint errors
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/HeaderCarousel.tsx
  packages/react/src/components/AnimatedHeader/components/utils.ts
Due: none

feat(animated-header): lint errors
  packages/react/src/components/AnimatedHeader/components/utils.ts
Due: none

feat(animated-header): update snapshot
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
Due: none

Update
  figma-processing-component.js
  src/components/Processing/Processing.tsx
Due: none

feat(animated-header): animated header carousel auto pagination (#1347)
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/HeaderCarousel.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/header-carousel.scss
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/header-carousel.types.ts
  packages/react/src/components/AnimatedHeader/components/utils.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  yarn.lock
Due: prettier --cache --write

chore: dedupe
  yarn.lock
Due: none

chore: yarn.lock
  yarn.lock
Due: none

chore(deploy): deploy storybook
  project.json
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.2df0efc069a809cfec20.css
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.2df0efc069a809cfec20.css.map
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.44c042fe.iframe.bundle.js
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.44c042fe.iframe.bundle.js.map
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.63719bee4798ff90e1f5.css
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.63719bee4798ff90e1f5.css.map
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.e4bd051b.iframe.bundle.js
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.e4bd051b.iframe.bundle.js.LICENSE.txt
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.e4bd051b.iframe.bundle.js.map
  react/iframe.html
  react/project.json
  react/runtime~main.80ae66d0.iframe.bundle.js
  react/runtime~main.80ae66d0.iframe.bundle.js.map
  react/runtime~main.a4c47212.iframe.bundle.js
  react/runtime~main.a4c47212.iframe.bundle.js.map
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

chore(deploy): deploy storybook
  project.json
  react/project.json
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  yarn.lock
Due: prettier --cache --write

fix(ui-shell): make useMatchMedia SSR-safe to prevent hydration mismatch (#1287)
  packages/react/jest.setup.ts
  packages/react/src/components/UIShell/__tests__/useMatchMedia-test.js
  packages/react/src/components/UIShell/internal/useMatchMedia.js
  yarn.lock
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  yarn.lock
Due: prettier --cache --write

fix(AnimatedHeader): carousel paginates selectedTileGroup only
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

chore: specify workspace glob in package.json
  package.json
Due: none

chore: specify workspa ce glob in package.json
  yarn.lock
Due: none

test(AnimatedHeader): update snapshot after carousel pagination fix
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
Due: none

feat(animated-header): update yarn.lock
  yarn.lock
Due: none

chore: make workspace glob more specific (#1350)
  package.json
  yarn.lock
Due: none

chore(animated-header): carousel auto pagination bug (#1349)
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  project.json
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.bceba673.iframe.bundle.js
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.bceba673.iframe.bundle.js.LICENSE.txt
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.bceba673.iframe.bundle.js.map
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.e4bd051b.iframe.bundle.js
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.e4bd051b.iframe.bundle.js.map
  react/iframe.html
  react/project.json
  react/runtime~main.421ae1e4.iframe.bundle.js
  react/runtime~main.421ae1e4.iframe.bundle.js.map
  react/runtime~main.ca2c8758.iframe.bundle.js
  react/runtime~main.ca2c8758.iframe.bundle.js.map
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

feat(animated-header): translate carousel page indicators
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/HeaderCarousel.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/header-carousel.types.ts
Due: none

feat(animated-header): lint fix
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
Due: none

feat(animated-header): use pageIndicatorLabel
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/HeaderCarousel.tsx
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

chore(animated-header): carousel page indicator translate (#1351)
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/HeaderCarousel.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/header-carousel.types.ts
Due: none

chore(deploy): deploy storybook
  project.json
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.bceba673.iframe.bundle.js
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.bceba673.iframe.bundle.js.map
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.d0b72798.iframe.bundle.js
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.d0b72798.iframe.bundle.js.LICENSE.txt
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.d0b72798.iframe.bundle.js.map
  react/iframe.html
  react/project.json
  react/runtime~main.421ae1e4.iframe.bundle.js
  react/runtime~main.421ae1e4.iframe.bundle.js.map
  react/runtime~main.f2d36256.iframe.bundle.js
  react/runtime~main.f2d36256.iframe.bundle.js.map
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

chore: yarn dedupe
  yarn.lock
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/PlaneStack3D/CHANGELOG.md
  packages/react/src/components/PlaneStack3D/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  project.json
  react/9243.04ed5719.iframe.bundle.js
  react/9243.04ed5719.iframe.bundle.js.map
  react/9243.95236cd3.iframe.bundle.js
  react/9243.95236cd3.iframe.bundle.js.LICENSE.txt
  react/9243.95236cd3.iframe.bundle.js.map
  react/iframe.html
  react/project.json
  react/runtime~main.334fbd35.iframe.bundle.js
  react/runtime~main.334fbd35.iframe.bundle.js.map
  react/runtime~main.f2d36256.iframe.bundle.js
  react/runtime~main.f2d36256.iframe.bundle.js.map
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

chore(deploy): deploy storybook
  project.json
  react/iframe.html
  react/main.675d19fc78c8fafce946.css
  react/main.675d19fc78c8fafce946.css.map
  react/main.eb76b4184a5ee5b8a13b.css
  react/main.eb76b4184a5ee5b8a13b.css.map
  react/project.json
  react/v12/iframe.html
  react/v12/main.675d19fc78c8fafce946.css
  react/v12/main.675d19fc78c8fafce946.css.map
  react/v12/main.eb76b4184a5ee5b8a13b.css
  react/v12/main.eb76b4184a5ee5b8a13b.css.map
  react/v12/project.json
  v12/project.json
  v12/react/iframe.html
  v12/react/main.675d19fc78c8fafce946.css
  v12/react/main.675d19fc78c8fafce946.css.map
  v12/react/main.eb76b4184a5ee5b8a13b.css
  v12/react/main.eb76b4184a5ee5b8a13b.css.map
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none
