Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: restore storybook main configurations
  packages/react/.storybook/main.js
  packages/web-components/.storybook/main.js
Due: none

fix(calendar): update Usage.mdx story IDs to match exports
  packages/react/src/components/Calendar/__docs__/Usage.mdx
Due: none

fix: restore root storybook configuration
  .storybook/main.js
Due: none

skip problematic tests
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
Due: none

handleCookieStateChange and tests
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

resignLeadership and tests
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

stopLeaderHeartbeat and stopTokenRefreshTimer and tests
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

chore(deps): upgrade various project deps to resolve security vulnerability alerts (#1235)
  package.json
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/Calendar/__tests__/__snapshots__/Calendar-test.tsx.snap
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/SplitPanel-test.js.snap
  packages/react/src/components/TagInput/__tests__/__snapshots__/TagInput.test.js.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.jsx.snap
  packages/utilities/package.json
  packages/web-components/src/components/global-header/package.json
  yarn.lock
Due: none

fix: missing storybook patterns section (#1236)
  .storybook/main.js
  packages/react/.storybook/main.js
  packages/web-components/src/components/first-time-orientation/__stories__/first-time-orientation.mdx
  packages/web-components/src/components/first-time-orientation/__stories__/first-time-orientation.stories.js
  packages/web-components/src/components/first-time-orientation/__stories__/story-styles.scss
  packages/web-components/src/components/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

fix: fixed the theme selector going behind the background
  packages/react/src/components/MDXComponents/components/storybook-demo/_storybook-demo.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(calendar): update Usage.mdx story IDs to match exports (#1237)
  packages/react/src/components/Calendar/__docs__/Usage.mdx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/Calendar/CHANGELOG.md
  packages/react/src/components/Calendar/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  project.json
  react/Calendar-__docs__-Usage-mdx.7a0697d7.iframe.bundle.js
  react/Calendar-__docs__-Usage-mdx.7a0697d7.iframe.bundle.js.map
  react/Calendar-__docs__-Usage-mdx.96bf9faa.iframe.bundle.js
  react/Calendar-__docs__-Usage-mdx.96bf9faa.iframe.bundle.js.map
  react/iframe.html
  react/project.json
  react/runtime~main.186a8284.iframe.bundle.js
  react/runtime~main.186a8284.iframe.bundle.js.map
  react/runtime~main.92288332.iframe.bundle.js
  react/runtime~main.92288332.iframe.bundle.js.map
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

turning off sidekick everywhere for now
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/web-test-runner.config.mjs
Due: none

removing codecept test for sidekick
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

fix: turning off sidekick everywhere for now (#1241)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/web-test-runner.config.mjs
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

fix: fixed the theme selector going behind the background (#1240)
  packages/react/src/components/MDXComponents/components/storybook-demo/_storybook-demo.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  project.json
  react/iframe.html
  react/main.5b4de2d4283596fdcd6a.css
  react/main.5b4de2d4283596fdcd6a.css.map
  react/main.675d19fc78c8fafce946.css
  react/main.675d19fc78c8fafce946.css.map
  react/project.json
  react/v12/iframe.html
  react/v12/main.5b4de2d4283596fdcd6a.css
  react/v12/main.5b4de2d4283596fdcd6a.css.map
  react/v12/main.675d19fc78c8fafce946.css
  react/v12/main.675d19fc78c8fafce946.css.map
  react/v12/project.json
  v12/project.json
  v12/react/iframe.html
  v12/react/main.5b4de2d4283596fdcd6a.css
  v12/react/main.5b4de2d4283596fdcd6a.css.map
  v12/react/main.675d19fc78c8fafce946.css
  v12/react/main.675d19fc78c8fafce946.css.map
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

chore(storybook): add strictExecutionOrder for sb builds
  packages/web-components/.storybook/main.js
Due: none

chore(storybook): wc sb pass default meta object
  packages/web-components/.storybook/main.js
  packages/web-components/src/components/chat/components/chartElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/chat/__stories__/chat.mdx
  packages/web-components/src/components/chat/components/codeElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/diagramElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/formulaElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/historyViewer/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/molecularElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/popupElement/__stories__/popup.mdx
  packages/web-components/src/components/chat/components/tableElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/textElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/textElement/__stories__/text.mdx
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
  packages/web-components/src/components/example-button/__stories__/example-button.mdx
  packages/web-components/src/components/first-time-orientation/__stories__/first-time-orientation.mdx
  packages/web-components/src/components/global-header/__stories__/global-header.mdx
  packages/web-components/src/components/resizer/__stories__/resizer.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
  packages/web-components/src/components/tag/__stories__/tag.mdx
  packages/web-components/src/components/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/v12/components/date-picker/__stories__/date-picker-web-components.mdx
  packages/web-components/tasks/generate/templates/__stories__/DISPLAY_NAME.mdx
Due: none

chore(storybook): pass default meta object (#1246)
  packages/web-components/src/components/chat/components/chartElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/chat/__stories__/chat.mdx
  packages/web-components/src/components/chat/components/codeElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/diagramElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/formulaElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/historyViewer/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/molecularElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/popupElement/__stories__/popup.mdx
  packages/web-components/src/components/chat/components/tableElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/textElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/textElement/__stories__/text.mdx
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
  packages/web-components/src/components/example-button/__stories__/example-button.mdx
  packages/web-components/src/components/first-time-orientation/__stories__/first-time-orientation.mdx
  packages/web-components/src/components/global-header/__stories__/global-header.mdx
  packages/web-components/src/components/resizer/__stories__/resizer.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
  packages/web-components/src/components/tag/__stories__/tag.mdx
  packages/web-components/src/components/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/v12/components/date-picker/__stories__/date-picker-web-components.mdx
  packages/web-components/tasks/generate/templates/__stories__/DISPLAY_NAME.mdx
Due: none

chore: release
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/resizer/CHANGELOG.md
  packages/web-components/src/components/resizer/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/v12/components/date-picker/CHANGELOG.md
  packages/web-components/src/v12/components/date-picker/package.json
Due: prettier --cache --write

chore: initial commit modular file uploader
  examples/web-components/file-uploader-button/cdn.html
  examples/web-components/file-uploader-button/index.html
  examples/web-components/file-uploader-button/package.json
  examples/web-components/file-uploader-button/src/index.js
  examples/web-components/file-uploader-button/src/styles.scss
  packages/web-components/src/components/file-uploader-button/README.md
  packages/web-components/src/components/file-uploader-button/__stories__/file-uploader-button.mdx
  packages/web-components/src/components/file-uploader-button/__stories__/file-uploader-button.stories.js
  packages/web-components/src/components/file-uploader-button/__tests__/file-uploader-button.test.js
  packages/web-components/src/components/file-uploader-button/components/file-uploader-button/file-uploader-button.ts
  packages/web-components/src/components/file-uploader-button/components/file-uploader-button/src/file-uploader-button.scss
  packages/web-components/src/components/file-uploader-button/components/file-uploader-button/src/file-uploader-button.template.ts
  packages/web-components/src/components/file-uploader-button/index.ts
  packages/web-components/src/components/file-uploader-button/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: enable full native input support
  packages/web-components/src/components/file-uploader-button/__stories__/file-uploader-button.stories.js
  packages/web-components/src/components/file-uploader-button/__tests__/file-uploader-button.test.js
  packages/web-components/src/components/file-uploader-button/components/file-uploader-button/src/file-uploader-button.scss
  packages/web-components/src/components/file-uploader-button/components/file-uploader-button/src/file-uploader-button.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

refactor: disabled attribute support
  packages/web-components/src/components/file-uploader-button/components/file-uploader-button/src/file-uploader-button.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: add drop container
  packages/web-components/src/components/file-uploader-button/__stories__/file-uploader-button.stories.js
  packages/web-components/src/components/file-uploader-button/components/file-uploader-button/src/file-uploader-button.scss
  packages/web-components/src/components/file-uploader-button/components/file-uploader-button/src/file-uploader-button.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: drag styles and on change action log
  packages/web-components/src/components/file-uploader-button/__stories__/file-uploader-button.stories.js
  packages/web-components/src/components/file-uploader-button/components/file-uploader-button/src/file-uploader-button.scss
  packages/web-components/src/components/file-uploader-button/components/file-uploader-button/src/file-uploader-button.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: poc
  packages/react/src/v12/components/DatePicker/__stories__/date-picker-react.mdx
  packages/react/src/v12/components/DatePicker/__stories__/date-picker-react.stories.tsx
  packages/react/src/v12/components/DatePicker/components/Calendar.tsx
  packages/react/src/v12/components/DatePicker/components/DatePicker.tsx
  packages/react/src/v12/components/DatePicker/components/date-picker.scss
  packages/react/src/v12/components/DatePicker/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: file uploader component
  examples/react/FileUploader/index.html
  examples/react/FileUploader/package.json
  examples/react/FileUploader/src/App.tsx
  examples/react/FileUploader/src/index.scss
  examples/react/FileUploader/src/main.tsx
  examples/react/FileUploader/src/vite-env.d.ts
  examples/react/FileUploader/tsconfig.json
  examples/react/FileUploader/tsconfig.node.json
  examples/react/FileUploader/vite.config.ts
  packages/react/src/components/FileUploader/README.md
  packages/react/src/components/FileUploader/__stories__/FileUploader.Example1.stories.js
  packages/react/src/components/FileUploader/__stories__/FileUploader.Example2.stories.js
  packages/react/src/components/FileUploader/__stories__/FileUploader.Example3.stories.js
  packages/react/src/components/FileUploader/__stories__/FileUploader.mdx
  packages/react/src/components/FileUploader/__stories__/FileUploaderButton.stories.js
  packages/react/src/components/FileUploader/__stories__/FileUploaderItem.stories.js
  packages/react/src/components/FileUploader/__stories__/custom-story-components.scss
  packages/react/src/components/FileUploader/__stories__/customStoryComponents.js
  packages/react/src/components/FileUploader/__tests__/FileUploaderButton.test.tsx
  packages/react/src/components/FileUploader/__tests__/FileUploaderItem.test.tsx
  packages/react/src/components/FileUploader/components/FileUploaderButton.tsx
  packages/react/src/components/FileUploader/components/FileUploaderItem.tsx
  packages/react/src/components/FileUploader/components/file-uploader-button.scss
  packages/react/src/components/FileUploader/components/file-uploader-item.scss
  packages/react/src/components/FileUploader/index.ts
  packages/react/src/components/FileUploader/package.json
  packages/react/src/components/FileUploader/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: temp ts errors
  packages/react/src/components/FileUploader/components/FileUploaderItem.tsx
Due: none

Add data-ypc-link profile menu item
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/AuthContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Add story, unit test and update existing tests
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__stories__/AuthContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__tests__/AuthContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
