Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore: add to generate template
  packages/web-components/tasks/generate/templates/package-edit.json
Due: none

chore: lint
  packages/web-components/tasks/build.js
Due: none

fix(uishell): hide rail spacing at small screens when inside layer
  packages/react/src/components/UIShell/components/styles/_content.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(profile): keyboard updates (#703)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderContainer.tsx
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore: add uuid dependency to the empty-state component
  examples/web-components/empty-state/cdn.html
  examples/web-components/empty-state/index.html
  packages/web-components/src/components/empty-state/package.json
Due: none

fix(uishell): hide rail spacing at small screens when inside layer (#705)
  packages/react/src/components/UIShell/components/styles/_content.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update dependencies for react
  packages/react/package.json
  yarn.lock
Due: none

chore: update build process from gulp to rollup (#700)
  examples/web-components/empty-state/cdn.html
  examples/web-components/empty-state/index.html
  package.json
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/react/tasks/generate/templates/package-edit.json
  packages/utilities/package.json
  packages/web-components/.storybook/main.js
  packages/web-components/gulp-tasks/build.js
  packages/web-components/gulp-tasks/build/modules.js
  packages/web-components/gulp-tasks/build/modules/css.js
  packages/web-components/gulp-tasks/build/modules/scripts.js
  packages/web-components/gulp-tasks/build/modules/types.js
  packages/web-components/gulpfile.js
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tasks/build.js
  packages/web-components/tasks/generate/templates/package-edit.json
  packages/web-components/tools/babel-plugin-resource-js-paths.js
  packages/web-components/tools/rollup-plugin-lit-scss.js
  yarn.lock
Due: none

fix(ui-shell): sidenav closing on item click
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

feat(style-picker): implement pictogram accordion for disclosed variant
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-disclosed/src/style-picker-disclosed.ts
Due: none

fix(style-picker-option): change the select implemention
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
Due: none

chore(style-picker): rename clabs-style-picker-disclosed component to clabs-style-picker-section
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.scss
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/style-picker-section.ts
  packages/web-components/src/components/style-picker/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(style-picker): rename style-picker-modules component to style-picker-sections
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.scss
  packages/web-components/src/components/style-picker/components/style-picker-sections/src/style-picker-sections.scss
  packages/web-components/src/components/style-picker/components/style-picker-sections/src/style-picker-sections.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-sections/src/style-picker-sections.ts
  packages/web-components/src/components/style-picker/components/style-picker-sections/style-picker-sections.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
  packages/web-components/src/components/style-picker/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(style-picker): rename style-picker-modules component to style-picker-sections
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
Due: none

chore(style-picker): rename style-picker-module component to style-picker-group
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.scss
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
  packages/web-components/src/components/style-picker/defs/style-picker-module.types.ts
  packages/web-components/src/components/style-picker/defs/style-picker.types.ts
  packages/web-components/src/components/style-picker/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): clean up stories
  packages/web-components/src/components/style-picker/__stories__/_story.defs.ts
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.scss
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.scss
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
  packages/web-components/src/components/style-picker/components/style-picker-sections/src/style-picker-sections.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
  packages/web-components/src/components/style-picker/defs/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): implement section context
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
Due: none

feat(style-picker): restructuring almost complete
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-group/style-picker-group.ts
Due: none

feat: working sidenav with platform level
  examples/react/UIShell/src/components/DropdownExample.tsx
  examples/react/UIShell/src/components/HeaderExample.tsx
  examples/react/UIShell/src/components/HeaderGlobalBarExample.tsx
  examples/react/UIShell/src/components/HeaderNavigationExample.tsx
  examples/react/UIShell/src/components/SideNavProductExample.tsx
  examples/react/UIShell/src/components/SideNavSubMenuExample.tsx
  examples/react/UIShell/src/config/routes.tsx
Due: none

chore: update package names and build scripts
  examples/web-components/feedback/package.json
  examples/web-components/network-graph/package.json
  examples/web-components/tag/package.json
  examples/web-components/ux-control/package.json
  package.json
  packages/react/package.json
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/MDXComponents/package.json
  packages/web-components/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  yarn.lock
Due: none

chore: update names
  examples/web-components/feedback/cdn.html
  examples/web-components/feedback/src/index.js
  examples/web-components/network-graph/cdn.html
  examples/web-components/network-graph/src/index.js
  examples/web-components/tag/cdn.html
  examples/web-components/tag/src/index.js
  examples/web-components/ux-control/src/index.js
  packages/react/package.json
  packages/react/src/components/FirstTimeOrientation/README.md
  packages/react/src/components/MDXComponents/package.json
  packages/web-components/src/components/feedback/README.md
  packages/web-components/src/components/feedback/__stories-dont-show__/feedback.mdx
  packages/web-components/src/components/network-graph/README.md
  packages/web-components/src/components/network-graph/__stories-dont-show__/network-graph.mdx
  packages/web-components/src/components/tag/README.md
  packages/web-components/src/components/tag/__stories__/tag.mdx
  packages/web-components/src/components/ux-control/README.md
  packages/web-components/src/components/ux-control/__stories-dont-show__/ux-control.mdx
  yarn.lock
Due: prettier --cache --write

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

docs(style-picker): make necessary changes in test and docs
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
Due: none

fix: routes appearing twice
  examples/react/UIShell/src/config/routes.tsx
Due: none
