Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix: update exports to match UI shell
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/ExampleButton/src/App.tsx
  examples/react/Processing/src/App.tsx
  examples/react/TextHighlighter/src/App.tsx
  examples/react/WhatsNew/src/App.tsx
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/react/tasks/generate/templates/example/src/App.tsx
  packages/react/tasks/generate/templates/package-edit.json
Due: none

fix: updates having run examples locally
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.tsx
  examples/react/TextHighlighter/src/App.tsx
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
Due: none

Revert "fix(deps): update dependency vega to v5.32.0 [security] (#573)"
  yarn.lock
Due: none

Revert "fix(deps): update dependency vega to v5.32.0 [security] (#573)" (#606)
  yarn.lock
Due: none

chore: yarn format
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.tsx
  examples/react/TextHighlighter/src/App.tsx
Due: none

chore(deps): update carbon packages
  packages/react/package.json
  packages/react/src/components/UIShell/components/SideNavLinkPopover.tsx
  packages/react/tasks/generate/templates/example/package-edit.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tasks/generate/templates/package-edit.json
  yarn.lock
Due: none

docs(ui-shell): update import path (#604)
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore(animated-header): fix disabled state
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): fix md layout overflow
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animate-header): add license
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/WorkspaceSelector/WorkspaceSelector.tsx
Due: none

chore(animated-header): update tests
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
Due: none

feat: add first time orientation pattern using interstitial test
  examples/react/FirstTimeOrientation/index.html
  examples/react/FirstTimeOrientation/package.json
  examples/react/FirstTimeOrientation/src/App.tsx
  examples/react/FirstTimeOrientation/src/components/FirstTimeOrientation/ContentWrapper.tsx
  examples/react/FirstTimeOrientation/src/components/FirstTimeOrientation/PersonalizationInterstitial.tsx
  examples/react/FirstTimeOrientation/src/components/FirstTimeOrientation/WelcomeInterstitial.tsx
  examples/react/FirstTimeOrientation/src/components/FirstTimeOrientation/assets/welcomeInterstitial.png
  examples/react/FirstTimeOrientation/src/components/FirstTimeOrientation/index.ts
  examples/react/FirstTimeOrientation/src/components/FirstTimeOrientation/styles/_firstTimeOrientation.scss
  examples/react/FirstTimeOrientation/src/index.scss
  examples/react/FirstTimeOrientation/src/main.tsx
  examples/react/FirstTimeOrientation/src/vite-env.d.ts
  examples/react/FirstTimeOrientation/tsconfig.json
  examples/react/FirstTimeOrientation/tsconfig.node.json
  examples/react/FirstTimeOrientation/vite.config.ts
  packages/react/src/components/WhatsNew/__stories__/FirstTimeOrientationTest.stories.jsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: exports in whatsnew
  packages/react/src/components/WhatsNew/package.json
Due: none

fix: 'as' prop type modification... followed the ui shell's lead
  examples/react/WhatsNew/src/App.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocSection.tsx
  packages/react/src/components/WhatsNew/types/common.ts
Due: none

feat(uishell): update to use rail instead of panel nav
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: update stackblitz
  examples/react/UIShell/src/App.tsx
Due: none

chore: remove inline themeing
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: remove switcher examples
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat: update icon to switcher
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: remove Header story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix: update zindex for rail
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: cleanup imports
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: update comment
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat(uishell): update to use rail instead of panel nav remove inline theme (#617)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: add first time orientation pattern and its example usage
  packages/react/src/components/WhatsNew/__stories__/FirstTimeOrientation.stories.jsx
  packages/react/src/components/WhatsNew/__stories__/FirstTimeOrientationTest.stories.jsx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/ContentWrapper.tsx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/PersonalizationInterstitial.tsx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/WelcomeInterstitial.tsx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/assets/welcomeInterstitial.png
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/index.ts
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/styles/_firstTimeOrientation.scss
  packages/react/src/components/WhatsNew/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: update yarn.lock
  yarn.lock
Due: none
