Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Add storybook entry for your privacy choices
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
Due: none

Add your privacy choices unit test for hybrid ipaas header
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

fix: move status to package.json
  AGENTS.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
Due: prettier --cache --write

Update AGENTS.md
  AGENTS.md
Due: prettier --cache --write

Formatting
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__stories__/AuthContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__tests__/AuthContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

chore: initial commit
  examples/web-components/wysiwyg/cdn.html
  examples/web-components/wysiwyg/index.html
  examples/web-components/wysiwyg/package.json
  examples/web-components/wysiwyg/src/index.js
  examples/web-components/wysiwyg/src/styles.scss
  packages/web-components/src/components/wysiwyg/README.md
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.mdx
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.stories.js
  packages/web-components/src/components/wysiwyg/__tests__/__snapshots__/wysiwyg.test.snap.js
  packages/web-components/src/components/wysiwyg/__tests__/wysiwyg.test.js
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/constants/editor.constants.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/services/editor.service.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/types/carbon-icons.d.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/types/editor.types.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/types/modules.d.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/dom.utils.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/url.utils.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.template.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/wysiwyg.ts
  packages/web-components/src/components/wysiwyg/index.ts
  packages/web-components/src/components/wysiwyg/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Inject YPC only for relevant story
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
Due: none

Formatting
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
Due: none

feat(global-header): add support for Your privacy choices (#1259)
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/AuthContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__stories__/AuthContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__tests__/AuthContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  project.json
  react/project.json
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

chore: initial commit with all wysiwyg changes
  .nvmrc
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/example-button/__tests__/__snapshots__/example-button.test.snap.js
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/AuthContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__stories__/AuthContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__tests__/AuthContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
  packages/web-components/src/components/wysiwyg/__stories__/01-Default.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/02-ToolbarOptions.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/03-CustomExtensions.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/_story-utils.js
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.mdx
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.stories.js
  packages/web-components/src/components/wysiwyg/__tests__/__snapshots__/wysiwyg.test.snap.js
  packages/web-components/src/components/wysiwyg/__tests__/wysiwyg.test.js
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/_carbon-elements.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/_overrides.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/constants/editor.constants.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/constants/icons.constants.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/services/editor.service.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/services/popover.service.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/types/carbon-icons.d.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/types/editor.types.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/dom.utils.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/editor.utils.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/file.utils.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/render.utils.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/url.utils.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.template.ts
  packages/web-components/src/components/wysiwyg/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: revert global-header changes to match main
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/__stories__/global-header.mdx
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/AuthContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__stories__/AuthContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__tests__/AuthContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/global-header/web-test-runner.config.mjs
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: initial commit
  examples/web-components/wysiwyg/cdn.html
  examples/web-components/wysiwyg/index.html
  examples/web-components/wysiwyg/package.json
  examples/web-components/wysiwyg/src/index.js
  examples/web-components/wysiwyg/src/styles.scss
  packages/web-components/src/components/wysiwyg/README.md
  packages/web-components/src/components/wysiwyg/__stories__/01-Default.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/02-ToolbarOptions.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/03-CustomExtensions.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/_story-utils.js
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.mdx
  packages/web-components/src/components/wysiwyg/__tests__/__snapshots__/wysiwyg.test.snap.js
  packages/web-components/src/components/wysiwyg/__tests__/wysiwyg.test.js
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/_carbon-elements.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/_overrides.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/constants/editor.constants.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/constants/icons.constants.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/services/editor.service.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/services/popover.service.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/types/editor.types.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/dom.utils.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/editor.utils.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/file.utils.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/render.utils.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.template.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/wysiwyg.ts
  packages/web-components/src/components/wysiwyg/index.ts
  packages/web-components/src/components/wysiwyg/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update version
  packages/web-components/src/components/wysiwyg/package.json
  yarn.lock
Due: none

fix: meta error
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.mdx
Due: none

chore: clean up main template file
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.template.ts
Due: none

fix: minor imperfections
  examples/web-components/wysiwyg/index.html
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: minor css improvements
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: add cds-button as focus-able item. and ignore popover internals
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/constants/editor.constants.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/utils/dom.utils.ts
Due: none

docs: add custom extension with example highlighter
  packages/web-components/src/components/wysiwyg/__stories__/03-CustomExtensions.stories.js
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/_carbon-elements.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/services/editor.service.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/types/editor.types.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: expose necessary parts for style injection
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.template.ts
Due: none

Revert "feat: expose necessary parts for style injection"
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.template.ts
Due: none

docs: document extension styling
  packages/web-components/src/components/wysiwyg/__stories__/03-CustomExtensions.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.mdx
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/_carbon-elements.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs: add styling docs
  packages/web-components/src/components/wysiwyg/__stories__/01-Default.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/03-CustomExtensions.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/story-utils.js
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/_carbon-elements.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs: remove redundant part as we already include carbon element styles
  packages/web-components/src/components/wysiwyg/__stories__/03-CustomExtensions.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.mdx
Due: none

docs: add tiptap extensions external link
  packages/web-components/src/components/wysiwyg/__stories__/03-CustomExtensions.stories.js
Due: none

chore: add more extendable examples
  packages/web-components/src/components/wysiwyg/__stories__/04-HtmlSource.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/05-Details.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/story-utils.js
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.template.ts
Due: none

chore: add list of preview candidate components (#1228)
  AGENTS.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/CHANGELOG.md
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/Processing/CHANGELOG.md
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/CHANGELOG.md
  packages/web-components/src/components/ux-control/package.json
Due: prettier --cache --write

chore: initial commit
  examples/web-components/wysiwyg/cdn.html
  examples/web-components/wysiwyg/index.html
  examples/web-components/wysiwyg/package.json
  examples/web-components/wysiwyg/src/index.js
  examples/web-components/wysiwyg/src/styles.scss
  packages/web-components/src/components/wysiwyg/README.md
  packages/web-components/src/components/wysiwyg/__stories__/story-helpers.js
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.mdx
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.stories.js
  packages/web-components/src/components/wysiwyg/__tests__/__snapshots__/wysiwyg.test.snap.js
  packages/web-components/src/components/wysiwyg/__tests__/wysiwyg.test.js
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/_overrides.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/constants.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/alignment.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/blocks.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/clipboard.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/file-upload.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/history.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/html.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/insert.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/lists.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/markdown.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/search.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/tables.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/text-color.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/text-formatting.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/typeface.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/typography.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/types/carbon-icons.d.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.template.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/wysiwyg.ts
  packages/web-components/src/components/wysiwyg/index.ts
  packages/web-components/src/components/wysiwyg/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add wysiwyg editor
  packages/web-components/src/components/example-button/__tests__/__snapshots__/example-button.test.snap.js
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
  packages/web-components/src/components/wysiwyg/README.md
  packages/web-components/src/components/wysiwyg/__stories__/story-helpers.js
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg-ai-refactoring.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg-custom-toolbar.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg-markdown.stories.js
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.mdx
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg.stories.js
  packages/web-components/src/components/wysiwyg/__tests__/__snapshots__/wysiwyg.test.snap.js
  packages/web-components/src/components/wysiwyg/__tests__/wysiwyg.test.js
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/_overrides.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/constants.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/alignment.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/blocks.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/clipboard.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/file-upload.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/history.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/html.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/insert.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/lists.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/markdown.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/search.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/tables.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/text-color.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/text-formatting.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/typeface.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/typography.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/types.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/types/carbon-icons.d.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/useRovingTabindex.ts
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.scss
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/wysiwyg.template.ts
  packages/web-components/src/components/wysiwyg/index.ts
  packages/web-components/src/components/wysiwyg/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(trial-countdown): enhancements
  packages/react/src/components/UIShell/components/TrialCountdown.tsx
  packages/react/src/components/UIShell/components/styles/_trial-countdown.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(menus-popovercontent): new border token, box-shadow
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(menu): background-color, alignment, border, etc.
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(profile): support custom image and icon for avatar
  packages/react/src/components/UIShell/components/Profile.tsx
Due: none

chore: cleanup
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
