Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(UIShell): add Header story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderAction.tsx
Due: none

feat(uishell): add HeaderPopover and related components to documentation and stories
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
Due: prettier --cache --write

fix(header): animate panel transitions
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

refactor(UIShell): remove alias
  packages/react/src/components/UIShell/index.ts
Due: none

fix(header): stylelint ignore `@starting-style`
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(HeaderAction): add className to HeaderActionButton
  packages/react/src/components/UIShell/components/HeaderAction.tsx
Due: none

feat(header): update button hover styles and add custom properties for focus color
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

refactor(HeaderPopover): remove animation type prop and related styles
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderPopover.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(header): add background color for open header action popover
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(HeaderAction): add header action component
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderAction.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(header): add custom properties for toggletip links
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(uishell): add HeaderPopover components to UIShell stories and update HeaderGlobalAction tooltip
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: update default story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat(UIShell): add HeaderPopover (#518)
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderPopover.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix(storybook): remove background button (#549)
  packages/react/.storybook/preview.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --cache --write

docs(UIShell): update storybook and stackblitz
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: lint error
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: remove headerpanel doc
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: update readme
  packages/react/src/components/UIShell/README.md
Due: prettier --cache --write

feat: add theme colors
  packages/react/src/components/UIShell/components/styles/_trial-countdown.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(generator secript): update author placeholder
  packages/react/tasks/generate/templates/package-edit.json
  packages/web-components/tasks/generate/templates/package-edit.json
Due: none

fix(UIShell): remove box-shadow on header action focus
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: instrument packages with telemetry
  packages/react/src/components/AnimatedHeader/README.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/AnimatedHeader/telemetry.yml
  packages/react/src/components/MDXComponents/README.md
  packages/react/src/components/Processing/README.md
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Processing/telemetry.yml
  packages/react/src/components/TextHighlighter/README.md
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/TextHighlighter/telemetry.yml
  packages/react/src/components/ThemeSettings/README.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/ThemeSettings/telemetry.yml
  packages/react/src/components/UIShell/telemetry.yml
  packages/react/src/components/WhatsNew/README.md
  packages/react/src/components/WhatsNew/package.json
  packages/react/src/components/WhatsNew/telemetry.yml
  packages/web-components/src/components/chat/README.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/feedback/README.md
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/feedback/telemetry.yml
  packages/web-components/src/components/network-graph/README.md
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/network-graph/telemetry.yml
  packages/web-components/src/components/tag/README.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/tag/telemetry.yml
  packages/web-components/src/components/ux-control/README.md
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/src/components/ux-control/telemetry.yml
  yarn.lock
Due: prettier --cache --write

fix(animated-header): cleanup Safari issues
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(animated-header): update snapshot
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

chore: instrument packages with telemetry (#555)
  packages/react/src/components/AnimatedHeader/README.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/AnimatedHeader/telemetry.yml
  packages/react/src/components/MDXComponents/README.md
  packages/react/src/components/Processing/README.md
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Processing/telemetry.yml
  packages/react/src/components/TextHighlighter/README.md
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/TextHighlighter/telemetry.yml
  packages/react/src/components/ThemeSettings/README.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/ThemeSettings/telemetry.yml
  packages/react/src/components/UIShell/telemetry.yml
  packages/react/src/components/WhatsNew/README.md
  packages/react/src/components/WhatsNew/package.json
  packages/react/src/components/WhatsNew/telemetry.yml
  packages/web-components/src/components/chat/README.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/feedback/README.md
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/feedback/telemetry.yml
  packages/web-components/src/components/network-graph/README.md
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/network-graph/telemetry.yml
  packages/web-components/src/components/tag/README.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/tag/telemetry.yml
  packages/web-components/src/components/ux-control/README.md
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/src/components/ux-control/telemetry.yml
  yarn.lock
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/CHANGELOG.md
  packages/react/src/components/Processing/package.json
  packages/react/src/components/TextHighlighter/CHANGELOG.md
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/feedback/CHANGELOG.md
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/CHANGELOG.md
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/CHANGELOG.md
  packages/web-components/src/components/ux-control/package.json
Due: prettier --cache --write

fix: review notes and sanitize inputs
  packages/react/src/components/SplitPanel/components/SplitPanel.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
