Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix: change author to me
  packages/vscode-snippets-extension/package.json
Due: none

fix: update publisher
  packages/vscode-snippets-extension/PUBLISHING.md
  packages/vscode-snippets-extension/SETUP.md
Due: prettier --cache --write

Add codecept tests for wc-global-header
  .gitignore
  packages/web-components/package.json
  packages/web-components/src/components/global-header/codecept.conf.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
  packages/web-components/src/components/global-header/package.json
Due: none

Update yarn.lock
  yarn.lock
Due: none

Formatting
  packages/web-components/src/components/global-header/codecept.conf.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

Add license
  packages/web-components/src/components/global-header/codecept.conf.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

Linting
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

Revert "Update yarn.lock"
  yarn.lock
Due: none

feat: fix theme settings dependency issue breaking PRs
  packages/react/src/components/ThemeSettings/package.json
  yarn.lock
Due: none

feat: fix theme settings dependency issue breaking PRs
  packages/react/src/components/ThemeSettings/package.json
Due: none

feat: fix theme settings dependency issue breaking PRs
  yarn.lock
Due: none

chore(wc-global-header): upgrade to latest carbon/web-components (#990)
  packages/react/src/components/ThemeSettings/package.json
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/styles/_carbon.scss
  packages/web-components/src/components/global-header/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

dedupe
  yarn.lock
Due: none

fix: linter complaints about quotes
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.stories.js
Due: none

feat(global-header): Add codecept tests for HybridIpaasHeader web component (#991)
  .gitignore
  packages/web-components/package.json
  packages/web-components/src/components/global-header/codecept.conf.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
  packages/web-components/src/components/global-header/package.json
  yarn.lock
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

Add codecept tests to ci-check
  .github/workflows/ci.yml
Due: none

Set show to false
  packages/web-components/src/components/global-header/codecept.conf.ts
Due: none

Add solis codecept test
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

Set window size
  packages/web-components/src/components/global-header/codecept.conf.ts
Due: none

fix: publisher name
  packages/vscode-snippets-extension/PUBLISHING.md
  packages/vscode-snippets-extension/package.json
Due: prettier --cache --write

use theme tokens instead of CSS vars
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/_index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

use theme tokens instead of CSS vars (#995)
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/_index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: demo image size
  packages/vscode-snippets-extension/README.md
  packages/vscode-snippets-extension/demo-optimized.gif
  packages/vscode-snippets-extension/demo.gif
  packages/vscode-snippets-extension/demo.gif.md
  packages/vscode-snippets-extension/demo.mp4
  packages/vscode-snippets-extension/package.json
Due: prettier --cache --write

feat: Vscode extension from snippets (#985)
  packages/vscode-snippets-extension/.gitignore
  packages/vscode-snippets-extension/.vscodeignore
  packages/vscode-snippets-extension/CHANGELOG.md
  packages/vscode-snippets-extension/LICENSE
  packages/vscode-snippets-extension/PUBLISHING.md
  packages/vscode-snippets-extension/README.md
  packages/vscode-snippets-extension/SETUP.md
  packages/vscode-snippets-extension/demo.gif
  packages/vscode-snippets-extension/demo.gif.md
  packages/vscode-snippets-extension/demo.mp4
  packages/vscode-snippets-extension/icon.png
  packages/vscode-snippets-extension/package.json
  packages/vscode-snippets-extension/scripts/copy-snippets.js
  packages/vscode-snippets/package.json
  yarn.lock
Due: prettier --cache --write
