Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

feat(ui-shell-sidenav): animation updates
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(comments): update
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker): resolve style issue when section hide in accordion
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/utilities/renderCarbonPictogram.ts
Due: none

fix: extended TOCSectionBase with props from HTMLElement
  packages/react/src/components/WhatsNew/components/Toc/TocSection.tsx
Due: none

Updated snapshots for tests to pass...
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
Due: none

fix(blur): 6px
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(uishell): update delay for flyout menu
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
Due: none

fix(overlay): switch to shadow token
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(uishell): update delay for flyout menu (#736)
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix(content): update transition
  packages/react/src/components/UIShell/components/styles/_content.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

reverting the snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
Due: none

fix: Whats new typescript issue with TOCSection (#735)
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/WhatsNew/components/Toc/TocSection.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
Due: prettier --cache --write

fix: shadows
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: zindex
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(animation): cleanup
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker): remove hard-coded strings
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

feat: expose thickness prop, docs and story updates
  packages/react/src/components/Resizer/__stories__/Resizer.mdx
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
  packages/react/src/components/Resizer/components/Resizer.tsx
  packages/react/src/components/Resizer/components/resizer.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: run test:updateSnapshot
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/Resizer/__tests__/__snapshots__/Resizer.test.js.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
Due: none

chore: update snapshot after taking pull
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
Due: none

feat(animated-header): add TileGroup to export list
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/index.ts
Due: none

feat(animated-header): static header add string as backup type
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

revert: unwanted snapshots manually
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
Due: none

fix(overlay): click
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): implement search (#723)
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.scss
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
  packages/web-components/src/components/style-picker/components/style-picker-sections/src/style-picker-sections.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/style-picker/utilities/renderCarbonPictogram.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

chore(chat): extensive changes
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.ts
  packages/web-components/src/components/chat/components/chartElementV2/src/chartElementV2.template.ts
  packages/web-components/src/components/chat/components/chartElementV2/src/chartElementV2.ts
  packages/web-components/src/components/chat/components/diagramElement/__stories__/diagramElement.stories.js
  packages/web-components/src/components/chat/components/molecularElement/src/molecularElement.template.ts
  packages/web-components/src/components/chat/components/molecularElement/src/molecularElement.ts
  packages/web-components/src/components/chat/index.ts
Due: none

chore(style-picker): author details
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
Due: none
