Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix: format
  packages/web-components/src/components/style-picker/react/style-picker-color.ts
Due: none

feat(ui-shell-sidenav): animation updates (#733)
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_content.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

feat(ui-shell): add SideNavTitle
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavTitle.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(side-nav-title): use title instead of children prop
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavTitle.tsx
Due: none

fix(side-nav-title): hide spacing
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(export): title
  packages/react/src/components/UIShell/index.ts
Due: none

fix(format): update
  packages/react/src/components/UIShell/index.ts
Due: none

chore(style-picker): resolve review comments
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
Due: none

fix: update prop name to open to match with latest
  examples/react/FirstTimeOrientation/src/App.tsx
  packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.jsx
Due: none

fix: update package
  examples/react/FirstTimeOrientation/package.json
  packages/react/src/components/FirstTimeOrientation/package.json
Due: none

fix: update yarn lock
  yarn.lock
Due: none

fix(side-nav-title): div to li
  packages/react/src/components/UIShell/components/SideNavTitle.tsx
Due: none

fix(title): use children instead
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavTitle.tsx
Due: none

fix(format): update
  packages/react/src/components/UIShell/components/SideNavTitle.tsx
Due: none

feat(sidenavtitle): update docs
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/SideNav.mdx
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: prettier --cache --write

feat(sidenav): new sideNavTitle (#752)
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/SideNav.mdx
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavTitle.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(firstTimeOrientation): pattern not opening after upgrade (#755)
  examples/react/FirstTimeOrientation/package.json
  examples/react/FirstTimeOrientation/src/App.tsx
  packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.jsx
  packages/react/src/components/FirstTimeOrientation/package.json
  yarn.lock
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/FirstTimeOrientation/CHANGELOG.md
  packages/react/src/components/FirstTimeOrientation/package.json
Due: prettier --cache --write

fix: review issues
  examples/react/UIShell/src/components/HeaderExample.tsx
  examples/react/UIShell/src/components/SideNavSubMenuExample.tsx
Due: none

fix: side nav menu loop
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

chore(deps): update all carbon packages to latest (#750)
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/FirstTimeOrientation/package.json
  examples/react/Processing/package.json
  examples/react/Resizer/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/WhatsNew/package.json
  examples/web-components/empty-state/package.json
  examples/web-components/example-button/package.json
  examples/web-components/feedback/package.json
  examples/web-components/network-graph/package.json
  examples/web-components/style-picker/package.json
  examples/web-components/tag/package.json
  examples/web-components/toolbar/package.json
  examples/web-components/ux-control/package.json
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/react/tasks/generate/templates/example/package-edit.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/__tests__/__snapshots__/example-button.test.snap.js
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tasks/generate/templates/example/package-edit.json
  packages/web-components/tasks/generate/templates/package-edit.json
  yarn.lock
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/CHANGELOG.md
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/CHANGELOG.md
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/CHANGELOG.md
  packages/web-components/src/components/ux-control/package.json
Due: prettier --cache --write

fix: add stylepicker lit wrapper react component
  examples/react/StylePicker/index.html
  examples/react/StylePicker/package.json
  examples/react/StylePicker/src/App.tsx
  examples/react/StylePicker/src/index.scss
  examples/react/StylePicker/src/main.tsx
  examples/react/StylePicker/src/vite-env.d.ts
  examples/react/StylePicker/tsconfig.json
  examples/react/StylePicker/tsconfig.node.json
  examples/react/StylePicker/vite.config.ts
  packages/react/.storybook/main.js
  packages/react/package.json
  packages/react/src/components/StylePicker/README.md
  packages/react/src/components/StylePicker/__stories__/StylePicker.mdx
  packages/react/src/components/StylePicker/__stories__/StylePicker.stories.js
  packages/react/src/components/StylePicker/__tests__/StylePicker.test.js
  packages/react/src/components/StylePicker/components/StylePicker.tsx
  packages/react/src/components/StylePicker/components/style-picker.scss
  packages/react/src/components/StylePicker/index.ts
  packages/react/src/components/StylePicker/package.json
  packages/react/src/components/StylePicker/tsconfig.json
  packages/web-components/src/components/style-picker/components/style-picker/style-picker.ts
  packages/web-components/src/components/style-picker/react/style-picker.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input
