Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Remove skip (#1024)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

add Api icon to header
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

add Api icon to header (#1028)
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

chore(StylePicker): add telemetry in stylePicker react package
  packages/react/src/components/StylePicker/package.json
  packages/react/src/components/StylePicker/telemetry.yml
  yarn.lock
Due: none

chore(StylePicker): add telemetry in stylePicker react package (#1031)
  packages/react/src/components/StylePicker/package.json
  packages/react/src/components/StylePicker/telemetry.yml
  yarn.lock
Due: none

ci(workflows): run build on larger runner
  .github/workflows/ci.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish.yml
Due: none

fix: merge conflict
  .github/workflows/release.yml
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

chore(ts): fix iconItem type and move ts-ignore to correct spot
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
  packages/web-components/src/components/style-picker/components/style-picker-color/src/style-picker-color.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
Due: none

include help links in unauthenticated mode
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/__tests__/HeaderContext.test.ts
Due: none

fix(storybookdemo): fix initial variant empty display
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.tsx
Due: none

include help links in unauthenticated mode (#1121)
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/__tests__/HeaderContext.test.ts
Due: none

fix(storybookdemo): fix initial variant empty display (#1123)
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.tsx
Due: none

chore: update release trigger
  .github/workflows/release.yml
Due: none

chore(build): set concurrency for framework builds
  packages/react/package.json
  packages/web-components/package.json
Due: none

chore(build): change build order; remove unneeded include deps
  package.json
  packages/react/package.json
  packages/web-components/package.json
Due: none

docs: showcase full potential of resizer component
  packages/react/src/components/Resizer/__stories__/ResizerVSCodeUI.scss
  packages/react/src/components/Resizer/__stories__/ResizerVSCodeUI.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint
  packages/react/src/components/Resizer/__stories__/ResizerVSCodeUI.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: upgrade to larger-disk
  .github/workflows/ci.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish.yml
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
