Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

Storybook work
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/README.md
  packages/react/src/components/WhatsNew/__stories__/Bubble.stories.js
  packages/react/src/components/WhatsNew/__stories__/Toc.stories.js
  packages/react/src/components/WhatsNew/__stories__/ViewStack.stories.js
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.stories.js
  packages/react/src/components/WhatsNew/__stories__/components/PlayingCard.tsx
  packages/react/src/components/WhatsNew/__stories__/storybook.scss
  packages/react/src/components/WhatsNew/components/Bubble.tsx
  packages/react/src/components/WhatsNew/components/BubbleHeader.tsx
  packages/react/src/components/WhatsNew/components/TocItem.tsx
  packages/react/src/components/WhatsNew/components/TocList.tsx
  packages/react/src/components/WhatsNew/components/TocSection.tsx
  packages/react/src/components/WhatsNew/components/TocSections.tsx
  packages/react/src/components/WhatsNew/components/View.tsx
  packages/react/src/components/WhatsNew/components/ViewStack.tsx
  packages/react/src/components/WhatsNew/components/whats-new.scss
  packages/react/src/components/WhatsNew/package.json
  packages/react/src/components/WhatsNew/tsconfig.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

yarn lock...
  yarn.lock
Due: none

another yarn lock update - assuming from the merge
  yarn.lock
Due: none

Missed license text in a few files...
  packages/react/src/components/WhatsNew/__stories__/components/PlayingCard.tsx
  packages/react/src/components/WhatsNew/__stories__/storybook.scss
  packages/react/src/components/WhatsNew/components/styles/_scss-utils.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/empty-state/package.json
Due: none

fix(empty state): lint and format
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/error-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/no-data-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/no-tags-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/not-found-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/notifications-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/unauthorized-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.template.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.ts
  packages/web-components/src/components/empty-state/package.json
Due: none

fix(empty state): update link
  packages/web-components/src/components/empty-state/components/empty-state/empty-state.ts
Due: none

fix(empty state): remove commented styles
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(empty state): update illustrations
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/error-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/no-data-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/no-tags-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/not-found-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/notifications-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/unauthorized-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.scss
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(empty state): lint and format
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(empty state): lint
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(empty state): add test cases for illustrations
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.template.ts
Due: none

test(empty state): test fail troubleshoot
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
Due: none

fix(empty state): lint
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
Due: none

fix: handle focus color
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/ExampleButton-test.js.snap
  packages/react/src/components/SplitPanel/components/split-panel.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: handle focus
  packages/react/src/components/SplitPanel/components/split-panel.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Had a bad use statement in scss file, and a jsdocs comment that was throwing an error in storybook
  packages/react/src/components/WhatsNew/components/Bubble.tsx
  packages/react/src/components/WhatsNew/components/styles/_bubble.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

test added
  packages/react/src/components/WhatsNew/__tests__/Bubble.test.js
  packages/react/src/components/WhatsNew/__tests__/Toc.test.js
  packages/react/src/components/WhatsNew/__tests__/ViewStack.test.js
  packages/react/src/components/WhatsNew/__tests__/WhatsNew.test.js
  packages/react/src/components/WhatsNew/__tests__/__snapshots__/Bubble.test.js.snap
  packages/react/src/components/WhatsNew/__tests__/__snapshots__/Toc.test.js.snap
  packages/react/src/components/WhatsNew/__tests__/__snapshots__/ViewStack.test.js.snap
  packages/react/src/components/WhatsNew/components/Bubble.tsx
  packages/react/src/components/WhatsNew/components/BubbleHeader.tsx
  packages/react/src/components/WhatsNew/components/TocItem.tsx
  packages/react/src/components/WhatsNew/components/TocList.tsx
  packages/react/src/components/WhatsNew/components/styles/_bubble.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(empty state): update docs stories
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
  packages/web-components/src/components/empty-state/components/empty-state/empty-state.ts
Due: none

fix(empty state): update docs
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
  packages/web-components/src/components/empty-state/components/empty-state/empty-state.ts
Due: none

chore: file organization, cleanup
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
  packages/web-components/src/components/toolbar/components/toolbar-button/src/toolbar-button.scss
  packages/web-components/src/components/toolbar/components/toolbar-button/src/toolbar-button.template.ts
  packages/web-components/src/components/toolbar/components/toolbar-button/toolbar-button.ts
  packages/web-components/src/components/toolbar/components/toolbar-group/src/toolbar-group.scss
  packages/web-components/src/components/toolbar/components/toolbar-group/src/toolbar-group.template.ts
  packages/web-components/src/components/toolbar/components/toolbar-group/toolbar-group.ts
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.scss
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.template.ts
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint
  packages/web-components/src/components/toolbar/components/toolbar-button/src/toolbar-button.scss
  packages/web-components/src/components/toolbar/components/toolbar-group/src/toolbar-group.scss
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint
  packages/web-components/src/components/toolbar/components/toolbar-group/src/toolbar-group.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: style scoping
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
  packages/web-components/src/components/toolbar/components/toolbar-button/src/toolbar-button.scss
  packages/web-components/src/components/toolbar/components/toolbar-group/src/toolbar-group.scss
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.scss
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: format
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
Due: none

fix: dropdown style override, mdx, screen reader
  packages/web-components/src/components/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
Due: none

chore: format and author name
  packages/web-components/src/components/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
Due: none

chore: update version
  packages/web-components/src/components/toolbar/package.json
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

chore: allow custom background colors
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.mdx
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.stories.js
  packages/react/src/components/SplitPanel/components/SplitPanel.tsx
  packages/react/src/components/SplitPanel/components/split-panel.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Classname misspelling
  packages/react/src/components/WhatsNew/components/TocList.tsx
Due: none

updated snapshot
  packages/react/src/components/WhatsNew/__tests__/__snapshots__/Toc.test.js.snap
Due: none

fix: nested layer
  packages/react/src/components/SplitPanel/components/split-panel.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: better solution for split handle background
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.mdx
  packages/react/src/components/SplitPanel/components/split-panel.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Updated version to all 0s - as this will be incremented via release
  packages/react/src/components/WhatsNew/package.json
Due: none

fix: improve comment on backgrounds and layers
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.mdx
Due: none
