Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

use clabs prefix for all elements (#884)
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/AuthContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__tests__/AuthContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/WideSideNav.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__tests__/CommonHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__tests__/WideSideNav.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/__tests__/HeaderContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/ProfilePopover/ProfilePopover.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/ProfilePopover/__tests__/ProfilePopover.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Search/Search.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Search/__tests__/Search.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/__tests__/SideNavItem.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/Switcher.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/__tests__/Switcher.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialPopover/TrialPopover.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialPopover/__tests__/TrialPopover.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UnauthenticatedContext/UnauthenticatedContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UnauthenticatedContext/UnauthenticatedContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UnauthenticatedContext/__tests__/UnauthenticatedContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UserProfileImage/UserProfileImage.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UserProfileImage/__tests__/UserProfileImage.test.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

feat(style-picker): implement loading state
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

chore(style-picker): give appropriate comment for the isLoading property
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

docs: add link to carbon labs docs on carbon for ibm products website
  .storybook/welcome/Welcome.jsx
Due: none

fix: url
  .storybook/welcome/Welcome.jsx
Due: none

fix(spacing/tooltips): update
  packages/react/src/components/UIShell/components/HeaderOverflowPanel.tsx
  packages/react/src/components/UIShell/components/Profile.tsx
  packages/react/src/components/UIShell/components/styles/_header-overflow-panel.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs: add link to carbon labs docs on carbon for ibm products website (#889)
  .storybook/welcome/Welcome.jsx
Due: none

feat(uishell): update HeaderPopover styles
  examples/react/UIShell/src/components/HeaderGlobalBarExample.tsx
  packages/react/src/components/UIShell/__stories__/HeaderPopover.stories.js
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderPopover.tsx
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(codeowners): update uishell reviewers to monorepo-reviewers team
  .github/CODEOWNERS
Due: none

chore(codeowners): update uishell reviewers to monorepo-reviewers team (#891)
  .github/CODEOWNERS
Due: none

fix: tooltip styles
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

use brand product if product name not set
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

use brand product if product name not set (#892)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

feat(header-overflow-panel): add to ui-shell (#854)
  examples/react/UIShell/src/components/HeaderGlobalBarExample.tsx
  packages/react/src/components/UIShell/__stories__/HeaderOverflowPanel.mdx
  packages/react/src/components/UIShell/__stories__/HeaderOverflowPanel.stories.js
  packages/react/src/components/UIShell/__stories__/HeaderPopover.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.scss
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderOverflowPanel.tsx
  packages/react/src/components/UIShell/components/Profile.tsx
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_header-overflow-panel.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

test(style-picker): implement tests for single variant color picker
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
Due: none
