Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix: Update publisher to match open vsx (#1007)
  packages/vscode-snippets-extension/CHANGELOG.md
  packages/vscode-snippets-extension/README.md
  packages/vscode-snippets-extension/package.json
Due: prettier --cache --write

chore(animated header): support ssr (#999)
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedBackground/AnimatedBackground.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/StaticBackground/StaticBackground.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/vscode-snippets-extension/CHANGELOG.md
  packages/vscode-snippets-extension/package.json
Due: prettier --cache --write

fix: test error due to date is fixed in calendar. snap updated
  packages/react/src/components/Calendar/__tests__/Calendar-test.tsx
  packages/react/src/components/Calendar/__tests__/__snapshots__/Calendar-test.tsx.snap
Due: none

chore(animated-header): update type exports
  packages/react/src/components/AnimatedHeader/index.ts
  packages/react/src/components/AnimatedHeader/package.json
Due: none

chore(animated-header): fix formatting
  packages/react/src/components/AnimatedHeader/index.ts
Due: none

fix: timeline style and label. es-lint errors. Telemetry added
  packages/react/src/components/Calendar/README.md
  packages/react/src/components/Calendar/__tests__/Calendar-test.tsx
  packages/react/src/components/Calendar/__tests__/__snapshots__/Calendar-test.tsx.snap
  packages/react/src/components/Calendar/components/Calendar.tsx
  packages/react/src/components/Calendar/components/Calendar.types.ts
  packages/react/src/components/Calendar/components/CalendarTimeline.tsx
  packages/react/src/components/Calendar/components/calendar.scss
  packages/react/src/components/Calendar/telemetry.yml
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: fix:theme settings dependencies
  packages/react/src/components/ThemeSettings/package.json
  yarn.lock
Due: none

fix: fix:theme settings dependencies (#1015)
  packages/react/src/components/ThemeSettings/package.json
  yarn.lock
Due: none

feat(animated-header): Tooltips are now optional
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/types.ts
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/HeaderTitle.tsx
Due: none

feat(animated-header): update snapshot tests
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
Due: prettier --cache --write

feat: migrate square card from gatsby
  packages/react/src/components/MDXComponents/components/square-card/_square-card.scss
  packages/react/src/components/MDXComponents/components/square-card/square-card.stories.jsx
  packages/react/src/components/MDXComponents/components/square-card/square-card.tsx
  packages/react/src/components/MDXComponents/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

support tooltip
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

temp skip solis test
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

fix: (global-header) support tooltip plus other fixes (#1022)
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

Remove skip
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none
