Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(Markdown): added padding to show component
  packages/react/src/components/MDXComponents/components/markdown/ol.stories.jsx
  packages/react/src/components/MDXComponents/components/markdown/ul.stories.jsx
Due: none

fix(images): moved to their respective directories
  packages/react/.storybook/storybook-images/rosno_matt.png
  packages/react/src/components/MDXComponents/components/art-direction/art-direction.stories.jsx
  packages/react/src/components/MDXComponents/components/art-direction/desktop.jpg
  packages/react/src/components/MDXComponents/components/art-direction/mobile.jpg
  packages/react/src/components/MDXComponents/components/art-direction/tablet.jpg
  packages/react/src/components/MDXComponents/components/article-card/article-card.stories.jsx
  packages/react/src/components/MDXComponents/components/article-card/article06.png
  packages/react/src/components/MDXComponents/components/card-group/card-group.stories.jsx
  packages/react/src/components/MDXComponents/components/card-group/sketch-icon.png
  packages/react/src/components/MDXComponents/components/do-dont/do-dont.stories.jsx
  packages/react/src/components/MDXComponents/components/do-dont/light-theme.jpg
  packages/react/src/components/MDXComponents/components/gif-player/cloud.gif
  packages/react/src/components/MDXComponents/components/gif-player/cloud.jpg
  packages/react/src/components/MDXComponents/components/gif-player/gif-player.stories.jsx
  packages/react/src/components/MDXComponents/components/image-wrapper/accordion-style-3.png
  packages/react/src/components/MDXComponents/components/image-wrapper/image-wrapper.stories.jsx
  packages/react/src/components/MDXComponents/components/resource-card/resource-card.stories.jsx
  packages/react/src/components/MDXComponents/components/video/local-poster.jpeg
  packages/react/src/components/MDXComponents/components/video/local-video.mp4
  packages/react/src/components/MDXComponents/components/video/video.stories.jsx
Due: none

fix(Header): make menu slide under
  packages/react/src/components/UIShell/components/HeaderAction.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(mdx): map markdown components
  packages/react/.storybook/preview.js
  packages/react/src/components/ExampleButton/__docs__/Accessibility.mdx
  packages/react/src/components/ExampleButton/__docs__/Style.mdx
  packages/react/src/components/ExampleButton/__docs__/Usage.mdx
  packages/react/src/components/MDXComponents/components/link/_link.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(mdx): remove comment
  packages/react/.storybook/preview.js
Due: none

add markdown theme
  packages/react/.storybook/preview.js
  packages/react/.storybook/theme.js
Due: none

chore: update default reviewer team (#515)
  .github/CODEOWNERS
Due: none

feat(MDXComponents): global import
  packages/react/.storybook/preview.js
  packages/react/src/components/ExampleButton/__docs__/Accessibility.mdx
  packages/react/src/components/ExampleButton/__docs__/Style.mdx
  packages/react/src/components/ExampleButton/__docs__/Usage.mdx
Due: none

fix: change .tsx to .js in index
  packages/react/src/components/MDXComponents/index.ts
Due: none

feat(telemetry): generate telemetry.yml file
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/MDXComponents/telemetry.yml
Due: none

fix: update imports
  packages/react/src/components/MDXComponents/index.ts
Due: none

fix(test): remove unnecessary module file
  packages/react/src/components/MDXComponents/components/modules.d.ts
Due: none

feat(empty state): update owner info
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
Due: none

Removing products as a dev dependency
  packages/react/src/components/WhatsNew/package.json
Due: none

debugging build issue, adding products back as dev dep. ran clean, install, and build scripts
  packages/react/src/components/WhatsNew/package.json
  yarn.lock
Due: none

fix: storybook
  packages/react/.storybook/preview.js
Due: none

fix(animated-header): bug fixes
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.js.snap
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(animated-header): overflow hidden on collapse
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.js.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(mdx): populate example button docs
  packages/react/.storybook/preview.js
  packages/react/.storybook/styles.scss
  packages/react/.storybook/theme.js
  packages/react/src/components/ExampleButton/__docs__/Accessibility.mdx
  packages/react/src/components/ExampleButton/__docs__/Style.mdx
  packages/react/src/components/ExampleButton/__docs__/Usage.mdx
  packages/react/src/components/ExampleButton/__docs__/images/accordion-accessibility-1.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-accessibility-2.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-accessibility-3.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-accessibility-4.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-alignment-do-2.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-alignment-do.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-alignment-dont.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-anatomy.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-click-target.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-flush-spec.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-flush.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-placement-1.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-placement-2.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-placement-2m.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-state-1.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-state-2.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-state-3.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-style-1.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-style-2.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-style-3.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-style-4.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-style-5.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-style-6.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-style-7.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-style-size.png
  packages/react/src/components/ExampleButton/__docs__/images/accordion-usage-1.png
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(MDXComponents): overview doc
  packages/react/src/components/MDXComponents/overview.mdx
Due: none

fix: address comments
  packages/react/.storybook/preview.js
  packages/react/src/components/MDXComponents/components/anchor-links/_anchor-links.scss
  packages/react/src/components/MDXComponents/components/anchor-links/anchor-link.tsx
  packages/react/src/components/MDXComponents/components/markdown/_markdown.scss
  packages/react/src/components/MDXComponents/components/page-table/_page-table.scss
  packages/react/src/components/MDXComponents/components/tabs/_tabs.scss
  packages/react/src/components/MDXComponents/overview.mdx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: addressed more
  packages/react/.storybook/preview.js
  packages/react/.storybook/styles.scss
  packages/react/src/components/MDXComponents/components/markdown/_markdown.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

format
  packages/react/src/components/MDXComponents/components/markdown/_markdown.scss
  packages/react/src/components/MDXComponents/components/page-table/_page-table.scss
  packages/react/src/components/MDXComponents/components/tabs/_tabs.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Apply suggestions from code review
  packages/react/src/components/MDXComponents/overview.mdx
Due: none

feat(uxe-help-request): add g10 global theme for stackblitz example
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
Due: none

fix: styles format
  packages/react/src/components/MDXComponents/components/markdown/_markdown.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: change scss import path
  packages/react/.storybook/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add package-specific review teams
  .github/CODEOWNERS
Due: none

fix(MDXComponents): added InlineCode
  packages/react/.storybook/preview.js
  packages/react/src/components/MDXComponents/components/code/code.tsx
  packages/react/src/components/MDXComponents/components/code/inline-code.tsx
  packages/react/src/components/MDXComponents/components/markdown/_markdown.scss
  packages/react/src/components/MDXComponents/index.ts
  packages/react/src/components/MDXComponents/overview.mdx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(AnchorLink): small has new class
  packages/react/src/components/MDXComponents/components/anchor-links/_anchor-links.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: ThemeSettings component with in context example (#451)
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.mdx
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.stories.js
  packages/react/src/components/ThemeSettings/__stories__/storybook.scss
  packages/react/src/components/ThemeSettings/__tests__/ThemeSettings-test.js
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/ThemeSettings/components/ThemeMenuComplement.tsx
  packages/react/src/components/ThemeSettings/components/ThemeSetDropdown.tsx
  packages/react/src/components/ThemeSettings/components/ThemeSettings.tsx
  packages/react/src/components/ThemeSettings/components/ThemeSwitcher.tsx
  packages/react/src/components/ThemeSettings/components/index.ts
  packages/react/src/components/ThemeSettings/components/theme-settings-consts.ts
  packages/react/src/components/ThemeSettings/components/theme-settings-types.ts
  packages/react/src/components/ThemeSettings/components/theme-settings.scss
  packages/react/src/components/ThemeSettings/index.ts
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/ThemeSettings/tsconfig.json
  packages/react/src/components/ThemeSettings/utils/use-theme-setting.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
Due: prettier --cache --write

Missing styles from example - package.lock file too
  examples/react/WhatsNew/package-lock.json
  examples/react/WhatsNew/src/index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(uxe-help-request): add root default theme as g10
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
