Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore(format): fix formatting
  docs/v12-storybook-architecture.md
Due: prettier --cache --write

chore(yarn): clean `yarn.lock` (#1229)
  .eslintignore
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/ContentSwitcherSelector/ContentSwitcherSelector.tsx
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/SplitPanel-test.js.snap
  packages/react/src/components/TagInput/__tests__/__snapshots__/TagInput.test.js.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.jsx.snap
  packages/web-components/tasks/build-dist.js
  yarn.lock
Due: none

fix: review fixes for tokens and breakpoints
  packages/react/src/components/Calendar/CHANGELOG.md
  packages/react/src/components/Calendar/components/Calendar.tsx
  packages/react/src/components/Calendar/components/calendar.scss
  packages/react/src/components/Calendar/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: added transitions for sidebar
  packages/react/src/components/Calendar/components/calendar.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TagInput/CHANGELOG.md
  packages/react/src/components/TagInput/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/v12/components/DatePicker/CHANGELOG.md
  packages/react/src/v12/components/DatePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/v12/components/date-picker/CHANGELOG.md
  packages/web-components/src/v12/components/date-picker/package.json
Due: prettier --cache --write

chore(examples): fix web component examples
  examples/web-components/empty-state/package.json
  examples/web-components/example-button/package.json
  examples/web-components/feedback/package.json
  examples/web-components/first-time-orientation/package.json
  examples/web-components/global-header/package.json
  examples/web-components/global-header/src/index.js
  examples/web-components/network-graph/package.json
  examples/web-components/style-picker/package.json
  examples/web-components/tag/package.json
  examples/web-components/toolbar/package.json
  examples/web-components/ux-control/package.json
Due: none

test: update Calendar snapshot for improved aria-labels
  packages/react/src/components/Calendar/__tests__/__snapshots__/Calendar-test.tsx.snap
Due: none

startCookiePolling and tests
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

chore(examples): update react examples
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/FirstTimeOrientation/src/App.tsx
  examples/react/Processing/index.html
  examples/react/Processing/package.json
  examples/react/Resizer/index.html
  examples/react/Resizer/src/App.tsx
  examples/react/Resizer/src/index.scss
  examples/react/StylePicker/package.json
  examples/react/StylePicker/vite.config.ts
  examples/react/TagInput/package.json
  examples/react/TextHighlighter/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(prettier): format code
  examples/react/Resizer/src/App.tsx
  examples/react/StylePicker/vite.config.ts
Due: none

chore(stylelint): format code
  examples/react/Resizer/src/index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(build): fix build errors
  packages/web-components/.storybook/main.js
  packages/web-components/src/components/chat/components/cardElement/src/cardElement.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

First pass at a FocusRegion component
  examples/react/FocusRegion/index.html
  examples/react/FocusRegion/package.json
  examples/react/FocusRegion/src/App.tsx
  examples/react/FocusRegion/src/index.scss
  examples/react/FocusRegion/src/main.tsx
  examples/react/FocusRegion/src/vite-env.d.ts
  examples/react/FocusRegion/tsconfig.json
  examples/react/FocusRegion/tsconfig.node.json
  examples/react/FocusRegion/vite.config.ts
  packages/react/src/components/AnimatedHeader/components/types.ts
  packages/react/src/components/FocusRegion/README.md
  packages/react/src/components/FocusRegion/SPECIFICATION.md
  packages/react/src/components/FocusRegion/__stories__/FocusRegion.mdx
  packages/react/src/components/FocusRegion/__stories__/FocusRegion.stories.js
  packages/react/src/components/FocusRegion/__tests__/FocusRegion.test.js
  packages/react/src/components/FocusRegion/components/FocusRegion.tsx
  packages/react/src/components/FocusRegion/components/NavigationHint.tsx
  packages/react/src/components/FocusRegion/components/focus-region.scss
  packages/react/src/components/FocusRegion/hooks/useFocusGroupModal.ts
  packages/react/src/components/FocusRegion/hooks/useFocusRegion.ts
  packages/react/src/components/FocusRegion/index.ts
  packages/react/src/components/FocusRegion/package.json
  packages/react/src/components/FocusRegion/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update AGENTS.md
  AGENTS.md
Due: prettier --cache --write

chore(prettier): format
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/SideNav.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
Due: none

chore(jest): update snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/SplitPanel-test.js.snap
  packages/react/src/components/TagInput/__tests__/__snapshots__/TagInput.test.js.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.jsx.snap
Due: none

chore: sync yarn.lock with upstream main
  yarn.lock
Due: none

test: update Calendar snapshot for upstream dependency changes
  packages/react/src/components/Calendar/__tests__/__snapshots__/Calendar-test.tsx.snap
Due: none

Properly handle fake timers
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
Due: none

chore: sync web-components snapshot files with main
  packages/web-components/src/components/example-button/__tests__/__snapshots__/example-button.test.snap.js
  packages/web-components/src/components/resizer/__tests__/__snapshots__/resizer.test.snap.js
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
Due: none

chore: sync Storybook config files with main
  .storybook/main.js
Due: none

chore: sync packages/react/.storybook/main.js with main
  packages/react/.storybook/main.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/Calendar/CHANGELOG.md
  packages/react/src/components/Calendar/package.json
Due: prettier --cache --write

chore(deps): upgrade babel-cli to @babel/cli
  packages/utilities/package.json
  yarn.lock
Due: none

chore(deps): bump lerna to latest version
  package.json
  yarn.lock
Due: none

chore(yarn): regenerate basic-ftp version resolution
  yarn.lock
Due: none

chore(deps): bump codeceptjs to latest version
  packages/web-components/src/components/global-header/package.json
  yarn.lock
Due: none

chore(yarn): refresh lockfile
  yarn.lock
Due: none

chore(jest): update react snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/Calendar/__tests__/__snapshots__/Calendar-test.tsx.snap
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/SplitPanel-test.js.snap
  packages/react/src/components/TagInput/__tests__/__snapshots__/TagInput.test.js.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.jsx.snap
Due: none

fix: missing storybook patterns section
  packages/react/.storybook/main.js
  packages/web-components/.storybook/main.js
Due: none

fix: add better pattern for storiesGlobs
  packages/react/.storybook/main.js
  packages/web-components/.storybook/main.js
Due: none

refactor: move patterns to components with kebab-case naming
  packages/web-components/src/components/first-time-orientation/__stories__/first-time-orientation.mdx
  packages/web-components/src/components/first-time-orientation/__stories__/first-time-orientation.stories.js
  packages/web-components/src/components/first-time-orientation/__stories__/story-styles.scss
  packages/web-components/src/components/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input
