Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

resolved comments
  packages/react/README.md
  packages/react/public/favicon.ico
  packages/react/public/index.html
  packages/react/public/logo192.png
  packages/react/public/logo512.png
  packages/react/public/manifest.json
  packages/react/public/robots.txt
Due: prettier --cache --write

modified mdx
  packages/react/src/components/ExampleButton/__stories__/ExampleButton.mdx
Due: none

yarn lock conflict
  yarn.lock
Due: none

yarn lock main
  yarn.lock
Due: none

lock file fix
  yarn.lock
Due: none

chore: clean up for ci-check
  packages/react/__mocks__/styleMock.js
  packages/react/jest.config.js
  packages/react/jest.setup.ts
  packages/react/src/components/ExampleButton/__stories__/ExampleButton.stories.js
  packages/react/src/components/ExampleButton/__tests__/ExampleButton-test.js
  packages/react/src/components/ExampleButton/components/ExampleButton.tsx
  packages/react/src/components/ExampleButton/components/button.scss
  packages/react/src/components/ExampleButton/index.ts
  packages/react/src/components/ExampleButton/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(storybook): react boilerplate (#324)
  packages/react/.babelrc
  packages/react/.gitignore
  packages/react/.storybook/main.js
  packages/react/.storybook/preview.js
  packages/react/.storybook/styles.scss
  packages/react/.storybook/theme.js
  packages/react/__mocks__/styleMock.js
  packages/react/jest.config.js
  packages/react/jest.setup.ts
  packages/react/package.json
  packages/react/src/components/ExampleButton/__stories__/ExampleButton.mdx
  packages/react/src/components/ExampleButton/__stories__/ExampleButton.stories.js
  packages/react/src/components/ExampleButton/__tests__/ExampleButton-test.js
  packages/react/src/components/ExampleButton/__tests__/__snapshots__/ExampleButton-test.js.snap
  packages/react/src/components/ExampleButton/components/ExampleButton.tsx
  packages/react/src/components/ExampleButton/components/button.scss
  packages/react/src/components/ExampleButton/index.ts
  packages/react/src/components/ExampleButton/package.json
  packages/react/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add boilerplate web component
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/__stories__/example-button.stories.js
  packages/web-components/src/components/example-button/__tests__/__snapshots__/extended-button.test.snap.js
  packages/web-components/src/components/example-button/__tests__/example-button.test.ts
  packages/web-components/src/components/example-button/components/example-button/example-button.ts
  packages/web-components/src/components/example-button/components/example-button/src/example-button.scss
  packages/web-components/src/components/example-button/components/example-button/src/example-button.template.ts
  packages/web-components/src/components/example-button/index.ts
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/example-button/react/example-button.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add boilerplate web component (#328)
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/__stories__/example-button.stories.js
  packages/web-components/src/components/example-button/__tests__/__snapshots__/extended-button.test.snap.js
  packages/web-components/src/components/example-button/__tests__/example-button.test.ts
  packages/web-components/src/components/example-button/components/example-button/example-button.ts
  packages/web-components/src/components/example-button/components/example-button/src/example-button.scss
  packages/web-components/src/components/example-button/components/example-button/src/example-button.template.ts
  packages/web-components/src/components/example-button/index.ts
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/example-button/react/example-button.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(storybook): fix storybook build
  packages/react/.storybook/main.js
  packages/react/package.json
  packages/react/src/components/ExampleButton/__stories__/ExampleButton.stories.js
  packages/react/src/components/ExampleButton/components/ExampleButton.tsx
  packages/react/src/components/ExampleButton/components/example-button.scss
  packages/web-components/.storybook/main.js
  packages/web-components/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Create CNAME
  CNAME
Due: none

Delete CNAME
  CNAME
Due: none

chore: add nojekyll file
  .nojekyll
Due: none

chore: update storybook publishing workflows
  .github/workflows/storybook-publish-production.yml
  .github/workflows/storybook-publish-staging.yml
  .github/workflows/storybook-publish.yml
Due: none

chore: update storybook references
  README.md
  packages/web-components/src/components/chat/components/chat/__stories__/chat.mdx
Due: prettier --cache --write

chore: remove reference to storybook workflow
  .github/workflows/release.yml
Due: none

chore(stories): hide and update
  packages/web-components/src/components/chat/components/cardElement/_stories-dont-show_/cardElement.stories.js
  packages/web-components/src/components/chat/components/cardElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/carouselElement/_stories-dont-show_/carouselElement.stories.js
  packages/web-components/src/components/chat/components/carouselElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/web-components/src/components/chat/components/chat/_stories-dont-show_/chat.mdx
  packages/web-components/src/components/chat/components/chat/_stories-dont-show_/chat.stories.js
  packages/web-components/src/components/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/web-components/src/components/chat/components/diagramElement/_stories-dont-show_/diagramElement.stories.js
  packages/web-components/src/components/chat/components/diagramElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/editableTextElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/editableTextElement/_stories-dont-show_/editableTextElement.stories.js
  packages/web-components/src/components/chat/components/errorElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/errorElement/_stories-dont-show_/errorElement.stories.js
  packages/web-components/src/components/chat/components/fileUploadElement/__stories__/fileUploadElement.stories.js
  packages/web-components/src/components/chat/components/footer/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/footer/_stories-dont-show_/footer.stories.js
  packages/web-components/src/components/chat/components/formulaElement/__stories__/formulaElement.stories.js
  packages/web-components/src/components/chat/components/header/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/header/_stories-dont-show_/header.stories.js
  packages/web-components/src/components/chat/components/imageElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/imageElement/_stories-dont-show_/imageElement.stories.js
  packages/web-components/src/components/chat/components/linkListElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/linkListElement/_stories-dont-show_/linkListElement.stories.js
  packages/web-components/src/components/chat/components/listElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/listElement/_stories-dont-show_/listElement.stories.js
  packages/web-components/src/components/chat/components/loadingElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/loadingElement/_stories-dont-show_/loadingElement.stories.js
  packages/web-components/src/components/chat/components/message/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/message/_stories-dont-show_/message.stories.js
  packages/web-components/src/components/chat/components/messages/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/messages/_stories-dont-show_/messages.stories.js
  packages/web-components/src/components/chat/components/molecularElement/__stories__/molecularElement.stories.js
  packages/web-components/src/components/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/web-components/src/components/chat/components/tableElement/__stories__/tableElement.stories.js
  packages/web-components/src/components/chat/components/tagListElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/tagListElement/_stories-dont-show_/tagListElement.stories.js
  packages/web-components/src/components/chat/components/textElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/textElement/_stories-dont-show_/text.mdx
  packages/web-components/src/components/chat/components/textElement/_stories-dont-show_/textElement.stories.js
Due: none

chore: update storybook env url strategy (#329)
  .github/workflows/release.yml
  .github/workflows/storybook-publish-production.yml
  .github/workflows/storybook-publish-staging.yml
  .github/workflows/storybook-publish.yml
  README.md
  packages/react/.storybook/main.js
  packages/react/package.json
  packages/react/src/components/ExampleButton/__stories__/ExampleButton.stories.js
  packages/react/src/components/ExampleButton/components/ExampleButton.tsx
  packages/react/src/components/ExampleButton/components/example-button.scss
  packages/web-components/.storybook/main.js
  packages/web-components/package.json
  packages/web-components/src/components/chat/components/chat/__stories__/chat.mdx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add build step in storybook publish workflow
  .github/workflows/storybook-publish.yml
Due: none

chore(deploy): deploy react storybook
  react/components-ExampleButton-__stories__-ExampleButton-mdx.86ad823a.iframe.bundle.js
  react/components-ExampleButton-__stories__-ExampleButton-mdx.86ad823a.iframe.bundle.js.LICENSE.txt
  react/components-ExampleButton-__stories__-ExampleButton-mdx.e7145578.iframe.bundle.js
  react/iframe.html
  react/index.html
  react/project.json
  react/runtime~main.c2c0c3ab.iframe.bundle.js
  react/runtime~main.f29674d5.iframe.bundle.js
Due: none

chore: update storybook publishing job name
  .github/workflows/storybook-publish.yml
Due: none

chore(deploy): deploy web-components storybook
  web-components/project.json
Due: none

chore(deploy): deploy react storybook
  react/project.json
Due: none

fix(stories): ai components
  packages/web-components/src/components/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/web-components/src/components/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/web-components/src/components/chat/components/fileUploadElement/__stories__/fileUploadElement.stories.js
  packages/web-components/src/components/chat/components/formulaElement/__stories__/formulaElement.stories.js
  packages/web-components/src/components/chat/components/molecularElement/__stories__/molecularElement.stories.js
  packages/web-components/src/components/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/web-components/src/components/chat/components/tableElement/__stories__/tableElement.stories.js
Due: none

chore(chat): extensive code updates, formula rendering, chart edits
  packages/web-components/src/components/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples2.json
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples3.json
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.scss
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.template.ts
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.ts
  packages/web-components/src/components/chat/components/chat/src/chat.template.ts
  packages/web-components/src/components/chat/components/chat/src/chat.ts
  packages/web-components/src/components/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/web-components/src/components/chat/components/codeElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.scss
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.template.ts
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.ts
  packages/web-components/src/components/chat/components/footer/src/footer.ts
  packages/web-components/src/components/chat/components/formulaElement/src/formulaElement.ts
  packages/web-components/src/components/chat/components/message/src/message.ts
  packages/web-components/src/components/chat/components/messages/src/messages.ts
  packages/web-components/src/components/chat/components/popupElement/src/popupElement.scss
  packages/web-components/src/components/chat/components/popupElement/src/popupElement.template.ts
  packages/web-components/src/components/chat/components/tagListElement/src/tagListElement.ts
  packages/web-components/src/components/chat/components/textElement/__stories__/textElement.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(stories): hide and update (#331)
  packages/web-components/src/components/chat/components/cardElement/_stories-dont-show_/cardElement.stories.js
  packages/web-components/src/components/chat/components/cardElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/carouselElement/_stories-dont-show_/carouselElement.stories.js
  packages/web-components/src/components/chat/components/carouselElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/web-components/src/components/chat/components/chat/_stories-dont-show_/chat.mdx
  packages/web-components/src/components/chat/components/chat/_stories-dont-show_/chat.stories.js
  packages/web-components/src/components/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/web-components/src/components/chat/components/diagramElement/_stories-dont-show_/diagramElement.stories.js
  packages/web-components/src/components/chat/components/diagramElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/editableTextElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/editableTextElement/_stories-dont-show_/editableTextElement.stories.js
  packages/web-components/src/components/chat/components/errorElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/errorElement/_stories-dont-show_/errorElement.stories.js
  packages/web-components/src/components/chat/components/fileUploadElement/__stories__/fileUploadElement.stories.js
  packages/web-components/src/components/chat/components/footer/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/footer/_stories-dont-show_/footer.stories.js
  packages/web-components/src/components/chat/components/formulaElement/__stories__/formulaElement.stories.js
  packages/web-components/src/components/chat/components/header/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/header/_stories-dont-show_/header.stories.js
  packages/web-components/src/components/chat/components/imageElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/imageElement/_stories-dont-show_/imageElement.stories.js
  packages/web-components/src/components/chat/components/linkListElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/linkListElement/_stories-dont-show_/linkListElement.stories.js
  packages/web-components/src/components/chat/components/listElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/listElement/_stories-dont-show_/listElement.stories.js
  packages/web-components/src/components/chat/components/loadingElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/loadingElement/_stories-dont-show_/loadingElement.stories.js
  packages/web-components/src/components/chat/components/message/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/message/_stories-dont-show_/message.stories.js
  packages/web-components/src/components/chat/components/messages/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/messages/_stories-dont-show_/messages.stories.js
  packages/web-components/src/components/chat/components/molecularElement/__stories__/molecularElement.stories.js
  packages/web-components/src/components/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/web-components/src/components/chat/components/tableElement/__stories__/tableElement.stories.js
  packages/web-components/src/components/chat/components/tagListElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/tagListElement/_stories-dont-show_/tagListElement.stories.js
  packages/web-components/src/components/chat/components/textElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/textElement/_stories-dont-show_/text.mdx
  packages/web-components/src/components/chat/components/textElement/_stories-dont-show_/textElement.stories.js
Due: none

chore(chat): added yarn lock
  yarn.lock
Due: none

Update README.md
  README.md
Due: prettier --cache --write

chore(deps): sync deps and versions in packages
  examples/web-components/feedback/package.json
  examples/web-components/network-graph/package.json
  examples/web-components/tag/package.json
  examples/web-components/ux-control/package.json
  package.json
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Due: none
