Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

header-logo slot
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__tests__/CommonHeader.test.ts
Due: none

header-logo slot (#1193)
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__tests__/CommonHeader.test.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

feat(systemTopology3D): update package.json
  packages/react/src/components/SystemTopology3D/package.json
  yarn.lock
Due: none

feat(systemTopology3D): primitives fix
  .gitattributes
  packages/react/src/components/SystemTopology3D/package.json
  yarn.lock
Due: none

feat(systemTopology3D): yarn format
  packages/react/src/components/SystemTopology3D/src/AlignedGroup.tsx
  packages/react/src/components/SystemTopology3D/src/Controls.tsx
  packages/react/src/components/SystemTopology3D/src/Scene.tsx
  packages/react/src/components/SystemTopology3D/src/SystemTopology3D.tsx
  packages/react/src/components/SystemTopology3D/src/a11y/messages.js
  packages/react/src/components/SystemTopology3D/src/a11y/primaryNavigation.js
  packages/react/src/components/SystemTopology3D/src/a11y/useCanvasA11y.js
  packages/react/src/components/SystemTopology3D/src/data/buildRowsFromVisualizationData.ts
  packages/react/src/components/SystemTopology3D/src/data/mockAccountDataNoColumnIndex.ts
  packages/react/src/components/SystemTopology3D/src/global.d.ts
  packages/react/src/components/SystemTopology3D/src/hooks/useResponsiveDimensions.ts
  packages/react/src/components/SystemTopology3D/src/interactionContext.tsx
  packages/react/src/components/SystemTopology3D/src/layout/a11yItems.js
  packages/react/src/components/SystemTopology3D/src/layout/tabItems.js
  packages/react/src/components/SystemTopology3D/src/layout/utils.js
  packages/react/src/components/SystemTopology3D/src/subcomponents/CoreLayer/index.js
  packages/react/src/components/SystemTopology3D/src/subcomponents/FoundationLayer/index.js
  packages/react/src/components/SystemTopology3D/src/subcomponents/PrimaryLayer/PrimaryLayerCarouselLogic.js
  packages/react/src/components/SystemTopology3D/src/subcomponents/shared/focusRingGeometry.js
  packages/react/src/components/SystemTopology3D/src/subcomponents/shared/index.js
  packages/react/src/components/SystemTopology3D/src/types/color-tokens.ts
  packages/react/src/components/SystemTopology3D/src/types/index.ts
  packages/react/src/components/SystemTopology3D/src/types/visualization-config.ts
  packages/react/src/components/SystemTopology3D/src/utils/gradientParser.js
  packages/react/src/components/SystemTopology3D/src/utils/primaryLayer.ts
  packages/react/src/components/SystemTopology3D/src/vite-env.d.ts
Due: none

feat(systemTopology3D): update owners
  packages/react/src/components/SystemTopology3D/__stories__/SystemTopology3D.mdx
Due: none

feat(tools): add carbon-labs-init
  package.json
  tools/carbon-labs-init/README.md
  tools/carbon-labs-init/bin/carbon-labs-init.js
  tools/carbon-labs-init/package.json
  tools/carbon-labs-init/scripts/inject-mdx.js
  tools/carbon-labs-init/src/commands/new.js
  tools/carbon-labs-init/src/index.js
  tools/carbon-labs-init/src/lib/config.js
  tools/carbon-labs-init/src/lib/git.js
  tools/carbon-labs-init/src/lib/github.js
  tools/carbon-labs-init/src/lib/logger.js
  tools/carbon-labs-init/src/lib/mdx.js
  tools/carbon-labs-init/src/lib/names.js
  tools/carbon-labs-init/src/lib/owners.js
  tools/carbon-labs-init/test/config.test.js
  tools/carbon-labs-init/test/mdx.test.js
  tools/carbon-labs-init/test/names.test.js
  tools/carbon-labs-init/test/owners.test.js
  yarn.lock
Due: prettier --cache --write

feat(tools): add labs-kit
  package.json
  tools/labs-kit/README.md
  tools/labs-kit/bin/labs-kit.js
  tools/labs-kit/package.json
  tools/labs-kit/scripts/inject-mdx.js
  tools/labs-kit/src/commands/new.js
  tools/labs-kit/src/commands/prep.js
  tools/labs-kit/src/index.js
  tools/labs-kit/src/utils/config.js
  tools/labs-kit/src/utils/git.js
  tools/labs-kit/src/utils/github.js
  tools/labs-kit/src/utils/license.js
  tools/labs-kit/src/utils/logger.js
  tools/labs-kit/src/utils/mdx.js
  tools/labs-kit/src/utils/names.js
  tools/labs-kit/src/utils/owners.js
  tools/labs-kit/test/config.test.js
  tools/labs-kit/test/license.test.js
  tools/labs-kit/test/mdx.test.js
  tools/labs-kit/test/names.test.js
  tools/labs-kit/test/owners.test.js
  yarn.lock
Due: prettier --cache --write

docs: add Carbon Labs contribution agent guide
  AGENTS.md
Due: prettier --cache --write

fix(TextHighlighter): Improve the visibility and readability of the reference annotation
  packages/react/src/components/TextHighlighter/components/text-highlighter.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

add header logo to wrapper component
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

add header logo to wrapper component (#1197)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

feat(planeStack3D): update component name to PlaneStack3D from StackGrid3D
  packages/react/src/components/PlaneStack3D/__tests__/PlaneStack3D.test.js
  packages/react/src/components/PlaneStack3D/src/a11y/messages.js
  packages/react/src/components/PlaneStack3D/src/data/mockAccountData.ts
Due: none

feat(planeStack3D): update tests
  packages/react/src/components/PlaneStack3D/__tests__/PlaneStack3D.test.js
Due: none

chore(deploy): deploy storybook
  index.html
  project.json
Due: none

feat(tools): rename create utility
  .husky/pre-commit
  .lintstagedrc
  AGENTS.md
  README.md
  package.json
  tools/create/README.md
  tools/create/bin/create.js
  tools/create/package.json
  tools/create/scripts/inject-mdx.js
  tools/create/src/commands/new.js
  tools/create/src/index.js
  tools/create/src/utils/config.js
  tools/create/src/utils/git.js
  tools/create/src/utils/github.js
  tools/create/src/utils/license.js
  tools/create/src/utils/logger.js
  tools/create/src/utils/mdx.js
  tools/create/src/utils/names.js
  tools/create/src/utils/owners.js
  tools/create/test/config.test.js
  tools/create/test/license.test.js
  tools/create/test/mdx.test.js
  tools/create/test/names.test.js
  tools/create/test/owners.test.js
  tools/labs-kit/src/commands/new.js
  tools/labs-kit/src/commands/prep.js
  tools/scaffold.js
  yarn.lock
Due: prettier --cache --write

feat(tools): add contribution prep script
  AGENTS.md
  README.md
  package.json
  tools/create/README.md
  tools/prep.js
Due: prettier --cache --write
