Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix(calendar): stackblitz example added
  examples/react/Calendar/.gitignore
  examples/react/Calendar/index.html
  examples/react/Calendar/package.json
  examples/react/Calendar/src/App.tsx
  examples/react/Calendar/src/index.scss
  examples/react/Calendar/src/main.tsx
  examples/react/Calendar/src/vite-env.d.ts
  examples/react/Calendar/tsconfig.json
  examples/react/Calendar/tsconfig.node.json
  examples/react/Calendar/vite.config.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(calendar): stackblitz example formatting
  examples/react/Calendar/src/App.tsx
Due: none

adding basepath for solis
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

format
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

fix: Basepath for solis (#981)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

fix(calendar): test snapshot updated
  packages/react/src/components/Calendar/__tests__/__snapshots__/Calendar-test.tsx.snap
Due: none

feat: add vscode-snippets-extension
  packages/vscode-snippets-extension/.gitignore
  packages/vscode-snippets-extension/.vscodeignore
  packages/vscode-snippets-extension/CHANGELOG.md
  packages/vscode-snippets-extension/LICENSE
  packages/vscode-snippets-extension/PUBLISHING.md
  packages/vscode-snippets-extension/README.md
  packages/vscode-snippets-extension/SETUP.md
  packages/vscode-snippets-extension/demo-optimized.gif
  packages/vscode-snippets-extension/demo.gif
  packages/vscode-snippets-extension/demo.gif.md
  packages/vscode-snippets-extension/demo.mp4
  packages/vscode-snippets-extension/icon.png
  packages/vscode-snippets-extension/package.json
  packages/vscode-snippets-extension/scripts/copy-snippets.js
Due: prettier --cache --write

feat: add theme prefix to snippets
  packages/vscode-snippets/src/carbon-theme.code-snippets
Due: none

fix: yarn lock
  yarn.lock
Due: none

fix: ci issue
  packages/vscode-snippets/package.json
Due: none

removing proxy from window object for now
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

stupid format
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

Add @carbon-labs/utillities as a dev dep of ThemeSettings
  packages/react/src/components/ThemeSettings/package.json
Due: none

Add @carbon-labs/utilities as dev dependency in yarn.lock
  yarn.lock
Due: none

feat: Snippets theme prefix (#984)
  packages/vscode-snippets/src/carbon-theme.code-snippets
Due: none

Revert "Add @carbon-labs/utilities as dev dependency in yarn.lock"
  yarn.lock
Due: none

Revert "Add @carbon-labs/utillities as a dev dep of ThemeSettings"
  packages/react/src/components/ThemeSettings/package.json
Due: none

upgrade to latest carbon/web-components
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/styles/_carbon.scss
  packages/web-components/src/components/global-header/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: remove test story
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
Due: none

main
  README.md
Due: prettier --cache --write

fix(sidenav): add isActive styles for `navType="panel"` (#970)
  packages/react/src/components/UIShell/components/SideNavLink.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: removing proxy from window object for now (#987)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  packages/vscode-snippets/CHANGELOG.md
  packages/vscode-snippets/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

dedupe
  yarn.lock
Due: none

fix: use app icon
  packages/vscode-snippets-extension/icon.png
Due: none
