Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore: add toolbar example as a pattern (story only) (#560)
  examples/web-components/toolbar/.gitignore
  examples/web-components/toolbar/.sassrc
  examples/web-components/toolbar/gallery.config.json
  examples/web-components/toolbar/index.html
  examples/web-components/toolbar/package.json
  examples/web-components/toolbar/src/toolbar-vertical.ts
  examples/web-components/toolbar/src/toolbar.scss
  examples/web-components/toolbar/src/toolbar.ts
  examples/web-components/toolbar/tsconfig.json
  examples/web-components/toolbar/vite.config.js
  packages/web-components/package.json
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.stories.js
  packages/web-components/vite.config.js
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

chore(animated-header): fix md breakpoint layout
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): fix content overflow
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update storybook example to remove search
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: remove unused import from docs
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
Due: none

fix: add breakpoint utility for responsive side-nav rail (#624)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: content spacing with hidden rail
  packages/react/src/components/UIShell/components/styles/_content.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: cleanup
  packages/react/src/components/UIShell/components/styles/_content.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore: remove old code
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: add subtle border to side-nav rail and update padding and min-block-size
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: add SideNavDecorativeIcon component and styles
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavDecorativeIcon.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

refactor: rename to SideNavPin
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavPin.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: pass expanded prop to SideNavDecorativeIcon for conditional rendering
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavDecorativeIcon.tsx
Due: none

fix: conditionally render SideNavPin based on isRail prop
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix: remove unused hover state styles from side-nav overlay
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: add hover state class for side-nav overlay
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: update side-nav rail border property to use border-inline-end
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: add enableRailPin prop to SideNav and SideNavPin
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavPin.tsx
Due: none

fix: demo
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(style-picker): init component
  examples/web-components/style-picker/cdn.html
  examples/web-components/style-picker/index.html
  examples/web-components/style-picker/package.json
  examples/web-components/style-picker/src/index.js
  examples/web-components/style-picker/src/styles.scss
  packages/web-components/src/components/style-picker/README.md
  packages/web-components/src/components/style-picker/__stories__/style-picker.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.stories.js
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/components/style-picker/style-picker.ts
  packages/web-components/src/components/style-picker/index.ts
  packages/web-components/src/components/style-picker/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): remove console logs
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
Due: none

chore(animated-header): fix height animation
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): fix skeletons safari
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): format
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
Due: none
