Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix: light countdown color
  packages/react/src/components/UIShell/components/styles/_trial-countdown.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(UIShell): update storybook and stackblitz (#552)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix(UIShell): remove box-shadow on header action focus (#554)
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(generator script): updater version in package-edit
  packages/web-components/tasks/generate/templates/package-edit.json
Due: none

fix(generator script): update package-edit
  packages/react/tasks/generate/templates/package-edit.json
  packages/web-components/tasks/generate/templates/package-edit.json
Due: none

Expose selectedDropdown items renderers
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

Format code
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

Make custom itemToString optional
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

Updated description
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

chore: add toolbar example as a pattern (story only)
  examples/web-components/toolbar/index.html
  examples/web-components/toolbar/package-lock.json
  examples/web-components/toolbar/package.json
  examples/web-components/toolbar/src/index.js
  examples/web-components/toolbar/src/styles.scss
  examples/web-components/toolbar/vite.config.js
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint, format, license
  examples/web-components/toolbar/src/styles.scss
  examples/web-components/toolbar/vite.config.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): remove strictmode from example app + tooltip (#548)
  examples/react/AnimatedHeader/src/main.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

chore(generate script): update React and WC generate (#550)
  packages/react/tasks/generate/templates/README.md
  packages/react/tasks/generate/templates/package-edit.json
  packages/web-components/tasks/generate/templates/README.md
  packages/web-components/tasks/generate/templates/package-edit.json
Due: prettier --cache --write

feat(empty state): create empty state web component (#482)
  README.md
  examples/web-components/empty-state/cdn.html
  examples/web-components/empty-state/index.html
  examples/web-components/empty-state/package.json
  examples/web-components/empty-state/src/index.js
  examples/web-components/empty-state/src/styles.scss
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/empty-state/__tests__/__snapshots__/empty-state.test.snap.js
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
  packages/web-components/src/components/empty-state/components/empty-state/empty-state.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.scss
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.template.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.ts
  packages/web-components/src/components/empty-state/index.ts
  packages/web-components/src/components/empty-state/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
Due: prettier --cache --write

fix(empty state): resolve conflict
  packages/web-components/src/components/empty-state/components/empty-state/empty-state.ts
Due: none

fix(empty state): update stories
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
Due: none

Added new props to story description
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

refactor: scss styles and add caret class name
  examples/web-components/toolbar/src/styles.scss
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(empty state): add custom illustration support (#499)
  packages/web-components/src/components/empty-state/__stories__/__assets__/empty-state-bright-magnifying-glass.svg
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/empty-state/__tests__/__snapshots__/empty-state.test.snap.js
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
  packages/web-components/src/components/empty-state/components/empty-state/empty-state.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/error-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/no-data-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/no-tags-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/not-found-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/notifications-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/unauthorized-illustration.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.scss
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.template.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.ts
  packages/web-components/src/components/empty-state/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(animated-header): cleanup Safari issues (#556)
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): Expose selectedDropdown items renderers (#559)
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none
