Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: utilities exports (#927)
  packages/react/tasks/build.js
  packages/utilities/package.json
  packages/utilities/scripts/build.sh
  packages/utilities/src/index.d.ts
  packages/utilities/src/settings/index.d.ts
  packages/utilities/src/settings/settings.d.ts
  packages/utilities/src/usePrefix.d.ts
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/CHANGELOG.md
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/CHANGELOG.md
  packages/web-components/src/components/network-graph/package.json
  yarn.lock
Due: prettier --cache --write

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

fix(style-picker): resolve not reopen issue
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

chore: resolve conflict
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/__stories__/UIShell.scss
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_header-overflow-panel.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
  packages/react/src/components/UIShell/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: resolve conflict
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: resolve conflict
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

trial analytics
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialContent/TrialContent.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialPopover/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

dedupe
  yarn.lock
Due: none

feat(global-header): trial analytics (#934)
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialContent/TrialContent.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialPopover/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

refactor: use query decorator to get trigger slot
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

fix vertical truncation
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/_index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix vertical truncation (#935)
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/_index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update to make solis environment configurable
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/constant.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSidekickScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSolisScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
