Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint
  packages/react/src/components/Resizer/components/resizer.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint and use tokens
  packages/react/src/components/Resizer/components/resizer.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: format
  packages/react/src/components/Resizer/components/resizer.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): loading/disabled states
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
  packages/react/src/components/AnimatedHeader/components/WorkspaceSelector/WorkspaceSelector.tsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): fixed dropdown onchange
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/WorkspaceSelector/WorkspaceSelector.tsx
Due: none

chore(animated-header): cleanup
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
Due: none

Moved stories for Whats New under "Patterns"
  packages/react/src/components/WhatsNew/__stories__/Bubble.stories.js
  packages/react/src/components/WhatsNew/__stories__/Toc.stories.js
  packages/react/src/components/WhatsNew/__stories__/ViewStack.stories.js
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.stories.js
Due: none

chore: docs, api updates, clean up, debounce on resize end, stable prop order and event full name
  packages/react/src/components/Resizer/__stories__/Resizer.mdx
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
  packages/react/src/components/Resizer/__tests__/Resizer.test.js
  packages/react/src/components/Resizer/components/Resizer.tsx
Due: none

chore: yarn format
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
Due: none

revert: test to basic
  packages/react/src/components/Resizer/__tests__/Resizer.test.js
Due: none

chore: WhatsNew moved under "Patterns" (#590)
  packages/react/src/components/WhatsNew/__stories__/Bubble.stories.js
  packages/react/src/components/WhatsNew/__stories__/Toc.stories.js
  packages/react/src/components/WhatsNew/__stories__/ViewStack.stories.js
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.stories.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
Due: prettier --cache --write

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

refactor: everything about how we deliver patterns consistently
  examples/web-components/toolbar/.gitignore
  examples/web-components/toolbar/.sassrc
  examples/web-components/toolbar/gallery.config.json
  examples/web-components/toolbar/index.html
  examples/web-components/toolbar/package-lock.json
  examples/web-components/toolbar/package.json
  examples/web-components/toolbar/src/index.js
  examples/web-components/toolbar/src/toolbar-vertical.ts
  examples/web-components/toolbar/src/toolbar.scss
  examples/web-components/toolbar/src/toolbar.ts
  examples/web-components/toolbar/tsconfig.json
  examples/web-components/toolbar/vite.config.js
  packages/web-components/package.json
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.stories.js
  packages/web-components/vite.config.js
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint and license
  examples/web-components/toolbar/src/toolbar.scss
  packages/web-components/vite.config.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint
  examples/web-components/toolbar/src/toolbar.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: remove irrelevant docs information
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.mdx
Due: none

chore: add basic html
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.mdx
Due: none

chore: update docs
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.mdx
Due: none

chore(Chat): extensive updates to docs
  packages/web-components/src/components/chat/carbon-labs-18.0.1.tgz
  packages/web-components/src/components/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/web-components/src/components/chat/components/chartElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples2.json
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples3.json
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.ts
  packages/web-components/src/components/chat/components/chat/__stories__/chat.stories.js
  packages/web-components/src/components/chat/components/chat/src/chat.ts
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.scss
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.ts
  packages/web-components/src/components/chat/components/diagramElement/__stories__/diagramElement.stories.js
  packages/web-components/src/components/chat/components/diagramElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/diagramElement/src/diagramElement.ts
  packages/web-components/src/components/chat/components/formulaElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/formulaElement/__stories__/formulaElement.stories.js
  packages/web-components/src/components/chat/components/historyViewer/__stories__/historyViewer.stories.js
  packages/web-components/src/components/chat/components/messages/src/messages.template.ts
  packages/web-components/src/components/chat/components/messages/src/messages.ts
  packages/web-components/src/components/chat/components/popupElement/src/popupElement.scss
  packages/web-components/src/components/chat/components/popupElement/src/popupElement.template.ts
  packages/web-components/src/components/chat/components/popupElement/src/popupElement.ts
  packages/web-components/src/components/tag/_stories-dont-show_/tag.mdx
  packages/web-components/src/components/tag/_stories-dont-show_/tag.stories.js
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: exports in ui shell
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/package.json
Due: none

fix: exports in ui shell (#603)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/package.json
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

docs(ui-shell): update import path
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: prettier --cache --write

chore: remove test story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
