Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(global-header): skip Solis CDN content assertions in CI
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

fix(global-header): skip Solis CDN content assertions in CI (#1328)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  project.json
  react/project.json
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

chore: capitalize and bump package (#1327)
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  project.json
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.08b0668b.iframe.bundle.js
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.08b0668b.iframe.bundle.js.map
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.66100d6d.iframe.bundle.js
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.66100d6d.iframe.bundle.js.map
  react/iframe.html
  react/main.7ebe30ae.iframe.bundle.js
  react/main.7ebe30ae.iframe.bundle.js.map
  react/main.fde1d307.iframe.bundle.js
  react/main.fde1d307.iframe.bundle.js.map
  react/project.json
  react/runtime~main.a20efc09.iframe.bundle.js
  react/runtime~main.a20efc09.iframe.bundle.js.map
  react/runtime~main.c0e66793.iframe.bundle.js
  react/runtime~main.c0e66793.iframe.bundle.js.map
  react/v12/iframe.html
  react/v12/main.121d7579.iframe.bundle.js
  react/v12/main.121d7579.iframe.bundle.js.map
  react/v12/main.71c09e63.iframe.bundle.js
  react/v12/main.71c09e63.iframe.bundle.js.map
  react/v12/project.json
  v12/project.json
  v12/react/iframe.html
  v12/react/main.121d7579.iframe.bundle.js
  v12/react/main.121d7579.iframe.bundle.js.map
  v12/react/main.71c09e63.iframe.bundle.js
  v12/react/main.71c09e63.iframe.bundle.js.map
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

fix: removed default author field (#1326)
  packages/react/src/components/RegistrationFlow/package.json
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/RegistrationFlow/CHANGELOG.md
  packages/react/src/components/RegistrationFlow/package.json
Due: prettier --cache --write

fix: move ref from iframe to link
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.stories.jsx
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.tsx
Due: none

fix: move ref from iframe to link (#1329)
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.stories.jsx
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.tsx
Due: none

fix(TagInput): resolve accessibility audit findings
  packages/react/src/components/TagInput/__tests__/TagInput.test.js
  packages/react/src/components/TagInput/__tests__/__snapshots__/TagInput.test.js.snap
  packages/react/src/components/TagInput/components/TagInput.tsx
  packages/react/src/components/TagInput/components/tag-input.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(deploy): deploy storybook
  project.json
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.66100d6d.iframe.bundle.js
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.66100d6d.iframe.bundle.js.map
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.dbe63978.iframe.bundle.js
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.dbe63978.iframe.bundle.js.map
  react/iframe.html
  react/index.json
  react/main.d23d7c70.iframe.bundle.js
  react/main.d23d7c70.iframe.bundle.js.map
  react/main.fde1d307.iframe.bundle.js
  react/main.fde1d307.iframe.bundle.js.map
  react/project.json
  react/runtime~main.66b3df64.iframe.bundle.js
  react/runtime~main.66b3df64.iframe.bundle.js.map
  react/runtime~main.c0e66793.iframe.bundle.js
  react/runtime~main.c0e66793.iframe.bundle.js.map
  react/v12/iframe.html
  react/v12/main.43dcfbf4.iframe.bundle.js
  react/v12/main.43dcfbf4.iframe.bundle.js.map
  react/v12/main.71c09e63.iframe.bundle.js
  react/v12/main.71c09e63.iframe.bundle.js.map
  react/v12/project.json
  v12/project.json
  v12/react/iframe.html
  v12/react/main.43dcfbf4.iframe.bundle.js
  v12/react/main.43dcfbf4.iframe.bundle.js.map
  v12/react/main.71c09e63.iframe.bundle.js
  v12/react/main.71c09e63.iframe.bundle.js.map
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

fix(taginput): update tagRefs type to HTMLLIElement and fix SCSS property order to pass build and ci-check
  packages/react/src/components/TagInput/components/TagInput.tsx
  packages/react/src/components/TagInput/components/tag-input.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: new switcher component from gatsby
  packages/react/src/components/MDXComponents/components/index.scss
  packages/react/src/components/MDXComponents/components/switcher/_switcher.scss
  packages/react/src/components/MDXComponents/components/switcher/switcher.stories.jsx
  packages/react/src/components/MDXComponents/components/switcher/switcher.tsx
  packages/react/src/components/MDXComponents/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Add solisIdleTimeoutInterval prop to hybrid ipaas header
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

fix(global-header): Pass Solis idle timeout down from header (#1332)
  packages/react/.storybook/main.js
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

chore: dedupe
  yarn.lock
Due: none

chore(animated-header): add ssr support
  packages/react/src/components/AnimatedHeader/components/AnimatedBackground/AnimatedBackground.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/HeaderTitle.tsx
  packages/react/src/components/AnimatedHeader/package.json
  yarn.lock
Due: none

chore(animated-header): remove stale lock entry
  yarn.lock
Due: none

Add Help16 and Information16 icons
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

Add Help16 and Information16 icons (#1335)
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

chore(animated-header): ssr fixes
  packages/react/src/components/AnimatedHeader/components/AnimatedBackground/AnimatedBackground.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/HeaderTitle.tsx
Due: none

chore(animated-header): update test snapshot
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
Due: none

Remove webMethods Hybrid Integration from initial header props
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

Add storybook entry for IWHI rebrand
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/headeroptionsforrebrand.json
Due: none

Add a wait
  packages/web-components/src/components/global-header/codecept.conf.ts
Due: none

chore(animated-header): add ssr support (#1334)
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedBackground/AnimatedBackground.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/HeaderTitle.tsx
  packages/react/src/components/AnimatedHeader/package.json
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  project.json
  react/5184.464a7954.iframe.bundle.js
  react/5184.464a7954.iframe.bundle.js.LICENSE.txt
  react/5184.464a7954.iframe.bundle.js.map
  react/5184.ce8698a9.iframe.bundle.js
  react/5184.ce8698a9.iframe.bundle.js.map
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.d65ea6b7.iframe.bundle.js
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.d65ea6b7.iframe.bundle.js.LICENSE.txt
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.d65ea6b7.iframe.bundle.js.map
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.dfa56084.iframe.bundle.js
  react/AnimatedHeader-__stories__-AnimatedHeader-mdx.dfa56084.iframe.bundle.js.map
  react/iframe.html
  react/project.json
  react/runtime~main.66b3df64.iframe.bundle.js
  react/runtime~main.66b3df64.iframe.bundle.js.map
  react/runtime~main.a2f6d82c.iframe.bundle.js
  react/runtime~main.a2f6d82c.iframe.bundle.js.map
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
