Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): small build fail fix
  packages/chat/components/editableTextElement/src/editableTextElement.ts
  packages/chat/components/historyViewer/src/historyViewer.ts
Due: none

feat(chat): a11y fixes, popout checkbox, added early history viewer (#282)
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/editableTextElement/src/editableTextElement.scss
  packages/chat/components/editableTextElement/src/editableTextElement.template.ts
  packages/chat/components/editableTextElement/src/editableTextElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/header/src/header.scss
  packages/chat/components/historyViewer/__stories__/example.json
  packages/chat/components/historyViewer/__stories__/historyViewer.stories.js
  packages/chat/components/historyViewer/historyViewer.ts
  packages/chat/components/historyViewer/src/historyViewer.scss
  packages/chat/components/historyViewer/src/historyViewer.template.ts
  packages/chat/components/historyViewer/src/historyViewer.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): screen reader rebuild plus launcher
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/textElement/src/textElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): added launcher, huge screen reader fixes (#283)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/textElement/src/textElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(telemetry): update URL
  packages/chat/telemetry.yml
Due: none

chore(telemetry): update endpoint and readme (#281)
  README.md
  packages/chat/telemetry.yml
Due: prettier --cache --write

chore(chat): merge
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/editableTextElement/src/editableTextElement.ts
  packages/chat/components/historyViewer/__stories__/example.json
  packages/chat/components/historyViewer/__stories__/historyViewer.stories.js
  packages/chat/components/historyViewer/src/historyViewer.scss
  packages/chat/components/historyViewer/src/historyViewer.template.ts
  packages/chat/components/historyViewer/src/historyViewer.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
  packages/chat/services/APIPlugin/APIPlugin.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): a11y fixes, colored code editing, history viewer (#284)
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/editableTextElement/src/editableTextElement.ts
  packages/chat/components/historyViewer/__stories__/example.json
  packages/chat/components/historyViewer/__stories__/historyViewer.stories.js
  packages/chat/components/historyViewer/src/historyViewer.scss
  packages/chat/components/historyViewer/src/historyViewer.template.ts
  packages/chat/components/historyViewer/src/historyViewer.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
  packages/chat/services/APIPlugin/APIPlugin.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): added notifications, a11y fixes, editable code
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): a11y fixes, notifications added, docs for chat (#290)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(sb): move wc sb to wc dir
  package.json
  packages/utilities/package.json
  packages/web-components/.storybook/_container.scss
  packages/web-components/.storybook/main.js
  packages/web-components/.storybook/manager-head.html
  packages/web-components/.storybook/manager.js
  packages/web-components/.storybook/preview-head.html
  packages/web-components/.storybook/preview.js
  packages/web-components/.storybook/theme.js
  packages/web-components/globals/internal/storybook-cdn.ts
  packages/web-components/globals/scss/grid.scss
  packages/web-components/globals/scss/themes.scss
  packages/web-components/globals/scss/vars.scss
  packages/web-components/package.json
  packages/web-components/src/components/feedback/examples/feedback/package.json
  packages/web-components/src/components/network-graph/examples/network-graph/package.json
  packages/web-components/src/components/tag/examples/tag/package.json
  packages/web-components/src/components/ux-control/examples/ux-control/package.json
  packages/web-components/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(framework): move stuff to wc package dir
  package.json
  packages/utilities/package.json
  packages/web-components/package.json
  packages/web-components/src/components/feedback/examples/feedback/package.json
  packages/web-components/src/components/network-graph/examples/network-graph/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/__stories__/tag.mdx
  packages/web-components/src/components/tag/__stories__/tag.stories.js
  packages/web-components/src/components/tag/components/tag/src/tag.scss
  packages/web-components/src/components/tag/components/tag/src/tag.template.ts
  packages/web-components/src/components/tag/components/tag/src/tag.ts
  packages/web-components/src/components/tag/components/tag/tag.ts
  packages/web-components/src/components/tag/examples/tag/.gitignore
  packages/web-components/src/components/tag/examples/tag/cdn.html
  packages/web-components/src/components/tag/examples/tag/index.html
  packages/web-components/src/components/tag/examples/tag/package.json
  packages/web-components/src/components/tag/examples/tag/src/index.js
  packages/web-components/src/components/tag/examples/tag/src/styles.scss
  packages/web-components/src/components/tag/index.ts
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/tag/react/tag.ts
  packages/web-components/src/components/ux-control/CHANGELOG.md
  packages/web-components/src/components/ux-control/__stories__/semantic_search_view.json
  packages/web-components/src/components/ux-control/__stories__/ux-control.story-mdx
  packages/web-components/src/components/ux-control/__stories__/ux-control.story.js
  packages/web-components/src/components/ux-control/components/ux-control/src/ux-control.scss
  packages/web-components/src/components/ux-control/components/ux-control/src/ux-control.template.ts
  packages/web-components/src/components/ux-control/components/ux-control/src/ux-control.ts
  packages/web-components/src/components/ux-control/components/ux-control/ux-control.ts
  packages/web-components/src/components/ux-control/examples/ux-control/.gitignore
  packages/web-components/src/components/ux-control/examples/ux-control/cdn.html
  packages/web-components/src/components/ux-control/examples/ux-control/index.html
  packages/web-components/src/components/ux-control/examples/ux-control/package.json
  packages/web-components/src/components/ux-control/examples/ux-control/src/index.js
  packages/web-components/src/components/ux-control/examples/ux-control/src/styles.scss
  packages/web-components/src/components/ux-control/index.ts
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tsconfig.json
  web-test-runner.config.js
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): csp fixes
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/editableTextElement/src/editableTextElement.scss
  packages/chat/components/editableTextElement/src/editableTextElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update header.ts
  packages/chat/components/header/src/header.ts
Due: none

chore(chat): CSP fixes (#291)
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/editableTextElement/src/editableTextElement.scss
  packages/chat/components/editableTextElement/src/editableTextElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(docs): tagging additional component owners
  packages/ux-control/__stories__/ux-control.story-mdx
Due: none

chore(docs): tagging additional component owners
  packages/chat/components/chartElement/__stories__/docs.mdx
  packages/network-graph/__stories__/network-graph.story-mdx
  packages/tag/__stories__/tag.mdx
Due: none

chore(chat): removed inline styles
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/cardElement/src/cardElement.template.ts
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/diagramElement/src/diagramElement.ts
  packages/chat/components/historyViewer/src/historyViewer.scss
  packages/chat/components/historyViewer/src/historyViewer.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/message/src/watsonx-dark.svg
  packages/chat/components/message/src/watsonx-light.svg
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): csp final fix
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/diagramElement/src/diagramElement.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/watsonx-dark.svg
  packages/chat/components/message/src/watsonx-light.svg
  packages/chat/package.tgz
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(chat): CSP fixes (#293)
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/cardElement/src/cardElement.template.ts
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/diagramElement/src/diagramElement.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/historyViewer/src/historyViewer.scss
  packages/chat/components/historyViewer/src/historyViewer.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/package.tgz
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add generated tarball to gitignore
  .gitignore
  packages/chat/package.tgz
Due: none

chore: add generated tarball to gitignore (#296)
  .gitignore
  packages/chat/package.tgz
Due: none

chore(chat): scroll bottom
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/messages/src/messages.ts
Due: none

chore(chat): removed pkg
  packages/chat/package.tgz
Due: none

feat(chat): finalized cloud (#297)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/messages/src/messages.ts
Due: none

chore(chat): message scroll fix
  packages/chat/components/messages/src/messages.ts
Due: none

fix(chat): scrolling height change (#298)
  packages/chat/components/messages/src/messages.ts
Due: none

chore(project): update clean script
  package.json
  packages/web-components/src/components/feedback/examples/feedback/package.json
  packages/web-components/src/components/network-graph/examples/network-graph/package.json
  yarn.lock
Due: none

chore(package): update build script paths
  package.json
  packages/web-components/gulp-tasks/build/modules/css.js
  packages/web-components/package.json
  packages/web-components/src/components/chat/components/cardElement/__stories__/card.mdx
  packages/web-components/src/components/chat/components/chartElement/__stories__/chart.mdx
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples.json
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples2.json
  packages/web-components/src/components/chat/components/chat/__stories__/chat.mdx
  packages/web-components/src/components/chat/components/codeElement/__stories__/code.mdx
  packages/web-components/src/components/chat/components/feedbackElement/__stories__/feedback.mdx
  packages/web-components/src/components/chat/components/historyViewer/__stories__/example.json
  packages/web-components/src/components/chat/components/linkListElement/__stories__/link-list.mdx
  packages/web-components/src/components/chat/components/popupElement/__stories__/popup.mdx
  packages/web-components/src/components/chat/components/textElement/__stories__/text.mdx
  packages/web-components/src/components/feedback/examples/feedback/cdn.html
  packages/web-components/src/components/feedback/examples/feedback/index.html
  packages/web-components/src/components/network-graph/examples/network-graph/index.html
  yarn.lock
Due: none

chore(deps): update build dist
  package.json
  yarn.lock
Due: none

chore(package): update build dist
  packages/web-components/gulp-tasks/build/modules/css.js
  packages/web-components/gulp-tasks/build/modules/scripts.js
  packages/web-components/gulp-tasks/build/modules/types.js
  packages/web-components/tools/rollup.config.dist.js
Due: none

chore(wc): update custom elements manifest
  packages/web-components/custom-elements-manifest.config.js
Due: none

chore(build): update gulp tasks
  packages/web-components/gulp-tasks/build/modules/css.js
  packages/web-components/gulp-tasks/build/modules/scripts.js
  packages/web-components/gulp-tasks/build/modules/types.js
Due: none

chore(build): move build dist to tasks dir
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tasks/build-dist.js
  packages/web-components/tasks/build.js
Due: none

chore(build): update build files
  package.json
  packages/web-components/gulp-tasks/build/modules/css.js
  packages/web-components/gulp-tasks/build/modules/scripts.js
  packages/web-components/gulp-tasks/build/modules/types.js
  packages/web-components/gulp-tasks/config.js
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/tasks/build.js
  yarn.lock
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
