Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): implement context and style-picker base component
  packages/web-components/src/components/style-picker/__stories__/style-picker.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
  packages/web-components/src/components/style-picker/defs/style-picker.types.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: stop keydown event propagation
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavSlot.tsx
Due: none

fix(navigation): updates and keep nav open when going between screens
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix(side-nav): chevron in secondary should transform and format code
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): pr comments
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(enter): nav on mobile products
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

chore(doc): update docs
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

Apply suggestions from code review
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
Due: none

refactor: review comments from resizable side panel review
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
  packages/react/src/components/Resizer/components/Resizer.tsx
  packages/react/src/components/Resizer/components/resizer.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): remove storybook demo > tiles & tile layout reformatting
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/data/index.jsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update snapshot
  packages/react/src/components/Resizer/__tests__/__snapshots__/Resizer.test.js.snap
Due: none

feat(animated-header): workspace padding fix
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(secondary-menu): opening/closing
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix: focus steal
  packages/react/src/components/Resizer/components/Resizer.tsx
Due: none

refactor: use contextual tokens
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
  packages/react/src/components/Resizer/components/resizer.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: add React router to UIShell example
  examples/react/UIShell/package-lock.json
  examples/react/UIShell/package.json
  examples/react/UIShell/src/App.tsx
  examples/react/UIShell/src/components/HeaderExample.tsx
  examples/react/UIShell/src/components/StoryContent.tsx
  examples/react/UIShell/src/config/routes.tsx
  examples/react/UIShell/src/index.scss
  examples/react/UIShell/src/main.tsx
  examples/react/UIShell/src/pages/About.tsx
  examples/react/UIShell/src/pages/Error.tsx
  examples/react/UIShell/src/pages/GenericPage.tsx
  examples/react/UIShell/src/pages/Home.tsx
  package-lock.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(test): add if statement
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

feat(ui-shell): double wide (#628)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

feat: add border to rail
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

chore: keyboard
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavSlot.tsx
Due: none

fix(ui-shell): tabbing fixes
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavItems.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

chore: just arrowdown
  packages/react/src/components/UIShell/components/SideNavSlot.tsx
Due: none

fix(SideNav): simplify children rendering logic in SideNavRenderFunction
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix(UIShell): add local class to SideNav for improved styling
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(SideNav): add subtle border to side-nav rail for improved visibility
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(tabbing): from slotted side nav
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

Update packages/react/src/components/WhatsNew/__stories__/FirstTimeOrientation.stories.jsx
  packages/react/src/components/WhatsNew/__stories__/FirstTimeOrientation.stories.jsx
Due: none

Update packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
Due: none

fix: move firstTimeOrientation to patterns main level
  packages/react/src/components/FirstTimeOrientation/CHANGELOG.md
  packages/react/src/components/FirstTimeOrientation/README.md
  packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
  packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.jsx
  packages/react/src/components/FirstTimeOrientation/__stories__/storybook.scss
  packages/react/src/components/FirstTimeOrientation/components/ContentWrapper.tsx
  packages/react/src/components/FirstTimeOrientation/components/PersonalizationInterstitial.tsx
  packages/react/src/components/FirstTimeOrientation/components/WelcomeInterstitial.tsx
  packages/react/src/components/FirstTimeOrientation/components/assets/welcomeInterstitial.png
  packages/react/src/components/FirstTimeOrientation/components/styles/_firstTimeOrientation.scss
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/FirstTimeOrientation/telemetry.yml
  packages/react/src/components/FirstTimeOrientation/tsconfig.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: yarn install
  yarn.lock
Due: none

fix: yarn install 2
  yarn.lock
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
