Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(package): update package entrypoint path
  packages/react/src/components/MDXComponents/package.json
Due: none

fix(icons): fix import path to include index.js
  packages/react/src/components/MDXComponents/components/article-card/article-card.tsx
  packages/react/src/components/MDXComponents/components/code/path.tsx
  packages/react/src/components/MDXComponents/components/do-dont/do-dont.tsx
  packages/react/src/components/MDXComponents/components/gif-player/gif-player.tsx
  packages/react/src/components/MDXComponents/components/inline-notification/inline-notification.tsx
  packages/react/src/components/MDXComponents/components/markdown/autolink-header/autolink-header.tsx
  packages/react/src/components/MDXComponents/components/mini-card/mini-card.tsx
  packages/react/src/components/MDXComponents/components/resource-card/resource-card.tsx
  packages/react/src/components/MDXComponents/components/video/video.tsx
Due: none

feat(animated-header): update db2 animations
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_db2_dark_02.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_db2_dark_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_db2_light_02.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_db2_light_03.json
  packages/react/src/components/AnimatedHeader/assets/index.js
Due: none

fix(mdx-components): export test
  packages/react/src/components/MDXComponents/package.json
Due: none

feat(animated-header): Add Db2 Lottie animation (#809)
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_db2_dark_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_db2_light_03.json
  packages/react/src/components/AnimatedHeader/assets/index.js
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_dark_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_dark_02.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_light_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_light_02.svg
Due: none

fix(style-picker): update types import (#808)
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

chore(jest): update snapshots
  packages/web-components/src/components/global-header/__tests__/__snapshots__/global-header.test.snap.js
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
Due: none

fix(mdx-components): update package entrypoint (#811)
  packages/react/src/components/MDXComponents/components/article-card/article-card.tsx
  packages/react/src/components/MDXComponents/components/code/path.tsx
  packages/react/src/components/MDXComponents/components/do-dont/do-dont.tsx
  packages/react/src/components/MDXComponents/components/gif-player/gif-player.tsx
  packages/react/src/components/MDXComponents/components/inline-notification/inline-notification.tsx
  packages/react/src/components/MDXComponents/components/markdown/autolink-header/autolink-header.tsx
  packages/react/src/components/MDXComponents/components/mini-card/mini-card.tsx
  packages/react/src/components/MDXComponents/components/resource-card/resource-card.tsx
  packages/react/src/components/MDXComponents/components/video/video.tsx
  packages/react/src/components/MDXComponents/package.json
  packages/web-components/src/components/global-header/__tests__/__snapshots__/global-header.test.snap.js
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

update maintainers
  packages/web-components/src/components/global-header/__stories__/global-header.mdx
Due: none

update maintainers (#815)
  packages/web-components/src/components/global-header/__stories__/global-header.mdx
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

docs: reorganize storybook for better readability
  packages/react/src/components/ExampleButton/__docs__/Accessibility.mdx
  packages/react/src/components/ExampleButton/__docs__/Style.mdx
  packages/react/src/components/ExampleButton/__docs__/Usage.mdx
  packages/react/src/components/ExampleButton/__stories__/ExampleButton.stories.js
  packages/react/src/components/MDXComponents/components/accordion/accordion.stories.jsx
  packages/react/src/components/MDXComponents/components/anchor-links/anchor-links.stories.jsx
  packages/react/src/components/MDXComponents/components/art-direction/art-direction.stories.jsx
  packages/react/src/components/MDXComponents/components/article-card/article-card.stories.jsx
  packages/react/src/components/MDXComponents/components/aside/aside.stories.jsx
  packages/react/src/components/MDXComponents/components/caption/caption.stories.jsx
  packages/react/src/components/MDXComponents/components/card-group/card-group.stories.jsx
  packages/react/src/components/MDXComponents/components/code/code.stories.jsx
  packages/react/src/components/MDXComponents/components/divider/divider.stories.jsx
  packages/react/src/components/MDXComponents/components/do-dont/do-dont.stories.jsx
  packages/react/src/components/MDXComponents/components/gif-player/gif-player.stories.jsx
  packages/react/src/components/MDXComponents/components/grid-transform/grid.stories.jsx
  packages/react/src/components/MDXComponents/components/image-wrapper/image-wrapper.stories.jsx
  packages/react/src/components/MDXComponents/components/inline-notification/inline-notification.stories.jsx
  packages/react/src/components/MDXComponents/components/link/link.stories.jsx
  packages/react/src/components/MDXComponents/components/markdown/blockquote.stories.jsx
  packages/react/src/components/MDXComponents/components/markdown/headings.stories.jsx
  packages/react/src/components/MDXComponents/components/markdown/ol.stories.jsx
  packages/react/src/components/MDXComponents/components/markdown/p.stories.jsx
  packages/react/src/components/MDXComponents/components/markdown/ul.stories.jsx
  packages/react/src/components/MDXComponents/components/mini-card/mini-card.stories.jsx
  packages/react/src/components/MDXComponents/components/page-description/page-description.stories.jsx
  packages/react/src/components/MDXComponents/components/page-table/page-table.stories.jsx
  packages/react/src/components/MDXComponents/components/preview/preview.stories.jsx
  packages/react/src/components/MDXComponents/components/resource-card/resource-card.stories.jsx
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.stories.jsx
  packages/react/src/components/MDXComponents/components/tabs/tabs.stories.jsx
  packages/react/src/components/MDXComponents/components/title/title.stories.jsx
  packages/react/src/components/MDXComponents/components/video/video.stories.jsx
  packages/react/src/components/MDXComponents/overview.mdx
Due: none

docs: organize storybook
  packages/web-components/src/components/example-button/__stories__/example-button.stories.js
Due: none

fix icons
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
Due: none

feat(animated-header): add content switcher
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix icons (#819)
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
Due: none

run unit tests for global-header
  packages/web-components/package.json
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/global-header/web-test-runner.config.mjs
  yarn.lock
Due: none

feat(animated-header): add header action
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/HeaderAction/HeaderAction.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderAction/header-action.scss
  packages/react/src/components/AnimatedHeader/components/HeaderAction/header-action.types.ts
  packages/react/src/components/AnimatedHeader/components/animated-header.scss
  packages/react/src/components/AnimatedHeader/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): remove carousel code
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderAction/HeaderAction.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderAction/header-action.scss
  packages/react/src/components/AnimatedHeader/components/HeaderAction/header-action.types.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
