Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix: jsdoc
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.stories.js
  packages/react/src/components/ThemeSettings/utils/use-theme-setting.ts
Due: none

feat(empty state): create empty state web component
  packages/web-components/src/components/chat/components/empty-state/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/empty-state/__stories__/emptyState.stories.js
  packages/web-components/src/components/chat/components/empty-state/emptyState.ts
  packages/web-components/src/components/chat/components/empty-state/src/emptyState.scss
  packages/web-components/src/components/chat/components/empty-state/src/emptyState.template.ts
  packages/web-components/src/components/chat/components/empty-state/src/emptyState.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: upgrade Carbon and add tooltip color workaround (#480)
  packages/react/package.json
  packages/react/src/components/UIShell/components/SideNavLinkPopover.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix: functionality done
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: separating styles for now
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: correct spelling of complement
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.mdx
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.stories.js
  packages/react/src/components/ThemeSettings/__tests__/ThemeSettings-test.js
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/ThemeSettings/components/ThemeMenuComplement.tsx
  packages/react/src/components/ThemeSettings/components/index.ts
  packages/react/src/components/ThemeSettings/index.ts
  packages/react/src/components/ThemeSettings/utils/use-theme-setting.ts
Due: none

fix(SideNav): handle unexpanded tabindex
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

chore(animated-header): fix dropdown bugs and rename tile-dropdown to workspace
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
  packages/react/src/components/AnimatedHeader/data/index.jsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(animated-header): lint cleanup
  examples/react/AnimatedHeader/src/App.tsx
Due: none

fix(SideNav): handle unexpanded tabindex (#484)
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix(animated-header): add subtitle to Tile type
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

fix(SideNav): fix bug
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

continue to finalizing
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(empty state): format lint error
  packages/web-components/src/components/chat/components/empty-state/src/emptyState.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(empty state): lint error
  packages/web-components/src/components/chat/components/empty-state/src/emptyState.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(empty state): support action
  packages/web-components/src/components/chat/components/empty-state/__stories__/emptyState.stories.js
  packages/web-components/src/components/chat/components/empty-state/src/emptyState.scss
  packages/web-components/src/components/chat/components/empty-state/src/emptyState.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(empty state): update action button style/size
  packages/web-components/src/components/chat/components/empty-state/__stories__/emptyState.stories.js
  packages/web-components/src/components/chat/components/empty-state/src/emptyState.ts
Due: none

chore: toolbar WC initial commit
  packages/web-components/src/components/toolbar/CHANGELOG.md
  packages/web-components/src/components/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
  packages/web-components/src/components/toolbar/__tests__/__snapshots__/example-button.test.snap.js
  packages/web-components/src/components/toolbar/__tests__/example-button.test.js
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar-group.template.ts
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.scss
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.template.ts
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
  packages/web-components/src/components/toolbar/index.ts
  packages/web-components/src/components/toolbar/package.json
  packages/web-components/src/components/toolbar/react/example-toolbar.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: story path
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
Due: none

fix: lint and format
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

just flyout menu story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix: shift + tab resets states
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
Due: none

fix: introduce SharkFinIcon
  packages/react/src/components/UIShell/components/SharkFinIcon.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/components/styles/shark-fin-icon.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: sharkfin class renamed
  packages/react/src/components/UIShell/components/SharkFinIcon.tsx
  packages/react/src/components/UIShell/components/styles/shark-fin-icon.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(UIShell): fix hyperlink space
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat(UIShell): add HeaderContainer
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderContainer.tsx
  packages/react/src/components/UIShell/index.ts
Due: none

feat(SideNav): added active styles
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(SideNav): fixed click bug
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
Due: none
