Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

test: test updated successfully
  packages/react/src/components/Calendar/__tests__/Calendar-test.js
  packages/react/src/components/Calendar/__tests__/Calendar-test.tsx
  packages/react/src/components/Calendar/__tests__/__snapshots__/Calendar-test.js.snap
  packages/react/src/components/Calendar/__tests__/__snapshots__/Calendar-test.tsx.snap
Due: none

fix: types modified and moved
  packages/react/src/components/Calendar/__tests__/Calendar-test.tsx
  packages/react/src/components/Calendar/components/Calendar.tsx
  packages/react/src/components/Calendar/components/Calendar.types.ts
  packages/react/src/components/Calendar/components/CalendarHeader.tsx
Due: none

chore: update lerna to v9 (#956)
  .github/workflows/ci.yml
  .github/workflows/create-release-tag-and-pr.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish.yml
  .nvmrc
  package.json
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

fix search submit
  packages/web-components/src/components/global-header/components/global-header/src/components/Search/Search.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Search/__tests__/Search.test.ts
Due: none

feat: VSCode snippets (#947)
  .github/workflows/ci.yml
  package.json
  packages/utilities/scripts/build.sh
  packages/utilities/src/settings/index.d.ts
  packages/utilities/src/settings/settings.d.ts
  packages/utilities/src/usePrefix.d.ts
  packages/vscode-snippets/CHANGELOG.md
  packages/vscode-snippets/README.md
  packages/vscode-snippets/__tests__/install.test.js
  packages/vscode-snippets/install/index.js
  packages/vscode-snippets/jest.config.js
  packages/vscode-snippets/package.json
  packages/vscode-snippets/post-install.js
  packages/vscode-snippets/src/carbon-general.code-snippets
  packages/vscode-snippets/src/carbon-linter-disables.code-snippets
  packages/vscode-snippets/src/carbon-motion.code-snippets
  packages/vscode-snippets/src/carbon-spacing.code-snippets
  packages/vscode-snippets/src/carbon-theme.code-snippets
  packages/vscode-snippets/src/carbon-typography.code-snippets
  yarn.lock
Due: prettier --cache --write

fix(global-header): Fix search submit (#977)
  packages/web-components/src/components/global-header/components/global-header/src/components/Search/Search.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Search/__tests__/Search.test.ts
Due: none

toggling on production mode by default
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

format
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

fix(calendar): fixed ci and lint checks issues
  packages/react/src/components/Calendar/__stories__/Calendar.stories.tsx
  packages/react/src/components/Calendar/__tests__/Calendar-test.tsx
  packages/react/src/components/Calendar/components/Calendar.tsx
  packages/react/src/components/Calendar/components/Calendar.types.ts
  packages/react/src/components/Calendar/components/CalendarHeader.tsx
  packages/react/src/components/Calendar/components/CalendarTimeline.tsx
  packages/react/src/components/Calendar/components/calendar.scss
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

and a bit more!
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSolisScript.ts
Due: none

fix: toggling on production mode by default (#978)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSolisScript.ts
Due: none

Change reports_enabled to overview_enabled everywhere
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/loadSidekickScript.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSidekickScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

Change reports_enabled to overview_enabled everywhere (#979)
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/loadSidekickScript.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSidekickScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

fix(calendar): utilities package updated
  packages/react/src/components/Calendar/__tests__/__snapshots__/Calendar-test.tsx.snap
  packages/react/src/components/Calendar/package.json
  yarn.lock
Due: none

set active
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

set active (#980)
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input
