Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

fix(search): full expand in md/sm breakpoints
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: name window check and package compatibility
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.mdx
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.stories.js
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/ThemeSettings/utils/environment.js
  packages/react/src/components/ThemeSettings/utils/use-theme-setting.ts
Due: none

feat(animated-header): move content swticher from task controller
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/ContentSwitcherSelector/ContentSwitcherSelector.tsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(storybook): add a11y checker back
  packages/react/.storybook/main.js
  packages/react/package.json
  packages/web-components/.storybook/main.js
  packages/web-components/package.json
  yarn.lock
Due: none

feat(animated-header): remove content swticher from task controller
  packages/react/src/components/AnimatedHeader/components/ContentSwitcherSelector/ContentSwitcherSelector.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderAction/HeaderAction.tsx
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
Due: none

feat(animated-header): update content switcher transition
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/ContentSwitcherSelector/ContentSwitcherSelector.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/HeaderTitle.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/header-title.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs: organize storybook (#818)
  packages/react/src/components/ExampleButton/__docs__/Accessibility.mdx
  packages/react/src/components/ExampleButton/__docs__/Style.mdx
  packages/react/src/components/ExampleButton/__docs__/Usage.mdx
  packages/react/src/components/ExampleButton/__stories__/ExampleButton.stories.js
  packages/react/src/components/MDXComponents/components/accordion/accordion.stories.jsx
  packages/react/src/components/MDXComponents/components/anchor-links/anchor-links.stories.jsx
  packages/react/src/components/MDXComponents/components/art-direction/art-direction.stories.jsx
  packages/react/src/components/MDXComponents/components/article-card/article-card.stories.jsx
  packages/react/src/components/MDXComponents/components/aside/aside.stories.jsx
  packages/react/src/components/MDXComponents/components/caption/caption.stories.jsx
  packages/react/src/components/MDXComponents/components/card-group/card-group.stories.jsx
  packages/react/src/components/MDXComponents/components/code/code.stories.jsx
  packages/react/src/components/MDXComponents/components/divider/divider.stories.jsx
  packages/react/src/components/MDXComponents/components/do-dont/do-dont.stories.jsx
  packages/react/src/components/MDXComponents/components/gif-player/gif-player.stories.jsx
  packages/react/src/components/MDXComponents/components/grid-transform/grid.stories.jsx
  packages/react/src/components/MDXComponents/components/image-wrapper/image-wrapper.stories.jsx
  packages/react/src/components/MDXComponents/components/inline-notification/inline-notification.stories.jsx
  packages/react/src/components/MDXComponents/components/link/link.stories.jsx
  packages/react/src/components/MDXComponents/components/markdown/blockquote.stories.jsx
  packages/react/src/components/MDXComponents/components/markdown/headings.stories.jsx
  packages/react/src/components/MDXComponents/components/markdown/ol.stories.jsx
  packages/react/src/components/MDXComponents/components/markdown/p.stories.jsx
  packages/react/src/components/MDXComponents/components/markdown/ul.stories.jsx
  packages/react/src/components/MDXComponents/components/mini-card/mini-card.stories.jsx
  packages/react/src/components/MDXComponents/components/page-description/page-description.stories.jsx
  packages/react/src/components/MDXComponents/components/page-table/page-table.stories.jsx
  packages/react/src/components/MDXComponents/components/preview/preview.stories.jsx
  packages/react/src/components/MDXComponents/components/resource-card/resource-card.stories.jsx
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.stories.jsx
  packages/react/src/components/MDXComponents/components/tabs/tabs.stories.jsx
  packages/react/src/components/MDXComponents/components/title/title.stories.jsx
  packages/react/src/components/MDXComponents/components/video/video.stories.jsx
  packages/react/src/components/MDXComponents/overview.mdx
  packages/web-components/src/components/example-button/__stories__/example-button.stories.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/ExampleButton/CHANGELOG.md
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
Due: prettier --cache --write

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

feat(animated-header): add contentSwitcher lowContrast as a prop
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/ContentSwitcherSelector/ContentSwitcherSelector.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderAction/HeaderAction.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderAction/header-action.scss
  packages/react/src/components/AnimatedHeader/components/HeaderAction/header-action.types.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): add content switcher and new customizable button (#820)
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/ContentSwitcherSelector/ContentSwitcherSelector.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderAction/HeaderAction.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderAction/header-action.scss
  packages/react/src/components/AnimatedHeader/components/HeaderAction/header-action.types.ts
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/HeaderTitle.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/header-title.scss
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/animated-header.scss
  packages/react/src/components/AnimatedHeader/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

feat(animated-header): update stackblitz example
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/index.ts
Due: none

run unit tests for global-header (#821)
  packages/web-components/package.json
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/global-header/web-test-runner.config.mjs
  yarn.lock
Due: none

feat(animated-header): update stackblitz example (#830)
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/index.ts
Due: none

fix(storybook): add a11y checker back (#828)
  packages/react/.storybook/main.js
  packages/react/package.json
  packages/web-components/.storybook/main.js
  packages/web-components/package.json
  yarn.lock
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

chore(animated-header): fix ts bugs
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/ContentSwitcherSelector/ContentSwitcherSelector.tsx
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

chore(animated-header): fix Tiles types
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/types.ts
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

chore(animated-header): fix formatting
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

Update BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
Due: none

Update types.ts
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/types.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
