Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore: initial deploy preview commit
  packages/web-components/src/components/color-override/README.md
  packages/web-components/src/components/color-override/__stories__/color-override.mdx
  packages/web-components/src/components/color-override/__stories__/color-override.stories.js
  packages/web-components/src/components/color-override/index.js
  packages/web-components/src/components/color-override/package.json
  packages/web-components/src/components/color-override/src/color-override.scss
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: storybook error
  packages/web-components/src/components/color-override/__stories__/color-override.mdx
Due: none

fix: spacing in uishell header name
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: spacing in uishell header name (#1149)
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix(dedupe): resolve
  yarn.lock
Due: none

test(TextHighlighter): add tests for TextHighlighter component
  packages/react/src/components/TextHighlighter/__tests__/TextHighlighter.test.js
  packages/react/src/components/TextHighlighter/__tests__/__snapshots__/TextHighlighter.test.js.snap
Due: none

feat(datepicker): restructure folders to have wc and react implementations
  packages/web-components/src/components/date-picker/__stories__/date-picker-web-components.mdx
  packages/web-components/src/components/date-picker/__stories__/date-picker-web-components.stories.ts
  packages/web-components/src/components/date-picker/components/web-components/calendar-renderer.ts
  packages/web-components/src/components/date-picker/components/web-components/date-picker-input-skeleton.ts
  packages/web-components/src/components/date-picker/components/web-components/date-picker-input.ts
  packages/web-components/src/components/date-picker/components/web-components/date-picker.scss
  packages/web-components/src/components/date-picker/components/web-components/date-picker.ts
  packages/web-components/src/components/date-picker/components/web-components/defs.ts
  packages/web-components/src/components/date-picker/index.ts
  packages/web-components/src/components/date-picker/state-machine/adapters/web-component-adapter.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

test(TextHighlighter): add tests for TextHighlighter component (#1154)
  packages/react/src/components/TextHighlighter/__tests__/TextHighlighter.test.js
  packages/react/src/components/TextHighlighter/__tests__/__snapshots__/TextHighlighter.test.js.snap
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/TextHighlighter/CHANGELOG.md
  packages/react/src/components/TextHighlighter/package.json
Due: prettier --cache --write

feat(datepicker): multiple fixes to React datepicker component and styles (WIP)
  packages/primitives/src/date-picker/actions.ts
  packages/primitives/src/date-picker/styles/date-picker.scss
  packages/react/src/components/DatePicker/__stories__/date-picker-react.mdx
  packages/react/src/components/DatePicker/__stories__/date-picker-react.stories.tsx
  packages/react/src/components/DatePicker/components/Calendar.tsx
  packages/react/src/components/DatePicker/components/DatePicker.tsx
  packages/react/src/components/DatePicker/components/DatePickerInput.tsx
  packages/react/src/components/DatePicker/components/date-picker.scss
  packages/react/src/components/DatePicker/hooks/useDatePicker.ts
  packages/web-components/src/components/date-picker/adapters/web-component-adapter.ts
  packages/web-components/src/components/date-picker/components/date-picker.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(datepicker): multiple fixes to React datepicker component and styles (WIP)
  .storybook/templates/WithLayer.scss
  .storybook/templates/WithLayer.tsx
  .storybook/templates/index.ts
  packages/primitives/src/date-picker/styles/date-picker.scss
  packages/react/src/components/DatePicker/__stories__/date-picker-react.stories.tsx
  packages/react/src/components/DatePicker/__stories__/with-layer.scss
  packages/react/src/components/DatePicker/components/Calendar.tsx
  packages/react/src/components/DatePicker/components/DatePickerInput.tsx
  packages/react/src/components/DatePicker/components/DatePickerSkeleton.tsx
  packages/react/src/components/DatePicker/index.ts
  packages/web-components/src/components/date-picker/components/date-picker.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(datepicker): multiple fixes to React datepicker component and styles
  packages/primitives/src/date-picker/index.ts
  packages/primitives/src/date-picker/styles/date-picker.scss
  packages/primitives/src/date-picker/temporal-utils.ts
  packages/react/src/components/DatePicker/__stories__/date-picker-react.stories.tsx
  packages/react/src/components/DatePicker/components/DatePicker.tsx
  packages/react/src/components/DatePicker/components/DatePickerInput.tsx
  packages/web-components/src/components/date-picker/components/date-picker.scss
  packages/web-components/src/components/date-picker/components/date-picker.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(datepicker): fixes to date formatter logic
  packages/primitives/src/date-picker/index.ts
  packages/primitives/src/date-picker/temporal-utils.ts
  packages/react/src/components/DatePicker/components/DatePicker.tsx
  packages/react/src/components/DatePicker/hooks/useDatePicker.ts
  packages/web-components/src/components/date-picker/__stories__/date-picker-web-components.stories.ts
  packages/web-components/src/components/date-picker/components/date-picker.ts
Due: none

feat(datepicker): consolidating to shared logic in primitives package
  packages/react/src/components/DatePicker/hooks/useDatePicker.ts
Due: none

feat(datepicker): consolidating to shared logic in primitives package
  packages/primitives/src/date-picker/index.ts
  packages/react/src/components/DatePicker/hooks/useDatePicker.ts
  packages/web-components/src/components/date-picker/__stories__/date-picker-web-components.stories.ts
  packages/web-components/src/components/date-picker/components/date-picker.ts
Due: none

feat(datepicker): consolidating to shared logic in primitives package
  packages/primitives/src/date-picker/keyboard-utils.ts
Due: none

feat(datepicker): consolidating click handling logic into primitives package
  packages/primitives/src/date-picker/__tests__/click-outside-handler.test.ts
  packages/primitives/src/date-picker/click-outside-handler.ts
  packages/primitives/src/date-picker/index.ts
  packages/react/src/components/DatePicker/hooks/useDatePicker.ts
  packages/web-components/src/components/date-picker/components/date-picker.ts
Due: none

feat(datepicker): add `@carbon/primitives` build to main package.json
  package.json
Due: none

fix(yarn): dedupe fix
  yarn.lock
Due: none

fix(format): multiple format fixes
  packages/primitives/README.md
  packages/primitives/src/date-picker/__tests__/click-outside-handler.test.ts
  packages/primitives/src/date-picker/actions.ts
  packages/primitives/src/date-picker/click-outside-handler.ts
  packages/primitives/src/date-picker/effects.ts
  packages/primitives/src/date-picker/index.ts
  packages/primitives/src/date-picker/keyboard-utils.ts
  packages/primitives/src/date-picker/states.ts
  packages/primitives/src/date-picker/styles/date-picker.scss
  packages/primitives/src/date-picker/temporal-utils.ts
  packages/primitives/src/date-picker/types.ts
  packages/react/src/components/DatePicker/README.md
  packages/react/src/components/DatePicker/__stories__/date-picker-react.stories.tsx
  packages/react/src/components/DatePicker/components/Calendar.tsx
  packages/react/src/components/DatePicker/components/DatePicker.tsx
  packages/react/src/components/DatePicker/components/DatePickerInput.tsx
  packages/react/src/components/DatePicker/components/DatePickerSkeleton.tsx
  packages/react/src/components/DatePicker/hooks/useDatePicker.ts
  packages/react/src/components/DatePicker/index.ts
  packages/react/tasks/build.js
  packages/web-components/src/components/date-picker/__stories__/date-picker-web-components.stories.ts
  packages/web-components/src/components/date-picker/adapters/web-component-adapter.ts
  packages/web-components/src/components/date-picker/components/date-picker.scss
  packages/web-components/src/components/date-picker/components/date-picker.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(format): multiple lint issues
  .eslintrc
  packages/primitives/src/date-picker/__tests__/click-outside-handler.test.ts
  packages/primitives/src/date-picker/styles/date-picker.scss
  packages/react/src/components/DatePicker/__stories__/with-layer.scss
  packages/react/src/components/DatePicker/hooks/useDatePicker.ts
  packages/web-components/src/components/date-picker/components/date-picker.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(datepicker): updates to overview docs
  packages/react/src/components/DatePicker/__stories__/date-picker-react.mdx
  packages/web-components/src/components/date-picker/__stories__/date-picker-web-components.mdx
Due: none

fix(tsconfig): reverting moduleResolution from bundler
  packages/web-components/tsconfig.json
Due: none

chore(console): remove console logs
  packages/primitives/src/date-picker/actions.ts
Due: none

feat: adds new TOC
  packages/react/src/components/TextHighlighter/__stories__/storybook.scss
  packages/react/src/components/WhatsNew/__stories__/Toc.stories.js
  packages/react/src/components/WhatsNew/__stories__/storybook.scss
  packages/react/src/components/WhatsNew/components/Toc/ACCESSIBILITY.md
  packages/react/src/components/WhatsNew/components/Toc/Toc.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocActiveTracker.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocItem.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocList.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocSection.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocSections.tsx
  packages/react/src/components/WhatsNew/components/Toc/index.ts
  packages/react/src/components/WhatsNew/components/Toc/toc.scss
  packages/react/src/components/WhatsNew/components/styles/_toc.scss
  packages/react/src/components/WhatsNew/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(WhatsNew): Add responsive TOC with Carbon Grid and fix scroll tracking
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
Due: none

feat: adds sticky offset prop
  packages/react/src/components/WhatsNew/components/Toc/TocActiveTracker.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocList.tsx
  packages/react/src/components/WhatsNew/components/styles/_toc.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(react): fixed react import in tests
  packages/utilities/src/index.js
  packages/utilities/src/usePrefix.js
Due: none

fix: build errors from imports
  packages/react/src/components/WhatsNew/index.ts
Due: none
