Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

feat(UIShell): add HeaderContainer (#477)
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderContainer.tsx
  packages/react/src/components/UIShell/index.ts
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

fix: address comments
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SharkFinIcon.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_shark-fin-icon.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: no leading underscore for imports
  packages/react/src/components/UIShell/components/ui-shell.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(empty state): test fail
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
Due: none

feat(SideNav): panel flyout menu for SideNavMenu (#457)
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SharkFinIcon.tsx
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
  packages/react/src/components/UIShell/components/styles/_shark-fin-icon.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/index.ts
  packages/react/src/components/UIShell/internal/setupGetInstanceId.js
  packages/react/src/components/UIShell/internal/useId.js
  packages/react/src/components/UIShell/internal/useIdPrefix.ts
  packages/react/src/components/UIShell/internal/usePrefix.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNavToggle): show on screen height resize
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavToggle.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: toolbar initial commit
  examples/web-components/toolbar/cdn.html
  examples/web-components/toolbar/index.html
  examples/web-components/toolbar/package.json
  examples/web-components/toolbar/src/index.js
  examples/web-components/toolbar/src/styles.scss
  packages/web-components/src/components/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
  packages/web-components/src/components/toolbar/__tests__/toolbar.test.js
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar-button.scss
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar-button.template.ts
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar-group.template.ts
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.scss
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.template.ts
  packages/web-components/src/components/toolbar/components/toolbar/toolbar-button.ts
  packages/web-components/src/components/toolbar/components/toolbar/toolbar-group.ts
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
  packages/web-components/src/components/toolbar/index.ts
  packages/web-components/src/components/toolbar/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: initial commit
  examples/web-components/toolbar/cdn.html
  examples/web-components/toolbar/index.html
  examples/web-components/toolbar/package.json
  examples/web-components/toolbar/src/index.js
  examples/web-components/toolbar/src/styles.scss
  packages/web-components/src/components/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
  packages/web-components/src/components/toolbar/__tests__/toolbar.test.js
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.scss
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.template.ts
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
  packages/web-components/src/components/toolbar/index.ts
  packages/web-components/src/components/toolbar/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: add sub components
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
  packages/web-components/src/components/toolbar/components/toolbar-button/src/toolbar-button.scss
  packages/web-components/src/components/toolbar/components/toolbar-button/src/toolbar-button.template.ts
  packages/web-components/src/components/toolbar/components/toolbar-button/toolbar-button.ts
  packages/web-components/src/components/toolbar/components/toolbar-group/src/toolbar-group.scss
  packages/web-components/src/components/toolbar/components/toolbar-group/src/toolbar-group.template.ts
  packages/web-components/src/components/toolbar/components/toolbar-group/toolbar-group.ts
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.template.ts
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
  packages/web-components/src/components/toolbar/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: format and lint
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
  packages/web-components/src/components/toolbar/__tests__/toolbar.test.js
  packages/web-components/src/components/toolbar/components/toolbar-button/src/toolbar-button.scss
  packages/web-components/src/components/toolbar/components/toolbar/src/toolbar.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: build dist path
  packages/web-components/src/components/toolbar/components/toolbar-button/src/toolbar-button.template.ts
Due: none

feat(empty state): add custom illustrations
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/error-illustration.js
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/no-data-illustration.js
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/no-tags-illustration.js
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/not-found-illustration.js
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/notifications-illustration.js
  packages/web-components/src/components/empty-state/components/empty-state/src/assets/unauthorized-illustration.js
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.template.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.ts
Due: none

chore: merge changes back in
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat: create split panel component
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.mdx
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.stories.js
  packages/react/src/components/SplitPanel/__tests__/SplitPanel-test.js
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/ExampleButton-test.js.snap
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/SplitPanel-test.js.snap
  packages/react/src/components/SplitPanel/components/SplitPanel.tsx
  packages/react/src/components/SplitPanel/components/split-panel.scss
  packages/react/src/components/SplitPanel/index.ts
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/SplitPanel/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: format
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNavToggle): show on screen height resize (#500)
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavToggle.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: focus tweak
  packages/react/src/components/SplitPanel/components/SplitPanel.tsx
  packages/react/src/components/SplitPanel/components/split-panel.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input
