Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore(chat): added animations, changed core story
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/formulaElement/src/formulaElement.scss
  packages/chat/components/imageElement/src/imageElement.scss
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/listElement/src/listElement.scss
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/tableElement/src/tableElement.scss
  packages/chat/components/tagListElement/src/tagListElement.scss
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(chat): adjust stackblitz link
  packages/chat/components/chat/__stories__/chat.mdx
Due: none

chore(chat): header/code-editing/tag-list fixes (#219)
  packages/chat/components/cardElement/__stories__/cardElement.stories.js
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/formulaElement/src/formulaElement.scss
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/imageElement/src/imageElement.scss
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/listElement/src/listElement.scss
  packages/chat/components/loadingElement/src/loadingElement.scss
  packages/chat/components/loadingElement/src/loadingElement.template.ts
  packages/chat/components/loadingElement/src/loadingElement.ts
  packages/chat/components/message/__stories__/message.stories.js
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/molecularElement/__stories__/molecularElement.stories.js
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/tableElement/src/tableElement.scss
  packages/chat/components/tagListElement/src/tagListElement.scss
  packages/chat/components/tagListElement/src/tagListElement.ts
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/tag/CHANGELOG.md
  packages/tag/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/ux-control/CHANGELOG.md
  packages/ux-control/package.json
  yarn.lock
Due: prettier --cache --write

chore(release): publish (#220)
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/tag/CHANGELOG.md
  packages/tag/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/ux-control/CHANGELOG.md
  packages/ux-control/package.json
  yarn.lock
Due: prettier --cache --write

chore(chat): molecule thumbnails, headermenu fix, scss fixes
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/message/__stories__/message.stories.js
  packages/chat/components/molecularElement/__stories__/molecularElement.stories.js
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): fixed docked mode menu, molecule thumbnails, summarization, fixed linklists (#221)
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/molecularElement/__stories__/molecularElement.stories.js
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): docked drag mode, header menu
  packages/chat/components/carouselElement/src/carouselElement.scss
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): small fix for cicheck
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
Due: none

chore(chat): remove console.log
  packages/chat/components/carouselElement/src/carouselElement.ts
Due: none

chore(chat): remove console.log
  packages/chat/components/chartElement/src/chartElement.ts
Due: none

feat(chat):new docked moving mode, fixed header menu, resizing in charts (#222)
  packages/chat/components/carouselElement/src/carouselElement.scss
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): chart rebuild,editing,thumbnails,linklists
  packages/chat/components/carouselElement/src/carouselElement.scss
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/linkListElement/__stories__/link-list.mdx
  packages/chat/components/linkListElement/__stories__/linkListElement.stories.js
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): merge
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/header/src/header.template.ts
Due: none

chore(chat): small build fix
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
Due: none

Feat(chat): Chart rebuild for performance, extensive editing tools, thumbnails, linklist events and movable dock (#225)
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/carouselElement/src/carouselElement.scss
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/linkListElement/__stories__/link-list.mdx
  packages/chat/components/linkListElement/__stories__/linkListElement.stories.js
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(storybook): add meta component for link list story
  packages/chat/components/linkListElement/__stories__/link-list.mdx
Due: none

chore(storybook): add meta component for link list story (#226)
  packages/chat/components/linkListElement/__stories__/link-list.mdx
Due: none

chore(telemetry): update to v1.6.0
  packages/chat/package.json
  yarn.lock
Due: none

chore(telemetry): update to v1.6.0 (#229)
  packages/chat/package.json
  yarn.lock
Due: none

chore(chat): accessibility overhaul
  package-lock.json
  packages/chat/components/cardElement/src/cardElement.template.ts
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/carouselElement/src/carouselElement.template.ts
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/footer/__stories__/footer.stories.js
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/linkListElement/__stories__/link-list.mdx
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): accessibility overhaul
  packages/chat/package.json
  packages/feedback/package.json
  packages/network-graph/package.json
  packages/tag/package.json
  packages/ux-control/package.json
  yarn.lock
Due: none

chore(lockfile): update lock file
  package-lock.json
  yarn.lock
Due: none

chore(chat): Accessibility overhaul (#234)
  packages/chat/components/cardElement/src/cardElement.template.ts
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/carouselElement/src/carouselElement.template.ts
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/footer/__stories__/footer.stories.js
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): accessibility fixes
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/src/message.template.ts
Due: none

chore(package-lock.json): remove package-lock.json
  package-lock.json
Due: none

chore(chat): cloud fixes (#238)
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/linkListElement/__stories__/linkListElement.stories.js
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/message/src/message.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): resize, styling, accessibility fixes
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/tableElement/src/tableElement.scss
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): resize, styling, accessibility fixes (#240)
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/tableElement/src/tableElement.scss
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

struct
  packages/chat/components/detailedErrorElement/detailedErrorElement.ts
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.scss
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.template.ts
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

detailed error chat component wip
  packages/chat/components/detailedErrorElement/__stories__/detailedErrorElement.stories.js
  packages/chat/components/detailedErrorElement/detailedErrorElement.ts
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.scss
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.template.ts
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.ts
  packages/chat/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

detailed error chat component
  packages/chat/components/detailedErrorElement/__stories__/detailedErrorElement.stories.js
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.scss
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.template.ts
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

detailed error chat component
  packages/chat/components/detailedErrorElement/__stories__/detailedErrorElement.stories.js
  packages/chat/components/detailedErrorElement/detailedErrorElement.ts
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.scss
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.template.ts
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

quick actions component
  packages/chat/components/quickActionsElement/__stories__/quickActionsElement.stories.js
  packages/chat/components/quickActionsElement/quickActionsElement.ts
  packages/chat/components/quickActionsElement/src/quickActionsElement.scss
  packages/chat/components/quickActionsElement/src/quickActionsElement.template.ts
  packages/chat/components/quickActionsElement/src/quickActionsElement.ts
  packages/chat/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

classes
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.scss
  packages/chat/components/detailedErrorElement/src/detailedErrorElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): added complex feedback system
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/popupElement/__stories__/popup.mdx
  packages/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/chat/components/popupElement/popupElement.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tagListElement/src/tagListElement.scss
  packages/chat/components/tagListElement/src/tagListElement.template.ts
  packages/chat/components/tagListElement/src/tagListElement.ts
  packages/chat/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): theming fixes and chatlevel toggling
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): complex feedback system (#249)
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/popupElement/__stories__/popup.mdx
  packages/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/chat/components/popupElement/popupElement.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tagListElement/src/tagListElement.scss
  packages/chat/components/tagListElement/src/tagListElement.template.ts
  packages/chat/components/tagListElement/src/tagListElement.ts
  packages/chat/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input
