Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore(style-picker): change option module import to .js
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
Due: none

test(style-picker): implement basic tests
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.template.ts
Due: none

feat: add-tile-click-handler-prop
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

fix: format
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

feat: add-tile-click-prop
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

fix: review-comments
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

fix: add-prop-to-mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
Due: none

feat: add-tile-click-prop (#663)
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

fix(sidenav): focus on active (#653)
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore(format/license): update
  examples/react/UIShell/src/components/HeaderExample.tsx
  examples/react/UIShell/src/components/StoryContent.tsx
  examples/react/UIShell/src/main.tsx
  examples/react/UIShell/src/pages/About.tsx
  examples/react/UIShell/src/pages/Error.tsx
  examples/react/UIShell/src/pages/GenericPage.tsx
  examples/react/UIShell/src/pages/Home.tsx
Due: none

fix(imports/license): update
  examples/react/UIShell/src/components/HeaderExample.tsx
  examples/react/UIShell/src/components/StoryContent.tsx
  examples/react/UIShell/src/config/routes.tsx
Due: none

fix(use-routes): infinite loop when using sidenavslot
  examples/react/UIShell/src/components/HeaderExample.tsx
Due: none

fix: complete merge update
  examples/react/UIShell/src/components/HeaderExample.tsx
Due: none

chore(style-picker): update funtions jsdoc
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
Due: none

fix: remove unnecessary SideNavDivider and simplify querySelector logic
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix: adjust margin in side-nav slot for consistent spacing
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(user-info): create component to add to profile menu
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavLinkPopover.tsx
  packages/react/src/components/UIShell/components/UserInfo.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/styles/_user-info.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
  packages/react/src/components/UIShell/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(name): is required
  packages/react/src/components/UIShell/components/UserInfo.tsx
Due: none

fix(user-avatar): pass name prop
  packages/react/src/components/UIShell/components/UserInfo.tsx
Due: none

fix: change customClass type
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
Due: none

chore: tidy up processing of routes config in ui shell example
  examples/react/UIShell/src/components/HeaderExample.tsx
  examples/react/UIShell/src/config/routes.tsx
Due: none

chore: tidy up processing of routes config in ui shell example
  examples/react/UIShell/src/components/HeaderExample.tsx
Due: none

chore: tidy up processing of routes config in ui shell example
  examples/react/UIShell/src/config/routes.tsx
  examples/react/UIShell/src/pages/Placeholder.tsx
Due: none

feat: add not found page
  examples/react/UIShell/src/config/routes.tsx
  examples/react/UIShell/src/pages/NotFound.tsx
Due: none

chore: stash
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update glass-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update animated-header.scss
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker): refactor svgRender method
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.template.ts
  packages/web-components/src/components/style-picker/utilities/renderCarbonPictogram.ts
  packages/web-components/src/components/style-picker/utilities/renderSvg.ts
Due: none

fix(style-picker): resolve build error
  packages/web-components/src/components/style-picker/utilities/renderCarbonPictogram.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write
