Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: bump empty state version
  packages/web-components/src/components/empty-state/package.json
Due: none

chore: bump empty state version (#562)
  packages/web-components/src/components/empty-state/package.json
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
Due: prettier --cache --write

fix(animated-header): add backup for autoprefixer
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(animated-header): add backup for autoprefixer (#563)
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

docs(UIShell): enhance trial countdown with popover and action links
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

Add custom tile content support
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/SampleCustomTaskContent.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update data in Stackblitz example
  examples/react/AnimatedHeader/src/data/SampleCustomTaskContent.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

feat: update focus styles and button height
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/styles/_trial-countdown.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: update icon active popover color
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

fix: menubutton hover color
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: update example
  examples/react/UIShell/src/App.tsx
Due: none

fix(animated-header)): update tests
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/data/index.jsx
Due: none

fix(animated-header): add missing license
  packages/react/src/components/AnimatedHeader/__stories__/data/SampleCustomTaskContent.tsx
Due: none

fix(animated-header): fix formatting
  examples/react/AnimatedHeader/src/data/SampleCustomTaskContent.tsx
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.tsx
Due: none

chore(animated-header): Add custom tile content support (#565)
  examples/react/AnimatedHeader/src/data/SampleCustomTaskContent.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/SampleCustomTaskContent.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
  packages/react/src/components/AnimatedHeader/data/index.jsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
