Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore(release): merge changelogs from release/v0.11.0 (#190)
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/tag/CHANGELOG.md
  packages/tag/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

[feat] modal open on button click
  packages/prompt-tuning/__stories__/prompt-tuning.mdx
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/prompt-tuning.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.scss
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
  packages/prompt-tuning/examples/prompt-tuning/.gitignore
  packages/prompt-tuning/examples/prompt-tuning/cdn.html
  packages/prompt-tuning/examples/prompt-tuning/index.html
  packages/prompt-tuning/examples/prompt-tuning/package.json
  packages/prompt-tuning/examples/prompt-tuning/src/index.js
  packages/prompt-tuning/examples/prompt-tuning/src/styles.scss
  packages/prompt-tuning/index.ts
  packages/prompt-tuning/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] modal open close working
  packages/prompt-tuning/CHANGELOG.md
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: prettier --cache --write

[feat] edit modal html/css
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.scss
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): added fileuploader, prompt errors and text highlights
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.0.cjs
  .yarnrc.yml
  package.json
  packages/chat/components/cardElement/__stories__/cardElement.stories.js
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/fileUploadElement/__stories__/fileUploadElement.stories.js
  packages/chat/components/fileUploadElement/fileUploadElement.ts
  packages/chat/components/fileUploadElement/src/fileUploadElement.scss
  packages/chat/components/fileUploadElement/src/fileUploadElement.template.ts
  packages/chat/components/fileUploadElement/src/fileUploadElement.ts
  packages/chat/components/footer/__stories__/footer.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.ts
  packages/chat/components/textElement/__stories__/text.mdx
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): pre-merge
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/fileUploadElement/__stories__/fileUploadElement.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): small build issue
  packages/chat/components/chartElement/src/chartElement.ts
Due: none

Update packages/chat/components/chat/src/chat.ts
  packages/chat/components/chat/src/chat.ts
Due: none

fix(chat): Text highlights, file uploader, error/warning system for prompt (#193)
  .yarn/releases/yarn-4.2.2.cjs
  .yarn/releases/yarn-4.3.0.cjs
  .yarnrc.yml
  package.json
  packages/chat/components/cardElement/__stories__/cardElement.stories.js
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/fileUploadElement/__stories__/fileUploadElement.stories.js
  packages/chat/components/fileUploadElement/fileUploadElement.ts
  packages/chat/components/fileUploadElement/src/fileUploadElement.scss
  packages/chat/components/fileUploadElement/src/fileUploadElement.template.ts
  packages/chat/components/fileUploadElement/src/fileUploadElement.ts
  packages/chat/components/footer/__stories__/footer.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/textElement/__stories__/text.mdx
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] task_view import for prompt list
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/__stories__/semantic_search_view.json
  packages/prompt-tuning/__stories__/task_view.json
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.scss
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] semantic search view in list
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
Due: none

[feat] view name and dropdown list
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
Due: none

[feat] property name on hover
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
Due: none

feat(chat): added molecule component, interaction fixes
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/fileUploadElement/__stories__/fileUploadElement.stories.js
  packages/chat/components/fileUploadElement/src/fileUploadElement.scss
  packages/chat/components/fileUploadElement/src/fileUploadElement.template.ts
  packages/chat/components/fileUploadElement/src/fileUploadElement.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/molecularElement/__stories__/molecularElement.stories.js
  packages/chat/components/molecularElement/molecularElement.ts
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
  packages/chat/index.ts
  packages/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(feedback): feedback slug incorrectly displays "flag" icon
  packages/feedback/components/feedback/src/feedback.template.ts
  packages/feedback/components/feedback/src/feedback.ts
Due: none

chore(molecule): add smiledrawer import
  packages/chat/components/molecularElement/src/molecularElement.ts
Due: none

feat(molecule): Molecular component and file uploader (#199)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/fileUploadElement/__stories__/fileUploadElement.stories.js
  packages/chat/components/fileUploadElement/src/fileUploadElement.scss
  packages/chat/components/fileUploadElement/src/fileUploadElement.template.ts
  packages/chat/components/fileUploadElement/src/fileUploadElement.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/molecularElement/__stories__/molecularElement.stories.js
  packages/chat/components/molecularElement/molecularElement.ts
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
  packages/chat/index.ts
  packages/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(feedback): feedback slug incorrectly displays "flag" icon (#200)
  packages/feedback/components/feedback/src/feedback.template.ts
  packages/feedback/components/feedback/src/feedback.ts
Due: none

[feat] edit modal working except view
  packages/prompt-tuning/__stories__/collections_view.json
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.scss
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] view dropdown complete
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
Due: none

[feat] tooltips & inline dropdown
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.scss
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] Rename, add variables & parameters
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.scss
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] rename event complete
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.scss
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] event for closing tag
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: none

[feat] add context variable & parameter events
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: none

[feat] save prompt event
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.scss
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] delete prompt action event
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: none

[feat] select view event
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: none

[feat] Add new prompt done
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: none

[feat] data as json promptSamples
  packages/prompt-tuning/__stories__/collections_view.json
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/__stories__/task_view.json
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: none

[feat] storybook args streamlined
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: none

[feat] parameters moved to right
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.scss
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] function controls documented
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: none

[feat] add new prompt event
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: none

[fix] improve closing tag
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: none

[fix] linting
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
Due: none

[fix] lint extension
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
Due: none

chore(package): remove changelog and edit version
  packages/prompt-tuning/CHANGELOG.md
  packages/prompt-tuning/package.json
Due: prettier --cache --write

chore(prompt-tuning): edit boolean attribute
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
Due: none

feat(prompt-tuning): new Prompt Tuning component (#201)
  packages/prompt-tuning/__stories__/prompt-tuning.mdx
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/__stories__/semantic_search_view.json
  packages/prompt-tuning/components/prompt-tuning/prompt-tuning.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.scss
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
  packages/prompt-tuning/examples/prompt-tuning/.gitignore
  packages/prompt-tuning/examples/prompt-tuning/cdn.html
  packages/prompt-tuning/examples/prompt-tuning/index.html
  packages/prompt-tuning/examples/prompt-tuning/package.json
  packages/prompt-tuning/examples/prompt-tuning/src/index.js
  packages/prompt-tuning/examples/prompt-tuning/src/styles.scss
  packages/prompt-tuning/index.ts
  packages/prompt-tuning/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input
