Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(focus): updates and escape key
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

feat(style-picker): implement icon module
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/style-picker-icon-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/style-picker-pictogram-module.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): implement pictogram module
  packages/web-components/package.json
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.scss
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.template.ts
  packages/web-components/src/components/style-picker/defs/vars.scss
  packages/web-components/src/components/style-picker/utilities/renderSvg.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): implement pictogram module
  yarn.lock
Due: none

feat(style-picker): update pictograms list
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
Due: none

Update packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
  packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
Due: none

Update examples/react/FirstTimeOrientation/src/components/PersonalizationInterstitial.tsx
  examples/react/FirstTimeOrientation/src/components/PersonalizationInterstitial.tsx
Due: none

fix(style-picker): correct option hover and selection border
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: remove story duplication
  packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
Due: none

chore(style-picker): resolve merge conflict
  yarn.lock
Due: none

chore(style-picker): update docs page
  packages/web-components/package.json
  yarn.lock
Due: none

chore: update description
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.ts
Due: none

chore: include license
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
Due: none

chore(style-picker): resolve lint errors
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(style-picker): resolve lint error
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.scss
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(style-picker): resolve format errors
  packages/web-components/src/components/style-picker/components/style-picker-color-module/style-picker-color-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/style-picker-icon-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/style-picker-pictogram-module.ts
  packages/web-components/src/components/style-picker/components/style-picker/style-picker.ts
  packages/web-components/src/components/style-picker/defs/style-picker-color-module.types.ts
  packages/web-components/src/components/style-picker/index.ts
Due: none

chore(style-picker): resolve format errors
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

chore(style-picker): resolve format errors
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/style-picker-modules.ts
Due: none

chore(style-picker): resolve build errors
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
Due: none

fix(SideNav): simplify children rendering logic in SideNavRenderFunction
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix(UIShell): add local class to SideNav for improved styling
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: stash
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavPin.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(menu): always open to active element
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

chore(style-picker): resolve build errors
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.template.ts
Due: none

test(style-picker): implement tests
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
Due: none

chore(readme): include style-picker in the readme file
  README.md
Due: prettier --cache --write

test(empty-state): fix failing test
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
Due: none

chore: format readme
  README.md
Due: prettier --cache --write

fix: review comment to restore @carbon/ibm-products version
  packages/react/src/components/WhatsNew/package.json
  yarn.lock
Due: none

fix(sidenavmenu): cleanup and remove
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

feat: add first time orientation pattern using interstitialScreen (#615)
  examples/react/FirstTimeOrientation/index.html
  examples/react/FirstTimeOrientation/package.json
  examples/react/FirstTimeOrientation/src/App.tsx
  examples/react/FirstTimeOrientation/src/components/ContentWrapper.tsx
  examples/react/FirstTimeOrientation/src/components/PersonalizationInterstitial.tsx
  examples/react/FirstTimeOrientation/src/components/WelcomeInterstitial.tsx
  examples/react/FirstTimeOrientation/src/components/assets/welcomeInterstitial.png
  examples/react/FirstTimeOrientation/src/components/styles/_firstTimeOrientation.scss
  examples/react/FirstTimeOrientation/src/index.scss
  examples/react/FirstTimeOrientation/src/main.tsx
  examples/react/FirstTimeOrientation/src/vite-env.d.ts
  examples/react/FirstTimeOrientation/tsconfig.json
  examples/react/FirstTimeOrientation/tsconfig.node.json
  examples/react/FirstTimeOrientation/vite.config.ts
  packages/react/package.json
  packages/react/src/components/FirstTimeOrientation/CHANGELOG.md
  packages/react/src/components/FirstTimeOrientation/README.md
  packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
  packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.jsx
  packages/react/src/components/FirstTimeOrientation/__stories__/storybook.scss
  packages/react/src/components/FirstTimeOrientation/components/ContentWrapper.tsx
  packages/react/src/components/FirstTimeOrientation/components/PersonalizationInterstitial.tsx
  packages/react/src/components/FirstTimeOrientation/components/WelcomeInterstitial.tsx
  packages/react/src/components/FirstTimeOrientation/components/assets/welcomeInterstitial.png
  packages/react/src/components/FirstTimeOrientation/components/styles/_firstTimeOrientation.scss
  packages/react/src/components/FirstTimeOrientation/index.ts
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/FirstTimeOrientation/telemetry.yml
  packages/react/src/components/FirstTimeOrientation/tsconfig.json
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/tasks/build.js
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/FirstTimeOrientation/CHANGELOG.md
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

test: revert empty-state test change
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
Due: none

chore: update yarn lock
  yarn.lock
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
