Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

css fixes
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/headeroptions.json
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/Switcher.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/__tests__/Switcher.test.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

css fixes (#962)
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/headeroptions.json
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/Switcher.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/__tests__/Switcher.test.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: version of utilities package in two packages
  examples/react/FirstTimeOrientation/package.json
  packages/react/src/components/ThemeSettings/package.json
Due: none

test(style-picker): implement tests for base components (#896)
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
Due: none

chore: release
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

chore(style-picker): implement examples
  examples/web-components/style-picker/index.html
  examples/web-components/style-picker/src/index.js
  examples/web-components/style-picker/src/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

show current capability in side-nav
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/headeroptions.json
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

show current capability in side-nav (#967)
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/headeroptions.json
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lock file
  yarn.lock
Due: none

fix: correct utilities version in two packages (#963)
  examples/react/FirstTimeOrientation/package.json
  packages/react/src/components/ThemeSettings/package.json
  yarn.lock
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
Due: prettier --cache --write

chore: remove unwanted changed from this PR
  packages/react/src/components/UIShell/__stories__/UIShell.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: remove unwanted changed from this PR
  packages/react/src/components/UIShell/components/styles/_header-overflow-panel.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: remove unwanted changed from this PR
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update _profile.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: remove unwanted changes from this PR
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

Update CHANGELOG.md
  packages/react/src/components/UIShell/CHANGELOG.md
Due: prettier --cache --write

chore: remove unwanted changes from this PR
  packages/react/CHANGELOG.md
Due: prettier --cache --write

chore: remove unwanted changes from this PR
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

chore: remove unwanted changes from this PR
  packages/web-components/src/components/global-header/CHANGELOG.md
Due: prettier --cache --write

chore: remove unwanted changes from this PR
  packages/web-components/CHANGELOG.md
Due: prettier --cache --write

chore: format code
  examples/web-components/style-picker/src/index.js
Due: none
