Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
Due: prettier --cache --write

fix(empty state): fix build issue
  yarn.lock
Due: none

fix(empty state): update yarn
  yarn.lock
Due: none

chore: add element name
  packages/web-components/src/components/toolbar/__stories__/toolbar.stories.js
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
Due: none

fix: lockfile checksum
  yarn.lock
Due: none

chore: fix some edge cases, and sync active index with focus in
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
Due: none

fix: lint
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
Due: none

test: empty commit
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
Due: none

revert: test empty commit
  packages/web-components/src/components/toolbar/components/toolbar/toolbar.ts
Due: none

fix: snapshot
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/SplitPanel-test.js.snap
Due: none

fix: revert yarn.lock file
  yarn.lock
Due: none

fix(empty state): custom illstration image imports
  packages/web-components/src/components/empty-state/__stories__/__assets__/empty-state-bright-magnifying-glass.svg
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
Due: none

fix(empty state): custom illustration type update
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

Cleanup
  examples/react/WhatsNew/src/App.tsx
  examples/react/WhatsNew/src/index.scss
  packages/react/src/components/WhatsNew/__stories__/Bubble.stories.js
  packages/react/src/components/WhatsNew/__stories__/Toc.stories.js
  packages/react/src/components/WhatsNew/__stories__/ViewStack.stories.js
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.stories.js
  packages/react/src/components/WhatsNew/components/Bubble/Bubble.tsx
  packages/react/src/components/WhatsNew/components/Bubble/BubbleHeader.tsx
  packages/react/src/components/WhatsNew/components/Bubble/index.ts
  packages/react/src/components/WhatsNew/components/Toc/Toc.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocItem.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocList.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocSection.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocSections.tsx
  packages/react/src/components/WhatsNew/components/Toc/index.ts
  packages/react/src/components/WhatsNew/components/ViewStack/View.tsx
  packages/react/src/components/WhatsNew/components/ViewStack/ViewStack.tsx
  packages/react/src/components/WhatsNew/components/ViewStack/ViewStackContext.tsx
  packages/react/src/components/WhatsNew/components/ViewStack/index.ts
  packages/react/src/components/WhatsNew/components/ViewStack/types.ts
  packages/react/src/components/WhatsNew/index.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

yarn lock changed somehow, reverting to what is on github
  yarn.lock
Due: none

fix(UIShell): resolve storybook z-index issue
  packages/react/src/components/WhatsNew/components/whats-new.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

whats new cleanup
  examples/react/WhatsNew/src/index.scss
  packages/react/src/components/WhatsNew/__stories__/Bubble.stories.js
  packages/react/src/components/WhatsNew/__stories__/Toc.stories.js
  packages/react/src/components/WhatsNew/__stories__/ViewStack.stories.js
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.stories.js
  packages/react/src/components/WhatsNew/__tests__/Bubble.test.js
  packages/react/src/components/WhatsNew/__tests__/Toc.test.js
  packages/react/src/components/WhatsNew/__tests__/ViewStack.test.js
  packages/react/src/components/WhatsNew/components/Bubble/Bubble.tsx
  packages/react/src/components/WhatsNew/components/Bubble/BubbleHeader.tsx
  packages/react/src/components/WhatsNew/components/Bubble/index.ts
  packages/react/src/components/WhatsNew/components/Toc/Toc.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocItem.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocList.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocSection.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocSections.tsx
  packages/react/src/components/WhatsNew/components/Toc/index.ts
  packages/react/src/components/WhatsNew/components/ViewStack/View.tsx
  packages/react/src/components/WhatsNew/components/ViewStack/ViewStack.tsx
  packages/react/src/components/WhatsNew/components/ViewStack/ViewStackContext.tsx
  packages/react/src/components/WhatsNew/components/ViewStack/index.ts
  packages/react/src/components/WhatsNew/components/ViewStack/types.ts
  packages/react/src/components/WhatsNew/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(UIShell): add onClick hook to SideNavMenu
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix: theme setting build
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.mdx
  packages/react/src/components/ThemeSettings/components/ThemeSettings.tsx
Due: none

Missed license in a couple files.
  packages/react/src/components/WhatsNew/components/ViewStack/ViewStackContext.tsx
  packages/react/src/components/WhatsNew/components/ViewStack/types.ts
Due: none

Adding products as a dependency in the example
  examples/react/WhatsNew/package.json
Due: none

chore: update default reviewer team
  .github/CODEOWNERS
Due: none

simplified imports, removed some dead code
  packages/react/src/components/WhatsNew/__tests__/Bubble.test.js
  packages/react/src/components/WhatsNew/__tests__/ViewStack.test.js
  packages/react/src/components/WhatsNew/components/ViewStack/ViewStack.tsx
Due: none

updating whats-new scss file to remove @carbon/react Simplified imports Example App.tsx
  examples/react/WhatsNew/src/App.tsx
  packages/react/src/components/WhatsNew/__tests__/Toc.test.js
  packages/react/src/components/WhatsNew/components/whats-new.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(UIShell): resolve storybook z-index issue (#512)
  packages/react/src/components/WhatsNew/components/whats-new.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(UIShell): add onClick hook to SideNavMenu (#513)
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write
