Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

Revert "feat(profile): create components to add to profile menu (#671)"
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/Profile.tsx
  packages/react/src/components/UIShell/components/SideNavLinkPopover.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
  packages/react/src/components/UIShell/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(uishell): stackblitz example missin dependency
  examples/react/UIShell/package.json
Due: none

fix(uishell): update style import for ibm-products
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(uishell): stackblitz example missin dependency (#690)
  examples/react/UIShell/package.json
Due: none

fix: snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
Due: none

fix(uishell): update style import for ibm-products (#691)
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNavMenu): expanding issue if not primary
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

docs(uishell): update dropdown examples in storybook
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(SideNavMenu): expanding issue if not primary (#692)
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix(style-picker): implement disclosed variant
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-color-module/style-picker-color-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/style-picker-icon-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.scss
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/style-picker-pictogram-module.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
  packages/web-components/src/components/style-picker/defs/style-picker.types.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(uishell): remove unused HeaderPanel component
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__tests__/HeaderPanel-test.js
  packages/react/src/components/UIShell/components/HeaderPanel.tsx
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write

chore(animated-header): Non-interactive tiles (#685)
  examples/react/AnimatedHeader/src/data/SampleCustomTaskContent.tsx
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTileBody.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
  packages/react/src/components/AnimatedHeader/components/WorkspaceSelector/WorkspaceSelector.tsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(contained-list-profile): add list items
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(story): use links
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

fix(styles): remove unnessary button imports
  packages/react/src/components/Resizer/components/resizer.scss
  packages/react/src/components/SplitPanel/components/split-panel.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(style-picker): remove commented code
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/style-picker-pictogram-module.ts
Due: none

chore(style-picker): update storybook and doc page
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
Due: none

chore(style-picker): update story
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker): resolve PR build erro
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.template.ts
Due: none
