Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNavLink): resolve build errors
  packages/react/src/components/UIShell/components/SideNavLink.tsx
Due: none

fix(side-nav): prevent nav item shift on panel toggle
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(UIShell): update SideNavLink references
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
Due: prettier --cache --write

fix(side-nav): resolve lint errors
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Revert "fix(side-nav): update popover padding"
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: remove global button styles (#466)
  packages/react/src/components/ExampleButton/components/example-button.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/ExampleButton/CHANGELOG.md
  packages/react/src/components/ExampleButton/package.json
Due: prettier --cache --write

feat(SideNavLinkPopover): create component (#454)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavLink.tsx
  packages/react/src/components/UIShell/components/SideNavLinkPopover.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(uishell): remove test story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

docs(uishell): remove test story (#467)
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat(FlyoutMenu): import all internal files
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
  packages/react/src/components/UIShell/internal/setupGetInstanceId.js
  packages/react/src/components/UIShell/internal/useId.js
  packages/react/src/components/UIShell/internal/useIdPrefix.ts
  packages/react/src/components/UIShell/internal/useIsomorphicEffect.js
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

feat: updated flyout
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
Due: none

fix: more updates
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: sorta working?
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
Due: none

fix: most functionality done?
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: move order of items
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix: components story location
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.stories.js
Due: none

chore: update dropdown size
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore(deps): update all carbon deps to latest version 1.77 react 2.24 wc
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/web-components/example-button/package.json
  examples/web-components/feedback/package.json
  examples/web-components/network-graph/package.json
  examples/web-components/tag/package.json
  examples/web-components/ux-control/package.json
  packages/react/package.json
  packages/react/tasks/generate/templates/example/package-edit.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tasks/generate/templates/example/package-edit.json
  packages/web-components/tasks/generate/templates/package-edit.json
  yarn.lock
Due: none

chore(deps): update carbon react
  examples/react/UIShell/package.json
  packages/react/package.json
  packages/react/tasks/generate/templates/example/package-edit.json
  yarn.lock
Due: none

chore(deps): update carbon react
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/TextHighlighter/package.json
Due: none

chore: upgrade Carbon and add tooltip color workaround
  packages/react/package.json
  packages/react/src/components/UIShell/components/SideNavLinkPopover.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Initial checkin
  examples/react/WhatsNew/index.html
  examples/react/WhatsNew/package.json
  examples/react/WhatsNew/src/App.tsx
  examples/react/WhatsNew/src/index.scss
  examples/react/WhatsNew/src/main.tsx
  examples/react/WhatsNew/src/vite-env.d.ts
  examples/react/WhatsNew/tsconfig.json
  examples/react/WhatsNew/tsconfig.node.json
  examples/react/WhatsNew/vite.config.ts
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.stories.js
  packages/react/src/components/WhatsNew/__tests__/WhatsNew.test.js
  packages/react/src/components/WhatsNew/components/WhatsNew.tsx
  packages/react/src/components/WhatsNew/components/whats-new.scss
  packages/react/src/components/WhatsNew/index.ts
  packages/react/src/components/WhatsNew/package.json
  packages/react/src/components/WhatsNew/tsconfig.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Revert "Initial checkin"
  examples/react/WhatsNew/index.html
  examples/react/WhatsNew/package.json
  examples/react/WhatsNew/src/App.tsx
  examples/react/WhatsNew/src/index.scss
  examples/react/WhatsNew/src/main.tsx
  examples/react/WhatsNew/src/vite-env.d.ts
  examples/react/WhatsNew/tsconfig.json
  examples/react/WhatsNew/tsconfig.node.json
  examples/react/WhatsNew/vite.config.ts
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.stories.js
  packages/react/src/components/WhatsNew/__tests__/WhatsNew.test.js
  packages/react/src/components/WhatsNew/components/WhatsNew.tsx
  packages/react/src/components/WhatsNew/components/whats-new.scss
  packages/react/src/components/WhatsNew/index.ts
  packages/react/src/components/WhatsNew/package.json
  packages/react/src/components/WhatsNew/tsconfig.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Initial checkin for whats new * integrated Bubble component
  examples/react/WhatsNew/index.html
  examples/react/WhatsNew/package.json
  examples/react/WhatsNew/src/App.tsx
  examples/react/WhatsNew/src/index.scss
  examples/react/WhatsNew/src/main.tsx
  examples/react/WhatsNew/src/vite-env.d.ts
  examples/react/WhatsNew/tsconfig.json
  examples/react/WhatsNew/tsconfig.node.json
  examples/react/WhatsNew/vite.config.ts
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.stories.js
  packages/react/src/components/WhatsNew/__tests__/WhatsNew.test.js
  packages/react/src/components/WhatsNew/components/Bubble.tsx
  packages/react/src/components/WhatsNew/components/BubbleHeader.tsx
  packages/react/src/components/WhatsNew/components/Toc.tsx
  packages/react/src/components/WhatsNew/components/TocItem.tsx
  packages/react/src/components/WhatsNew/components/TocList.tsx
  packages/react/src/components/WhatsNew/components/TocSection.tsx
  packages/react/src/components/WhatsNew/components/TocSections.tsx
  packages/react/src/components/WhatsNew/components/View.tsx
  packages/react/src/components/WhatsNew/components/ViewStack.tsx
  packages/react/src/components/WhatsNew/components/WhatsNew.tsx
  packages/react/src/components/WhatsNew/components/styles/_bubble.scss
  packages/react/src/components/WhatsNew/components/styles/_toc.scss
  packages/react/src/components/WhatsNew/components/styles/_view-stack.scss
  packages/react/src/components/WhatsNew/components/whats-new.scss
  packages/react/src/components/WhatsNew/index.ts
  packages/react/src/components/WhatsNew/package.json
  packages/react/src/components/WhatsNew/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Integrated Toc components Integrated ViewStack components
  packages/react/src/components/WhatsNew/components/Bubble.tsx
  packages/react/src/components/WhatsNew/components/BubbleHeader.tsx
  packages/react/src/components/WhatsNew/components/Toc.tsx
  packages/react/src/components/WhatsNew/components/TocItem.tsx
  packages/react/src/components/WhatsNew/components/TocList.tsx
  packages/react/src/components/WhatsNew/components/TocSection.tsx
  packages/react/src/components/WhatsNew/components/TocSections.tsx
  packages/react/src/components/WhatsNew/components/View.tsx
  packages/react/src/components/WhatsNew/components/ViewStack.tsx
  packages/react/src/components/WhatsNew/components/styles/_toc.scss
  packages/react/src/components/WhatsNew/components/styles/_view-stack.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Added $animateTime scss variable
  packages/react/src/components/WhatsNew/components/styles/_view-stack.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: option 1 implementation
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
