Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

feat(uxe-help-request): add theme support in Overview
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
Due: none

fix: addressed alison's comments
  packages/react/src/components/MDXComponents/components/accordion/_accordion.scss
  packages/react/src/components/MDXComponents/components/anchor-links/anchor-links.tsx
  packages/react/src/components/MDXComponents/components/grid-transform/grid.stories.jsx
  packages/react/src/components/MDXComponents/components/grid-transform/grid.tsx
  packages/react/src/components/MDXComponents/components/markdown/_markdown.scss
  packages/react/src/components/MDXComponents/components/video/video.stories.jsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(accordion): make 48px
  packages/react/src/components/MDXComponents/components/accordion/_accordion.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: remove dropdown from example
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/ExampleButton/CHANGELOG.md
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
Due: prettier --cache --write

chore: update carbon react version
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/WhatsNew/package.json
  packages/react/package.json
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/WhatsNew/package.json
  packages/react/tasks/generate/templates/example/package-edit.json
  yarn.lock
Due: none

chore: update demo story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: lint error and snapshots
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: add chat icon
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat: add new headerdivider component
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderDivider.tsx
  packages/react/src/components/UIShell/components/styles/_header-divider.scss
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update example
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add more options to example
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: cleanup
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add ThemeSettings codeowner
  .github/CODEOWNERS
Due: none

docs: update docs
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
Due: none

docs: add all components to readme
  README.md
Due: prettier --cache --write

fix: switch css to logical properties
  packages/react/src/components/UIShell/components/styles/_header-divider.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: style linting error
  packages/react/src/components/UIShell/components/styles/_header-divider.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Removing lock file from example
  examples/react/WhatsNew/package-lock.json
Due: none

Removing dead styles from example and stories...
  examples/react/WhatsNew/src/index.scss
  packages/react/src/components/WhatsNew/__stories__/storybook.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(whats new): Cleanup (#514)
  examples/react/WhatsNew/package.json
  examples/react/WhatsNew/src/App.tsx
  examples/react/WhatsNew/src/index.scss
  packages/react/src/components/WhatsNew/__stories__/Bubble.stories.js
  packages/react/src/components/WhatsNew/__stories__/Toc.stories.js
  packages/react/src/components/WhatsNew/__stories__/ViewStack.stories.js
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.stories.js
  packages/react/src/components/WhatsNew/__stories__/storybook.scss
  packages/react/src/components/WhatsNew/__tests__/Bubble.test.js
  packages/react/src/components/WhatsNew/__tests__/Toc.test.js
  packages/react/src/components/WhatsNew/__tests__/ViewStack.test.js
  packages/react/src/components/WhatsNew/components/Bubble/Bubble.tsx
  packages/react/src/components/WhatsNew/components/Bubble/BubbleHeader.tsx
  packages/react/src/components/WhatsNew/components/Bubble/index.ts
  packages/react/src/components/WhatsNew/components/Toc/Toc.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocItem.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocList.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocSection.tsx
  packages/react/src/components/WhatsNew/components/Toc/TocSections.tsx
  packages/react/src/components/WhatsNew/components/Toc/index.ts
  packages/react/src/components/WhatsNew/components/ViewStack/View.tsx
  packages/react/src/components/WhatsNew/components/ViewStack/ViewStack.tsx
  packages/react/src/components/WhatsNew/components/ViewStack/ViewStackContext.tsx
  packages/react/src/components/WhatsNew/components/ViewStack/index.ts
  packages/react/src/components/WhatsNew/components/ViewStack/types.ts
  packages/react/src/components/WhatsNew/index.ts
  packages/react/src/components/WhatsNew/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs: add all components to readme (#527)
  README.md
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
Due: prettier --cache --write

chore: fix typo
  packages/react/src/components/UIShell/README.md
Due: prettier --cache --write

docs: readme
  packages/react/src/components/UIShell/README.md
Due: prettier --cache --write

chore: add subcomponents to fix api table in overview page
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat(empty state): read me and story update
  README.md
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
Due: prettier --cache --write

fix(empty state): update story
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
Due: none

feat(empty state): story update
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
Due: none

feat(empty state): format fix
  README.md
Due: prettier --cache --write

feat: add expandable search demo
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: fix linting error
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(animated-header): internationalization for workspace label + eventListener cleanup
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none
