Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

feat(ui-shell): add ui-shell components
  examples/react/UiShell/index.html
  examples/react/UiShell/package.json
  examples/react/UiShell/src/App.tsx
  examples/react/UiShell/src/index.scss
  examples/react/UiShell/src/main.tsx
  examples/react/UiShell/src/vite-env.d.ts
  examples/react/UiShell/tsconfig.json
  examples/react/UiShell/tsconfig.node.json
  examples/react/UiShell/vite.config.ts
  packages/react/src/components/UiShell/__stories__/UiShell.mdx
  packages/react/src/components/UiShell/__stories__/UiShell.stories.js
  packages/react/src/components/UiShell/__tests__/UiShell.test.js
  packages/react/src/components/UiShell/components/SideNav.tsx
  packages/react/src/components/UiShell/components/UiShell.tsx
  packages/react/src/components/UiShell/components/_utils.js
  packages/react/src/components/UiShell/components/ui-shell.scss
  packages/react/src/components/UiShell/index.ts
  packages/react/src/components/UiShell/package.json
  packages/react/src/components/UiShell/tsconfig.json
  packages/react/src/internal/environment.js
  packages/react/src/internal/keyboard/index.js
  packages/react/src/internal/keyboard/keys.js
  packages/react/src/internal/keyboard/match.js
  packages/react/src/internal/keyboard/navigation.js
  packages/react/src/internal/useDelayedState.ts
  packages/react/src/internal/useEvent.js
  packages/react/src/internal/useMatchMedia.js
  packages/react/src/internal/useMergedRefs.ts
  packages/react/src/internal/usePrefix.ts
  packages/react/src/prop-types/AriaPropTypes.js
  packages/react/src/prop-types/isRequiredOneOf.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: fix build
  packages/react/src/components/UiShell/__stories__/UiShell.mdx
  packages/react/src/components/UiShell/__stories__/UiShell.stories.js
  packages/react/src/components/UiShell/components/SideNav.tsx
  packages/react/src/components/UiShell/components/UiShell.tsx
  packages/react/src/components/UiShell/index.ts
  packages/react/src/components/UiShell/package.json
  packages/react/src/internal/environment.js
  packages/react/src/internal/keyboard/index.js
  packages/react/src/internal/keyboard/keys.js
  packages/react/src/internal/keyboard/match.js
  packages/react/src/internal/keyboard/navigation.js
  packages/react/src/internal/useDelayedState.ts
  packages/react/src/internal/useEvent.js
  packages/react/src/internal/useMatchMedia.js
  packages/react/src/internal/useMergedRefs.ts
  packages/react/src/internal/usePrefix.ts
  packages/react/src/prop-types/AriaPropTypes.js
  packages/react/src/prop-types/isRequiredOneOf.js
  yarn.lock
Due: none

chore: add license
  packages/react/src/components/UiShell/components/_utils.js
Due: none

chore: remove test temporarily
  packages/react/src/components/UiShell/__tests__/UiShell.test.js
Due: none

chore: rename
  packages/react/src/components/UIShell1/__stories__/UiShell.mdx
  packages/react/src/components/UIShell1/__stories__/UiShell.stories.js
  packages/react/src/components/UIShell1/components/SideNav.tsx
  packages/react/src/components/UIShell1/components/_utils.js
  packages/react/src/components/UIShell1/components/ui-shell.scss
  packages/react/src/components/UIShell1/index.ts
  packages/react/src/components/UIShell1/package.json
  packages/react/src/components/UIShell1/tsconfig.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: rename
  packages/react/src/components/UIShell/__stories__/UiShell.mdx
  packages/react/src/components/UIShell/__stories__/UiShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/_utils.js
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/UIShell/tsconfig.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: change name
  packages/react/src/components/UIShell1/__stories__/UiShell.mdx
  packages/react/src/components/UIShell1/__stories__/UiShell.stories.js
  packages/react/src/components/UIShell1/components/SideNav.tsx
  packages/react/src/components/UIShell1/components/_utils.js
  packages/react/src/components/UIShell1/components/ui-shell.scss
  packages/react/src/components/UIShell1/index.ts
  packages/react/src/components/UIShell1/package.json
  packages/react/src/components/UIShell1/tsconfig.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update to UIShell
  examples/react/UiShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/_utils.js
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/UIShell/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: name
  examples/react/UIShell1/index.html
  examples/react/UIShell1/package.json
  examples/react/UIShell1/src/App.tsx
  examples/react/UIShell1/src/index.scss
  examples/react/UIShell1/src/main.tsx
  examples/react/UIShell1/src/vite-env.d.ts
  examples/react/UIShell1/tsconfig.json
  examples/react/UIShell1/tsconfig.node.json
  examples/react/UIShell1/vite.config.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: name
  examples/react/UIShell/index.html
  examples/react/UIShell/package.json
  examples/react/UIShell/src/App.tsx
  examples/react/UIShell/src/index.scss
  examples/react/UIShell/src/main.tsx
  examples/react/UIShell/src/vite-env.d.ts
  examples/react/UIShell/tsconfig.json
  examples/react/UIShell/tsconfig.node.json
  examples/react/UIShell/vite.config.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(SideNav): add SideNav component into UIShell package (#389)
  examples/react/UIShell/index.html
  examples/react/UIShell/package.json
  examples/react/UIShell/src/App.tsx
  examples/react/UIShell/src/index.scss
  examples/react/UIShell/src/main.tsx
  examples/react/UIShell/src/vite-env.d.ts
  examples/react/UIShell/tsconfig.json
  examples/react/UIShell/tsconfig.node.json
  examples/react/UIShell/vite.config.ts
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/_utils.js
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/UIShell/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

docs: clean up storybook
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat: add hamburger menu functionality at desktop
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/ui-shell.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: clean up scss
  packages/react/src/components/UIShell/components/ui-shell.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: add sidenav styles
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: linting error
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: update example package
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
Due: none

chore: add tests
  packages/react/src/components/UIShell/__tests__/SideNav-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
Due: none

chore: fix ci
  packages/react/src/components/UIShell/__tests__/SideNav-test.js
Due: none

chore(ghactions): add merge queue
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

chore(ghactions): remove delta from main
  .github/workflows/release-minor.yml
Due: none

chore(ghactions): add merge queue (#399)
  .github/workflows/ci.yml
  .github/workflows/pr.yml
Due: none

chore(ghactions): add dco to merge queue check
  .github/workflows/dco.yml
Due: none

chore(ghactions): add dco to merge queue check @jeffchew (#400)
  .github/workflows/dco.yml
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

feat(SideNav): add header menu button functionality at desktop (#398)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/__tests__/SideNav-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input
