Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Formatting
  packages/web-components/src/components/global-header/codecept.conf.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

upgrade to latest web-components
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/_index.scss
  packages/web-components/src/components/global-header/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(global-header): Add codecept tests to ci-check (#994)
  .github/workflows/ci.yml
  packages/web-components/src/components/global-header/codecept.conf.ts
Due: none

chore: release
  packages/vscode-snippets-extension/CHANGELOG.md
  packages/vscode-snippets-extension/package.json
  packages/vscode-snippets/CHANGELOG.md
  packages/vscode-snippets/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

update snapshots for latest icons
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/SplitPanel-test.js.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.jsx.snap
Due: none

fix(global-header): upgrade to latest web-components (#997)
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/SplitPanel-test.js.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.jsx.snap
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/_index.scss
  packages/web-components/src/components/global-header/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(style-picker): implement examples
  examples/web-components/style-picker/index.html
  examples/web-components/style-picker/src/index.js
  examples/web-components/style-picker/src/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: format code
  examples/web-components/style-picker/src/index.js
Due: none

chore: include carbon-bot in allowlist of dco
  .github/workflows/dco.yml
Due: none

chore: fix lint issues in style-picker styles
  examples/web-components/style-picker/src/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(style-picker): update examples (#966)
  .github/workflows/dco.yml
  examples/web-components/style-picker/index.html
  examples/web-components/style-picker/src/index.js
  examples/web-components/style-picker/src/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(global-header): Add Solis codecept test (#996)
  packages/web-components/src/components/global-header/codecept.conf.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

chore(animated-header): add SSR support
  packages/react/src/components/AnimatedHeader/components/AnimatedBackground/AnimatedBackground.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/StaticBackground/StaticBackground.tsx
Due: none

chore(animated-header): cleanup lottie logic
  packages/react/src/components/AnimatedHeader/components/AnimatedBackground/AnimatedBackground.tsx
Due: none

Update StaticBackground.tsx
  packages/react/src/components/AnimatedHeader/components/StaticBackground/StaticBackground.tsx
Due: none

chore(animated-header): update formatting
  packages/react/src/components/AnimatedHeader/components/StaticBackground/StaticBackground.tsx
Due: none

chore(animated-header): update snapshot
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
Due: none

chore(animated-header): remove unused import
  packages/react/src/components/AnimatedHeader/components/AnimatedBackground/AnimatedBackground.tsx
Due: none

bundle react wrapper separately
  packages/web-components/src/components/global-header/components/global-header/global-header.ts
  packages/web-components/src/components/global-header/components/global-header/src/index.ts
  packages/web-components/src/components/global-header/index-react.ts
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/global-header/vite.config.js
Due: none

fix: readme demo image
  packages/vscode-snippets-extension/README.md
  packages/vscode-snippets-extension/package.json
Due: prettier --cache --write

fix: readme demo image part 2
  packages/vscode-snippets-extension/README.md
  packages/vscode-snippets-extension/package.json
Due: prettier --cache --write

chore: update readme
  packages/vscode-snippets-extension/CHANGELOG.md
Due: prettier --cache --write

bundle react wrapper separately (#1006)
  packages/web-components/src/components/global-header/components/global-header/global-header.ts
  packages/web-components/src/components/global-header/components/global-header/src/index.ts
  packages/web-components/src/components/global-header/index-react.ts
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/global-header/vite.config.js
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
