Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(style-picker): update docs page and stories
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.template.ts
Due: none

chore(style-picker): format code
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
  packages/web-components/src/components/style-picker/__stories__/_story.defs.ts
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

chore(animated-header): add non-interactive tile
  examples/react/AnimatedHeader/src/data/SampleCustomTaskContent.tsx
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTileBody.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): remove console logs
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

chore(animated-header): update preview data
  examples/react/AnimatedHeader/src/data/index.tsx
Due: none

chore(animated-header): add missing license
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTileBody.tsx
Due: none

fix(uishell): remove duplicate import (#683)
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore(animated-header): fix types
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/WorkspaceSelector/WorkspaceSelector.tsx
Due: none

docs(uishell): update storybook organization and docs (#679)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/HeaderPopover.mdx
  packages/react/src/components/UIShell/__stories__/HeaderPopover.stories.js
  packages/react/src/components/UIShell/__stories__/SideNav.mdx
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/TrialCountdown.mdx
  packages/react/src/components/UIShell/__stories__/TrialCountdown.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavItems.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): update tests
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
Due: none

fix(style-picker): resolve build error
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
Due: none

test(empty-state): update snapshot
  packages/web-components/src/components/empty-state/__tests__/__snapshots__/empty-state.test.snap.js
Due: none

docs: hide dropdown label
  examples/react/UIShell/src/App.tsx
Due: none

docs: update default story name
  packages/react/src/components/UIShell/__stories__/HeaderPopover.stories.js
Due: none

fix: z-index in sidenav overlay
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

test(snap): update
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
Due: none

feat(profile): create components to add to profile menu (#671)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/Profile.tsx
  packages/react/src/components/UIShell/components/SideNavLinkPopover.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
  packages/react/src/components/UIShell/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix: z-index in sidenav overlay (#687)
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
