Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix(SideNavMenu): prevent bold font on nonactive submenus
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(SideNavMenu): update submenu structure and padding
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: adjust margin in side-nav slot for consistent spacing
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(SideNavMenu): enhance submenu styles for better responsiveness on smaller screens
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNavMenu): fix styles for active submenu items with active descendants
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

feat(animated-header): add accessibility role and aria- attributes
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/WorkspaceSelector/WorkspaceSelector.tsx
Due: none

fix(style-picker): change li to host
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.scss
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): update snapshot
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
Due: none

docs(SideNavMenu): updated nested submenu stories
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix: update nested styling
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

fix: styles
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: linting error
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: slot styles
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update demo story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat(style-picker): implement search option
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): Tile rework (#646)
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

feat(animated-header): allow for aria-labels to be passable
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/WorkspaceSelector/WorkspaceSelector.tsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs: remove duplicate `isActive` prop
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(side-nav): update side nav active item styles for better submenu handling
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(side-nav): remove SideNavDividers and adjust slot margin
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): implement filter tag
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.scss
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): support languages where the greeting is typically
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input
