Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

Update yarn.lock
  yarn.lock
Due: none

[fix] code review cleanup
  .gitignore
  packages/tag/__stories__/tag.stories.js
  packages/tag/components/tag/src/tag.scss
  packages/tag/components/tag/src/tag.template.ts
  packages/tag/components/tag/src/tag.ts
  packages/tag/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update packages/tag/package.json
  packages/tag/package.json
Due: none

chore(chat): added docs and code element updates
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/carouselElement/__stories__/carouselElement.stories.js
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/codeElement/__stories__/code.mdx
  packages/chat/components/errorElement/__stories__/errorElement.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/imageElement/__stories__/imageElement.stories.js
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/__stories__/messages.stories.js
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/tableElement/__stories__/tableElement.stories.js
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): added docs and code element updates
  packages/chat/components/messages/src/messages.template.ts
Due: none

feat(chat): Code element and doc updates (#180)
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/carouselElement/__stories__/carouselElement.stories.js
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/codeElement/__stories__/code.mdx
  packages/chat/components/errorElement/__stories__/errorElement.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/imageElement/__stories__/imageElement.stories.js
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/__stories__/messages.stories.js
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/tableElement/__stories__/tableElement.stories.js
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(publish): merge release/v0.10.0 branch (#181)
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(chat): fixed prompt overlap and user text theme
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/message/src/message.ts
  packages/chat/components/textElement/src/textElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): removed logs
  packages/chat/components/message/src/message.ts
Due: none

chore(chat): Code element and doc updates (#182)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/message/src/message.ts
  packages/chat/components/textElement/src/textElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): added linklist element, expanded source system
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/linkListElement/__stories__/linkListElement.stories.js
  packages/chat/components/linkListElement/linkListElement.ts
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
  packages/chat/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): fixed linklist in references
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): story changes
  packages/chat/components/chat/__stories__/chat.stories.js
Due: none

chore(chat): added editign to codeblock
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/message/src/message.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): Link list element and source attribution (#185)
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/linkListElement/__stories__/linkListElement.stories.js
  packages/chat/components/linkListElement/linkListElement.ts
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
  packages/chat/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): added listElement, editable code and annotation carousel
  packages/chat/components/cardElement/__stories__/card.mdx
  packages/chat/components/carouselElement/src/carouselElement.scss
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/linkListElement/__stories__/link-list.mdx
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/tagListElement/src/tagListElement.template.ts
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): Link list component, editable code, chart editing, docs (#186)
  packages/chat/components/cardElement/__stories__/card.mdx
  packages/chat/components/carouselElement/src/carouselElement.scss
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/linkListElement/__stories__/link-list.mdx
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/tagListElement/src/tagListElement.template.ts
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[fix] disable duplicate attributes
  packages/tag/__stories__/tag.stories.js
Due: none

[feat] stackblitz example
  packages/tag/examples/tag/.gitignore
  packages/tag/examples/tag/cdn.html
  packages/tag/examples/tag/index.html
  packages/tag/examples/tag/package.json
  packages/tag/examples/tag/src/index.js
  packages/tag/examples/tag/src/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update packages/tag/components/tag/src/tag.template.ts
  packages/tag/components/tag/src/tag.template.ts
Due: none

fix(tag): adjust syntax
  packages/tag/__stories__/tag.mdx
  packages/tag/examples/tag/cdn.html
  packages/tag/examples/tag/index.html
Due: none

feat(tag): New Tag component (#179)
  .gitignore
  packages/tag/__stories__/tag.mdx
  packages/tag/__stories__/tag.stories.js
  packages/tag/components/tag/src/tag.scss
  packages/tag/components/tag/src/tag.template.ts
  packages/tag/components/tag/src/tag.ts
  packages/tag/components/tag/tag.ts
  packages/tag/examples/tag/.gitignore
  packages/tag/examples/tag/cdn.html
  packages/tag/examples/tag/index.html
  packages/tag/examples/tag/package.json
  packages/tag/examples/tag/src/index.js
  packages/tag/examples/tag/src/styles.scss
  packages/tag/index.ts
  packages/tag/package.json
  packages/tag/react/tag.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Revert "feat(tag): New Tag component (#179)"
  .gitignore
  packages/tag/__stories__/tag.mdx
  packages/tag/__stories__/tag.stories.js
  packages/tag/components/tag/src/tag.scss
  packages/tag/components/tag/src/tag.template.ts
  packages/tag/components/tag/src/tag.ts
  packages/tag/components/tag/tag.ts
  packages/tag/examples/tag/.gitignore
  packages/tag/examples/tag/cdn.html
  packages/tag/examples/tag/index.html
  packages/tag/examples/tag/package.json
  packages/tag/examples/tag/src/index.js
  packages/tag/examples/tag/src/styles.scss
  packages/tag/index.ts
  packages/tag/package.json
  packages/tag/react/tag.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(tag): revert and re-add tag component
  packages/tag/__stories__/tag.mdx
  packages/tag/__stories__/tag.stories.js
  packages/tag/components/tag/src/tag.scss
  packages/tag/components/tag/src/tag.template.ts
  packages/tag/components/tag/src/tag.ts
  packages/tag/components/tag/tag.ts
  packages/tag/examples/tag/.gitignore
  packages/tag/examples/tag/cdn.html
  packages/tag/examples/tag/index.html
  packages/tag/examples/tag/package.json
  packages/tag/examples/tag/src/index.js
  packages/tag/examples/tag/src/styles.scss
  packages/tag/package.json
  packages/tag/react/tag.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[feat] limit color to selection
  .history/packages/tag/components/tag/src/tag_20240613142850.ts
  packages/tag/__stories__/tag.mdx
  packages/tag/__stories__/tag.stories.js
Due: none

chore(tag): add index.ts file
  packages/tag/examples/tag/package.json
  packages/tag/index.ts
Due: none

chore(tag): bump up cwc version
  packages/tag/package.json
  yarn.lock
Due: none

chore(tag): bump up @carbon/web-components package version (#188)
  .gitignore
  packages/tag/package.json
  yarn.lock
Due: none

chore(storybook): remove cwc from root
  .storybook/preview.js
  package.json
  yarn.lock
Due: none

Delete tag_20240613142850.ts
  .history/packages/tag/components/tag/src/tag_20240613142850.ts
Due: none

Update .gitignore
  .gitignore
Due: none

[fix] example color fixed
  packages/tag/examples/tag/cdn.html
  packages/tag/examples/tag/index.html
Due: none

feat(tag): limit border colors to selection (#187)
  .gitignore
  packages/tag/__stories__/tag.mdx
  packages/tag/__stories__/tag.stories.js
  packages/tag/components/tag/src/tag.ts
  packages/tag/examples/tag/cdn.html
  packages/tag/examples/tag/index.html
Due: none

chore(storybook): remove cwc from root (#189)
  .storybook/preview.js
  package.json
  yarn.lock
Due: none

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/tag/CHANGELOG.md
  packages/tag/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write
