Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(style-picker): change height to block-size in scss
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(uishell): update dropdown examples in storybook (#693)
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix: remove unnecessary SideNavDivider and simplify querySelector logic
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

refactor(SideNavMenu): lint
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix: adjust margin in side-nav slot for consistent spacing
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(SideNavMenu): update submenu structure and padding
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNavMenu): prevent bold font on nonactive submenus
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNavMenu): fix styles for active submenu items with active descendants
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(SideNavMenu): enhance submenu styles for better responsiveness on smaller screens
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(update): demo and example
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(format): update
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(icon): use money
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat(profile): add link items (#696)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): refactor onTileClick logic
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

fix(style-picker): change in props and attribute
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

chore(style-picker): run format
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.template.ts
Due: none

fix(styles): remove unnessary button imports (#697)
  packages/react/src/components/Resizer/components/resizer.scss
  packages/react/src/components/SplitPanel/components/split-panel.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/package.json
Due: prettier --cache --write

feat(profile): add theme-switcher
  examples/react/UIShell/package.json
  examples/react/UIShell/src/App.tsx
  packages/react/package.json
  packages/react/src/components/ThemeSettings/components/ThemeSwitcher.tsx
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/Profile.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(lint): error updates
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(overflow): long profile
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(cleanup): update
  packages/react/src/components/UIShell/__stories__/Profile.mdx
Due: none

fix(test): update snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
Due: none

chore(style-picker): attribute realted changes
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
Due: none

chore(style-picker): make attribute realted changes
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
Due: none

feat(style-picker): implement flat and disclosed variants (#684)
  packages/web-components/src/components/empty-state/__tests__/__snapshots__/empty-state.test.snap.js
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
  packages/web-components/src/components/style-picker/__stories__/_story.defs.ts
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-color-module/style-picker-color-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/src/style-picker-icon-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-icon-module/style-picker-icon-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.scss
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/src/style-picker-pictogram-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-pictogram-module/style-picker-pictogram-module.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
  packages/web-components/src/components/style-picker/defs/style-picker.types.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
