Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: add index.ts file
  packages/react/src/components/FirstTimeOrientation/__stories__/storybook.scss
  packages/react/src/components/FirstTimeOrientation/components/PersonalizationInterstitial.tsx
  packages/react/src/components/FirstTimeOrientation/components/WelcomeInterstitial.tsx
  packages/react/src/components/FirstTimeOrientation/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): style-picker props and story in progress
  packages/web-components/src/components/style-picker/__stories__/style-picker.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/package.json
Due: none

docs: update stackblitz example
  examples/react/UIShell/src/App.tsx
Due: none

fix(ui-shell): tabbing fixes (#651)
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavItems.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix(sidenav): focus on active
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: build issue
  packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.jsx
  packages/react/src/components/FirstTimeOrientation/__stories__/storybook.scss
  packages/react/src/components/FirstTimeOrientation/components/PersonalizationInterstitial.tsx
  packages/react/src/components/FirstTimeOrientation/components/WelcomeInterstitial.tsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: build issue 2
  packages/react/src/components/FirstTimeOrientation/__stories__/storybook.scss
  packages/react/src/components/FirstTimeOrientation/components/styles/_firstTimeOrientation.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: remove old files
  packages/react/src/components/WhatsNew/__stories__/FirstTimeOrientation.stories.jsx
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/ContentWrapper.tsx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/PersonalizationInterstitial.tsx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/WelcomeInterstitial.tsx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/assets/welcomeInterstitial.png
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/styles/_firstTimeOrientation.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: build issue 3
  packages/react/src/components/FirstTimeOrientation/components/styles/_firstTimeOrientation.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: build issue 4
  packages/react/package.json
  packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.jsx
  packages/react/src/components/FirstTimeOrientation/components/styles/_firstTimeOrientation.scss
  packages/react/tasks/build.js
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: build issue 5
  packages/react/package.json
  packages/react/src/components/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.jsx
  yarn.lock
Due: none

fix: lint fix
  packages/react/src/components/FirstTimeOrientation/components/styles/_firstTimeOrientation.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: add support for custom handles
  packages/react/src/components/Resizer/__stories__/Resizer.mdx
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
  packages/react/src/components/Resizer/components/Resizer.tsx
Due: none

feat(uishell): add new SideNavSlot component and rail updates (#639)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavSlot.tsx
  packages/react/src/components/UIShell/components/styles/_content.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): implement render ungrouped items
  packages/web-components/src/components/style-picker/__stories__/_placeholders.ts
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-color-module/style-picker-color-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.scss
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/components/style-picker/style-picker.ts
  packages/web-components/src/components/style-picker/defs/style-picker-color-module.types.ts
  packages/web-components/src/components/style-picker/defs/style-picker-module.types.ts
  packages/web-components/src/components/style-picker/defs/style-picker-option.types.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(uishell): update stackblitz example
  examples/react/UIShell/src/App.tsx
Due: none

docs(uishell): update stackblitz example (#654)
  examples/react/UIShell/src/App.tsx
Due: none

fix(layer): causing tabbing issues
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix(style-picker): implement color variant with style-picker single variant
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: add more examples for custom handles
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
Due: none

feat: Resizer initial commit (#579)
  examples/react/Resizer/index.html
  examples/react/Resizer/package.json
  examples/react/Resizer/src/App.tsx
  examples/react/Resizer/src/index.scss
  examples/react/Resizer/src/main.tsx
  examples/react/Resizer/src/vite-env.d.ts
  examples/react/Resizer/tsconfig.json
  examples/react/Resizer/tsconfig.node.json
  examples/react/Resizer/vite.config.ts
  packages/react/src/components/Resizer/README.md
  packages/react/src/components/Resizer/__stories__/Resizer.mdx
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
  packages/react/src/components/Resizer/__tests__/Resizer.test.js
  packages/react/src/components/Resizer/__tests__/__snapshots__/Resizer.test.js.snap
  packages/react/src/components/Resizer/components/Resizer.tsx
  packages/react/src/components/Resizer/components/resizer.scss
  packages/react/src/components/Resizer/index.ts
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/Resizer/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
Due: prettier --cache --write

feat(style-picker): implement color picker module and its story
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-color-module/src/style-picker-color-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-modules/src/style-picker-modules.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

fix(layer): causing tabbing issues (#655)
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
