Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore(feedback): generate cdn for feedback component
  packages/feedback/__stories__/feedback.mdx
Due: none

chore(storybook): adjust year in license
  globals/internal/storybook-cdn.ts
Due: none

chore(feedback): add stackblitz example for feedback component (#127)
  globals/internal/storybook-cdn.ts
  packages/feedback/__stories__/feedback.mdx
  packages/feedback/__stories__/feedback.stories.js
  packages/feedback/examples/feedback/.gitignore
  packages/feedback/examples/feedback/cdn.html
  packages/feedback/examples/feedback/index.html
  packages/feedback/examples/feedback/package.json
  packages/feedback/examples/feedback/src/index.js
  packages/feedback/examples/feedback/src/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(network-graph): added network-graph component
  packages/network-graph/components/network-graph/__stories__/graph.stories.js
  packages/network-graph/components/network-graph/defs.ts
  packages/network-graph/components/network-graph/network-graph.ts
  packages/network-graph/components/network-graph/sampleData.ts
  packages/network-graph/components/network-graph/src/network-graph.template.ts
  packages/network-graph/components/network-graph/src/network-graph.ts
  packages/network-graph/index.ts
  packages/network-graph/package.json
  yarn.lock
Due: none

chore(network-graph): updated carbon/web-components from 2.6.0 to 2.7.0
  packages/network-graph/package.json
  yarn.lock
Due: none

fix(network-graph): fixed formatting issues
  packages/network-graph/components/network-graph/sampleData.ts
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

fix(storybook): custom element already defined on hmr
  .storybook/main.js
  package.json
  yarn.lock
Due: none

fix(storybook): custom element already defined on hmr (#133)
  .storybook/main.js
  package.json
  yarn.lock
Due: none

chore(network-graph): cleanup and documentation
  packages/network-graph/__stories__/network-graph.mdx
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/__stories__/sampleData.ts
  packages/network-graph/components/network-graph/network-graph.ts
  packages/network-graph/components/network-graph/src/network-graph.template.ts
  packages/network-graph/components/network-graph/src/network-graph.ts
  packages/network-graph/package.json
Due: none

fix(network-graph): fixed null pointer error
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

feat(network-graph): added example and updated documentation
  packages/network-graph/__stories__/network-graph.mdx
  packages/network-graph/examples/network-graph/.gitignore
  packages/network-graph/examples/network-graph/cdn.html
  packages/network-graph/examples/network-graph/index.html
  packages/network-graph/examples/network-graph/package.json
  packages/network-graph/examples/network-graph/src/index.js
  packages/network-graph/package.json
Due: none

feat(network-graph): added particles properties and controls
  packages/network-graph/__stories__/network-graph.mdx
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/src/network-graph.ts
  packages/network-graph/examples/network-graph/cdn.html
  packages/network-graph/package.json
Due: none

Update packages/network-graph/examples/network-graph/package.json
  packages/network-graph/examples/network-graph/package.json
Due: none

feat(network-graph): Added Network-graph component (#132)
  packages/network-graph/__stories__/network-graph.mdx
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/__stories__/sampleData.ts
  packages/network-graph/components/network-graph/defs.ts
  packages/network-graph/components/network-graph/network-graph.ts
  packages/network-graph/components/network-graph/src/network-graph.template.ts
  packages/network-graph/components/network-graph/src/network-graph.ts
  packages/network-graph/examples/network-graph/.gitignore
  packages/network-graph/examples/network-graph/cdn.html
  packages/network-graph/examples/network-graph/index.html
  packages/network-graph/examples/network-graph/package.json
  packages/network-graph/examples/network-graph/src/index.js
  packages/network-graph/index.ts
  packages/network-graph/package.json
  yarn.lock
Due: none

chore(feedback): update stackblitz example to always pull from latest
  packages/feedback/examples/feedback/package.json
Due: none

chore(network-graph): edit overview description of component in storybook
  packages/network-graph/__stories__/network-graph.mdx
Due: none

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(merge): merge from release/v0.4.0 branch (#134)
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/extended-button/CHANGELOG.md
  packages/extended-button/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(README): update with new component package
  README.md
Due: prettier --cache --write

chore(extended-button): remove extended-button test example
  packages/extended-button/CHANGELOG.md
  packages/extended-button/__stories__/extended-button.stories.js
  packages/extended-button/__tests__/__snapshots__/extended-button.test.snap.js
  packages/extended-button/__tests__/extended-button.test.ts
  packages/extended-button/components/extended-button/extended-button.ts
  packages/extended-button/components/extended-button/src/extended-button.scss
  packages/extended-button/components/extended-button/src/extended-button.template.ts
  packages/extended-button/index.ts
  packages/extended-button/package.json
  packages/extended-button/react/extended-button.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(extended-button): remove extended-button test example (#135)
  packages/extended-button/CHANGELOG.md
  packages/extended-button/__stories__/extended-button.stories.js
  packages/extended-button/__tests__/__snapshots__/extended-button.test.snap.js
  packages/extended-button/__tests__/extended-button.test.ts
  packages/extended-button/components/extended-button/extended-button.ts
  packages/extended-button/components/extended-button/src/extended-button.scss
  packages/extended-button/components/extended-button/src/extended-button.template.ts
  packages/extended-button/index.ts
  packages/extended-button/package.json
  packages/extended-button/react/extended-button.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(network-graph): fixed node dragging issue
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/defs.ts
  packages/network-graph/components/network-graph/src/network-graph.ts
  packages/network-graph/package.json
Due: none

fix(network-graph): attributes name updates
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

fix(network-graph): fixed node dragging issue (#136)
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/defs.ts
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

chore(chat): added chart showcase
  .yarn/install-state.gz
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/package.tgz
Due: none

chore(chat): finalized merge
  .yarn/install-state.gz
  packages/chat/components/cardElement/__stories__/cardElement.stories.js
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/cardElement/src/cardElement.template.ts
  packages/chat/components/carouselElement/__stories__/carouselElement.stories.js
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/tagListElement/src/tagListElement.template.ts
  packages/chat/package.tgz
  packages/feedback/components/feedback/__stories__/feedback.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): merge fixes and taglist
  .storybook/main.js
  .yarn/install-state.gz
  package.json
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/listElement/src/listElement.scss
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/tagListElement/src/tagListElement.ts
  packages/chat/package.json
  packages/chat/package.tgz
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): final touches
  .yarn/install-state.gz
  package.json
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/listElement/src/listElement.scss
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/tagListElement/src/tagListElement.ts
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/package.tgz
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): fixed camelcase import errors
  packages/chat/components/cardElement/src/cardElement.template.ts
  packages/chat/components/carouselElement/src/carouselElement.template.ts
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/message/src/message.template.ts
Due: none

chore(chat): readded vega-lite TS flag
  tsconfig.json
Due: none

chore(chat): clean up
  packages/chat/components/updatetokens.sh
  packages/chat/package.json
  tsconfig.json
Due: none

chore(chat): attempt to fix dist build
  package.json
  packages/network-graph/package.json
  tools/rollup.config.dist.js
  yarn.lock
Due: none

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(publish): merge from release/v0.5.0 (#143)
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

feat: instrument @carbon-labs/ai-chat with js scope
  packages/chat/package.json
  packages/chat/telemetry.yml
  yarn.lock
Due: none

feat(chat): extensive chart updates and slotting
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/listElement/src/listElement.scss
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input
