Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: copy internal files over from carbon and update imports (#428)
  packages/react/src/components/UIShell/components/HeaderPanel.tsx
  packages/react/src/components/UIShell/components/Link.tsx
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavItems.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
  packages/react/src/components/UIShell/components/SideNavToggle.tsx
  packages/react/src/components/UIShell/internal/environment.js
  packages/react/src/components/UIShell/internal/keyboard/index.js
  packages/react/src/components/UIShell/internal/keyboard/keys.js
  packages/react/src/components/UIShell/internal/keyboard/match.js
  packages/react/src/components/UIShell/internal/keyboard/navigation.js
  packages/react/src/components/UIShell/internal/useDelayedState.ts
  packages/react/src/components/UIShell/internal/useEvent.js
  packages/react/src/components/UIShell/internal/useMatchMedia.js
  packages/react/src/components/UIShell/internal/useMergedRefs.ts
  packages/react/src/components/UIShell/internal/usePrefix.ts
  packages/react/src/components/UIShell/internal/warning.js
  packages/react/src/components/UIShell/prop-types/AriaPropTypes.js
  packages/react/src/components/UIShell/prop-types/deprecate.js
  packages/react/src/components/UIShell/prop-types/isRequiredOneOf.js
  packages/react/src/components/UIShell/types/common.ts
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

feat(UIShell): SideNav panel as grid influencer (#427)
  packages/react/.storybook/styles.scss
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_content.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: redirect to first link when unexpanded
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

feat(SideNav): unexpanded menu has link
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix(SideNav): style fixes
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNavPanel): fix hover styles
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: ran formatter for styles
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint problem
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix: address feedback
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/__tests__/SideNav-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
Due: none

fix(SideNav): allow tab nav if not treeview
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
Due: none

docs(UIShell): update default story with icons
  packages/react/src/components/UIShell/__stories__/AppIcons.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: fix linting error
  packages/react/src/components/UIShell/__stories__/AppIcons.js
Due: none

chore: cleanup
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(SideNav): fix accessibility issues
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavItems.tsx
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

docs(UIShell): update default story with icons (#434)
  packages/react/src/components/UIShell/__stories__/AppIcons.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(SideNav): changed role location
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavItems.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
Due: none

fix: addressed comments
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: added links to carbon
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix: removed treeview accidentally
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix: wrong story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
