Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: resize bar initial commit
  examples/react/ResizeBar/index.html
  examples/react/ResizeBar/package.json
  examples/react/ResizeBar/src/App.tsx
  examples/react/ResizeBar/src/index.scss
  examples/react/ResizeBar/src/main.tsx
  examples/react/ResizeBar/src/vite-env.d.ts
  examples/react/ResizeBar/tsconfig.json
  examples/react/ResizeBar/tsconfig.node.json
  examples/react/ResizeBar/vite.config.ts
  packages/react/src/components/ResizeBar/README.md
  packages/react/src/components/ResizeBar/__stories__/ResizeBar.mdx
  packages/react/src/components/ResizeBar/__stories__/ResizeBar.stories.js
  packages/react/src/components/ResizeBar/__tests__/ResizeBar.test.js
  packages/react/src/components/ResizeBar/components/ResizeBar.tsx
  packages/react/src/components/ResizeBar/components/resize-bar.scss
  packages/react/src/components/ResizeBar/index.ts
  packages/react/src/components/ResizeBar/package.json
  packages/react/src/components/ResizeBar/tsconfig.json
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add more examples
  packages/react/src/components/ResizeBar/__stories__/ResizeBar.stories.js
Due: none

revert: split panel story
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.stories.js
Due: none

chore: run yarn
  packages/react/src/components/ResizeBar/package.json
  yarn.lock
Due: none

chore: run yarn lint and format
  packages/react/src/components/ResizeBar/__stories__/ResizeBar.stories.js
  packages/react/src/components/ResizeBar/components/resize-bar.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: add ignores and ts fixes
  packages/react/src/components/ResizeBar/components/ResizeBar.tsx
Due: none

fix: lint, format
  packages/react/src/components/ResizeBar/components/ResizeBar.tsx
  packages/react/src/components/ResizeBar/components/resize-bar.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): refactor
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/WorkspaceSelector/WorkspaceSelector.tsx
  packages/react/src/components/AnimatedHeader/data/index.jsx
  packages/react/src/components/AnimatedHeader/index.ts
Due: none

chore(animated-header): fix internationalization
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

chore(animated-header): fix format
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
Due: none

chore(animated-header): Expose expand/collapse button label (#580)
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

Updated examples3.json
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples3.json
Due: none

Update CODEOWNERS conflict
  .github/CODEOWNERS
Due: none

Undid welcome.scss include change
  .storybook/welcome/welcome.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

Update chartElement stories conflict
  packages/web-components/src/components/chat/components/chartElement/__stories__/chartElement.stories.ts
Due: none

Updated examples2.json for grammar mistakes
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples2.json
Due: none

feat(chat): extensive updates to code charts and chat (#582)
  .storybook/welcome/welcome.scss
  packages/react/.storybook/styles.scss
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/web-components/src/components/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples2.json
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples3.json
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.scss
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.template.ts
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.ts
  packages/web-components/src/components/chat/components/chat/__stories__/chat.mdx
  packages/web-components/src/components/chat/components/chat/__stories__/chat.stories.js
  packages/web-components/src/components/chat/components/chat/src/chat.template.ts
  packages/web-components/src/components/chat/components/chat/src/chat.ts
  packages/web-components/src/components/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/web-components/src/components/chat/components/codeElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.scss
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.template.ts
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.ts
  packages/web-components/src/components/chat/components/diagramElement/__stories__/diagramElement.stories.js
  packages/web-components/src/components/chat/components/diagramElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/fileUploadElement/_stories-dont-show_/docs.mdx
  packages/web-components/src/components/chat/components/fileUploadElement/_stories-dont-show_/fileUploadElement.stories.js
  packages/web-components/src/components/chat/components/footer/src/footer.template.ts
  packages/web-components/src/components/chat/components/footer/src/footer.ts
  packages/web-components/src/components/chat/components/formulaElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/linkListElement/src/linkListElement.ts
  packages/web-components/src/components/chat/components/message/src/message.scss
  packages/web-components/src/components/chat/components/message/src/message.template.ts
  packages/web-components/src/components/chat/components/message/src/message.ts
  packages/web-components/src/components/chat/components/messages/src/messages.scss
  packages/web-components/src/components/chat/components/messages/src/messages.template.ts
  packages/web-components/src/components/chat/components/messages/src/messages.ts
  packages/web-components/src/components/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/web-components/src/components/chat/components/textElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/textElement/__stories__/text.mdx
  packages/web-components/src/components/chat/components/textElement/__stories__/textElement.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
Due: prettier --cache --write

chore: name change
  examples/react/Resizer/index.html
  examples/react/Resizer/package.json
  examples/react/Resizer/src/App.tsx
  examples/react/Resizer/src/index.scss
  examples/react/Resizer/src/main.tsx
  examples/react/Resizer/src/vite-env.d.ts
  examples/react/Resizer/tsconfig.json
  examples/react/Resizer/tsconfig.node.json
  examples/react/Resizer/vite.config.ts
  packages/react/src/components/Resizer/README.md
  packages/react/src/components/Resizer/__stories__/Resizer.mdx
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
  packages/react/src/components/Resizer/__tests__/Resizer.test.js
  packages/react/src/components/Resizer/components/Resizer.tsx
  packages/react/src/components/Resizer/components/resizer.scss
  packages/react/src/components/Resizer/index.ts
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/Resizer/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

refactor: clean up, a11y announcements inversion of control. added pseudo style for thicker handle
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
  packages/react/src/components/Resizer/components/Resizer.tsx
Due: none

fix: correct package exports (#539)
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/react/tasks/generate/templates/package-edit.json
  packages/utilities/package.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tasks/generate/templates/package-edit.json
Due: none

fix: format
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
  packages/react/src/components/Resizer/components/Resizer.tsx
Due: none

chore: cleanup, ignores, lint
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/CHANGELOG.md
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/TextHighlighter/CHANGELOG.md
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/CHANGELOG.md
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/CHANGELOG.md
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/CHANGELOG.md
  packages/web-components/src/components/ux-control/package.json
  yarn.lock
Due: prettier --cache --write

fix: lint
  packages/react/src/components/Resizer/components/resizer.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
