Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

feat(menu): add animation to submenus
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker): provide search label text
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.template.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

fix(style-picker): provide pictogram aria-label
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
Due: none

fix(style-picker): implement keyboard focus and selection
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
Due: none

fix(style-picker): implement keyboard focus and selection
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
Due: none

fix(style-picker): implement selection in search
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
Due: none

fix(style-picker): implement selection in search
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
Due: none

feat(animated-header): add fallback for gradient widths
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker): implement type-ahead and focus
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
Due: none

feat: expose thickness prop, docs and story updates (#738)
  packages/react/src/components/Resizer/__stories__/Resizer.mdx
  packages/react/src/components/Resizer/__stories__/Resizer.stories.js
  packages/react/src/components/Resizer/__tests__/__snapshots__/Resizer.test.js.snap
  packages/react/src/components/Resizer/components/Resizer.tsx
  packages/react/src/components/Resizer/components/resizer.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
Due: prettier --cache --write

feat(SideNav): implement pin functionality and update toggle button styles
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavToggle.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

refactor(SideNav): useCallback for resetNodeTabIndices and fix dependency array lint errors
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

feat(SideNav): add auto-expand toggle functionality and update translations
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix(SideNavLink): update navType check to use SIDE_NAV_TYPE constant
  packages/react/src/components/UIShell/components/SideNavLink.tsx
Due: none

feat(SideNav): enhance rail and pinned state handling in styles and rendering logic
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_content.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker): preserve previous focus
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
Due: none

chore: use rem units on thickness
  packages/react/src/components/Resizer/components/Resizer.tsx
Due: none

fix(style-picker): set aria-label and roles
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-group/src/style-picker-group.ts
  packages/web-components/src/components/style-picker/components/style-picker-option/src/style-picker-option.ts
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
Due: none

fix(style-picker): set aria-label and roles
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.template.ts
Due: none

fix(SideNav): prevent text wrapping in side navigation background
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNav): update side nav toggle sizing
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker): implement clickoutside close
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

chore(chat): extensive cross platform fixes
  packages/web-components/src/components/chat/components/chat/src/chat.template.ts
  packages/web-components/src/components/chat/components/chat/src/chat.ts
  packages/web-components/src/components/chat/components/diagramElement/__stories__/diagramElement.stories.js
  packages/web-components/src/components/chat/components/diagramElement/src/diagramElement.scss
  packages/web-components/src/components/chat/components/diagramElement/src/diagramElement.ts
  packages/web-components/src/components/chat/components/header/src/header.template.ts
  packages/web-components/src/components/chat/components/header/src/header.ts
  packages/web-components/src/components/chat/components/linkListElement/src/linkListElement.scss
  packages/web-components/src/components/chat/components/message/src/message.scss
  packages/web-components/src/components/chat/components/tagListElement/src/tagListElement.template.ts
  packages/web-components/src/components/chat/components/textElement/src/textElement.ts
  packages/web-components/src/components/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker): open first section by default in disclosed variant
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

fix(style-picker): implement close event and aria-expanded
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

chore: update snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
Due: none

test(style-picker): resolve accessibility test
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
Due: none

fix(menu): remove animation
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(caret): only show when nav is panel
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

chore(deps): update all carbon packages to latest
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/FirstTimeOrientation/package.json
  examples/react/Processing/package.json
  examples/react/Resizer/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/WhatsNew/package.json
  examples/web-components/empty-state/package.json
  examples/web-components/example-button/package.json
  examples/web-components/feedback/package.json
  examples/web-components/network-graph/package.json
  examples/web-components/style-picker/package.json
  examples/web-components/tag/package.json
  examples/web-components/toolbar/package.json
  examples/web-components/ux-control/package.json
  packages/react/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/react/tasks/generate/templates/example/package-edit.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tasks/generate/templates/example/package-edit.json
  packages/web-components/tasks/generate/templates/package-edit.json
  yarn.lock
Due: none

chore: snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
Due: none

chore: snapshot
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
Due: none

chore: snapshot
  packages/web-components/src/components/example-button/__tests__/__snapshots__/example-button.test.snap.js
Due: none

feat: style-picker react wrapper
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
  packages/web-components/src/components/style-picker/react/style-picker-color.ts
  packages/web-components/src/components/style-picker/react/style-picker-group.ts
  packages/web-components/src/components/style-picker/react/style-picker-icon.ts
  packages/web-components/src/components/style-picker/react/style-picker-option.ts
  packages/web-components/src/components/style-picker/react/style-picker-section.ts
  packages/web-components/src/components/style-picker/react/style-picker-sections.ts
  packages/web-components/src/components/style-picker/react/style-picker.ts
Due: none
