Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(react): implement Processing v2.0 proposal
  packages/react/src/components/Processing/__stories__/Processing.mdx
  packages/react/src/components/Processing/__stories__/Processing.stories.module.css
  packages/react/src/components/Processing/__stories__/Processing.stories.tsx
  packages/react/src/components/Processing/__tests__/Processing.test.js
  packages/react/src/components/Processing/__tests__/__snapshots__/Processing.test.js.snap
  packages/react/src/components/Processing/components/Processing.tsx
  packages/react/src/components/Processing/components/processing.scss
  packages/react/src/components/Processing/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

style(react): fix stylelint errors in Processing story styles
  packages/react/src/components/Processing/__stories__/Processing.stories.module.css
  packages/react/src/components/Processing/__stories__/Processing.stories.tsx
Due: none

fix(processing): honour reduced motion, retire stale runs, fix build
  packages/react/src/components/Processing/__stories__/Processing.stories.tsx
  packages/react/src/components/Processing/__stories__/storybook.scss
  packages/react/src/components/Processing/__tests__/Processing.test.js
  packages/react/src/components/Processing/__tests__/__snapshots__/Processing.test.js.snap
  packages/react/src/components/Processing/components/Processing.tsx
  packages/react/src/components/Processing/components/processing.scss
  packages/react/src/components/Processing/telemetry.yml
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(processing): correct v2 migration guidance and restore Figma assets
  packages/react/src/components/Processing/__stories__/Processing.mdx
Due: none

feat(processing): port the Processing engine and v2 behaviour
  packages/react/src/components/Processing/__stories__/Processing.mdx
  packages/react/src/components/Processing/__stories__/Processing.stories.tsx
  packages/react/src/components/Processing/__tests__/Processing.test.js
  packages/react/src/components/Processing/__tests__/__snapshots__/Processing.test.js.snap
  packages/react/src/components/Processing/components/Processing.tsx
  packages/react/src/components/Processing/components/processing.scss
  packages/react/src/components/Processing/components/processingEngine.ts
  packages/react/src/components/Processing/telemetry.yml
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(processing): update initiative owners
  packages/react/src/components/Processing/__stories__/Processing.mdx
Due: none

Update placeholder header name
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

fix(global-header): Sync Solis token refresh cycles (#1372)
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

Update HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

fix(processing): stop the load-in-to-pulse hand-off freezing then popping
  packages/react/src/components/Processing/__tests__/Processing.test.js
  packages/react/src/components/Processing/components/processingEngine.ts
Due: none

Update telemetry.yml
  packages/react/src/components/StylePicker/telemetry.yml
Due: none

chore(deploy): deploy storybook
  project.json
  react/project.json
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

fix(processing): continuous four-beat cascade for square; softer landing
  packages/react/src/components/Processing/components/processingEngine.ts
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/wysiwyg/CHANGELOG.md
  packages/web-components/src/components/wysiwyg/package.json
Due: prettier --cache --write

fix(processing): show real usage code in Storybook docs, not the demo wrapper
  packages/react/src/components/Processing/__stories__/Processing.stories.tsx
Due: none

Add startWarningTimer, cancelWarningTimer, update setActive and setIdle
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

Render warning notification, pass callbacks and lead time to session manager
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

Add expiry countdown, pass to notification. Show/hide notification
  packages/web-components/src/components/global-header/components/global-header/src/solis/SessionExpiryModal/SessionExpiryModal.ts
Due: none

Add warning properties to types file
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

Add unit tests for startWarningTimer and cancelWarningTimer, update other tests
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
Due: none

Add expiry countdown tests, update existing tests
  packages/web-components/src/components/global-header/components/global-header/src/solis/SessionExpiryModal/__tests__/SessionExpiryModal.test.ts
Due: none

Add totalSeconds to storybook
  packages/web-components/src/components/global-header/components/global-header/src/solis/SessionExpiryModal/__stories__/SessionExpiryModal.stories.ts
Due: none

Add story for warning notification
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
Due: none

Use correct theme for notification
  packages/web-components/src/components/global-header/components/global-header/src/globals/styles/_carbon.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Position and fade out notification
  packages/web-components/src/components/global-header/components/global-header/src/solis/SessionExpiryModal/_index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Tidy up
  packages/web-components/src/components/global-header/components/global-header/src/solis/SessionExpiryModal/SessionExpiryModal.ts
  packages/web-components/src/components/global-header/components/global-header/src/solis/SessionExpiryModal/__tests__/SessionExpiryModal.test.ts
Due: none

chore: dedupe prosemirror-model and prosemirror-view
  yarn.lock
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/wysiwyg/CHANGELOG.md
  packages/web-components/src/components/wysiwyg/package.json
Due: prettier --cache --write

Update HybridIpaasHeader.ts (#1379)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

Lint
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
