Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

update docs
  packages/web-components/src/components/global-header/__stories__/global-header.mdx
Due: none

update
  packages/web-components/src/components/global-header/__stories__/global-header.mdx
Due: none

chore(global-header): update docs (#924)
  packages/web-components/src/components/global-header/__stories__/global-header.mdx
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

Add sidekick props to window._solis
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSidekickScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

Call initSolicOptions for sidekick
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

Fix sidekick script tests
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/loadSidekickScript.test.ts
Due: none

Add more tests for sidekick script
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/loadSidekickScript.test.ts
Due: none

Fix merge mess up
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
Due: none

Linting
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/loadSidekickScript.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSidekickScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

fix: utilities package exports
  packages/utilities/package.json
  packages/utilities/scripts/build.sh
  packages/utilities/src/index.d.ts
  packages/utilities/src/settings/index.d.ts
  packages/utilities/src/settings/settings.d.ts
  packages/utilities/src/usePrefix.d.ts
Due: none

add instrumentation
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
Due: none

fix: rollup resolution
  packages/react/tasks/build.js
Due: none

Rename props
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSidekickScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSolisScript.ts
Due: none

Remove boolean value
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

add instrumentation (#926)
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
Due: none

change order
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
Due: none

feat(global-header): Add Solis sidekick component to the global header (#925)
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/SideNav.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.types.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/loadSidekickScript.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSidekickScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

feat(animated-header): add Carbon Tag to Tiles
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITileBody.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/ai-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTileBody.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): lint fix
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: format code
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
Due: none

feat(animated-header): add Carbon Tag to Tiles (#928)
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITileBody.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/ai-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTileBody.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

add missing icon
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

add missing icon (#931)
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
