Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
Due: none

Remove page load tile animation for Safari
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(profile): user info stories
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/components/styles/_user-info.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(profile): use namespacing
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/Profile.tsx
  packages/react/src/components/UIShell/index.ts
Due: none

fix(mdx): update
  packages/react/src/components/UIShell/__stories__/Profile.mdx
Due: none

docs(uishell): update storybook organization and docs
  packages/react/src/components/UIShell/__stories__/HeaderPopover.mdx
  packages/react/src/components/UIShell/__stories__/HeaderPopover.stories.js
  packages/react/src/components/UIShell/__stories__/SideNav.mdx
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/TrialCountdown.mdx
  packages/react/src/components/UIShell/__stories__/TrialCountdown.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix: update demo theme
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(profile): cleanup
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/components/Profile.tsx
  packages/react/src/components/UIShell/components/UserInfo.tsx
  packages/react/src/components/UIShell/components/styles/_profile.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(profile): format
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
Due: none

fix(profile): remove extras
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(Resizer): update entry points for package
  packages/react/src/components/Resizer/package.json
Due: none

chore(Resizer): add types field
  packages/react/src/components/Resizer/package.json
Due: none

fix(Resizer): update entry points for package (#680)
  packages/react/src/components/Resizer/package.json
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
Due: prettier --cache --write

feat(profile-readonly): add new
  packages/react/src/components/UIShell/__stories__/Profile.mdx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/components/Profile.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(ui-shell): update stackblitz
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/Profile.stories.js
  packages/react/src/components/UIShell/components/Profile.tsx
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

fix: cleanup unused imports
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

docs: cleanup
  packages/react/src/components/UIShell/__stories__/HeaderPopover.mdx
  packages/react/src/components/UIShell/__stories__/SideNav.mdx
Due: none

fix: adjust margin in side-nav slot for consistent spacing
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: remove unnecessary SideNavDivider and simplify querySelector logic
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix: typescript errors
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavItems.tsx
Due: none

fix(uishell): remove duplicate import
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

refactor(SideNavMenu): lint
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

feat(SideNavMenu): update submenu structure and padding
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNavMenu): prevent bold font on nonactive submenus
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): implement flat variant with one storybook example
  packages/web-components/src/components/style-picker/__stories__/_story.defs.ts
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.scss
  packages/web-components/src/components/style-picker/components/style-picker-module/src/style-picker-module.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/defs/style-picker.types.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): format
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(animated-header): Handling of loading and disabled states (#588)
  .storybook/welcome/welcome.scss
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
  packages/react/src/components/AnimatedHeader/components/WorkspaceSelector/WorkspaceSelector.tsx
  packages/react/src/components/AnimatedHeader/data/index.jsx
  packages/react/src/components/AnimatedHeader/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
