Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

feat(animated-header): heading update
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

chore: remove test story
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
Due: none

feat(SideNav): support additional levels of nesting and fix mobile sizing (#672)
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

feat(style-picker): implement search feature
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(style-picker): implement empty state
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(uishell): back button prevent close
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix(uishell): profile overflow scroll
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(uishell): back button prevent close (#724)
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix(SideNav): simplify children rendering logic in SideNavRenderFunction
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

feat(SideNav): add pinning functionality
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavPin.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker): change import of empty-state component
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/package.json
  yarn.lock
Due: none

chore(style-picker): resolve lint errors
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.scss
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(style-picker): resolve lint errors
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: add main and module entry point in package.json
  packages/react/src/components/Resizer/package.json
Due: none

chore: remove type module
  packages/react/src/components/Resizer/package.json
Due: none

fix(uishell): profile overflow scroll (#725)
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): remove ai-tile flex grow
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(style-picker): make empty-state and search props as dynamic
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

fix(style-picker): optimize handle search method call
  packages/web-components/src/components/style-picker/components/style-picker-section/src/style-picker-section.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
Due: none

feat(animated-header): add HeaderTitle component
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/HeaderTitle.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/header-title.scss
  packages/react/src/components/AnimatedHeader/components/animated-header.scss
  packages/react/src/components/AnimatedHeader/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write
