Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore(deploy): deploy web-components storybook
  web-components/project.json
Due: none

chore(deploy): deploy react storybook
  react/21.98417f0d.iframe.bundle.js
  react/21.98417f0d.iframe.bundle.js.LICENSE.txt
  react/236.5b3fff10.iframe.bundle.js
  react/components-ExampleButton-__stories__-ExampleButton-mdx.4411d048.iframe.bundle.js
  react/components-ExampleButton-__stories__-ExampleButton-mdx.4411d048.iframe.bundle.js.LICENSE.txt
  react/components-ExampleButton-__stories__-ExampleButton-mdx.5968dfed.iframe.bundle.js
  react/iframe.html
  react/main.58bba681.iframe.bundle.js
  react/main.b465d926.iframe.bundle.js
  react/project.json
  react/runtime~main.1bb3e414.iframe.bundle.js
  react/runtime~main.ac65dc38.iframe.bundle.js
Due: none

chore: update develper docs with react
  README.md
  docs/developing.md
  packages/react/src/components/ExampleButton/tsconfig.json
  packages/react/src/internal/usePrefix.ts
Due: prettier --cache --write

chore: add stackblitz example for example-button
  docs/developing.md
  examples/web-components/example-button/.gitignore
  examples/web-components/example-button/cdn.html
  examples/web-components/example-button/index.html
  examples/web-components/example-button/package.json
  examples/web-components/example-button/src/index.js
  examples/web-components/example-button/src/styles.scss
  packages/web-components/src/components/example-button/__stories__/example-button.mdx
  packages/web-components/src/components/example-button/__stories__/example-button.stories.js
  packages/web-components/src/components/example-button/components/example-button/src/example-button.template.ts
  packages/web-components/src/components/example-button/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update developer docs with react (#346)
  README.md
  docs/developing.md
  examples/web-components/example-button/.gitignore
  examples/web-components/example-button/cdn.html
  examples/web-components/example-button/index.html
  examples/web-components/example-button/package.json
  examples/web-components/example-button/src/index.js
  examples/web-components/example-button/src/styles.scss
  packages/react/src/components/ExampleButton/tsconfig.json
  packages/react/src/internal/usePrefix.ts
  packages/web-components/src/components/example-button/__stories__/example-button.mdx
  packages/web-components/src/components/example-button/__stories__/example-button.stories.js
  packages/web-components/src/components/example-button/components/example-button/src/example-button.template.ts
  packages/web-components/src/components/example-button/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(deploy): deploy web-components storybook
  web-components/assets/Color-F6OSRLHC-APMIOrjL.js
  web-components/assets/Color-F6OSRLHC-CZd02_ws.js
  web-components/assets/DocsRenderer-CFRXHY34-3fde6Nvq.js
  web-components/assets/DocsRenderer-CFRXHY34-D6X5Yh-Z.js
  web-components/assets/docs-BMcLYF3M.js
  web-components/assets/docs-BTc9mwzr.js
  web-components/assets/docs-BYjTtKAY.js
  web-components/assets/docs-B_0P5DTV.js
  web-components/assets/docs-C39f-zy2.js
  web-components/assets/docs-CYEQyipp.js
  web-components/assets/docs-D7PUzptN.js
  web-components/assets/example-button-D-Z0Hz4u.js
  web-components/assets/example-button.stories-BWkDBdT0.js
  web-components/assets/example-button.stories-Dx_bkYB7.js
  web-components/assets/iframe-BuRaoO3J.js
  web-components/assets/iframe-DVq5pEkn.js
  web-components/assets/index-DIcri3N1.js
  web-components/assets/index-DL2igCj8.js
  web-components/assets/index-FutNI1lV.js
  web-components/assets/popup-ChV8Pqrc.js
  web-components/assets/preview-DN82liuu.js
  web-components/assets/preview-Dx_PQkpI.js
  web-components/assets/preview-uCaPiywN.js
  web-components/assets/tag-Brc9LMdL.js
  web-components/assets/tag-DrROH3o1.js
  web-components/iframe.html
  web-components/index.json
  web-components/project.json
Due: none

chore(deploy): deploy react storybook
  react/project.json
Due: none

chore(deploy): deploy react storybook
  react/320.a589efac.iframe.bundle.js.map
  react/755.8ed6e3ed.iframe.bundle.js
  react/755.8ed6e3ed.iframe.bundle.js.LICENSE.txt
  react/755.8ed6e3ed.iframe.bundle.js.map
  react/components-ExampleButton-__stories__-ExampleButton-mdx.4df5ee1e28a33723816c.css.map
  react/iframe.html
  react/main.58bba681.iframe.bundle.js
  react/main.b200f4f1.iframe.bundle.js
  react/main.ff08d88dd79ee9fbb361.css.map
  react/project.json
Due: none

feat(sb): add root level storybook for framework composition
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  package.json
  packages/react/package.json
  packages/web-components/package.json
  stories/Button.js
  stories/Button.stories.js
  stories/Configure.mdx
  stories/Header.js
  stories/Header.stories.js
  stories/Page.js
  stories/Page.stories.js
  stories/assets/accessibility.png
  stories/assets/accessibility.svg
  stories/assets/addon-library.png
  stories/assets/assets.png
  stories/assets/avif-test-image.avif
  stories/assets/context.png
  stories/assets/discord.svg
  stories/assets/docs.png
  stories/assets/figma-plugin.png
  stories/assets/github.svg
  stories/assets/share.png
  stories/assets/styling.png
  stories/assets/testing.png
  stories/assets/theming.png
  stories/assets/tutorials.svg
  stories/assets/youtube.svg
  stories/button.css
  stories/header.css
  stories/page.css
  yarn.lock
Due: none

feat: script to generate base component in react
  examples/react/ExampleButton/.gitignore
  examples/react/ExampleButton/index.html
  examples/react/ExampleButton/package.json
  examples/react/ExampleButton/src/App.tsx
  examples/react/ExampleButton/src/index.scss
  examples/react/ExampleButton/src/main.tsx
  examples/react/ExampleButton/src/vite-env.d.ts
  examples/react/ExampleButton/tsconfig.json
  examples/react/ExampleButton/tsconfig.node.json
  examples/react/ExampleButton/vite.config.ts
  examples/web-components/example-button/cdn.html
  examples/web-components/example-button/index.html
  examples/web-components/example-button/package.json
  packages/react/package.json
  packages/react/src/components/ExampleButton/__stories__/ExampleButton.stories.js
  packages/react/tasks/generate/index.js
  packages/react/tasks/generate/templates/__stories__/DISPLAY_NAME.mdx
  packages/react/tasks/generate/templates/__stories__/DISPLAY_NAME.stories.js
  packages/react/tasks/generate/templates/__tests__/DISPLAY_NAME-test.js
  packages/react/tasks/generate/templates/components/DISPLAY_NAME.tsx
  packages/react/tasks/generate/templates/components/STYLE_NAME.scss
  packages/react/tasks/generate/templates/example/.gitignore
  packages/react/tasks/generate/templates/example/index.html
  packages/react/tasks/generate/templates/example/package-edit.json
  packages/react/tasks/generate/templates/example/src/App.tsx
  packages/react/tasks/generate/templates/example/src/index.scss
  packages/react/tasks/generate/templates/example/src/main.tsx
  packages/react/tasks/generate/templates/example/src/vite-env.d.ts
  packages/react/tasks/generate/templates/example/tsconfig.json
  packages/react/tasks/generate/templates/example/tsconfig.node.json
  packages/react/tasks/generate/templates/example/vite.config.ts
  packages/react/tasks/generate/templates/index.ts
  packages/react/tasks/generate/templates/package-edit.json
  packages/react/tasks/generate/templates/tsconfig.json
  packages/web-components/src/components/example-button/__stories__/example-button.mdx
  packages/web-components/src/components/example-button/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: clean up script
  packages/react/tasks/generate/index.js
Due: none

chore: license ignore generate template
  tools/check-license.cjs
Due: none

chore(deploy): deploy react storybook
  react/320.a589efac.iframe.bundle.js
  react/320.a589efac.iframe.bundle.js.LICENSE.txt
  react/320.a589efac.iframe.bundle.js.map
  react/755.8ed6e3ed.iframe.bundle.js.map
  react/components-ExampleButton-__stories__-ExampleButton-mdx.4df5ee1e28a33723816c.css.map
  react/iframe.html
  react/main.58bba681.iframe.bundle.js
  react/main.b200f4f1.iframe.bundle.js
  react/main.ff08d88dd79ee9fbb361.css.map
  react/project.json
Due: none

chore: script for web components
  .github/workflows/ci.yml
  packages/react/jest.config.js
  packages/react/tasks/generate/templates/__tests__/DISPLAY_NAME.test.js
  packages/web-components/tasks/generate/index.js
  packages/web-components/tasks/generate/templates/__stories__/DISPLAY_NAME.mdx
  packages/web-components/tasks/generate/templates/__stories__/DISPLAY_NAME.stories.js
  packages/web-components/tasks/generate/templates/__tests__/DISPLAY_NAME.test.js
  packages/web-components/tasks/generate/templates/components/DISPLAY_NAME/DISPLAY_NAME.ts
  packages/web-components/tasks/generate/templates/components/DISPLAY_NAME/src/DISPLAY_NAME.scss
  packages/web-components/tasks/generate/templates/components/DISPLAY_NAME/src/DISPLAY_NAME.template.ts
  packages/web-components/tasks/generate/templates/components/index.ts
  packages/web-components/tasks/generate/templates/example/.gitignore
  packages/web-components/tasks/generate/templates/example/cdn.html
  packages/web-components/tasks/generate/templates/example/index.html
  packages/web-components/tasks/generate/templates/example/package-edit.json
  packages/web-components/tasks/generate/templates/example/src/index.js
  packages/web-components/tasks/generate/templates/example/src/styles.scss
  packages/web-components/tasks/generate/templates/index.ts
  packages/web-components/tasks/generate/templates/package-edit.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: script for wc
  packages/web-components/package.json
  packages/web-components/tasks/generate/templates/__stories__/DISPLAY_NAME.mdx
  packages/web-components/tasks/generate/templates/__tests__/DISPLAY_NAME.test.js
  packages/web-components/tasks/generate/templates/components/DISPLAY_NAME/DISPLAY_NAME.ts
  packages/web-components/tasks/generate/templates/components/index.ts
  packages/web-components/tasks/generate/templates/index.ts
Due: none

chore(deploy): deploy web-components storybook
  web-components/assets/Color-F6OSRLHC-APMIOrjL.js
  web-components/assets/Color-F6OSRLHC-D6VpYLEy.js
  web-components/assets/DocsRenderer-CFRXHY34-3fde6Nvq.js
  web-components/assets/DocsRenderer-CFRXHY34-DoysZOIV.js
  web-components/assets/docs-BFsrNWM9.js
  web-components/assets/docs-BdrURdYI.js
  web-components/assets/docs-C3GbLbMZ.js
  web-components/assets/docs-CorW6nby.js
  web-components/assets/docs-D5vS281u.js
  web-components/assets/docs-DAl74QKn.js
  web-components/assets/docs-mBL8wgCk.js
  web-components/assets/example-button-CrW4uCQe.js
  web-components/assets/iframe-DVq5pEkn.js
  web-components/assets/iframe-sxqhJx1l.js
  web-components/assets/index-BiRGA4jn.js
  web-components/assets/index-CpJnW9bR.js
  web-components/assets/index-DIcri3N1.js
  web-components/assets/popup-D9Bziyii.js
  web-components/assets/preview-1xl7u7iB.js
  web-components/assets/preview-DIp0nFlD.js
  web-components/assets/preview-uCaPiywN.js
  web-components/assets/tag-BPc5MfF0.js
  web-components/iframe.html
  web-components/project.json
Due: none

chore(deploy): deploy react storybook
  react/components-ExampleButton-__stories__-ExampleButton-mdx.34d7f023.iframe.bundle.js
  react/components-ExampleButton-__stories__-ExampleButton-mdx.34d7f023.iframe.bundle.js.LICENSE.txt
  react/components-ExampleButton-__stories__-ExampleButton-mdx.4411d048.iframe.bundle.js
  react/iframe.html
  react/index.json
  react/project.json
  react/runtime~main.ac65dc38.iframe.bundle.js
  react/runtime~main.f39e399a.iframe.bundle.js
Due: none

docs: edit developer docs to include script
  README.md
  docs/developing.md
Due: prettier --cache --write

chore: move shared dependencies to root
  package.json
  packages/react/package.json
  packages/react/tasks/generate/index.js
  packages/web-components/tasks/generate/index.js
  yarn.lock
Due: none

docs: add component naming line
  docs/developing.md
Due: prettier --cache --write

chore: move shared dependencies to root (#356)
  package.json
  packages/react/package.json
  packages/react/tasks/generate/index.js
  packages/web-components/tasks/generate/index.js
  yarn.lock
Due: none

chore(deploy): deploy web-components storybook
  web-components/assets/Color-F6OSRLHC-D6VpYLEy.js
  web-components/assets/Color-F6OSRLHC-j5TkMb00.js
  web-components/assets/DocsRenderer-CFRXHY34-B1S1xYhb.js
  web-components/assets/DocsRenderer-CFRXHY34-DoysZOIV.js
  web-components/assets/docs-BwVB8lw3.js
  web-components/assets/docs-C3SBqYuK.js
  web-components/assets/docs-C3rtSE-E.js
  web-components/assets/docs-C8rUUpDi.js
  web-components/assets/docs-CIcg2ChR.js
  web-components/assets/docs-R2QSbk_j.js
  web-components/assets/docs-jXGWoMqR.js
  web-components/assets/example-button-0d9XlroX.js
  web-components/assets/iframe-sxqhJx1l.js
  web-components/assets/iframe-tyj41m5o.js
  web-components/assets/index-C4Wfb9Am.js
  web-components/assets/index-CpJnW9bR.js
  web-components/assets/index-DF4KpRTy.js
  web-components/assets/popup-Cku61i-a.js
  web-components/assets/preview-DIp0nFlD.js
  web-components/assets/preview-DoK7Av7l.js
  web-components/assets/preview-Dx_PQkpI.js
  web-components/assets/tag-eKhPYvjF.js
  web-components/iframe.html
  web-components/project.json
Due: none

chore: update docs
  README.md
Due: prettier --cache --write

docs: edit developer docs to include script (#355)
  README.md
  docs/developing.md
Due: prettier --cache --write

fix: fix web-component tests
  .github/workflows/ci.yml
  package.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/__tests__/__snapshots__/test-input.test.snap.js
  packages/web-components/src/components/chat/__tests__/test-input.test.ts
  packages/web-components/src/components/example-button/__tests__/__snapshots__/example-button.test.snap.js
  packages/web-components/src/components/example-button/__tests__/__snapshots__/extended-button.test.snap.js
  packages/web-components/src/components/example-button/__tests__/example-button.test.js
  packages/web-components/tasks/generate/templates/__tests__/DISPLAY_NAME.test.js
  web-test-runner.config.js
  yarn.lock
Due: none

chore: install playwright on ci-check
  .github/workflows/ci.yml
Due: none

chore: fix ci-check
  .github/workflows/ci.yml
Due: none

chore(sb): update welcome page
  .storybook/main.js
  .storybook/stories/Button.js
  .storybook/stories/Button.stories.js
  .storybook/stories/Configure.mdx
  .storybook/stories/Header.js
  .storybook/stories/Header.stories.js
  .storybook/stories/Page.js
  .storybook/stories/Page.stories.js
  .storybook/stories/Welcome.jsx
  .storybook/stories/Welcome.mdx
  .storybook/stories/button.css
  .storybook/stories/carbon-labs-4x3.png
  .storybook/stories/header.css
  .storybook/stories/page.css
  .storybook/stories/welcome.scss
  package.json
  stories/assets/accessibility.png
  stories/assets/accessibility.svg
  stories/assets/addon-library.png
  stories/assets/assets.png
  stories/assets/avif-test-image.avif
  stories/assets/context.png
  stories/assets/discord.svg
  stories/assets/docs.png
  stories/assets/figma-plugin.png
  stories/assets/github.svg
  stories/assets/share.png
  stories/assets/styling.png
  stories/assets/testing.png
  stories/assets/theming.png
  stories/assets/tutorials.svg
  stories/assets/youtube.svg
  stories/header.css
  stories/page.css
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update generate script
  .github/workflows/ci.yml
  docs/developing.md
  packages/react/tasks/generate/index.js
  packages/web-components/tasks/generate/index.js
Due: prettier --cache --write

chore: fix ci-tests
  .github/workflows/ci.yml
Due: none

chore: remove playwright temporarily
  .github/workflows/ci.yml
  packages/web-components/package.json
Due: none

fix: get web-component test for example-button working (#357)
  .github/workflows/ci.yml
  docs/developing.md
  package.json
  packages/react/tasks/generate/index.js
  packages/web-components/package.json
  packages/web-components/src/components/chat/__tests__/__snapshots__/test-input.test.snap.js
  packages/web-components/src/components/chat/__tests__/test-input.test.ts
  packages/web-components/src/components/example-button/__tests__/__snapshots__/example-button.test.snap.js
  packages/web-components/src/components/example-button/__tests__/__snapshots__/extended-button.test.snap.js
  packages/web-components/src/components/example-button/__tests__/example-button.test.js
  packages/web-components/tasks/generate/index.js
  packages/web-components/tasks/generate/templates/__tests__/DISPLAY_NAME.test.js
  web-test-runner.config.js
  yarn.lock
Due: prettier --cache --write
