Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore(bob): remove "made with bob"
  .storybook/templates/WithLayer.scss
  .storybook/templates/WithLayer.tsx
  .storybook/templates/index.ts
  packages/primitives/scripts/build.sh
  packages/primitives/src/date-picker/__tests__/click-outside-handler.test.ts
  packages/primitives/src/date-picker/actions.ts
  packages/primitives/src/date-picker/click-outside-handler.ts
  packages/primitives/src/date-picker/effects.ts
  packages/primitives/src/date-picker/guards.ts
  packages/primitives/src/date-picker/index.ts
  packages/primitives/src/date-picker/keyboard-utils.ts
  packages/primitives/src/date-picker/machine.ts
  packages/primitives/src/date-picker/states.ts
  packages/primitives/src/date-picker/styles/date-picker.scss
  packages/primitives/src/date-picker/temporal-utils.ts
  packages/primitives/src/date-picker/types.ts
  packages/primitives/src/index.ts
  packages/react/src/components/DatePicker/__stories__/date-picker-react.stories.tsx
  packages/react/src/components/DatePicker/__stories__/with-layer.scss
  packages/react/src/components/DatePicker/components/Calendar.tsx
  packages/react/src/components/DatePicker/components/DatePicker.tsx
  packages/react/src/components/DatePicker/components/DatePickerInput.tsx
  packages/react/src/components/DatePicker/components/DatePickerSkeleton.tsx
  packages/react/src/components/DatePicker/components/date-picker.scss
  packages/react/src/components/DatePicker/hooks/useDatePicker.ts
  packages/react/src/components/DatePicker/index.ts
  packages/react/src/components/DatePicker/telemetry.yml
  packages/web-components/src/components/date-picker/adapters/web-component-adapter.ts
  packages/web-components/src/components/date-picker/components/calendar-renderer.ts
  packages/web-components/src/components/date-picker/components/date-picker.scss
  packages/web-components/src/components/date-picker/components/date-picker.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(lint): fixed lint issues
  packages/primitives/src/date-picker/__tests__/click-outside-handler.test.ts
  packages/primitives/src/date-picker/actions.ts
  packages/primitives/src/date-picker/click-outside-handler.ts
  packages/primitives/src/date-picker/effects.ts
  packages/primitives/src/date-picker/guards.ts
  packages/primitives/src/date-picker/index.ts
  packages/primitives/src/date-picker/keyboard-utils.ts
  packages/primitives/src/date-picker/machine.ts
  packages/primitives/src/date-picker/states.ts
  packages/primitives/src/date-picker/styles/date-picker.scss
  packages/primitives/src/date-picker/temporal-utils.ts
  packages/primitives/src/date-picker/types.ts
  packages/react/src/components/DatePicker/__stories__/date-picker-react.stories.tsx
  packages/react/src/components/DatePicker/__stories__/with-layer.scss
  packages/react/src/components/DatePicker/components/Calendar.tsx
  packages/react/src/components/DatePicker/components/DatePicker.tsx
  packages/react/src/components/DatePicker/components/DatePickerInput.tsx
  packages/react/src/components/DatePicker/components/DatePickerSkeleton.tsx
  packages/react/src/components/DatePicker/components/date-picker.scss
  packages/react/src/components/DatePicker/hooks/useDatePicker.ts
  packages/react/src/components/DatePicker/index.ts
  packages/web-components/src/components/date-picker/adapters/web-component-adapter.ts
  packages/web-components/src/components/date-picker/components/calendar-renderer.ts
  packages/web-components/src/components/date-picker/components/date-picker.scss
  packages/web-components/src/components/date-picker/components/date-picker.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

cookie preferences
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/AuthContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__tests__/AuthContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

cleanup
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

TS
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

fix(deps): add @carbon/utilities as direct dep
  packages/react/src/components/WhatsNew/package.json
  yarn.lock
Due: none

fix(deps): add @carbon/utilities as direct dep (#1180)
  packages/react/src/components/WhatsNew/package.json
  yarn.lock
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: prettier --cache --write

chore: yarn dedupe
  yarn.lock
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

feat(global-header): cookie preferences (#1178)
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/AuthContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__tests__/AuthContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

chore(yarn): dedupe
  packages/react/src/components/MDXComponents/components/storybook-demo/_storybook-demo.scss
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
Due: prettier --cache --write

fix(uishell): added aria-hidden attribute for SharkFinIcon
  packages/react/src/components/UIShell/components/SharkFinIcon.tsx
Due: none

feat(TagInput): Initial commit
  examples/react/TagInput/index.html
  examples/react/TagInput/package.json
  examples/react/TagInput/src/App.tsx
  examples/react/TagInput/src/index.scss
  examples/react/TagInput/src/main.tsx
  examples/react/TagInput/src/vite-env.d.ts
  examples/react/TagInput/tsconfig.json
  examples/react/TagInput/tsconfig.node.json
  examples/react/TagInput/vite.config.ts
  packages/react/src/components/TagInput/README.md
  packages/react/src/components/TagInput/__stories__/TagInput.mdx
  packages/react/src/components/TagInput/__stories__/TagInput.stories.js
  packages/react/src/components/TagInput/__stories__/TagInputExample.stories.js
  packages/react/src/components/TagInput/__stories__/storybook.scss
  packages/react/src/components/TagInput/__tests__/TagInput.test.js
  packages/react/src/components/TagInput/__tests__/__snapshots__/TagInput.test.js.snap
  packages/react/src/components/TagInput/components/TagInput.tsx
  packages/react/src/components/TagInput/components/tag-input.scss
  packages/react/src/components/TagInput/index.ts
  packages/react/src/components/TagInput/package.json
  packages/react/src/components/TagInput/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: add peer dependencies to TagInput package
  packages/react/src/components/TagInput/package.json
  yarn.lock
Due: none

fix(uishell): added aria-hidden attribute for SharkFinIcon (#1185)
  packages/react/src/components/UIShell/components/SharkFinIcon.tsx
Due: none
