Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: instrument @carbon-labs/ai-chat with js scope (#144)
  packages/chat/package.json
  packages/chat/telemetry.yml
  yarn.lock
Due: none

chore(chat): removed logs
  packages/chat/components/chartElement/src/chartElement.ts
Due: none

chore(chat): merging packages
  yarn.lock
Due: none

chore(chat): adressing package issues
  packages/chat/components/updatetokens.sh
  packages/chat/package.json
  tsconfig.json
Due: none

Update packages/chat/package.json
  packages/chat/package.json
Due: none

chore(chat): fixed new TS issues
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.ts
Due: none

feat(chat): slotting and streaming (#145)
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/listElement/src/listElement.scss
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): added speech recognition and chat fixes
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/editableTextElement/src/editableTextElement.scss
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/textElement/src/textElement.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): Added speech recognition, feature requests for demo (#146)
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/editableTextElement/src/editableTextElement.scss
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/textElement/src/textElement.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): fixed tagging, added chart options
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/message/src/message.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): removed logs and changed chart modals/options
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/messages/src/messages.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(network-graph): Added Tooltip
  packages/network-graph/__stories__/network-graph.mdx
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

fix(network-graph): minor change
  packages/network-graph/__stories__/network-graph.stories.js
Due: none

feat(network-graph): Added Tooltip (#154)
  packages/network-graph/__stories__/network-graph.mdx
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

fix(network-graph): fixed canvas not occupying parent container dimensions
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

chore(chat): fixed chart update issue, repeating charts and docs
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/message/src/message.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(network-graph): added zoomToFit option
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

Update packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
Due: none

feat(chart): Finalized chart fixes + chat/chart documentation (#156)
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(network-graph): fixed canvas not occupying parent container dimensions (#155)
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(publish): merge from release/v0.6.0 (#157)
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

fix(storybook): correct component names
  packages/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/chat/components/editableTextElement/__stories__/editableTextElement.stories.js
Due: none

fix(storybook): correct component names (#158)
  packages/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/chat/components/editableTextElement/__stories__/editableTextElement.stories.js
Due: none

fix(network-graph): fixed zoomToFit delay
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

fix(network-graph): minor value changes
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

chore(storybook): generate custom-elements.json
  .storybook/preview.js
  custom-elements-manifest.config.js
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/feedback/__stories__/feedback.stories.js
Due: none

chore(package.json): add cem script
  package.json
Due: none

chore(storybook): add @element jsdoc
  package.json
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/chat.ts
  packages/feedback/__stories__/feedback.mdx
  packages/feedback/__stories__/feedback.stories.js
  packages/feedback/components/feedback/feedback.ts
  packages/network-graph/__stories__/network-graph.mdx
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/network-graph.ts
Due: none

chore(storybook): formmating of mdx
  packages/network-graph/__stories__/network-graph.mdx
Due: none

chore(storybook): generate custom-elements.json for storybook argstable (#160)
  .storybook/preview.js
  custom-elements-manifest.config.js
  package.json
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/chat.ts
  packages/feedback/__stories__/feedback.mdx
  packages/feedback/__stories__/feedback.stories.js
  packages/feedback/components/feedback/feedback.ts
  packages/network-graph/__stories__/network-graph.mdx
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/network-graph.ts
Due: none

fix(network-graph): fixed delay for zoomToFit option (#159)
  packages/network-graph/__stories__/network-graph.stories.js
  packages/network-graph/components/network-graph/src/network-graph.ts
Due: none

chore(publish): merge from release/v0.7.0 (#165)
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(chat): chart interactions, design updates
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/carouselElement/__stories__/carouselElement.stories.js
  packages/chat/components/carouselElement/src/carouselElement.template.ts
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/__stories__/chart.mdx
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/editableTextElement/src/editableTextElement.scss
  packages/chat/components/editableTextElement/src/editableTextElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/textElement/src/textElement.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
