Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: allow release workflow to be triggered manually
  .github/workflows/release.yml
Due: none

chore: allow release workflow to be triggered manually (#954)
  .github/workflows/release.yml
Due: none

chore: update release workflow
  .github/workflows/release.yml
Due: none

chore: adjust release workflow
  .github/workflows/release.yml
Due: none

chore: release
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

chore: update lerna to v9
  package.json
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore(deps): yarn dedupe
  yarn.lock
Due: none

chore(gh): update workflows to use nvmrc
  .github/workflows/ci.yml
  .github/workflows/create-release-tag-and-pr.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish.yml
  .nvmrc
Due: none

only set events when callback has been provided
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeaderReactWrapper/HybridIpaasHeaderReactWrapper.tsx
Due: none

only set events when callback has been provided (#959)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeaderReactWrapper/HybridIpaasHeaderReactWrapper.tsx
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

chore: change utilities package dependency for react theme settings
  packages/react/src/components/ThemeSettings/package.json
  yarn.lock
Due: none

fixes
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fixes (#961)
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
