Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix: lint and format
  examples/react/FirstTimeOrientation/src/App.tsx
  examples/react/FirstTimeOrientation/src/components/FirstTimeOrientation/PersonalizationInterstitial.tsx
  examples/react/FirstTimeOrientation/src/components/FirstTimeOrientation/WelcomeInterstitial.tsx
  examples/react/FirstTimeOrientation/src/components/FirstTimeOrientation/index.ts
  examples/react/FirstTimeOrientation/src/components/FirstTimeOrientation/styles/_firstTimeOrientation.scss
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/PersonalizationInterstitial.tsx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/WelcomeInterstitial.tsx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/index.ts
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/styles/_firstTimeOrientation.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

test: add tests
  packages/react/src/components/Resizer/__tests__/Resizer.test.js
  packages/react/src/components/Resizer/__tests__/__snapshots__/Resizer.test.js.snap
  packages/react/src/components/Resizer/components/Resizer.tsx
  packages/react/src/components/Resizer/components/resizer.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint, ignore test file
  packages/react/src/components/Resizer/__tests__/Resizer.test.js
Due: none

fix: comment 1 test
  packages/react/src/components/Resizer/__tests__/Resizer.test.js
Due: none

fix: corect example
  examples/react/FirstTimeOrientation/package.json
  examples/react/FirstTimeOrientation/src/App.tsx
  examples/react/FirstTimeOrientation/src/components/ContentWrapper.tsx
  examples/react/FirstTimeOrientation/src/components/FirstTimeOrientation/index.ts
  examples/react/FirstTimeOrientation/src/components/PersonalizationInterstitial.tsx
  examples/react/FirstTimeOrientation/src/components/WelcomeInterstitial.tsx
  examples/react/FirstTimeOrientation/src/components/assets/welcomeInterstitial.png
  examples/react/FirstTimeOrientation/src/components/styles/_firstTimeOrientation.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: update docs
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/index.ts
Due: none

fix: build
  packages/react/src/components/WhatsNew/__stories__/FirstTimeOrientation.stories.jsx
Due: none

fix: type exports based on attempted use of UIShell 0 39
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
Due: none

fix: generate type export
  packages/react/tasks/generate/templates/package-edit.json
Due: none

fix: update exports to match UI shell (#605)
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.tsx
  examples/react/ExampleButton/src/App.tsx
  examples/react/Processing/src/App.tsx
  examples/react/TextHighlighter/src/App.tsx
  examples/react/WhatsNew/src/App.tsx
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/react/tasks/generate/templates/example/src/App.tsx
  packages/react/tasks/generate/templates/package-edit.json
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/CHANGELOG.md
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/CHANGELOG.md
  packages/react/src/components/Processing/package.json
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/CHANGELOG.md
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
Due: prettier --cache --write

feat(uishell): update navigation to be overlay and not grid influencer
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_content.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
Due: none

fix(storybook): style import
  packages/react/.storybook/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Revert "fix: update exports to match UI shell (#605)"
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  examples/react/ExampleButton/src/App.tsx
  examples/react/Processing/src/App.tsx
  examples/react/TextHighlighter/src/App.tsx
  examples/react/WhatsNew/src/App.tsx
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Processing/package.json
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/react/tasks/generate/templates/example/src/App.tsx
  packages/react/tasks/generate/templates/package-edit.json
Due: none

fix: license and doc update
  examples/react/FirstTimeOrientation/src/components/WelcomeInterstitial.tsx
  examples/react/FirstTimeOrientation/src/components/styles/_firstTimeOrientation.scss
  packages/react/src/components/WhatsNew/__stories__/FirstTimeOrientation.stories.jsx
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.mdx
  packages/react/src/components/WhatsNew/__stories__/components/FirstTimeOrientation/styles/_firstTimeOrientation.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: revert change for mdxcomponents package test
  packages/react/src/components/MDXComponents/package.json
Due: none

chore: revert change for mdxcomponents package test (#623)
  packages/react/src/components/MDXComponents/package.json
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
Due: prettier --cache --write

chore: update snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
Due: none

fix: add breakpoint utility for responsive side-nav rail
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: update breakpoint
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update packages/react/src/components/UIShell/components/styles/_content.scss
  packages/react/src/components/UIShell/components/styles/_content.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(ui-shell): double wide
  packages/react/.storybook/styles.scss
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(ui-shell): format and add props
  packages/react/.storybook/styles.scss
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: spacing import
  packages/react/src/components/UIShell/components/styles/_content.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: spacing tokens
  packages/react/src/components/UIShell/components/styles/_content.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(side-nav): use uniqueid instead of title
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

Apply suggestions from code review
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix(stories): new side nav double wide
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(format): story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

refactor: update review comments from side panel
  packages/react/src/components/Resizer/components/Resizer.tsx
Due: none

feat(uishell): update navigation to be overlay and not grid influencer (#620)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_content.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write
