Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix(profile): move styles to story styles
  packages/react/src/components/UIShell/__stories__/UIShell.scss
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(format): update
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(header-overflow-panel): documentation
  packages/react/src/components/UIShell/__stories__/HeaderOverflowPanel.mdx
  packages/react/src/components/UIShell/__stories__/HeaderOverflowPanel.stories.js
  packages/react/src/components/UIShell/__stories__/HeaderPopover.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.scss
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

custom build and pin carbon-wc
  packages/web-components/src/components/global-header/components/global-header/src/global-header.template.ts
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/global-header/vite.config.js
  yarn.lock
Due: none

stick to vite v6 for node 18 support
  packages/web-components/src/components/global-header/package.json
  yarn.lock
Due: none

fix test
  packages/web-components/src/components/global-header/__tests__/global-header.test.js
Due: none

fix(global-header): custom build and pin carbon-wc (#856)
  packages/web-components/src/components/global-header/__tests__/global-header.test.js
  packages/web-components/src/components/global-header/components/global-header/src/global-header.template.ts
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/global-header/vite.config.js
  yarn.lock
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

chore(animated-header): add event to click handler
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

chore(animated-header): add event to click handler (#860)
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

create typescript types file
  packages/web-components/src/components/global-header/declarations.d.ts
  packages/web-components/src/components/global-header/package.json
Due: none

create typescript types file (#870)
  packages/web-components/src/components/global-header/declarations.d.ts
  packages/web-components/src/components/global-header/package.json
Due: none

fix(SideNavFlyoutMenu): update flyout menu item visibility based on focus state
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(side-nav): set display rule
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNavMenu): update content container element
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix(SideNavFlyoutMenu): set Popover as "li" element
  packages/react/src/components/UIShell/components/SideNavFlyoutMenu.tsx
Due: none

fix(comments): update
  packages/react/src/components/UIShell/__stories__/HeaderOverflowPanel.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_header-overflow-panel.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

use clabs prefix for all elements
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/AuthContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__tests__/AuthContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/WideSideNav.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__tests__/CommonHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__tests__/WideSideNav.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/__tests__/HeaderContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/ProfilePopover/ProfilePopover.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/ProfilePopover/__tests__/ProfilePopover.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Search/Search.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Search/__tests__/Search.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/__tests__/SideNavItem.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/Switcher.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/__tests__/Switcher.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialPopover/TrialPopover.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialPopover/__tests__/TrialPopover.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UnauthenticatedContext/UnauthenticatedContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UnauthenticatedContext/UnauthenticatedContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UnauthenticatedContext/__tests__/UnauthenticatedContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UserProfileImage/UserProfileImage.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UserProfileImage/__tests__/UserProfileImage.test.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(deps): update carbon packages
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/FirstTimeOrientation/package.json
  examples/react/Processing/package.json
  examples/react/Resizer/package.json
  examples/react/StylePicker/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/WhatsNew/package.json
  examples/web-components/empty-state/package.json
  examples/web-components/example-button/package.json
  examples/web-components/feedback/package.json
  examples/web-components/first-time-orientation/package.json
  examples/web-components/global-header/package.json
  examples/web-components/network-graph/package.json
  examples/web-components/style-picker/package.json
  examples/web-components/tag/package.json
  examples/web-components/toolbar/package.json
  examples/web-components/ux-control/package.json
  packages/react/package.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  yarn.lock
Due: none

chore(deps): update carbon packages (#885)
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/FirstTimeOrientation/package.json
  examples/react/Processing/package.json
  examples/react/Resizer/package.json
  examples/react/StylePicker/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/WhatsNew/package.json
  examples/web-components/empty-state/package.json
  examples/web-components/example-button/package.json
  examples/web-components/feedback/package.json
  examples/web-components/first-time-orientation/package.json
  examples/web-components/global-header/package.json
  examples/web-components/network-graph/package.json
  examples/web-components/style-picker/package.json
  examples/web-components/tag/package.json
  examples/web-components/toolbar/package.json
  examples/web-components/ux-control/package.json
  packages/react/package.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  yarn.lock
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/CHANGELOG.md
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/CHANGELOG.md
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/CHANGELOG.md
  packages/web-components/src/components/ux-control/package.json
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

fix(comments): udpate
  examples/react/UIShell/src/components/HeaderGlobalBarExample.tsx
  packages/react/src/components/UIShell/__stories__/HeaderOverflowPanel.mdx
  packages/react/src/components/UIShell/__stories__/HeaderOverflowPanel.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_header-overflow-panel.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input
