Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix: linting styles
  packages/react/src/components/TextHighlighter/__stories__/storybook.scss
  packages/react/src/components/WhatsNew/__stories__/storybook.scss
  packages/react/src/components/WhatsNew/components/Toc/ACCESSIBILITY.md
  packages/react/src/components/WhatsNew/components/Toc/toc.scss
  packages/react/src/components/WhatsNew/components/styles/_toc.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

pre-render some header elements
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

increase test coverage
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

feat(global-header): pre-render some header elements (#1161)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

add icon
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

add icon (#1164)
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

fix: divider styles
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix: border color
  packages/react/src/components/UIShell/components/styles/_header-divider.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: resizer web components initial commit
  packages/web-components/src/components/resizer/README.md
  packages/web-components/src/components/resizer/__stories__/resizer.mdx
  packages/web-components/src/components/resizer/__stories__/resizer.stories.js
  packages/web-components/src/components/resizer/__tests__/__snapshots__/resizer.test.snap.js
  packages/web-components/src/components/resizer/__tests__/resizer.test.js
  packages/web-components/src/components/resizer/components/resizer-grid/resizer-grid.ts
  packages/web-components/src/components/resizer/components/resizer-grid/src/resizer-grid.scss
  packages/web-components/src/components/resizer/components/resizer-grid/src/resizer-grid.template.ts
  packages/web-components/src/components/resizer/components/resizer-handle-pivot/resizer-handle-pivot.ts
  packages/web-components/src/components/resizer/components/resizer-handle-pivot/src/resizer-handle-pivot.scss
  packages/web-components/src/components/resizer/components/resizer-handle-pivot/src/resizer-handle-pivot.template.ts
  packages/web-components/src/components/resizer/components/resizer-handle/resizer-handle.ts
  packages/web-components/src/components/resizer/components/resizer-handle/src/resizer-handle.scss
  packages/web-components/src/components/resizer/components/resizer-handle/src/resizer-handle.template.ts
  packages/web-components/src/components/resizer/components/resizer-panel/resizer-panel.ts
  packages/web-components/src/components/resizer/components/resizer-panel/src/resizer-panel.scss
  packages/web-components/src/components/resizer/components/resizer-panel/src/resizer-panel.template.ts
  packages/web-components/src/components/resizer/index.ts
  packages/web-components/src/components/resizer/package.json
  packages/web-components/src/components/resizer/src/constants.ts
  packages/web-components/src/components/resizer/src/types.ts
  packages/web-components/src/components/resizer/src/utils.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: added HeaderDivider between HeaderName and TrialCountdown (#1165)
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix: lint
  packages/web-components/src/components/resizer/components/resizer-grid/src/resizer-grid.scss
  packages/web-components/src/components/resizer/components/resizer-handle-pivot/src/resizer-handle-pivot.scss
  packages/web-components/src/components/resizer/components/resizer-handle/src/resizer-handle.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

add cookie icon
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

add cookie icon (#1167)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

chore: update initiative owner
  packages/web-components/src/components/resizer/__stories__/resizer.mdx
Due: none

move to firstUpdated
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

move to firstUpdated (#1170)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none
