Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix(datepicker): refactor calendar icon click handling to true button
  packages/primitives/src/date-picker/actions.ts
  packages/primitives/src/date-picker/machine.ts
  packages/web-components/package.json
  packages/web-components/src/v12/components/date-picker/__tests__/date-picker-calendar.test.js
  packages/web-components/src/v12/components/date-picker/__tests__/date-picker-icon.test.js
  packages/web-components/src/v12/components/date-picker/__tests__/date-picker-range.test.js
  packages/web-components/src/v12/components/date-picker/__tests__/date-picker.test.js
  packages/web-components/src/v12/components/date-picker/components/date-picker/date-picker-input.ts
  packages/web-components/src/v12/components/date-picker/components/date-picker/date-picker.ts
Due: none

fix(format): various lint and format fixes
  .eslintrc
  packages/web-components/src/v12/components/date-picker/__tests__/date-picker-icon.test.js
Due: none

fix(primitives): restore focus after ENTER_KEY date selection in state machine
  .github/workflows/ci.yml
  packages/primitives/package.json
  packages/primitives/src/date-picker/__tests__/click-outside-handler.test.ts
  packages/primitives/src/date-picker/__tests__/machine-focus-restoration.test.ts
  packages/primitives/src/date-picker/actions.ts
  packages/primitives/tsconfig.json
  packages/primitives/vitest.config.ts
  packages/primitives/vitest.setup.ts
  yarn.lock
Due: none

fix(date-picker): remove redundant updateContext calls in selectDate
  packages/react/src/v12/components/DatePicker/hooks/useDatePicker.ts
Due: none

fix(date-picker): sync React state after updateContext clears focus flags
  packages/react/src/v12/components/DatePicker/hooks/useDatePicker.ts
Due: none

fix(date-picker): remove context.isOpen from subscription useEffect deps
  packages/react/src/v12/components/DatePicker/hooks/useDatePicker.ts
Due: none

fix(date-picker): link and dedupe fixes
  packages/primitives/src/date-picker/__tests__/machine-focus-restoration.test.ts
  packages/primitives/vitest.setup.ts
  yarn.lock
Due: none

fix(date-picker): resolve focus restoration lint and build errors
  packages/react/src/v12/components/DatePicker/hooks/useDatePicker.ts
Due: none

fix(wc-date-picker): calendar stays open after clicking a date
  .github/workflows/ci.yml
  package.json
  packages/primitives/src/date-picker/actions.ts
  packages/web-components/src/v12/components/date-picker/__tests__/date-picker-calendar.test.js
  packages/web-components/src/v12/components/date-picker/components/date-picker/date-picker.ts
Due: none

fix(wc-date-picker): format fix
  packages/web-components/src/v12/components/date-picker/__tests__/date-picker-calendar.test.js
Due: none

chore(ci): separate e2e tests from unit tests
  .github/workflows/ci.yml
Due: none

feat(rating): add rating component
  packages/web-components/src/components/rating/CHANGELOG.md
  packages/web-components/src/components/rating/components/rating/defs.ts
  packages/web-components/src/components/rating/components/rating/src/rating.scss
  packages/web-components/src/components/rating/components/rating/src/rating.ts
  packages/web-components/src/components/rating/index.ts
  packages/web-components/src/components/rating/package.json
  packages/web-components/src/components/rating/rating-test.js
  packages/web-components/src/components/rating/rating.mdx
  packages/web-components/src/components/rating/rating.stories.ts
  packages/web-components/src/components/rating/telemetry.yml
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(trial-countdown): remove underline
  packages/react/src/components/UIShell/components/styles/_trial-countdown.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: remove box-shadow token in favour of existing
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: popover menu borders with cut-off at trigger
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: override popover content inset upwards 0.5px
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

uses the solis proxy if not on a custom domain
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/web-test-runner.config.mjs
Due: none

invert logic
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

pivot updates
  packages/web-components/src/components/resizer/__stories__/resizer-web-ide.stories.js
  packages/web-components/src/components/resizer/__stories__/resizer-web-ide.stories.scss
  packages/web-components/src/components/resizer/components/resizer-handle-pivot/src/resizer-handle-pivot.scss
  packages/web-components/src/components/resizer/components/resizer-handle-pivot/src/resizer-handle-pivot.template.ts
  packages/web-components/src/components/resizer/components/resizer-handle/src/resizer-handle.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

more cleanup
  packages/web-components/src/components/resizer/__stories__/resizer-web-ide.stories.js
  packages/web-components/src/components/resizer/__stories__/resizer.stories.js
  packages/web-components/src/components/resizer/__tests__/resizer.test.js
  packages/web-components/src/components/resizer/components/resizer-handle-pivot/src/resizer-handle-pivot.template.ts
  packages/web-components/src/components/resizer/components/resizer-handle/src/resizer-handle.template.ts
  packages/web-components/src/components/resizer/src/types.ts
  packages/web-components/src/components/resizer/src/utils.ts
Due: none

revert: fix: override popover content inset upwards 0.5px
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(ui-shell): ui-shell header enhancements (#1272)
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/Profile.tsx
  packages/react/src/components/UIShell/components/TrialCountdown.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/styles/_trial-countdown.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  project.json
  react/2002.8e306fc3b80e0c094b0a.css
  react/2002.8e306fc3b80e0c094b0a.css.map
  react/2002.a331444456a14d084ab7.css
  react/2002.a331444456a14d084ab7.css.map
  react/5634.26297884.iframe.bundle.js
  react/5634.26297884.iframe.bundle.js.map
  react/5634.84868b5b.iframe.bundle.js
  react/5634.84868b5b.iframe.bundle.js.LICENSE.txt
  react/5634.84868b5b.iframe.bundle.js.map
  react/UIShell-__stories__-TrialCountdown-stories.7b82d78b.iframe.bundle.js
  react/UIShell-__stories__-TrialCountdown-stories.7b82d78b.iframe.bundle.js.LICENSE.txt
  react/UIShell-__stories__-TrialCountdown-stories.7b82d78b.iframe.bundle.js.map
  react/UIShell-__stories__-TrialCountdown-stories.e6a55bb0.iframe.bundle.js
  react/UIShell-__stories__-TrialCountdown-stories.e6a55bb0.iframe.bundle.js.map
  react/UIShell-__stories__-UIShell-mdx.9200d180.iframe.bundle.js
  react/UIShell-__stories__-UIShell-mdx.9200d180.iframe.bundle.js.LICENSE.txt
  react/UIShell-__stories__-UIShell-mdx.9200d180.iframe.bundle.js.map
  react/UIShell-__stories__-UIShell-mdx.ca1f1b09.iframe.bundle.js
  react/UIShell-__stories__-UIShell-mdx.ca1f1b09.iframe.bundle.js.LICENSE.txt
  react/UIShell-__stories__-UIShell-mdx.ca1f1b09.iframe.bundle.js.map
  react/iframe.html
  react/project.json
  react/runtime~main.14e0edc2.iframe.bundle.js
  react/runtime~main.14e0edc2.iframe.bundle.js.map
  react/runtime~main.92288332.iframe.bundle.js
  react/runtime~main.92288332.iframe.bundle.js.map
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

fix: lint license format
  packages/web-components/src/components/resizer/__stories__/resizer-web-ide.stories.js
  packages/web-components/src/components/resizer/__stories__/resizer-web-ide.stories.scss
  packages/web-components/src/components/resizer/components/resizer-handle-pivot/src/resizer-handle-pivot.scss
  packages/web-components/src/components/resizer/components/resizer-handle-pivot/src/resizer-handle-pivot.template.ts
  packages/web-components/src/components/resizer/components/resizer-handle/src/resizer-handle.template.ts
  packages/web-components/src/components/resizer/src/utils.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: Added TimeDisplay component with stories
  packages/react/src/components/TimeDisplay/__stories__/TimeDisplay.mdx
  packages/react/src/components/TimeDisplay/__stories__/TimeDisplay.stories.tsx
  packages/react/src/components/TimeDisplay/__tests__/TimeDisplay-test.js
  packages/react/src/components/TimeDisplay/components/AnimatedDigit.tsx
  packages/react/src/components/TimeDisplay/components/AnimatedNumber.tsx
  packages/react/src/components/TimeDisplay/components/TimeDisplay.tsx
  packages/react/src/components/TimeDisplay/components/TimeDisplay.types.ts
  packages/react/src/components/TimeDisplay/components/time-display.scss
  packages/react/src/components/TimeDisplay/hooks/useTimeCalculation.ts
  packages/react/src/components/TimeDisplay/index.ts
  packages/react/src/components/TimeDisplay/package.json
  packages/react/src/components/TimeDisplay/tsconfig.json
  packages/react/src/components/TimeDisplay/utils/timeUtils.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Linting
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

Swap Observability for Your products to get e2e tests passing
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

feat(animated-header): Update header to have page carousel
  animated-header-carousel-plan.md
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/types.ts
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/HeaderCarousel.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/header-carousel.scss
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/header-carousel.types.ts
  packages/react/src/components/AnimatedHeader/components/animated-header.scss
  packages/react/src/components/AnimatedHeader/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(global-header): Proxy if custom domain (#1292)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/web-test-runner.config.mjs
Due: none

feat(animated-header): formatting cleanup
  animated-header-carousel-plan.md
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderCarousel/animated-header-carousel-plan.md
Due: prettier --cache --write

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

fix(date-picker): reopen calendar on input click after date selection
  packages/react/src/v12/components/DatePicker/components/DatePicker.test.tsx
  packages/react/src/v12/components/DatePicker/components/DatePicker.tsx
  packages/react/src/v12/components/DatePicker/components/DatePickerInput.tsx
  packages/web-components/src/v12/components/date-picker/__tests__/date-picker-calendar.test.js
  packages/web-components/src/v12/components/date-picker/components/date-picker/date-picker-input.ts
  packages/web-components/src/v12/components/date-picker/components/date-picker/date-picker.ts
Due: none

fix(date-picker): fix formatting
  packages/react/src/v12/components/DatePicker/components/DatePicker.test.tsx
  packages/web-components/src/v12/components/date-picker/__tests__/date-picker-calendar.test.js
Due: none

fix(date-picker): prevent focus trap when tabbing out of calendar
  packages/react/src/v12/components/DatePicker/components/DatePicker.test.tsx
  packages/react/src/v12/components/DatePicker/hooks/useDatePicker.ts
Due: none

fix(date-picker): replace DOM scan with focus sentinel for Tab exit navigation
  packages/react/src/v12/components/DatePicker/components/DatePicker.test.tsx
  packages/react/src/v12/components/DatePicker/components/DatePicker.tsx
  packages/react/src/v12/components/DatePicker/hooks/useDatePicker.ts
  packages/web-components/package.json
  packages/web-components/src/v12/components/date-picker/__tests__/date-picker-keyboard-focus.test.js
  packages/web-components/src/v12/components/date-picker/components/date-picker/date-picker.ts
Due: none

fix(date-picker): lint fixes
  packages/react/src/v12/components/DatePicker/hooks/useDatePicker.ts
  packages/web-components/src/v12/components/date-picker/__tests__/date-picker-keyboard-focus.test.js
Due: none

fix(date-picker): add todo for migration to monorepo focus sentinel upon graduation
  packages/react/src/v12/components/DatePicker/hooks/useDatePicker.ts
  packages/web-components/src/v12/components/date-picker/components/date-picker/date-picker.ts
Due: none

Solis token refresh logic first drop
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none
