Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/FirstTimeOrientation/CHANGELOG.md
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/CHANGELOG.md
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/network-graph/CHANGELOG.md
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/CHANGELOG.md
  packages/web-components/src/components/ux-control/package.json
  yarn.lock
Due: prettier --cache --write

load styles in wrapper
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

load styles in wrapper (#850)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

docs(text-highlighter): add usage doc (#836)
  packages/react/src/components/TextHighlighter/__docs__/Usage.mdx
  packages/react/src/components/TextHighlighter/__docs__/images/highlighter-color.png
  packages/react/src/components/TextHighlighter/__docs__/images/ins-del-variants.png
  packages/react/src/components/TextHighlighter/__docs__/images/mark-variant.png
  packages/react/src/components/TextHighlighter/__docs__/images/reference-annotation.png
  packages/react/src/components/TextHighlighter/__docs__/images/text-highlighter-anatomy.png
  packages/react/src/components/TextHighlighter/__stories__/TextHighlighter.stories.js
  packages/react/src/components/TextHighlighter/__stories__/storybook.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/TextHighlighter/CHANGELOG.md
  packages/react/src/components/TextHighlighter/package.json
Due: prettier --cache --write

Change default profile footer logout text to 'Log out'
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

Update SideNav.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/SideNav.stories.ts
Due: none

Update AuthContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__stories__/AuthContext.stories.ts
Due: none

Update headeroptions.json
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/headeroptions.json
Due: none

Update CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
Due: none

Update TrialContent.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialContent/__stories__/TrialContent.stories.ts
Due: none

Update useScript.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/useScript.test.ts
Due: none

Update HeaderContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/__tests__/HeaderContext.test.ts
Due: none

Update HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

Update AuthContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__tests__/AuthContext.test.ts
Due: none

fix(global-header): Change header profile footer logout text to 'Log out' (#852)
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__stories__/AuthContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__tests__/AuthContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/SideNav.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/__tests__/HeaderContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/headeroptions.json
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialContent/__stories__/TrialContent.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/useScript.test.ts
Due: none

fix(ux-control): missing iconLoader
  packages/web-components/src/components/ux-control/components/ux-control/src/ux-control.template.ts
Due: none

feat(header-overflow-panel): add to ui-shell
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderOverflowPanel.tsx
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_header-overflow-panel.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(ux-control): missing iconLoader (#853)
  packages/web-components/src/components/ux-control/components/ux-control/src/ux-control.template.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/ux-control/CHANGELOG.md
  packages/web-components/src/components/ux-control/package.json
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
