Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix: yarn format
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.js
Due: none

fix: yarn install on latest
  yarn.lock
Due: none

fix: check build issue with in a test PR
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
Due: none

Update packages/react/src/components/StylePicker/package.json
  packages/react/src/components/StylePicker/package.json
Due: none

Update packages/react/src/components/StylePicker/__stories__/StylePicker.stories.js
  packages/react/src/components/StylePicker/__stories__/StylePicker.stories.js
Due: none

Update packages/react/.storybook/main.js
  packages/react/.storybook/main.js
Due: none

fix: lock
  yarn.lock
Due: none

fix: lock
  packages/react/src/components/StylePicker/package.json
  yarn.lock
Due: none

feat(animated-header): add AI Tile & Tile rework
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/types.ts
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/HeaderTitle.tsx
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITileBody.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/ai-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/index.ts
  packages/react/src/components/AnimatedHeader/components/animated-header.scss
  packages/react/src/components/AnimatedHeader/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): update overview mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
Due: none

feat(animated-header): update docs
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
Due: none

feat(animated-header): update overview types
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
Due: none

chore: change back to canary
  packages/react/src/components/StylePicker/package.json
Due: none

chore: yarn.lock
  yarn.lock
Due: none

chore: yarn format
  packages/react/src/components/StylePicker/__stories__/StylePicker.stories.js
Due: none

fix: firstTimeOrientation restore changes to check build issue (#797)
  examples/web-components/first-time-orientation/package.json
  packages/web-components/package.json
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.js
  yarn.lock
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

chore: update codeowners to add global-header-devs team
  .github/CODEOWNERS
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: update codeowners to add global-header-devs team (#802)
  .github/CODEOWNERS
Due: none

feat: react StylePicker (#770)
  examples/react/StylePicker/index.html
  examples/react/StylePicker/package.json
  examples/react/StylePicker/src/App.tsx
  examples/react/StylePicker/src/index.scss
  examples/react/StylePicker/src/main.tsx
  examples/react/StylePicker/src/vite-env.d.ts
  examples/react/StylePicker/tsconfig.json
  examples/react/StylePicker/tsconfig.node.json
  examples/react/StylePicker/vite.config.ts
  packages/react/.storybook/main.js
  packages/react/jest.config.js
  packages/react/src/components/StylePicker/README.md
  packages/react/src/components/StylePicker/__stories__/StylePicker.mdx
  packages/react/src/components/StylePicker/__stories__/StylePicker.stories.js
  packages/react/src/components/StylePicker/__stories__/_storybook-styles.scss
  packages/react/src/components/StylePicker/__tests__/StylePicker.test.js
  packages/react/src/components/StylePicker/components/index.ts
  packages/react/src/components/StylePicker/components/style-picker-color.ts
  packages/react/src/components/StylePicker/components/style-picker-group.ts
  packages/react/src/components/StylePicker/components/style-picker-icon.ts
  packages/react/src/components/StylePicker/components/style-picker-option.ts
  packages/react/src/components/StylePicker/components/style-picker-section.ts
  packages/react/src/components/StylePicker/components/style-picker-sections.ts
  packages/react/src/components/StylePicker/components/style-picker.ts
  packages/react/src/components/StylePicker/index.ts
  packages/react/src/components/StylePicker/package.json
  packages/react/src/components/StylePicker/tsconfig.json
  packages/web-components/src/components/style-picker/index.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

feat(animated-header): add static header SVGs for db2 (#773)
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/assets/animated/header_1312x738_data_fabric_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_1312x738_data_fabric_light_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_1312x738_watsonx_data_dark_02.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_1312x738_watsonx_data_light_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_data_fabric_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_data_fabric_light_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_watsonx_a_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_watsonx_a_light_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_watsonx_data_dark_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_watsonx_data_light_04.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_wxbia_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_wxbia_light_09.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_illustration_container_watsonx_a_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_illustration_container_watsonx_a_light_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_illustration_container_wxbia_dark_05.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_illustration_container_wxbia_light_08.json
  packages/react/src/components/AnimatedHeader/assets/index.js
  packages/react/src/components/AnimatedHeader/assets/static/header_static_data_fabric_dark_06.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_data_fabric_light_06.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_dark_02.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_light_02.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_a_dark_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_a_light_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_data_dark_05.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_data_light_06.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_wxbia_dark_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_wxbia_light_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_data_fabric_dark_03.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_data_fabric_light_03.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_watson_x_data_dark_03.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_watson_x_data_light_03.svg
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write
