Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

jsdoc
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/AuthContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/WideSideNav.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/LogoutHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/LogoutTile.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/ProfilePopover/ProfilePopover.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Search/Search.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/Switcher.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialPopover/TrialPopover.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UnauthenticatedContext/UnauthenticatedContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UserProfileImage/UserProfileImage.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
Due: none

warnings
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/AuthContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__stories__/AuthContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/SideNav.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__tests__/CommonHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/__tests__/HeaderContext.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/LogoutHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/__stories__/LogoutHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/LogoutTile.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/__stories__/LogoutTile.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/ProfilePopover/ProfilePopover.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Search/Search.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Search/__tests__/Search.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/__tests__/SideNavItem.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/Switcher.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialContent/TrialContent.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialContent/__stories__/TrialContent.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialPopover/TrialPopover.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UnauthenticatedContext/UnauthenticatedContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UnauthenticatedContext/UnauthenticatedContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UserProfileImage/UserProfileImage.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/useScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/utils.ts
  packages/web-components/src/components/global-header/package.json
Due: none

fix some warnings
  packages/web-components/public/mockServiceWorker.js
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialPopover/_index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

yarn.lock
  yarn.lock
Due: none

add name
  packages/web-components/src/components/global-header/__stories__/global-header.mdx
Due: none

fix(sb): add storybook package, update blocks import after v9 changes
  packages/web-components/package.json
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
  yarn.lock
Due: none

build(react): bump memory to address intermittent memory failures
  packages/react/package.json
Due: none

chore: update mem on sb build
  packages/react/package.json
Due: none

feat(animated-header): Add TileGroup to export list + Firefox fallback (#739)
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

fix: refactor to export wrappers from react package
  packages/react/.storybook/main.js
  packages/react/src/components/StylePicker/__stories__/StylePicker.stories.js
  packages/react/src/components/StylePicker/index.ts
  packages/react/src/components/StylePicker/package.json
  packages/web-components/src/components/style-picker/index.ts
  packages/web-components/src/components/style-picker/react/style-picker-color.ts
  packages/web-components/src/components/style-picker/react/style-picker-group.ts
  packages/web-components/src/components/style-picker/react/style-picker-icon.ts
  packages/web-components/src/components/style-picker/react/style-picker-option.ts
  packages/web-components/src/components/style-picker/react/style-picker-section.ts
  packages/web-components/src/components/style-picker/react/style-picker-sections.ts
  packages/web-components/src/components/style-picker/react/style-picker.ts
  yarn.lock
Due: none

fix: add files
  packages/react/src/components/StylePicker/components/index.ts
  packages/react/src/components/StylePicker/components/style-picker-color.ts
  packages/react/src/components/StylePicker/components/style-picker-group.ts
  packages/react/src/components/StylePicker/components/style-picker-icon.ts
  packages/react/src/components/StylePicker/components/style-picker-option.ts
  packages/react/src/components/StylePicker/components/style-picker-section.ts
  packages/react/src/components/StylePicker/components/style-picker-sections.ts
  packages/react/src/components/StylePicker/components/style-picker.ts
Due: none

fix: license
  packages/react/src/components/StylePicker/components/index.ts
Due: none

fix: extension
  packages/react/src/components/StylePicker/components/style-picker-color.ts
  packages/react/src/components/StylePicker/components/style-picker-group.ts
  packages/react/src/components/StylePicker/components/style-picker-icon.ts
  packages/react/src/components/StylePicker/components/style-picker-option.ts
  packages/react/src/components/StylePicker/components/style-picker-section.ts
  packages/react/src/components/StylePicker/components/style-picker-sections.ts
  packages/react/src/components/StylePicker/components/style-picker.ts
Due: none

fix: test
  packages/react/src/components/StylePicker/__tests__/StylePicker.test.js
Due: none

chore: update snapshot
  packages/react/src/components/Resizer/__tests__/__snapshots__/Resizer.test.js.snap
Due: none

update top-level component
  packages/web-components/src/components/global-header/__stories__/global-header.stories.js
  packages/web-components/src/components/global-header/components/global-header/global-header.ts
  packages/web-components/src/components/global-header/components/global-header/src/global-header.template.ts
Due: none

chore: cleanup, remove memory changes
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

fix(sb): add storybook package, update blocks import after v9 changes (#775)
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

linting
  packages/web-components/src/components/global-header/__stories__/global-header.stories.js
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/_index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

format
  packages/web-components/public/mockServiceWorker.js
  packages/web-components/src/components/global-header/__stories__/global-header.stories.js
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
Due: none

docs(uishell): remove links from storybook (#765)
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix: mobile sidenav rail styles
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: fix merge
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  yarn.lock
Due: none

fix: side nav menu state when props undefined
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix: attempt to fix deploy preview build error
  packages/react/src/components/AnimatedHeader/package.json
Due: none

chore: build test
  packages/react/src/components/Processing/package.json
Due: none

chore: increase memory
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/Processing/package.json
Due: none

chore: test
  packages/react/src/components/AnimatedHeader/package.json
Due: none

feat(animated-header): filename cleanup
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_data_fabric_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_data_fabric_light_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_watsonx_a_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_watsonx_a_light_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_watsonx_data_dark_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_watsonx_data_light_04.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_wxbia_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_animated_wxbia_light_09.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_data_fabric_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_data_fabric_light_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_watsonx_a_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_watsonx_a_light_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_watsonx_data_dark_02.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_watsonx_data_light_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_wxbia_dark_05.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_wxbia_light_08.json
  packages/react/src/components/AnimatedHeader/assets/index.js
  packages/react/src/components/AnimatedHeader/assets/static/header_static_data_fabric_dark_06.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_data_fabric_light_05.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_dark_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_light_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_a_dark_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_a_light_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_data_dark_05.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_data_light_06.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_wxbia_dark_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_wxbia_light_01.svg
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

fix: reset lock file to main
  yarn.lock
Due: none

chore: test
  package.json
Due: none

chore: revert changes to fix build
  package.json
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/Processing/package.json
Due: none

chore: test
  README.md
Due: prettier --cache --write

Revert "feat(animated-header): Add TileGroup to export list + Firefox fallbac…"
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: web components changes
  README.md
  packages/react/src/components/ThemeSettings/package.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.js
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/story-styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: test
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
