Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(workflows): update workflows
  .github/workflows/create-release-tag-and-pr.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish-production.yml
  .github/workflows/storybook-publish-staging.yml
Due: none

chore(workflows): update workflows (#250)
  .github/workflows/create-release-tag-and-pr.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish-production.yml
  .github/workflows/storybook-publish-staging.yml
Due: none

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/tag/CHANGELOG.md
  packages/tag/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/ux-control/CHANGELOG.md
  packages/ux-control/package.json
  yarn.lock
Due: prettier --cache --write

chore(release): remove cdn workflow trigger
  .github/workflows/release.yml
Due: none

feat(chat): architecture diagrams, a11y fixes
  package.json
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/diagramElement/__stories__/diagramElement.stories.js
  packages/chat/components/diagramElement/diagramElement.ts
  packages/chat/components/diagramElement/src/diagramElement.scss
  packages/chat/components/diagramElement/src/diagramElement.template.ts
  packages/chat/components/diagramElement/src/diagramElement.ts
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/formulaElement/__stories__/formulaElement.stories.js
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/listElement/__stories__/listElement.stories.js
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/__stories__/messages.stories.js
  packages/chat/components/popupElement/__stories__/popup.mdx
  packages/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tableElement/src/tableElement.template.ts
  packages/chat/components/tableElement/src/tableElement.ts
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
  packages/chat/index.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): architecture diagrams, a11y fixes
  packages/chat/components/message/src/message.ts
  packages/chat/components/popupElement/src/popupElement.template.ts
Due: none

chore(chat): carousel fix and chat docs
  packages/chat/components/carouselElement/src/carouselElement.template.ts
  packages/chat/components/chat/__stories__/chat.stories.js
Due: none

chore(chat): a11y keyboard navigation
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(package.json): move mermaid from root to chat
  package.json
  packages/chat/package.json
  yarn.lock
Due: none

feat(chat): Architecture diagrams a11y fixes (#256)
  packages/chat/components/carouselElement/src/carouselElement.template.ts
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/diagramElement/__stories__/diagramElement.stories.js
  packages/chat/components/diagramElement/diagramElement.ts
  packages/chat/components/diagramElement/src/diagramElement.scss
  packages/chat/components/diagramElement/src/diagramElement.template.ts
  packages/chat/components/diagramElement/src/diagramElement.ts
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/formulaElement/__stories__/formulaElement.stories.js
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/listElement/__stories__/listElement.stories.js
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/__stories__/messages.stories.js
  packages/chat/components/popupElement/__stories__/popup.mdx
  packages/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tableElement/src/tableElement.template.ts
  packages/chat/components/tableElement/src/tableElement.ts
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
  packages/chat/index.ts
  packages/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): scroll-fixes,colored-code
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/__stories__/examples.json
  packages/chat/components/chartElement/__stories__/examples2.json
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/codeElement/__stories__/code.mdx
  packages/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: remove mermaid from root package.json
  package.json
  yarn.lock
Due: none

chore(chat): Scroll fixes, a11y updates, colored code (#261)
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/__stories__/examples.json
  packages/chat/components/chartElement/__stories__/examples2.json
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/codeElement/__stories__/code.mdx
  packages/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): a11y updates
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/diagramElement/src/diagramElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): removed mermaid from core
  package.json
  packages/chat/package.json
  yarn.lock
Due: none

chore(chat): cloud ga a11y fixes (#271)
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/diagramElement/src/diagramElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): final a11y fixes, keyboard moving
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tagListElement/src/tagListElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat) movable chat with keyboard, final a11y fixes (#274)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tagListElement/src/tagListElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): a11y fixes
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/textElement/src/textElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat) final GA sprint (#275)
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/textElement/src/textElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): ai slug, a11y fixes
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tableElement/__stories__/tableElement.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): fullscreen, a11y, keyboard nav, menu fixes (#276)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.scss
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tableElement/__stories__/tableElement.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): bug fixes
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/feedbackElement/__stories__/feedback.mdx
  packages/chat/components/feedbackElement/__stories__/feedbackElement.stories.js
  packages/chat/components/feedbackElement/feedbackElement.ts
  packages/chat/components/feedbackElement/src/feedbackElement.scss
  packages/chat/components/feedbackElement/src/feedbackElement.template.ts
  packages/chat/components/feedbackElement/src/feedbackElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tagListElement/src/tagListElement.scss
  packages/chat/components/tagListElement/src/tagListElement.template.ts
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): Cloud final (#277)
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/feedbackElement/__stories__/feedback.mdx
  packages/chat/components/feedbackElement/__stories__/feedbackElement.stories.js
  packages/chat/components/feedbackElement/feedbackElement.ts
  packages/chat/components/feedbackElement/src/feedbackElement.scss
  packages/chat/components/feedbackElement/src/feedbackElement.template.ts
  packages/chat/components/feedbackElement/src/feedbackElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tagListElement/src/tagListElement.scss
  packages/chat/components/tagListElement/src/tagListElement.template.ts
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): request cancel, focus capture
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tagListElement/src/tagListElement.scss
  packages/chat/components/tagListElement/src/tagListElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): small zindex fix
  packages/chat/components/footer/src/footer.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): custom labels in header
  packages/chat/components/header/src/header.ts
  packages/chat/components/messages/src/messages.ts
Due: none

chore(chat): chart edit
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/message/src/message.ts
Due: none

chore(chat): removed logs
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
Due: none

chore(chat): focus control, cancel requests, chart editing, a11y fixes (#278)
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/linkListElement/src/linkListElement.template.ts
  packages/chat/components/linkListElement/src/linkListElement.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/messages/src/messages.ts
  packages/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/tagListElement/src/tagListElement.scss
  packages/chat/components/tagListElement/src/tagListElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): editable code
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/textElement/src/textElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Request focus control (#279)
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.template.ts
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/components/textElement/src/textElement.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): disabled experimental slug
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/header/src/header.ts
Due: none

chore(chat): quick fix for slug, remove log (#280)
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/header/src/header.ts
Due: none

chore(telemetry): update endpoint and readme
  README.md
  packages/chat/telemetry.yml
Due: prettier --cache --write

chore(prettier): ran formatter
  README.md
Due: prettier --cache --write

chore(chat): a11y fixes, history viewer
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/editableTextElement/src/editableTextElement.scss
  packages/chat/components/editableTextElement/src/editableTextElement.template.ts
  packages/chat/components/editableTextElement/src/editableTextElement.ts
  packages/chat/components/historyViewer/__stories__/example.json
  packages/chat/components/historyViewer/__stories__/historyViewer.stories.js
  packages/chat/components/historyViewer/historyViewer.ts
  packages/chat/components/historyViewer/src/historyViewer.scss
  packages/chat/components/historyViewer/src/historyViewer.template.ts
  packages/chat/components/historyViewer/src/historyViewer.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/popupElement/__stories__/popupElement.stories.js
  packages/chat/components/popupElement/src/popupElement.scss
  packages/chat/components/popupElement/src/popupElement.template.ts
  packages/chat/components/popupElement/src/popupElement.ts
  packages/chat/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): a11y fixes, history viewer
  packages/chat/components/historyViewer/src/historyViewer.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): small overlap fix
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/header/src/header.scss
  packages/chat/components/historyViewer/__stories__/example.json
  packages/chat/components/historyViewer/__stories__/historyViewer.stories.js
  packages/chat/components/historyViewer/src/historyViewer.scss
  packages/chat/components/historyViewer/src/historyViewer.template.ts
  packages/chat/components/historyViewer/src/historyViewer.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
