Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore(lerna): force git tags
  .github/workflows/release.yml
Due: none

chore(lerna): force git tags (#1133)
  .github/workflows/release.yml
Due: none

help menu alignment
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/_index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

help menu alignment (#1134)
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/_index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs: storybook showcase full potential of resizer component (#1129)
  packages/react/src/components/Resizer/__stories__/ResizerWebIDE.scss
  packages/react/src/components/Resizer/__stories__/ResizerWebIDE.stories.js
  packages/react/src/components/Resizer/__stories__/WebIDEStory.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/date-picker/CHANGELOG.md
  packages/web-components/src/components/date-picker/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

chore: remove npm token step from release
  .github/workflows/release.yml
Due: none

chore: use org npm token
  .github/workflows/release.yml
Due: none

chore: use org npm token (#1137)
  .github/workflows/release.yml
Due: none

docs(TextHighlighter): Add style and accessibility docs
  packages/react/src/components/TextHighlighter/__docs__/Accessibility.mdx
  packages/react/src/components/TextHighlighter/__docs__/Style.mdx
Due: none

docs(TextHighlighter): Add Style and Accessibility docs (#1138)
  packages/react/src/components/TextHighlighter/__docs__/Accessibility.mdx
  packages/react/src/components/TextHighlighter/__docs__/Style.mdx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/react/src/components/TextHighlighter/CHANGELOG.md
  packages/react/src/components/TextHighlighter/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/date-picker/CHANGELOG.md
  packages/web-components/src/components/date-picker/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write
