Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore: test
  examples/react/AnimatedHeader/src/App.tsx
  package.json
  yarn.lock
Due: none

chore: test remove example for animated header
  examples/react/AnimatedHeader/.gitignore
  examples/react/AnimatedHeader/index.html
  examples/react/AnimatedHeader/package.json
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/SampleCustomTaskContent.tsx
  examples/react/AnimatedHeader/src/data/index.tsx
  examples/react/AnimatedHeader/src/index.scss
  examples/react/AnimatedHeader/src/main.tsx
  examples/react/AnimatedHeader/src/vite-env.d.ts
  examples/react/AnimatedHeader/tsconfig.json
  examples/react/AnimatedHeader/tsconfig.node.json
  examples/react/AnimatedHeader/vite.config.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: component updates
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/index.ts
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): update db2 SVGs
  packages/react/src/components/AnimatedHeader/assets/index.js
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_dark_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_dark_02.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_light_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_db2_light_02.svg
Due: none

chore: test remove tilegroup
  packages/react/src/components/AnimatedHeader/index.ts
Due: none

Revert "chore: release"
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

Revert "docs(uishell): remove links from storybook (#765)"
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: remove uishell story
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

Revert "chore: release"
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

chore: test
  packages/web-components/package.json
  yarn.lock
Due: none

Revert "fix(sb): add storybook package, update blocks import after v9 changes (#775)"
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
Due: none

Revert "chore: release"
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

chore: test remove storybook example
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.js
Due: none

Revert "feat(animated-header): Add TileGroup to export list + Firefox fallback (#739)"
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Revert "chore: release"
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

Revert "fix: Component owners 8036 (#771)"
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
Due: none

chore: test adding ibm products dependeny
  packages/web-components/package.json
  yarn.lock
Due: none

Revert "feat: implement first-time-orientation pattern using interstitial screen (#762)"
  examples/web-components/first-time-orientation/.gitignore
  examples/web-components/first-time-orientation/.sassrc
  examples/web-components/first-time-orientation/index.html
  examples/web-components/first-time-orientation/package.json
  examples/web-components/first-time-orientation/src/assets/welcomeInterstitial.png
  examples/web-components/first-time-orientation/src/first-time-orientation.scss
  examples/web-components/first-time-orientation/src/first-time-orientation.ts
  examples/web-components/first-time-orientation/src/personalization-interstitial.ts
  examples/web-components/first-time-orientation/src/welcome-interstitial.ts
  examples/web-components/first-time-orientation/tsconfig.json
  examples/web-components/first-time-orientation/vite.config.js
  packages/web-components/package.json
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.js
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/story-styles.scss
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(test): remove fto
  examples/web-components/first-time-orientation/.gitignore
  examples/web-components/first-time-orientation/.sassrc
  examples/web-components/first-time-orientation/index.html
  examples/web-components/first-time-orientation/package.json
  examples/web-components/first-time-orientation/src/assets/welcomeInterstitial.png
  examples/web-components/first-time-orientation/src/first-time-orientation.scss
  examples/web-components/first-time-orientation/src/first-time-orientation.ts
  examples/web-components/first-time-orientation/src/personalization-interstitial.ts
  examples/web-components/first-time-orientation/src/welcome-interstitial.ts
  examples/web-components/first-time-orientation/tsconfig.json
  examples/web-components/first-time-orientation/vite.config.js
  packages/web-components/package.json
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.js
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

test(carbon): imports
  packages/web-components/package.json
  yarn.lock
Due: none

fix(test): remove ibm products
  packages/web-components/package.json
Due: none

fix(yarn): error
  yarn.lock
Due: none

chore: add story back
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.js
Due: none

chore: comment out firstorientation story
  packages/web-components/package.json
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.js
  yarn.lock
Due: none

fix: netlify deploy error (#786)
  packages/web-components/package.json
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.js
  yarn.lock
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

feat: add React router to UIShell example (#648)
  examples/react/UIShell/index.html
  examples/react/UIShell/package.json
  examples/react/UIShell/public/bee.svg
  examples/react/UIShell/src/App.tsx
  examples/react/UIShell/src/components/DropdownExample.tsx
  examples/react/UIShell/src/components/HeaderExample.tsx
  examples/react/UIShell/src/components/HeaderGlobalBarExample.tsx
  examples/react/UIShell/src/components/HeaderNavigationExample.tsx
  examples/react/UIShell/src/components/SideNavProductExample.tsx
  examples/react/UIShell/src/components/SideNavSubMenuExample.tsx
  examples/react/UIShell/src/components/StoryContent.tsx
  examples/react/UIShell/src/config/routes.tsx
  examples/react/UIShell/src/index.scss
  examples/react/UIShell/src/main.tsx
  examples/react/UIShell/src/pages/About.tsx
  examples/react/UIShell/src/pages/Home.tsx
  examples/react/UIShell/src/pages/NotFound.tsx
  examples/react/UIShell/src/pages/Placeholder.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/web-components/src/components/tag/__stories__/tag.stories.js
  packages/web-components/src/components/ux-control/__stories-dont-show__/ux-control.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/CHANGELOG.md
  packages/web-components/src/components/ux-control/package.json
Due: prettier --cache --write

fix: mobile sidenav rail styles (#780)
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore: update storybook publish workflow node version
  .github/workflows/storybook-publish.yml
Due: none

chore: update storybook publish workflow node version (#789)
  .github/workflows/storybook-publish.yml
Due: none

feat(animated-header): update static SVGs
  packages/react/src/components/AnimatedHeader/assets/index.js
  packages/react/src/components/AnimatedHeader/assets/static/header_static_data_fabric_light_05.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_data_fabric_light_06.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_a_dark_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_a_light_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_data_dark_05.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_watsonx_data_light_06.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_wxbia_dark_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/header_static_wxbia_light_01.svg
Due: none
