Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore(chat): code, charts updates
  package.json
  packages/web-components/src/components/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/web-components/src/components/chat/components/chartElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples2.json
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples3.json
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.scss
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.template.ts
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.ts
  packages/web-components/src/components/chat/components/chat/_stories-dont-show_/chat.mdx
  packages/web-components/src/components/chat/components/chat/_stories-dont-show_/chat.stories.js
  packages/web-components/src/components/chat/components/chat/src/chat.ts
  packages/web-components/src/components/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/web-components/src/components/chat/components/codeElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.scss
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.template.ts
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.ts
  packages/web-components/src/components/chat/components/footer/src/footer.ts
  packages/web-components/src/components/chat/components/linkListElement/src/linkListElement.ts
  packages/web-components/src/components/chat/components/message/src/message.template.ts
  packages/web-components/src/components/chat/components/message/src/message.ts
  packages/web-components/src/components/chat/components/messages/src/messages.scss
  packages/web-components/src/components/chat/components/messages/src/messages.ts
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(UIShell): add TrialCountdown component (#545)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/TrialCountdown.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/styles/_trial-countdown.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

feat: create split panel component (#501)
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.mdx
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.stories.js
  packages/react/src/components/SplitPanel/__tests__/SplitPanel-test.js
  packages/react/src/components/SplitPanel/__tests__/__snapshots__/SplitPanel-test.js.snap
  packages/react/src/components/SplitPanel/components/SplitPanel.tsx
  packages/react/src/components/SplitPanel/components/split-panel.scss
  packages/react/src/components/SplitPanel/index.ts
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/SplitPanel/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/package.json
Due: prettier --cache --write

fix: allow excess args for commander
  tools/check-license.cjs
Due: none

fix: allow excess args for commander (#574)
  tools/check-license.cjs
Due: none

chore: add split panel codeowners
  .github/CODEOWNERS
  README.md
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.mdx
Due: prettier --cache --write

chore: add docs for the pattern building of toolbar
  examples/web-components/toolbar/src/index.js
  examples/web-components/toolbar/src/styles.scss
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: yarn format
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.stories.js
Due: none

fix: lint
  examples/web-components/toolbar/src/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update packages/web-components/src/patterns/toolbar/__stories__/toolbar.mdx
  packages/web-components/src/patterns/toolbar/__stories__/toolbar.mdx
Due: none

chore: add split panel codeowners (#575)
  .github/CODEOWNERS
  README.md
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.mdx
Due: prettier --cache --write
