Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix: mouse click then keyboard move
  packages/react/src/components/Resizer/components/Resizer.tsx
Due: none

feat: create deprecation plan
  packages/react/src/components/SplitPanel/DEPRECATION-plan.md
Due: prettier --cache --write

feat(split-panel): deprecate SplitPanel in favor of Resizer
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/DEPRECATION-ANNOUNCEMENT.md
  packages/react/src/components/SplitPanel/README.md
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.mdx
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.stories.js
  packages/react/src/components/SplitPanel/components/SplitPanel.tsx
  packages/react/src/components/SplitPanel/package.json
Due: prettier --cache --write

fix: propose deprecation
  packages/react/src/components/SplitPanel/DEPRECATION-ANNOUNCEMENT.md
  packages/react/src/components/SplitPanel/DEPRECATION-PROPOSAL.md
Due: prettier --cache --write

fix(sidenav): add isActive styles for navType="panel"
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/components/SideNavLink.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(cleanup): remove isSelected
  packages/react/src/components/UIShell/components/SideNavLink.tsx
Due: none

fix: lint
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
Due: none

fix: timeline and hour-col fixes added
  packages/react/src/components/Calendar/components/Calendar.tsx
  packages/react/src/components/Calendar/components/calendar.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: resolve lint issues
  examples/web-components/style-picker/src/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

adding a backend prop to talk to the solis backend directly
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSidekickScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSolisScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

adding a backend prop to talk to the solis backend directly
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

feat: adding a backend prop to talk to the solis backend directly (#971)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSidekickScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/loadSolisScript.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

Change reports_enabled to overview_enabled
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

Change reports_enabled to overview_enabled (#972)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
Due: none

fix: responsive issues fixed
  packages/react/src/components/Calendar/__stories__/Calendar.stories.tsx
  packages/react/src/components/Calendar/__tests__/Calendar-test.js
  packages/react/src/components/Calendar/components/Calendar.tsx
  packages/react/src/components/Calendar/components/Calendar.types.ts
  packages/react/src/components/Calendar/components/CalendarHeader.tsx
  packages/react/src/components/Calendar/components/CalendarTimeline.tsx
  packages/react/src/components/Calendar/components/calendar.scss
  packages/react/src/components/Calendar/components/useElementSize.js
  packages/react/src/components/Calendar/components/useSize.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update release workflow trigger
  .github/workflows/release.yml
Due: none
