Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(format): ran prettier
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/components/styles/shark-fin-icon.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(lint): fixed jsdoc errors
  packages/react/src/components/UIShell/internal/useId.js
  packages/react/src/components/UIShell/internal/useIdPrefix.ts
  packages/react/src/components/UIShell/internal/usePrefix.ts
Due: none

fix(license): added license
  packages/react/src/components/UIShell/components/styles/shark-fin-icon.scss
  packages/react/src/components/UIShell/internal/useIsomorphicEffect.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: clean up
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/internal/useIsomorphicEffect.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(empty state): add basic test case
  packages/web-components/src/components/chat/components/empty-state/__stories__/emptyState.stories.js
  packages/web-components/src/components/chat/components/empty-state/__tests__/__snapshots__/empty-state.test.snap.js
  packages/web-components/src/components/chat/components/empty-state/__tests__/empty-state.test.js
Due: none

feat(empty state): move the folder to root
  packages/web-components/src/components/empty-state/__stories__/docs.mdx
  packages/web-components/src/components/empty-state/__stories__/emptyState.stories.js
  packages/web-components/src/components/empty-state/__tests__/__snapshots__/empty-state.test.snap.js
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
  packages/web-components/src/components/empty-state/emptyState.ts
  packages/web-components/src/components/empty-state/src/emptyState.scss
  packages/web-components/src/components/empty-state/src/emptyState.template.ts
  packages/web-components/src/components/empty-state/src/emptyState.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lint
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(empty state): use generate to update folder structure
  examples/web-components/empty-state/cdn.html
  examples/web-components/empty-state/index.html
  examples/web-components/empty-state/package.json
  examples/web-components/empty-state/src/index.js
  examples/web-components/empty-state/src/styles.scss
  packages/web-components/src/components/empty-state/__stories__/docs.mdx
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/empty-state/__tests__/__snapshots__/empty-state.test.snap.js
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
  packages/web-components/src/components/empty-state/components/empty-state/empty-state.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.scss
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.template.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.ts
  packages/web-components/src/components/empty-state/index.ts
  packages/web-components/src/components/empty-state/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(processing): add new processing component
  examples/react/Processing/index.html
  examples/react/Processing/package.json
  examples/react/Processing/src/App.tsx
  examples/react/Processing/src/index.scss
  examples/react/Processing/src/main.tsx
  examples/react/Processing/src/vite-env.d.ts
  examples/react/Processing/tsconfig.json
  examples/react/Processing/tsconfig.node.json
  examples/react/Processing/vite.config.ts
  packages/react/src/components/Processing/__stories__/Processing.mdx
  packages/react/src/components/Processing/__stories__/Processing.stories.tsx
  packages/react/src/components/Processing/__stories__/images/ai_chat_loop.gif
  packages/react/src/components/Processing/__stories__/images/processing_element_load_unload_dark_128x128.gif
  packages/react/src/components/Processing/__stories__/images/processing_element_load_unload_light_128x128.gif
  packages/react/src/components/Processing/__stories__/images/processing_element_loop_dark_128x128.gif
  packages/react/src/components/Processing/__stories__/images/processing_element_loop_light_128x128.gif
  packages/react/src/components/Processing/__tests__/Processing.test.js
  packages/react/src/components/Processing/components/Processing.tsx
  packages/react/src/components/Processing/components/processing.scss
  packages/react/src/components/Processing/index.ts
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Processing/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(processing): update .gif
  packages/react/src/components/Processing/__stories__/Processing.mdx
  packages/react/src/components/Processing/__stories__/images/ai_chat_loop.gif
  packages/react/src/components/Processing/__stories__/images/processing_element_load_unload_dark_128x128.gif
  packages/react/src/components/Processing/__stories__/images/processing_element_load_unload_light_128x128.gif
Due: none

feat(processing): lint cleanup
  packages/react/src/components/Processing/components/processing.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(processing): change dot color to carbon token
  packages/react/src/components/Processing/__stories__/Processing.mdx
  packages/react/src/components/Processing/components/processing.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(processing): update snapshot test
  packages/react/src/components/Processing/__tests__/Processing.test.js
  packages/react/src/components/Processing/__tests__/__snapshots__/Processing.test.js.snap
Due: none

fix(animated-header): scss prefix
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(animated-header): update snapshot test
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.js.snap
Due: none

fix(SideNav): addressed last style issues
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(animated-header): fix dropdown bugs and rename tile-dropdown to… (#485)
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.js.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
  packages/react/src/components/AnimatedHeader/data/index.jsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

fix(SideNav): fixed scrolling
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: ran lint
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(ci): downgrade to node 18 for build step in ci
  .github/workflows/ci.yml
Due: none

fix(SideNavLinks): icons now are icon-secondary
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix formatting
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: format fixes
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
  packages/web-components/src/components/empty-state/components/empty-state/empty-state.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.scss
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.template.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(ci): downgrade node to 18 for ci build step
  .github/workflows/ci.yml
Due: none

fix(ci): downgrade node to 18 for ci build step (#493)
  .github/workflows/ci.yml
Due: none

Storybook in working order, breaking out stories for each component now
  packages/react/src/components/WhatsNew/__stories__/WhatsNew.stories.js
  packages/react/src/components/WhatsNew/__stories__/storybook.scss
  packages/react/src/components/WhatsNew/components/Bubble.tsx
  packages/react/src/components/WhatsNew/components/BubbleHeader.tsx
  packages/react/src/components/WhatsNew/components/TocItem.tsx
  packages/react/src/components/WhatsNew/components/TocList.tsx
  packages/react/src/components/WhatsNew/components/TocSections.tsx
  packages/react/src/components/WhatsNew/components/View.tsx
  packages/react/src/components/WhatsNew/components/ViewStack.tsx
  packages/react/src/components/WhatsNew/components/WhatsNew.tsx
  packages/react/src/components/WhatsNew/components/styles/_bubble.scss
  packages/react/src/components/WhatsNew/components/styles/_scss-utils.scss
  packages/react/src/components/WhatsNew/components/styles/_toc.scss
  packages/react/src/components/WhatsNew/components/styles/_view-stack.scss
  packages/react/src/components/WhatsNew/components/whats-new.scss
  packages/react/src/components/WhatsNew/index.ts
  packages/react/src/components/WhatsNew/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(empty state): update test cases
  packages/web-components/src/components/empty-state/__tests__/__snapshots__/empty-state.test.snap.js
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
Due: none

fix(empty stete): license year update
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.ts
Due: none

fix(empty state): format issue
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
Due: none

fix(empty state): update stories
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
Due: none

fix: downgrade node to 18 in workflows
  .github/workflows/ci.yml
  .github/workflows/create-release-tag-and-pr.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-minor.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish.yml
Due: none

fix: downgrade node to 18 in workflows (#495)
  .github/workflows/ci.yml
  .github/workflows/create-release-tag-and-pr.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-minor.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish.yml
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
