Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

Update README.md
  README.md
Due: prettier --cache --write

chore: add React components to readme (#445)
  README.md
Due: prettier --cache --write

chore(animated-header): Fix missing assets
  .npmrc
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/assets/animated/header_1312x738_watsonx_data.lottie
  packages/react/src/components/AnimatedHeader/index.ts
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/AnimatedHeader/tsconfig.json
  packages/react/tasks/build.js
  yarn.lock
Due: prettier --cache --write

Moved SVG plugin to dev deps
  packages/react/package.json
Due: none

Bump version number
  packages/react/src/components/AnimatedHeader/package.json
Due: none

Remove local npmrc
  .npmrc
Due: none

feat: add theme settings package
  packages/react/src/components/ExampleButton/components/example-button.scss
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.mdx
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.stories.js
  packages/react/src/components/ThemeSettings/__stories__/storybook.scss
  packages/react/src/components/ThemeSettings/__tests__/ThemeSettings-test.js
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/ThemeSettings/components/ThemeMenuCompliment.tsx
  packages/react/src/components/ThemeSettings/components/ThemeSetDropdown.tsx
  packages/react/src/components/ThemeSettings/components/ThemeSettings.tsx
  packages/react/src/components/ThemeSettings/components/ThemeSwitcher.tsx
  packages/react/src/components/ThemeSettings/components/index.ts
  packages/react/src/components/ThemeSettings/components/theme-settings-consts.ts
  packages/react/src/components/ThemeSettings/components/theme-settings-types.ts
  packages/react/src/components/ThemeSettings/components/theme-settings.scss
  packages/react/src/components/ThemeSettings/index.ts
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/ThemeSettings/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: correct copyright date
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.stories.js
  packages/react/src/components/ThemeSettings/__tests__/ThemeSettings-test.js
  packages/react/src/components/ThemeSettings/index.ts
Due: none

chore: wip
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.stories.js
  packages/react/src/components/ThemeSettings/components/theme-settings-types.ts
  packages/react/src/components/ThemeSettings/utils/use-theme-setting.ts
Due: none

feat: add use-theme-setting
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.stories.js
  packages/react/src/components/ThemeSettings/utils/use-theme-setting.ts
Due: none

feat: add use-theme-setting to exports
  packages/react/src/components/ThemeSettings/index.ts
Due: none

chore: change overview story
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.mdx
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.stories.js
  packages/react/src/components/ThemeSettings/__stories__/storybook.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update doc
  packages/react/src/components/ThemeSettings/__stories__/ThemeSettings.mdx
Due: none

chore(uishell): update uishell readme
  packages/react/src/components/UIShell/README.md
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

feat(SideNav): add renderIcon to SideNavMenuItem
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(SideNavLink): move into local repo
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavLink.tsx
  packages/react/src/components/UIShell/index.ts
Due: none

refactor(SideNav): fix lint error
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

refactor: whitespace changes
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat(SideNavLinkPopover): create component
  packages/react/src/components/UIShell/components/SideNavLink.tsx
  packages/react/src/components/UIShell/components/SideNavLinkPopover.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Format
  README.md
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/tasks/build.js
Due: prettier --cache --write

fix: yarn lock file
  yarn.lock
Due: none

Renamed animated_header to animated-header SCSS
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/components/animated-header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: format readme
  README.md
Due: prettier --cache --write

Update SCSS name in stories
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
Due: none
