Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(SideNavLink): move into local repo
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavLink.tsx
  packages/react/src/components/UIShell/index.ts
Due: none

fix(side-nav): prevent nav item shift on panel toggle
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(side-nav): update popover padding
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNav): arrownav collapsed panel behavior
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

chore(animated-header): Fix missing assets (#450)
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/assets/animated/header_1312x738_watsonx_data.lottie
  packages/react/src/components/AnimatedHeader/components/animated-header.scss
  packages/react/src/components/AnimatedHeader/index.ts
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/AnimatedHeader/tsconfig.json
  packages/react/tasks/build.js
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

feat(SideNav): panel flyout menu for SideNavMenu
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/Sharkfin.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: move padding from js into css
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: remove headerpanel from examples
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: cleanup
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(uishell): update focus state for hamburger to 2px
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: update codeowners
  .github/CODEOWNERS
Due: none

chore: test
  packages/react/src/components/UIShell/components/Link.tsx
Due: none

fix(uishell): update focus state for hamburger to 2px (#458)
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

feat(uishell): add header story with components
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

feat: update header story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix: remove global button styles
  packages/react/src/components/ExampleButton/components/example-button.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: remove button style import
  packages/react/src/components/ExampleButton/components/example-button.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(SideNav): add renderIcon to SideNavMenuItem (#452)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

refactor: whitespace changes
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

refactor(SideNav): fix lint error
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

feat(SideNavLinkPopover): create component
  packages/react/src/components/UIShell/components/SideNavLink.tsx
  packages/react/src/components/UIShell/components/SideNavLinkPopover.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
