Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(UIShell): add hideoverlay prop to sidenav
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(UIShell): add hideoverlay prop to sidenav (#401)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add telemetry to ui shell package
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/UIShell/telemetry.yml
  yarn.lock
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

feat(animated-header): add new animated header component
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.js
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.js.snap
  packages/react/src/components/AnimatedHeader/assets/animated/header_1312x738_watsonx_data.lottie
  packages/react/src/components/AnimatedHeader/assets/animated/header_1312x738_watsonx_data_dark_02.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_1312x738_watsonx_data_light_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_illustration_container_watsonx_a_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_illustration_container_watsonx_a_light_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_illustration_container_wxbia_dark_05.json
  packages/react/src/components/AnimatedHeader/assets/animated/header_illustration_container_wxbia_light_08.json
  packages/react/src/components/AnimatedHeader/assets/index.js
  packages/react/src/components/AnimatedHeader/assets/static/illustration_data_fabric_dark_03.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_data_fabric_light_03.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_watson_x_data_dark_03.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_watson_x_data_light_03.svg
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/index.ts
  packages/react/src/components/AnimatedHeader/data/index.jsx
  packages/react/src/components/AnimatedHeader/index.ts
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/AnimatedHeader/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(package): add react to package name
  packages/react/src/components/AnimatedHeader/package.json
Due: none

feat(UIShell): add HeaderPanel to UIShell package
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/__tests__/HeaderPanel-test.js
  packages/react/src/components/UIShell/components/HeaderPanel.tsx
  packages/react/src/components/UIShell/index.ts
Due: none

chore: fix build error
  packages/react/src/components/UIShell/components/HeaderPanel.tsx
Due: none

fix: ci tests and typescript error
  packages/react/src/components/UIShell/__tests__/HeaderPanel-test.js
  packages/react/src/components/UIShell/components/HeaderPanel.tsx
Due: none

feat(side-nav): 3rd level navigation
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavItems.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: update stories and example
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

feat(animated-header): update copyright to 2025
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.js
  packages/react/src/components/AnimatedHeader/assets/index.js
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/index.ts
  packages/react/src/components/AnimatedHeader/data/index.jsx
  packages/react/src/components/AnimatedHeader/index.ts
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): update lockfile
  yarn.lock
Due: none

chore: update example code
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add telemetry to ui shell package (#402)
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/UIShell/telemetry.yml
  yarn.lock
Due: prettier --cache --write

feat(UIShell): add HeaderPanel to UIShell React package (#407)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/__tests__/HeaderPanel-test.js
  packages/react/src/components/UIShell/components/HeaderPanel.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): update test snapchat
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.js
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.js.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  yarn.lock
Due: none

feat(SideNavToggle): create SideNavToggle component
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavToggle.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(side-nav): update spacing tokens
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNav): replace `text` prop
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavToggle.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(SideNav): fix keyboard event codes import
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

feat(animated-header): add example app
  examples/react/AnimatedHeader/.gitignore
  examples/react/AnimatedHeader/index.html
  examples/react/AnimatedHeader/package.json
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/index.scss
  examples/react/AnimatedHeader/src/main.tsx
  examples/react/AnimatedHeader/src/vite-env.d.ts
  examples/react/AnimatedHeader/tsconfig.json
  examples/react/AnimatedHeader/tsconfig.node.json
  examples/react/AnimatedHeader/vite.config.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
