Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/prompt-tuning/CHANGELOG.md
  packages/prompt-tuning/package.json
  packages/tag/CHANGELOG.md
  packages/tag/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  yarn.lock
Due: prettier --cache --write

chore(automerge): use merge action secret
  .github/workflows/automerge.yml
Due: none

[fix] expose attributes & rename
  packages/prompt-tuning/__stories__/prompt-tuning.mdx
  packages/prompt-tuning/examples/prompt-tuning/.gitignore
  packages/prompt-tuning/examples/prompt-tuning/cdn.html
  packages/prompt-tuning/examples/prompt-tuning/index.html
  packages/prompt-tuning/examples/prompt-tuning/package.json
  packages/prompt-tuning/examples/prompt-tuning/src/styles.scss
  packages/prompt-tuning/index.ts
  packages/ux-control/__stories__/semantic_search_view.json
  packages/ux-control/__stories__/ux-control.mdx
  packages/ux-control/__stories__/ux-control.stories.js
  packages/ux-control/components/ux-control/src/ux-control.scss
  packages/ux-control/components/ux-control/src/ux-control.template.ts
  packages/ux-control/components/ux-control/src/ux-control.ts
  packages/ux-control/components/ux-control/ux-control.ts
  packages/ux-control/index.ts
  packages/ux-control/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(prompt-tuning): remove package
  packages/prompt-tuning/CHANGELOG.md
  packages/prompt-tuning/__stories__/prompt-tuning.mdx
  packages/prompt-tuning/__stories__/prompt-tuning.stories.js
  packages/prompt-tuning/__stories__/semantic_search_view.json
  packages/prompt-tuning/components/prompt-tuning/prompt-tuning.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.scss
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.template.ts
  packages/prompt-tuning/components/prompt-tuning/src/prompt-tuning.ts
  packages/prompt-tuning/examples/prompt-tuning/.gitignore
  packages/prompt-tuning/examples/prompt-tuning/cdn.html
  packages/prompt-tuning/examples/prompt-tuning/index.html
  packages/prompt-tuning/examples/prompt-tuning/package.json
  packages/prompt-tuning/examples/prompt-tuning/src/index.js
  packages/prompt-tuning/examples/prompt-tuning/src/styles.scss
  packages/prompt-tuning/index.ts
  packages/prompt-tuning/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(yarn): update yarn.lock
  yarn.lock
Due: none

[fix] allow dashed attribute
  packages/ux-control/components/ux-control/src/ux-control.ts
Due: none

feat(ux-control): Renamed from prompt-tuning to ux-control (#203)
  packages/prompt-tuning/CHANGELOG.md
  packages/prompt-tuning/__stories__/prompt-tuning.mdx
  packages/prompt-tuning/examples/prompt-tuning/.gitignore
  packages/prompt-tuning/examples/prompt-tuning/cdn.html
  packages/prompt-tuning/examples/prompt-tuning/index.html
  packages/prompt-tuning/examples/prompt-tuning/package.json
  packages/prompt-tuning/examples/prompt-tuning/src/styles.scss
  packages/prompt-tuning/index.ts
  packages/ux-control/__stories__/semantic_search_view.json
  packages/ux-control/__stories__/ux-control.mdx
  packages/ux-control/__stories__/ux-control.stories.js
  packages/ux-control/components/ux-control/src/ux-control.scss
  packages/ux-control/components/ux-control/src/ux-control.template.ts
  packages/ux-control/components/ux-control/src/ux-control.ts
  packages/ux-control/components/ux-control/ux-control.ts
  packages/ux-control/index.ts
  packages/ux-control/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

[fix] viewList to correct type
  packages/ux-control/__stories__/ux-control.stories.js
Due: none

[feat] example
  packages/ux-control/examples/ux-control/.gitignore
  packages/ux-control/examples/ux-control/cdn.html
  packages/ux-control/examples/ux-control/index.html
  packages/ux-control/examples/ux-control/package.json
  packages/ux-control/examples/ux-control/src/index.js
  packages/ux-control/examples/ux-control/src/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(ux-control): Example included (#204)
  packages/ux-control/__stories__/ux-control.stories.js
  packages/ux-control/examples/ux-control/.gitignore
  packages/ux-control/examples/ux-control/cdn.html
  packages/ux-control/examples/ux-control/index.html
  packages/ux-control/examples/ux-control/package.json
  packages/ux-control/examples/ux-control/src/index.js
  packages/ux-control/examples/ux-control/src/styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): formula rendering, stories and molecule options
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/fileUploadElement/src/fileUploadElement.scss
  packages/chat/components/footer/__stories__/footer.stories.js
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/formulaElement/__stories__/formulaElement.stories.js
  packages/chat/components/formulaElement/formulaElement.ts
  packages/chat/components/formulaElement/src/IBMPlexMath-Regular.otf
  packages/chat/components/formulaElement/src/formulaElement.scss
  packages/chat/components/formulaElement/src/formulaElement.template.ts
  packages/chat/components/formulaElement/src/formulaElement.ts
  packages/chat/components/listElement/src/listElement.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/molecularElement/__stories__/molecularElement.stories.js
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/tableElement/src/tableElement.scss
  packages/chat/components/tagListElement/src/tagListElement.scss
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.ts
  packages/chat/index.ts
  packages/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(yarn): update lock file and import
  packages/chat/components/formulaElement/src/formulaElement.ts
  yarn.lock
Due: none

fix(typescript): define mathjax
  packages/chat/components/formulaElement/src/formulaElement.ts
Due: none

fix(formula): missing parenthisis
  packages/chat/components/formulaElement/__stories__/formulaElement.stories.js
Due: none

feat(Math formulas): Math formulas molecules and core fixes (#205)
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/fileUploadElement/src/fileUploadElement.scss
  packages/chat/components/footer/__stories__/footer.stories.js
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/formulaElement/__stories__/formulaElement.stories.js
  packages/chat/components/formulaElement/formulaElement.ts
  packages/chat/components/formulaElement/src/IBMPlexMath-Regular.otf
  packages/chat/components/formulaElement/src/formulaElement.scss
  packages/chat/components/formulaElement/src/formulaElement.template.ts
  packages/chat/components/formulaElement/src/formulaElement.ts
  packages/chat/components/listElement/src/listElement.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/molecularElement/__stories__/molecularElement.stories.js
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/tableElement/src/tableElement.scss
  packages/chat/components/tagListElement/src/tagListElement.scss
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/index.ts
  packages/chat/package.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): added docs, fixed scroll in chrome, code editor for chart
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/formulaElement/__stories__/formulaElement.stories.js
  packages/chat/components/formulaElement/src/formulaElement.scss
  packages/chat/components/formulaElement/src/formulaElement.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(release): add env token
  .github/workflows/release.yml
Due: none

chore(release): add env token (#208)
  .github/workflows/release.yml
Due: none

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
  packages/feedback/CHANGELOG.md
  packages/feedback/package.json
  packages/network-graph/CHANGELOG.md
  packages/network-graph/package.json
  packages/tag/CHANGELOG.md
  packages/tag/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/ux-control/CHANGELOG.md
  packages/ux-control/package.json
  yarn.lock
Due: prettier --cache --write

feat(chat): Formulas chart editing and molecules (#209)
  packages/chat/components/chartElement/src/chartElement.scss
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/formulaElement/src/formulaElement.scss
  packages/chat/components/formulaElement/src/formulaElement.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(release): use GH_token in workflow env
  .github/workflows/release.yml
Due: none

chore(release): publish
  packages/chat/CHANGELOG.md
  packages/chat/package.json
Due: prettier --cache --write

chore(chat): input, resize fixes, interactions for molecules
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/formulaElement/__stories__/formulaElement.stories.js
  packages/chat/components/formulaElement/src/formulaElement.scss
  packages/chat/components/message/src/message.ts
  packages/chat/components/tagListElement/src/tagListElement.template.ts
  packages/chat/components/tagListElement/src/tagListElement.ts
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): small fixes + new docs
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/header/src/header.scss
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/tagListElement/src/tagListElement.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): Chart edting molecule interactions and small fixes (#211)
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/formulaElement/__stories__/formulaElement.stories.js
  packages/chat/components/header/src/header.scss
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.scss
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/tagListElement/src/tagListElement.scss
  packages/chat/components/tagListElement/src/tagListElement.template.ts
  packages/chat/components/tagListElement/src/tagListElement.ts
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): small fixes + hightlights
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.ts
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/tableElement/src/tableElement.scss
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): component sizing fixes, footer notifications
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/footer/__stories__/footer.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/tableElement/src/tableElement.scss
  packages/chat/components/tableElement/src/tableElement.ts
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/package.tgz
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): component sizing fixes, footer notifications
  packages/chat/package.tgz
Due: none

chore(chat): Code editing, menu fixes, more docs (#212)
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chartElement/src/chartElement.template.ts
  packages/chat/components/chartElement/src/chartElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/chat/src/chat.ts
  packages/chat/components/footer/__stories__/footer.stories.js
  packages/chat/components/footer/src/footer.scss
  packages/chat/components/footer/src/footer.template.ts
  packages/chat/components/footer/src/footer.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/tableElement/src/tableElement.scss
  packages/chat/components/tableElement/src/tableElement.ts
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(check-license): staged script wasn't working
  tools/check-license.cjs
Due: none

chore(license): update to filter files
  tools/check-license.cjs
Due: none

docs(storybook): remove components from storybook temporarily
  README.md
  packages/feedback/__stories__/feedback.story-mdx
  packages/feedback/__stories__/feedback.story.js
  packages/feedback/package.json
  packages/network-graph/__stories__/network-graph.story-mdx
  packages/network-graph/__stories__/network-graph.story.js
  packages/network-graph/package.json
  packages/ux-control/__stories__/ux-control.story-mdx
  packages/ux-control/__stories__/ux-control.story.js
  packages/ux-control/package.json
Due: prettier --cache --write

docs(storybook): change extension back
  packages/ux-control/__stories__/ux-control.story-mdx
Due: none

chore(check-license): staged script wasn't working (#217)
  tools/check-license.cjs
Due: none

chore(storybook): remove ux-control, feedback, and network graph components from storybook temporarily (#218)
  README.md
  packages/feedback/__stories__/feedback.story-mdx
  packages/feedback/__stories__/feedback.story.js
  packages/feedback/package.json
  packages/network-graph/__stories__/network-graph.story-mdx
  packages/network-graph/__stories__/network-graph.story.js
  packages/network-graph/package.json
  packages/ux-control/__stories__/ux-control.story-mdx
  packages/ux-control/__stories__/ux-control.story.js
  packages/ux-control/package.json
Due: prettier --cache --write

chore(chat): code editing, molecule design,header issues
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/codeElement/src/codeElement.ts
  packages/chat/components/header/src/header.scss
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/tagListElement/src/tagListElement.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): added summary mode, loading animations, various fixes
  packages/chat/components/cardElement/__stories__/cardElement.stories.js
  packages/chat/components/cardElement/src/cardElement.scss
  packages/chat/components/cardElement/src/cardElement.ts
  packages/chat/components/carouselElement/src/carouselElement.ts
  packages/chat/components/chat/__stories__/chat.mdx
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/codeElement/src/codeElement.scss
  packages/chat/components/codeElement/src/codeElement.template.ts
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/linkListElement/src/linkListElement.scss
  packages/chat/components/loadingElement/src/loadingElement.scss
  packages/chat/components/loadingElement/src/loadingElement.template.ts
  packages/chat/components/loadingElement/src/loadingElement.ts
  packages/chat/components/message/__stories__/message.stories.js
  packages/chat/components/message/src/message.scss
  packages/chat/components/message/src/message.template.ts
  packages/chat/components/message/src/message.ts
  packages/chat/components/messages/src/messages.template.ts
  packages/chat/components/molecularElement/__stories__/molecularElement.stories.js
  packages/chat/components/molecularElement/src/molecularElement.scss
  packages/chat/components/molecularElement/src/molecularElement.template.ts
  packages/chat/components/molecularElement/src/molecularElement.ts
  packages/chat/components/tableElement/src/tableElement.scss
  packages/chat/components/textElement/__stories__/textElement.stories.js
  packages/chat/components/textElement/src/textElement.scss
  packages/chat/components/textElement/src/textElement.template.ts
  packages/chat/components/textElement/src/textElement.ts
  packages/chat/package.tgz
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(chat): added summary mode, loading animations, various fixes
  packages/chat/package.tgz
Due: none

chore(header): made custom menu dropdown
  packages/chat/components/chat/__stories__/chat.stories.js
  packages/chat/components/header/src/header.scss
  packages/chat/components/header/src/header.template.ts
  packages/chat/components/header/src/header.ts
  packages/chat/components/tableElement/src/tableElement.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
