Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

fix(emptystate): update props to attributes
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.ts
  yarn.lock
Due: none

fix(empty state): illustration slot
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/empty-state/components/empty-state/empty-state.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.scss
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.template.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: correct package exports
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
Due: none

fix: correct package-edit exports
  packages/react/tasks/generate/templates/package-edit.json
Due: none

feat(animated-header): add custom itemToString func for each Dropdown
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/data/index.jsx
Due: none

fix(emptystate): format
  packages/web-components/src/components/empty-state/__stories__/empty-state.stories.js
  packages/web-components/src/components/empty-state/components/empty-state/empty-state.ts
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.scss
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.template.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(emptystate): test update
  packages/web-components/src/components/empty-state/__tests__/__snapshots__/empty-state.test.snap.js
  packages/web-components/src/components/empty-state/__tests__/empty-state.test.js
  packages/web-components/src/components/empty-state/components/empty-state/src/empty-state.template.ts
Due: none

fix: use exports instead of main/module
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/package.json
  packages/react/tasks/generate/templates/package-edit.json
  packages/utilities/package.json
  packages/web-components/package.json
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/package.json
  packages/web-components/tasks/generate/templates/package-edit.json
Due: none

feat(animated-header): add types to itemToString handlers
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

feat(UIShell): add TrialCountdown component
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/TrialCountdown.tsx
  packages/react/src/components/UIShell/components/styles/_trial-countdown.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: lint error
  packages/react/src/components/UIShell/components/styles/_trial-countdown.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: snapshots
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
Due: none

feat(animated-header): add custom itemToString func for Dropdowns (#542)
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/data/index.jsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

feat(animated-header): remove loop animation from header
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

feat(animated-header): remove loop animation from header (#547)
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

feat(animated-header): remove strictmode from example app + tooltip
  examples/react/AnimatedHeader/src/main.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

fix(storybook): remove background button
  packages/react/.storybook/preview.js
Due: none

fix(empty state): yarn conflict resolve
  yarn.lock
Due: none

chore(generate scripts): update scripts
  packages/react/tasks/generate/templates/README.md
  packages/react/tasks/generate/templates/package-edit.json
  packages/web-components/tasks/generate/templates/README.md
  packages/web-components/tasks/generate/templates/package-edit.json
Due: prettier --cache --write

chore(generate script): update readme
  packages/react/tasks/generate/templates/README.md
  packages/web-components/tasks/generate/templates/README.md
Due: prettier --cache --write

fix(generate scripts): format issue
  packages/react/tasks/generate/templates/README.md
  packages/web-components/tasks/generate/templates/README.md
Due: prettier --cache --write

feat(HeaderAction): add classname to HeaderActionContent
  packages/react/src/components/UIShell/components/HeaderAction.tsx
Due: none

refactor(HeaderPopover): rename component
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderPopover.tsx
  packages/react/src/components/UIShell/index.ts
Due: none

feat(header): restore focus styles for header action element
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(HeaderAction): begin animation support
  packages/react/src/components/UIShell/components/HeaderAction.tsx
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

refactor(HeaderPopover): remove deprecated alignment options from propTypes
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderPopover.tsx
Due: none
