Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: update react version
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/FirstTimeOrientation/package.json
  examples/react/Processing/package.json
  examples/react/Resizer/package.json
  examples/react/StylePicker/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/WhatsNew/package.json
  packages/react/package.json
  packages/react/tasks/generate/templates/example/package-edit.json
  yarn.lock
Due: none

chore: update imports to carbon/react
  packages/react/src/components/UIShell/__stories__/UIShell.scss
  packages/react/src/components/UIShell/components/styles/_content.scss
  packages/react/src/components/UIShell/components/styles/_header-divider.scss
  packages/react/src/components/UIShell/components/styles/_header-overflow-panel.scss
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
  packages/react/src/components/UIShell/components/styles/_shark-fin-icon.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/components/styles/_trial-countdown.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(uishell): improve prop comments for SideNav
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

test(style-picker): implement tests for flat variant
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
Due: none

test(style-picker): implement tests for disclosed variant
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
Due: none

use brand product if product name not set (#892)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

feat(header-overflow-panel): add to ui-shell (#854)
  examples/react/UIShell/src/components/HeaderGlobalBarExample.tsx
  packages/react/src/components/UIShell/__stories__/HeaderOverflowPanel.mdx
  packages/react/src/components/UIShell/__stories__/HeaderOverflowPanel.stories.js
  packages/react/src/components/UIShell/__stories__/HeaderPopover.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.scss
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderOverflowPanel.tsx
  packages/react/src/components/UIShell/components/Profile.tsx
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/styles/_header-overflow-panel.scss
  packages/react/src/components/UIShell/components/styles/_profile.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

add custom event for refreshing header options
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/constant.ts
Due: none

chore(deps): update to carbon react .95.0-rc.0
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/FirstTimeOrientation/package.json
  examples/react/Processing/package.json
  examples/react/Resizer/package.json
  examples/react/StylePicker/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/WhatsNew/package.json
  packages/react/package.json
  yarn.lock
Due: none

chore: update carbon styles
  packages/react/package.json
  yarn.lock
Due: none

add custom event for refreshing header options (#897)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/constant.ts
Due: none

chore: yarn dedupe
  .github/workflows/ci.yml
  yarn.lock
Due: none

chore(deps): revise deps to avoid duplicates
  package.json
  packages/web-components/package.json
  yarn.lock
Due: none

docs(uishell): improve prop comments for SideNav (#899)
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

chore(deps): update to carbon react .95.0-rc.0 (#898)
  .github/workflows/ci.yml
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/FirstTimeOrientation/package.json
  examples/react/Processing/package.json
  examples/react/Resizer/package.json
  examples/react/StylePicker/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/WhatsNew/package.json
  package.json
  packages/react/package.json
  packages/web-components/package.json
  yarn.lock
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

feat(style-picker): implement loading state (#888)
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.stories.js
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.stories.js
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

chore: release
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

test(style-picker): implement test for loading state
  packages/web-components/src/components/style-picker/__tests__/__snapshots__/style-picker.test.snap.js
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
Due: none

test(style-picker): implement test for loading state
  packages/web-components/src/components/style-picker/__tests__/style-picker.test.js
Due: none

update profile menu styling to match designs
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/AuthContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/ProfilePopover/ProfilePopover.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/ProfilePopover/_index.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(node): update to node v24.11.0
  .github/CONTRIBUTING.md
  .github/workflows/automerge.yml
  .github/workflows/ci.yml
  .github/workflows/create-release-tag-and-pr.yml
  .github/workflows/dco.yml
  .github/workflows/publish-canary-cdn.yml
  .github/workflows/publish-cdn.yml
  .github/workflows/release-canary.yml
  .github/workflows/release-minor.yml
  .github/workflows/release.yml
  .github/workflows/storybook-publish.yml
  .nvmrc
Due: prettier --cache --write

docs(uishell): disable a11y checker for demo story
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

docs(uishell): disable a11y checker for demo story (#904)
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
