Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(uishell): add panel variant back to storybook with fixes
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: double check logic
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix: update theme
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: add main and module entry point in package.json (#727)
  packages/react/src/components/Resizer/package.json
Due: none

fix: Whats new export update (#616)
  packages/react/src/components/WhatsNew/components/Toc/TocSection.tsx
  packages/react/src/components/WhatsNew/package.json
  packages/react/src/components/WhatsNew/types/common.ts
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
Due: prettier --cache --write

fix(style-picker): provide search placeholder as a prop
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
Due: none

fix(style-picker): resolve style issue when section hide in accordion
  packages/web-components/src/components/style-picker/components/style-picker-sections/src/style-picker-sections.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.template.ts
  packages/web-components/src/components/style-picker/components/style-picker/src/style-picker.ts
  packages/web-components/src/components/style-picker/context/style-picker-context.ts
Due: none

docs: add flyouts sidenav story
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
Due: none

Update packages/react/src/components/UIShell/components/styles/_side-nav.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): remove any aria-label transformations
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
Due: none

feat(animated-header): remove key from AriaLabels interface
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

docs: remove divider after slot component
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: remove divider
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
Due: none

feat(animated-header): rework aria-labels to use tasksControllerConfig and workspaceSelectorConfig
  examples/react/AnimatedHeader/src/App.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/WorkspaceSelector/WorkspaceSelector.tsx
  packages/react/src/components/AnimatedHeader/index.ts
Due: none

fix(uishell): add panel variant back to storybook with fixes (#731)
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): update snapshot
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

feat(animated-header): add accessibility role and aria- attributes (#715)
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.tsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/HeaderTitle.tsx
  packages/react/src/components/AnimatedHeader/components/HeaderTitle/header-title.scss
  packages/react/src/components/AnimatedHeader/components/TasksController/TasksController.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/BaseTile/BaseTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/WorkspaceSelector/WorkspaceSelector.tsx
  packages/react/src/components/AnimatedHeader/components/animated-header.scss
  packages/react/src/components/AnimatedHeader/index.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
