Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: fix theme for switcher
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: remove extra prop
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

chore: add package-specific review teams (#525)
  .github/CODEOWNERS
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

feat: update stackblitz demo
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
Due: none

chore(deploy): deploy storybook
  index.html
  project.json
Due: none

fix(processing): gif random id
  packages/react/src/components/Processing/__stories__/Processing.mdx
  packages/react/src/components/Processing/__stories__/images/ai_chat_loop.gif
Due: none

fix: styles
  packages/react/src/components/UIShell/components/styles/_header-divider.scss
  packages/react/src/components/UIShell/components/styles/_header.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(animated-header): create object tasksConfig that configures header button & dropdown
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/data/index.jsx
Due: none

fix(animated-header): update test snapshot
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

fix(processing): add processing to readme
  README.md
Due: prettier --cache --write

chore: update codeowners
  .github/CODEOWNERS
  README.md
Due: prettier --cache --write

fix(animated-header): update selectedWorkspaces type to object
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
Due: none

feat(processing): add new processing component (#490)
  .github/CODEOWNERS
  README.md
  examples/react/Processing/index.html
  examples/react/Processing/package.json
  examples/react/Processing/src/App.tsx
  examples/react/Processing/src/index.scss
  examples/react/Processing/src/main.tsx
  examples/react/Processing/src/vite-env.d.ts
  examples/react/Processing/tsconfig.json
  examples/react/Processing/tsconfig.node.json
  examples/react/Processing/vite.config.ts
  packages/react/src/components/Processing/__stories__/Processing.mdx
  packages/react/src/components/Processing/__stories__/Processing.stories.tsx
  packages/react/src/components/Processing/__stories__/images/ai_chat_loop.gif
  packages/react/src/components/Processing/__stories__/images/processing_element_load_unload_dark_128x128.gif
  packages/react/src/components/Processing/__stories__/images/processing_element_load_unload_light_128x128.gif
  packages/react/src/components/Processing/__stories__/images/processing_element_loop_dark_128x128.gif
  packages/react/src/components/Processing/__stories__/images/processing_element_loop_light_128x128.gif
  packages/react/src/components/Processing/__tests__/Processing.test.js
  packages/react/src/components/Processing/__tests__/__snapshots__/Processing.test.js.snap
  packages/react/src/components/Processing/components/Processing.tsx
  packages/react/src/components/Processing/components/processing.scss
  packages/react/src/components/Processing/index.ts
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Processing/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/Processing/CHANGELOG.md
  packages/react/src/components/Processing/package.json
Due: prettier --cache --write

fix: duplicate style import storybook bug
  packages/react/src/components/Processing/components/processing.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(processing): remove button import + fix storybook style
  packages/react/src/components/Processing/components/Processing.tsx
  packages/react/src/components/Processing/components/processing.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(processing): snapshot
  packages/react/src/components/Processing/__tests__/__snapshots__/Processing.test.js.snap
Due: none

fix(processing): remove button import + fix storybook style (#534)
  packages/react/src/components/Processing/__tests__/__snapshots__/Processing.test.js.snap
  packages/react/src/components/Processing/components/Processing.tsx
  packages/react/src/components/Processing/components/processing.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(processing): set default theme g10
  packages/react/src/components/Processing/components/processing.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: linting error
  packages/react/src/components/UIShell/components/styles/_header-divider.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(uishell): add header story with components update carbon/react (#465)
  examples/react/AnimatedHeader/package.json
  examples/react/ExampleButton/package.json
  examples/react/TextHighlighter/package.json
  examples/react/UIShell/package.json
  examples/react/UIShell/src/App.tsx
  packages/react/package.json
  packages/react/src/components/ThemeSettings/__tests__/__snapshots__/ThemeSettings-test.js.snap
  packages/react/src/components/UIShell/README.md
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderDivider.tsx
  packages/react/src/components/UIShell/components/styles/_header-divider.scss
  packages/react/src/components/UIShell/components/styles/_header.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
  packages/react/src/components/UIShell/index.ts
  packages/react/tasks/generate/templates/example/package-edit.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix(animated-header): bug fixes (#523)
  examples/react/AnimatedHeader/src/App.tsx
  examples/react/AnimatedHeader/src/data/index.jsx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.mdx
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/__stories__/data/index.jsx
  packages/react/src/components/AnimatedHeader/__tests__/AnimatedHeader-test.tsx
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.js.snap
  packages/react/src/components/AnimatedHeader/__tests__/__snapshots__/AnimatedHeader-test.tsx.snap
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/AnimatedHeader.tsx
  packages/react/src/components/AnimatedHeader/components/AnimatedHeader/animated-header.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/ai-prompt-tile.scss
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/glass-tile.scss
  packages/react/src/components/AnimatedHeader/data/index.jsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
