Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

docs(UIShell): update example (#417)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/index.ts
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix(SideNav): hiding keyboard func behind type
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavItems.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix(SideNav): update treeview tabs
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

fix(SideNav): fixed imports
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
Due: none

fix(SideNav): fixed imports (#420)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
Due: none

docs(UIShell): update overview page and add plex to example
  examples/react/UIShell/src/index.scss
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(animated-header): move dependencies in AnimatedHeader/package.json
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/package.json
  yarn.lock
Due: none

docs(UIShell): update overview page and add plex to example (#422)
  examples/react/UIShell/src/index.scss
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(UIShell): SideNav panel as grid influencer
  examples/react/UIShell/src/App.tsx
  packages/react/.storybook/styles.scss
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_content.scss
  packages/react/src/components/UIShell/components/ui-shell.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: add code comment
  packages/react/src/components/UIShell/components/styles/_content.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(SideNavToggle): update
  packages/react/src/components/UIShell/components/SideNavToggle.tsx
Due: none

refactor(SideNav): use NodeList.forEach
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix(SideNav): update `inert` logic
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix(SideNav): prevent sidenav toggle tabindex reset
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

fix: hideovelay top padding
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/UIShell.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: styles
  packages/react/src/components/UIShell/components/styles/_content.scss
  packages/react/src/components/UIShell/components/styles/_side-nav.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: replace lib imports with es
  packages/react/src/components/UIShell/components/HeaderPanel.tsx
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavItems.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
  packages/react/src/components/UIShell/components/SideNavToggle.tsx
Due: none

fix(SideNav): prevent SideNavToggle tabindex reset (#426)
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavToggle.tsx
Due: none

fix: copy over internal files from carbon
  packages/react/src/components/UIShell/__tests__/SideNav-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
  packages/react/src/components/UIShell/components/HeaderPanel.tsx
  packages/react/src/components/UIShell/components/Link.tsx
  packages/react/src/components/UIShell/components/SideNav.tsx
  packages/react/src/components/UIShell/components/SideNavItems.tsx
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
  packages/react/src/components/UIShell/components/SideNavToggle.tsx
  packages/react/src/components/UIShell/internal/environment.js
  packages/react/src/components/UIShell/internal/keyboard/index.js
  packages/react/src/components/UIShell/internal/keyboard/keys.js
  packages/react/src/components/UIShell/internal/keyboard/match.js
  packages/react/src/components/UIShell/internal/keyboard/navigation.js
  packages/react/src/components/UIShell/internal/useDelayedState.ts
  packages/react/src/components/UIShell/internal/useEvent.js
  packages/react/src/components/UIShell/internal/useMatchMedia.js
  packages/react/src/components/UIShell/internal/useMergedRefs.ts
  packages/react/src/components/UIShell/internal/usePrefix.ts
  packages/react/src/components/UIShell/internal/warning.js
  packages/react/src/components/UIShell/prop-types/AriaPropTypes.js
  packages/react/src/components/UIShell/prop-types/deprecate.js
  packages/react/src/components/UIShell/prop-types/isRequiredOneOf.js
  packages/react/src/components/UIShell/types/common.ts
  packages/react/tasks/generate/templates/components/DISPLAY_NAME.tsx
Due: none

chore: test
  packages/react/src/components/UIShell/__tests__/SideNav-test.js
  packages/react/src/components/UIShell/__tests__/__snapshots__/SideNav-test.js.snap
Due: none

chore: import fix
  packages/react/src/components/UIShell/components/SideNav.tsx
Due: none

chore: revert change
  packages/react/tasks/generate/templates/components/DISPLAY_NAME.tsx
Due: none

fix: uishell stackblitz
  examples/react/UIShell/src/App.tsx
Due: none

Update packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
  packages/react/src/components/UIShell/components/SideNavMenuItem.tsx
Due: none
