Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: removed unused imports
  packages/react/src/components/RegistrationFlow/__stories__/Details.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationContent.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationFlow.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationFlow.stories.scss
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationGreeting.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationMasthead.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationStepIndicator.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationView.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationViewContainer.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationViewFooter.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationViewStack.stories.js
  packages/react/src/components/RegistrationFlow/components/Details.tsx
  packages/react/src/components/RegistrationFlow/components/RegistrationContent.tsx
  packages/react/src/components/RegistrationFlow/components/RegistrationFlow.tsx
  packages/react/src/components/RegistrationFlow/components/RegistrationGreeting.tsx
  packages/react/src/components/RegistrationFlow/components/RegistrationMasthead.tsx
  packages/react/src/components/RegistrationFlow/components/RegistrationViewContainer.tsx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: fixing ci-check issues
  packages/react/src/components/RegistrationFlow/__stories__/Details.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationContent.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationFlow.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationFlow.stories.scss
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationGreeting.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationMasthead.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationStepIndicator.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationView.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationViewContainer.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationViewFooter.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationViewStack.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: linter issues with scss...
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationFlow.stories.scss
  packages/react/src/components/RegistrationFlow/components/registration-flow.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: linting...
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationFlow.stories.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Typescript changes
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

Add unit tests
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
Due: none

Update test
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
Due: none

fix: simple color fixes
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationFlow.mdx
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationFlow.stories.js
  packages/react/src/components/RegistrationFlow/components/RegistrationContent.tsx
  packages/react/src/components/RegistrationFlow/components/RegistrationFlow.tsx
  packages/react/src/components/RegistrationFlow/components/RegistrationGreeting.tsx
  packages/react/src/components/RegistrationFlow/components/RegistrationMasthead.tsx
  packages/react/src/components/RegistrationFlow/components/RegistrationViewContainer.tsx
  packages/react/src/components/RegistrationFlow/components/media/darkBackground.svg
  packages/react/src/components/RegistrationFlow/components/media/lightBackground.svg
  packages/react/src/components/RegistrationFlow/components/registration-flow.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: added a dark/light default background
  packages/react/.storybook/main.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationFlow.stories.js
  packages/react/src/components/RegistrationFlow/components/media/media.d.ts
  packages/react/src/components/RegistrationFlow/tsconfig.json
Due: none

fix: format
  packages/react/src/components/RegistrationFlow/components/registration-flow.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update comment
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

Revert codecept tests
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

Kick github
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

chore: refactor storybook
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.stories.jsx
Due: none

feat: add lazy loading for components which needs inital focus on page load (#1307)
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.stories.jsx
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/MDXComponents/CHANGELOG.md
  packages/react/src/components/MDXComponents/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  project.json
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.08b0668b.iframe.bundle.js
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.08b0668b.iframe.bundle.js.map
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.c05b33c9.iframe.bundle.js
  react/MDXComponents-components-storybook-demo-storybook-demo-stories.c05b33c9.iframe.bundle.js.map
  react/iframe.html
  react/index.json
  react/main.4fbb0c0d.iframe.bundle.js
  react/main.4fbb0c0d.iframe.bundle.js.map
  react/main.82dccab1.iframe.bundle.js
  react/main.82dccab1.iframe.bundle.js.map
  react/project.json
  react/runtime~main.1b1cdefa.iframe.bundle.js
  react/runtime~main.1b1cdefa.iframe.bundle.js.map
  react/runtime~main.ec07e32d.iframe.bundle.js
  react/runtime~main.ec07e32d.iframe.bundle.js.map
  react/v12/iframe.html
  react/v12/main.121d7579.iframe.bundle.js
  react/v12/main.121d7579.iframe.bundle.js.map
  react/v12/main.5272635c.iframe.bundle.js
  react/v12/main.5272635c.iframe.bundle.js.map
  react/v12/project.json
  v12/project.json
  v12/react/iframe.html
  v12/react/main.121d7579.iframe.bundle.js
  v12/react/main.121d7579.iframe.bundle.js.map
  v12/react/main.5272635c.iframe.bundle.js
  v12/react/main.5272635c.iframe.bundle.js.map
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

Increase wait time
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

Update codecept tests
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
Due: none

chore: clean up unused constant and comment
  packages/web-components/src/components/resizer/components/resizer-handle/src/resizer-handle.scss
  packages/web-components/src/components/resizer/components/resizer-handle/src/resizer-handle.template.ts
  packages/web-components/src/components/resizer/src/constants.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat(global-header): Solis idle timeout (#1313)
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__codecept__/HybridIpaasHeader.spec.js
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__tests__/HybridIpaasHeader.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/global-header/CHANGELOG.md
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write

chore: update lint and tests
  packages/web-components/src/components/resizer/__stories__/resizer-web-ide.stories.js
  packages/web-components/src/components/resizer/__stories__/resizer-web-ide.stories.scss
  packages/web-components/src/components/resizer/__tests__/__snapshots__/resizer.test.snap.js
  packages/web-components/src/components/resizer/__tests__/resizer.test.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: format and lint errors in resizer web ide stories
  packages/web-components/src/components/resizer/__stories__/resizer-web-ide.stories.js
  packages/web-components/src/components/resizer/__stories__/resizer-web-ide.stories.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: table insertion handling and exit
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/tables.ts
Due: none

fix: handle custom extension story and remove cursor placement to end
  packages/web-components/src/components/wysiwyg/__stories__/wysiwyg-custom-toolbar.stories.js
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/tables.ts
Due: none

docs: update comment for accuracy
  packages/web-components/src/components/wysiwyg/components/wysiwyg/src/extensions/tables.ts
Due: none

fix: updated the inports in the mdx file example
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationFlow.mdx
Due: none

fix: issue with simple test failing
  packages/react/__mocks__/fileMock.js
  packages/react/jest.config.js
  packages/react/src/components/RegistrationFlow/__tests__/__snapshots__/RegistrationFlow.test.js.snap
Due: none

feat(UIShell): expose depth on SideNavMenu button as data-depth attribute '
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

feat(UIShell): expose depth on SideNavMenu button as data-depth attribute (#1321)
  packages/react/src/components/UIShell/components/SideNavMenu.tsx
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

chore(deploy): deploy storybook
  project.json
  react/2083.1911e41b.iframe.bundle.js
  react/2083.1911e41b.iframe.bundle.js.map
  react/2083.2a8baaf7.iframe.bundle.js
  react/2083.2a8baaf7.iframe.bundle.js.LICENSE.txt
  react/2083.2a8baaf7.iframe.bundle.js.map
  react/iframe.html
  react/project.json
  react/runtime~main.db00dc17.iframe.bundle.js
  react/runtime~main.db00dc17.iframe.bundle.js.map
  react/runtime~main.ec07e32d.iframe.bundle.js
  react/runtime~main.ec07e32d.iframe.bundle.js.map
  react/v12/project.json
  v12/project.json
  v12/react/project.json
  v12/web-components/project.json
  web-components/project.json
  web-components/v12/project.json
Due: none

fix: removed super trivial stories from sidenav
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationContent.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationView.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationViewContainer.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationViewFooter.stories.js
  packages/react/src/components/RegistrationFlow/__stories__/RegistrationViewStack.stories.js
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/RegistrationFlow/CHANGELOG.md
  packages/react/src/components/RegistrationFlow/package.json
Due: prettier --cache --write

fix: removed default author field
  packages/react/src/components/RegistrationFlow/package.json
Due: none

chore: capitalize and bump package
  packages/react/src/components/MDXComponents/components/storybook-demo/storybook-demo.tsx
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
