Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore(chat): Code functionailty fixes, Chart updates, Formula render fix (#332)
  packages/web-components/src/components/chat/components/chartElement/__stories__/chartElement.stories.ts
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples2.json
  packages/web-components/src/components/chat/components/chartElement/__stories__/examples3.json
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.scss
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.template.ts
  packages/web-components/src/components/chat/components/chartElement/src/chartElement.ts
  packages/web-components/src/components/chat/components/chat/src/chat.template.ts
  packages/web-components/src/components/chat/components/chat/src/chat.ts
  packages/web-components/src/components/chat/components/codeElement/__stories__/codeElement.stories.js
  packages/web-components/src/components/chat/components/codeElement/__stories__/docs.mdx
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.scss
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.template.ts
  packages/web-components/src/components/chat/components/codeElement/src/codeElement.ts
  packages/web-components/src/components/chat/components/footer/src/footer.ts
  packages/web-components/src/components/chat/components/formulaElement/src/formulaElement.ts
  packages/web-components/src/components/chat/components/message/src/message.ts
  packages/web-components/src/components/chat/components/messages/src/messages.ts
  packages/web-components/src/components/chat/components/popupElement/src/popupElement.scss
  packages/web-components/src/components/chat/components/popupElement/src/popupElement.template.ts
  packages/web-components/src/components/chat/components/tagListElement/src/tagListElement.ts
  packages/web-components/src/components/chat/components/textElement/_stories-dont-show_/textElement.stories.js
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

docs(status): change to draft
  packages/react/src/components/TextHighlighter/__stories__/TextHighlighter.mdx
Due: none

chore(name): change package name
  examples/react/TextHighlighter/package.json
Due: none

chore: change react template test to one snapshot test
  packages/react/tasks/generate/templates/__tests__/DISPLAY_NAME.test.js
Due: none

chore: simplify test
  examples/react/TextHighlighter/package.json
  packages/react/src/components/TextHighlighter/__tests__/TextHighlighter.test.js
  packages/react/src/components/TextHighlighter/__tests__/__snapshots__/TextHighlighter.test.js.snap
Due: none

chore: add test steps
  docs/developing.md
  packages/react/tasks/generate/templates/example/package-edit.json
Due: prettier --cache --write

chore: format
  docs/developing.md
Due: prettier --cache --write

chore: format
  packages/react/src/components/TextHighlighter/__tests__/TextHighlighter.test.js
Due: none

chore: change react template test to one snapshot test (#387)
  docs/developing.md
  packages/react/tasks/generate/templates/__tests__/DISPLAY_NAME.test.js
  packages/react/tasks/generate/templates/example/package-edit.json
Due: prettier --cache --write

feat(TextHighlighter): Add TextHighlighter component - React (#384)
  examples/react/TextHighlighter/index.html
  examples/react/TextHighlighter/package.json
  examples/react/TextHighlighter/src/App.tsx
  examples/react/TextHighlighter/src/index.scss
  examples/react/TextHighlighter/src/main.tsx
  examples/react/TextHighlighter/src/vite-env.d.ts
  examples/react/TextHighlighter/tsconfig.json
  examples/react/TextHighlighter/tsconfig.node.json
  examples/react/TextHighlighter/vite.config.ts
  packages/react/src/components/TextHighlighter/__stories__/TextHighlighter.mdx
  packages/react/src/components/TextHighlighter/__stories__/TextHighlighter.stories.js
  packages/react/src/components/TextHighlighter/__stories__/storybook.scss
  packages/react/src/components/TextHighlighter/__tests__/TextHighlighter.test.js
  packages/react/src/components/TextHighlighter/__tests__/__snapshots__/TextHighlighter.test.js.snap
  packages/react/src/components/TextHighlighter/components/TextHighlighter.tsx
  packages/react/src/components/TextHighlighter/components/text-highlighter.scss
  packages/react/src/components/TextHighlighter/index.ts
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/TextHighlighter/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(ghactions): fix name of gh token env var name
  .github/workflows/release-minor.yml
Due: none

fix(ghactions): fix name of gh token env var name (#390)
  .github/workflows/release-minor.yml
Due: none

fix(ghactions): fix GH_TOKEN env setting
  .github/workflows/release-minor.yml
Due: none

fix(ghactions): add token fix for lerna (#391)
  .github/workflows/release-minor.yml
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/ExampleButton/CHANGELOG.md
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/TextHighlighter/CHANGELOG.md
  packages/react/src/components/TextHighlighter/package.json
  packages/utilities/CHANGELOG.md
  packages/utilities/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/feedback/CHANGELOG.md
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/network-graph/CHANGELOG.md
  packages/web-components/src/components/network-graph/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/package.json
  packages/web-components/src/components/ux-control/CHANGELOG.md
  packages/web-components/src/components/ux-control/package.json
  yarn.lock
Due: prettier --cache --write

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
