Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(tools): resolve repo root for create command
  tools/create/src/commands/new.js
  tools/create/src/utils/git.js
Due: none

fix(tools): clarify storybook next steps
  tools/create/src/commands/new.js
Due: none

fix(tools): validate generated package json
  packages/react/tasks/generate/templates/package-edit.json
  tools/create/src/commands/new.js
Due: none

docs: clarify storybook development workflow
  AGENTS.md
Due: prettier --cache --write

feat: SplitPanel deprecation proposal (#969)
  packages/react/src/components/Resizer/components/Resizer.tsx
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/DEPRECATION-PROPOSAL.md
  packages/react/src/components/SplitPanel/DEPRECATION-plan.md
  packages/react/src/components/SplitPanel/README.md
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.mdx
  packages/react/src/components/SplitPanel/__stories__/SplitPanel.stories.js
  packages/react/src/components/SplitPanel/components/SplitPanel.tsx
  packages/react/src/components/SplitPanel/package.json
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/package.json
Due: prettier --cache --write

auto-unitialize session manager
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

Define config
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

Add state
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

Add activity events
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

Add unit tests for constructor and add init function
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

Add more functions to init
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

chore: release
  packages/react/src/components/StylePicker/CHANGELOG.md
  packages/react/src/components/StylePicker/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/date-picker/CHANGELOG.md
  packages/web-components/src/components/date-picker/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/feedback/CHANGELOG.md
  packages/web-components/src/components/feedback/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

feat(TagInput): New react compoenet - initial commit (#1186)
  examples/react/TagInput/index.html
  examples/react/TagInput/package.json
  examples/react/TagInput/src/App.tsx
  examples/react/TagInput/src/index.scss
  examples/react/TagInput/src/main.tsx
  examples/react/TagInput/src/vite-env.d.ts
  examples/react/TagInput/tsconfig.json
  examples/react/TagInput/tsconfig.node.json
  examples/react/TagInput/vite.config.ts
  packages/react/src/components/TagInput/README.md
  packages/react/src/components/TagInput/__stories__/TagInput.mdx
  packages/react/src/components/TagInput/__stories__/TagInput.stories.js
  packages/react/src/components/TagInput/__stories__/TagInputExample.stories.js
  packages/react/src/components/TagInput/__stories__/storybook.scss
  packages/react/src/components/TagInput/__tests__/TagInput.test.js
  packages/react/src/components/TagInput/__tests__/__snapshots__/TagInput.test.js.snap
  packages/react/src/components/TagInput/components/TagInput.tsx
  packages/react/src/components/TagInput/components/tag-input.scss
  packages/react/src/components/TagInput/index.ts
  packages/react/src/components/TagInput/package.json
  packages/react/src/components/TagInput/tsconfig.json
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix(TextHighlighter): Improve the visibility and readability of the reference annotation (#1196)
  packages/react/src/components/TextHighlighter/components/text-highlighter.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/TagInput/CHANGELOG.md
  packages/react/src/components/TagInput/package.json
  packages/react/src/components/TextHighlighter/CHANGELOG.md
  packages/react/src/components/TextHighlighter/package.json
Due: prettier --cache --write

chore(animated-header): add autotrack overrides tiles
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/AITile/AITile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/GlassTile/GlassTile.tsx
  packages/react/src/components/AnimatedHeader/components/Tiles/index.ts
  packages/react/src/components/AnimatedHeader/components/types.ts
  packages/react/src/components/AnimatedHeader/components/utils.ts
  packages/react/src/components/AnimatedHeader/index.ts
Due: none

chore(animated-header): format
  packages/react/src/components/AnimatedHeader/components/types.ts
  packages/react/src/components/AnimatedHeader/components/utils.ts
  packages/react/src/components/AnimatedHeader/index.ts
Due: none

feat(tools): add labs-kit (#1195)
  .husky/pre-commit
  .lintstagedrc
  AGENTS.md
  README.md
  package.json
  packages/react/tasks/generate/templates/package-edit.json
  tools/create/README.md
  tools/create/bin/create.js
  tools/create/package.json
  tools/create/scripts/inject-mdx.js
  tools/create/src/commands/new.js
  tools/create/src/index.js
  tools/create/src/utils/config.js
  tools/create/src/utils/git.js
  tools/create/src/utils/github.js
  tools/create/src/utils/license.js
  tools/create/src/utils/logger.js
  tools/create/src/utils/mdx.js
  tools/create/src/utils/names.js
  tools/create/src/utils/owners.js
  tools/create/test/config.test.js
  tools/create/test/license.test.js
  tools/create/test/mdx.test.js
  tools/create/test/names.test.js
  tools/create/test/owners.test.js
  tools/prep.js
  tools/scaffold.js
  yarn.lock
Due: prettier --cache --write

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  tools/create/CHANGELOG.md
  tools/create/package.json
Due: prettier --cache --write

expire solis session jwt through common service
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

fix api path yokes
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

feat(v12): create separate v12 storybook build
  package.json
Due: none

tests!
  packages/web-components/src/components/global-header/components/global-header/src/globals/__tests__/solisSessionManager.test.ts
Due: none

putting back
  packages/web-components/src/components/global-header/components/global-header/src/globals/solisSessionManager.ts
Due: none

typing correction
  packages/web-components/src/components/global-header/components/global-header/src/types/Header.types.ts
Due: none

Path conditions:
  prettier --cache --write: ((any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)) or (any of: *.md)
  eslint: any of: **/*.js, !**/*.snap.js
  yarn lint:license:staged: (any of: **/*.js, !**/*.snap.js) or (any of: **/*.scss)
  stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input: any of: **/*.scss
