Repository carbon-design-system/carbon-labs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, eslint, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

.lintstagedrc:

{
  "**/*.js, !**/*.snap.js": [
    "prettier --cache --write",
    "eslint",
    "yarn lint:license:staged"
  ],
  "**/*.scss": [
    "prettier --cache --write",
    "stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input",
    "yarn lint:license:staged"
  ],
  "*.md": ["prettier --cache --write"]
}

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
Due: prettier --cache --write

fix(errors): ui-shell clears all warnings
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/AppIcons.js
  packages/react/src/components/UIShell/__stories__/HeaderPopover.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/HeaderPopover.tsx
  packages/react/src/components/UIShell/components/Profile.tsx
Due: none

fix(ui-shell): console errors
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/AppIcons.js
  packages/react/src/components/UIShell/__stories__/HeaderPopover.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/Profile.tsx
Due: none

docs(uishell): remove links from storybook
  packages/react/src/components/UIShell/__stories__/SideNav.stories.js
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
Due: none

fix(ui-shell): console errors (#764)
  examples/react/UIShell/src/App.tsx
  packages/react/src/components/UIShell/__stories__/AppIcons.js
  packages/react/src/components/UIShell/__stories__/HeaderPopover.mdx
  packages/react/src/components/UIShell/__stories__/UIShell.stories.js
  packages/react/src/components/UIShell/components/Profile.tsx
Due: none

chore: add needed @testing-library/dom dependency
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/components/Tiles/AIPromptTile/AIPromptTile.tsx
  yarn.lock
Due: none

chore: release
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/react/src/components/AnimatedHeader/CHANGELOG.md
  packages/react/src/components/AnimatedHeader/package.json
  packages/react/src/components/ExampleButton/CHANGELOG.md
  packages/react/src/components/ExampleButton/package.json
  packages/react/src/components/FirstTimeOrientation/CHANGELOG.md
  packages/react/src/components/FirstTimeOrientation/package.json
  packages/react/src/components/Processing/CHANGELOG.md
  packages/react/src/components/Processing/package.json
  packages/react/src/components/Resizer/CHANGELOG.md
  packages/react/src/components/Resizer/package.json
  packages/react/src/components/SplitPanel/CHANGELOG.md
  packages/react/src/components/SplitPanel/package.json
  packages/react/src/components/TextHighlighter/CHANGELOG.md
  packages/react/src/components/TextHighlighter/package.json
  packages/react/src/components/ThemeSettings/CHANGELOG.md
  packages/react/src/components/ThemeSettings/package.json
  packages/react/src/components/UIShell/CHANGELOG.md
  packages/react/src/components/UIShell/package.json
  packages/react/src/components/WhatsNew/CHANGELOG.md
  packages/react/src/components/WhatsNew/package.json
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/chat/CHANGELOG.md
  packages/web-components/src/components/chat/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/example-button/CHANGELOG.md
  packages/web-components/src/components/example-button/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
  packages/web-components/src/components/tag/CHANGELOG.md
  packages/web-components/src/components/tag/package.json
Due: prettier --cache --write

fix: review comments
  examples/web-components/first-time-orientation/index.html
  examples/web-components/first-time-orientation/src/first-time-orientation.scss
  examples/web-components/first-time-orientation/src/personalization-interstitial.ts
  examples/web-components/first-time-orientation/src/welcome-interstitial.ts
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

feat: react StylePicker
  examples/react/StylePicker/index.html
  examples/react/StylePicker/package.json
  examples/react/StylePicker/src/App.tsx
  examples/react/StylePicker/src/index.scss
  examples/react/StylePicker/src/main.tsx
  examples/react/StylePicker/src/vite-env.d.ts
  examples/react/StylePicker/tsconfig.json
  examples/react/StylePicker/tsconfig.node.json
  examples/react/StylePicker/vite.config.ts
  packages/react/src/components/StylePicker/README.md
  packages/react/src/components/StylePicker/__stories__/StylePicker.mdx
  packages/react/src/components/StylePicker/__stories__/StylePicker.stories.js
  packages/react/src/components/StylePicker/__stories__/_storybook-styles.scss
  packages/react/src/components/StylePicker/index.ts
  packages/react/src/components/StylePicker/package.json
  packages/react/src/components/StylePicker/tsconfig.json
  packages/web-components/src/components/style-picker/index.ts
  packages/web-components/src/components/style-picker/react/style-picker-color.ts
  packages/web-components/src/components/style-picker/react/style-picker-group.ts
  packages/web-components/src/components/style-picker/react/style-picker-icon.ts
  packages/web-components/src/components/style-picker/react/style-picker-option.ts
  packages/web-components/src/components/style-picker/react/style-picker-section.ts
  packages/web-components/src/components/style-picker/react/style-picker-sections.ts
  packages/web-components/src/components/style-picker/react/style-picker.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

storybook and linting updates
  packages/web-components/.storybook/main.js
  packages/web-components/package.json
  packages/web-components/public/mockServiceWorker.js
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/_index.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialContent/__stories__/TrialContent.stories.ts
  packages/web-components/src/components/global-header/package.json
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: lock
  yarn.lock
Due: none

fix: build
  packages/react/src/components/StylePicker/package.json
  yarn.lock
Due: none

fix: format
  packages/react/src/components/StylePicker/__stories__/_storybook-styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

Update packages/react/src/components/StylePicker/README.md
  packages/react/src/components/StylePicker/README.md
Due: prettier --cache --write

fix: add test
  packages/react/jest.config.js
  packages/react/src/components/StylePicker/__tests__/StylePicker.test.js
Due: none

fix: storybook story
  packages/react/src/components/StylePicker/__stories__/StylePicker.stories.js
  packages/react/src/components/StylePicker/__stories__/_storybook-styles.scss
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

fix: Updated EmptyState and StylePicker's Initiative owner to be Carbon for IBM Products
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
Due: none

storybook groupings
  packages/web-components/package.json
  packages/web-components/src/components/global-header/components/global-header/src/components/AuthContext/__stories__/AuthContext.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/CommonHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/__stories__/SideNav.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/__stories__/HybridIPaasHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutHeader/__stories__/LogoutHeader.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/LogoutTile/__stories__/LogoutTile.stories.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/TrialContent/__stories__/TrialContent.stories.ts
Due: none

feat(animated-header): add static header SVGs for db2
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/assets/index.js
  packages/react/src/components/AnimatedHeader/assets/static/illustration_data_fabric_dark_03.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_data_fabric_light_03.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_db2_dark.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_db2_light.svg
Due: none

feat(animated-header): update old static files
  packages/react/src/components/AnimatedHeader/__stories__/AnimatedHeader.stories.tsx
  packages/react/src/components/AnimatedHeader/assets/index.js
  packages/react/src/components/AnimatedHeader/assets/static/illustration_data_fabric_dark_05.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_data_fabric_dark_06.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_data_fabric_light_04.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_data_fabric_light_05.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_watson_x_data_dark_03.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_watson_x_data_light_03.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_watsonx_a_dark_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_watsonx_a_light_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_watsonx_data_dark_05.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_watsonx_data_light_06.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_wxbia_dark_01.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_wxbia_light_01.svg
Due: none

feat(animated-header): new db2 versions
  packages/react/src/components/AnimatedHeader/assets/static/illustration_db2_dark.svg
  packages/react/src/components/AnimatedHeader/assets/static/illustration_db2_light.svg
Due: none

feat: implement first-time-orientation pattern using interstitial screen (#762)
  examples/web-components/first-time-orientation/.gitignore
  examples/web-components/first-time-orientation/.sassrc
  examples/web-components/first-time-orientation/index.html
  examples/web-components/first-time-orientation/package.json
  examples/web-components/first-time-orientation/src/assets/welcomeInterstitial.png
  examples/web-components/first-time-orientation/src/first-time-orientation.scss
  examples/web-components/first-time-orientation/src/first-time-orientation.ts
  examples/web-components/first-time-orientation/src/personalization-interstitial.ts
  examples/web-components/first-time-orientation/src/welcome-interstitial.ts
  examples/web-components/first-time-orientation/tsconfig.json
  examples/web-components/first-time-orientation/vite.config.js
  packages/web-components/package.json
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.mdx
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/FirstTimeOrientation.stories.js
  packages/web-components/src/patterns/FirstTimeOrientation/__stories__/story-styles.scss
  yarn.lock
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
Due: prettier --cache --write

feat(animated-header): update animated file names
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_data_fabric_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_data_fabric_light_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_watsonx_a_dark_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_watsonx_a_light_06.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_watsonx_data_dark_02.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_watsonx_data_light_03.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_wxbia_dark_05.json
  packages/react/src/components/AnimatedHeader/assets/animated/illustration_wxbia_light_08.json
  packages/react/src/components/AnimatedHeader/assets/index.js
Due: none

fix: Component owners 8036 (#771)
  packages/web-components/src/components/empty-state/__stories__/empty-state.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.disclosed.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.flat.mdx
  packages/web-components/src/components/style-picker/__stories__/style-picker.single.mdx
Due: none

chore: release
  packages/web-components/CHANGELOG.md
  packages/web-components/package.json
  packages/web-components/src/components/empty-state/CHANGELOG.md
  packages/web-components/src/components/empty-state/package.json
  packages/web-components/src/components/style-picker/CHANGELOG.md
  packages/web-components/src/components/style-picker/package.json
Due: prettier --cache --write

fix: add option events
  packages/react/src/components/StylePicker/__stories__/StylePicker.stories.js
  packages/web-components/src/components/style-picker/react/style-picker-option.ts
Due: none

fix: add react dep
  packages/web-components/src/components/style-picker/package.json
Due: none

fix: revert react dep
  packages/web-components/src/components/style-picker/package.json
  yarn.lock
Due: none

fix some warnings
  packages/web-components/.storybook/_container.scss
  packages/web-components/src/components/global-header/components/global-header/src/components/CommonHeader/CommonHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HeaderContext/HeaderContext.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/HybridIpaasHeader/HybridIpaasHeader.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/ProfilePopover/ProfilePopover.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/SideNavItem/SideNavItem.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/Switcher/Switcher.ts
  packages/web-components/src/components/global-header/components/global-header/src/components/UserProfileImage/UserProfileImage.ts
Due: prettier --cache --write, yarn lint:license:staged, stylelint --report-needless-disables --report-invalid-scope-disables --allow-empty-input
